backup-workflows-github-jeKn3G4iEBpb6paT.json
{"updatedAt":"2026-04-23T17:32:13.029Z","createdAt":"2026-04-21T08:31:02.408Z","id":"jeKn3G4iEBpb6paT","name":"Backup_Workflows_GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"4f2922e5-9702-4b54-b7db-de1a0f06b907","name":"Tous les jours à 2h du matin","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1568,416],"notes":"Backup automatique chaque nuit à 2h00. Vous pouvez changer l'heure ici."},{"parameters":{"options":{}},"id":"9403e5c2-5f43-4bcc-8a84-3fceb67ffd43","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1360,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/HH:mm","options":{}},"id":"e95d8d0c-468c-4c91-b39f-757177925187","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1168,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"8ce4ec43-2c82-4799-b40d-6f8827e791d3","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-960,416]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"TargetUp2024","mode":"name"},"repository":{"__rl":true,"value":"targetup-n8n-backups","mode":"name"},"filePath":"="},"id":"743675bf-5b25-44a1-912f-eef5028f966f","name":"Lister fichiers GitHub [TargetUp]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-768,416],"alwaysOutputData":true,"webhookId":"64751906-1239-4537-9135-72dd93007b8b","credentials":{"githubApi":{"id":"WSZAWjKbCPomwV1F","name":"GitHub account 2"}},"notes":"⚙️ Configurer : owner = votre organisation GitHub, repository = n8n-backups"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f6551c20-c1ef-4c7b-99e8-9b848141c8b3","name":"Combiner noms fichiers GitHub","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-560,416]},{"parameters":{"returnAll":false,"filters":{},"requestOptions":{}},"id":"1cf474a7-7605-4002-9b77-7d9dfa47c916","name":"Récupérer tous les workflows n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-368,416],"credentials":{"n8nApi":{"id":"eiLA78pI9ySdJGRY","name":"n8n account 2"}},"notes":"⚙️ Configurer : pointer vers votre instance n8n TargetUp"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c3ec06a7-badc-4b61-89af-5695543e4125","name":"Convertir JSON en fichier","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-160,416]},{"parameters":{"batchSize":1,"options":{}},"id":"119eeac8-ba17-42c1-b1cb-1a76336b4546","name":"Traiter un par un","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[80,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combiner noms fichiers GitHub'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"b4932dfb-17a4-4be0-ab23-6ea61142a0d4","name":"Fichier existe déjà sur GitHub ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[320,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"TargetUp2024","mode":"name"},"repository":{"__rl":true,"value":"targetup-n8n-backups","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=TargetUp-backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2e80e452-a2fd-4310-8888-46c681daa8cd","name":"Mettre à jour fichier GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[544,144],"webhookId":"2ac4ee7a-bcce-41dd-be55-82fbc4ae6318","credentials":{"githubApi":{"id":"WSZAWjKbCPomwV1F","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"TargetUp2024","mode":"name"},"repository":{"__rl":true,"value":"targetup-n8n-backups","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=TargetUp-backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"6661e220-0655-43d8-9003-8478b834947c","name":"Créer nouveau fichier GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[544,544],"webhookId":"89f2ba14-67c3-4308-b09a-b6201c7df325","credentials":{"githubApi":{"id":"WSZAWjKbCPomwV1F","name":"GitHub account 2"}}},{"parameters":{"content":"## 🕐 Déclenchement automatique\nBackup chaque nuit à 2h00.\nModifiable dans les paramètres du nœud Schedule.","height":296,"width":328},"id":"b59a33a9-a9a4-4b50-9708-aae3707c05a8","name":"Note Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1760,272]},{"parameters":{"content":"## 📅 Date du backup\nFormate la date en `dd-MM-yyyy/HH:mm`\npour les messages de commit GitHub.\nEx : `TargetUp-backup-14-04-2026/02:00`","height":296,"width":564},"id":"52bea5f2-3705-43db-aacc-765d60b3589d","name":"Note Date","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,272]},{"parameters":{"content":"## 📁 Fichiers GitHub\nListe les fichiers déjà présents dans le dépôt\n`targetup-group/n8n-backups`\npour savoir si créer ou mettre à jour.","height":280,"width":396},"id":"94593545-8409-47a4-81d7-5dbbe9f8b964","name":"Note GitHub List","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,272]},{"parameters":{"content":"## ⚙️ Workflows n8n\nRécupère TOUS les workflows de\nl'instance n8n TargetUp et les\nconvertit en fichiers JSON.","height":280,"width":370},"id":"1772ace0-72b5-4a5f-ad42-20cf079aba84","name":"Note N8N","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,272]},{"parameters":{"content":"## 💾 Upload GitHub\nPour chaque workflow :\n- **Existe déjà** → mise à jour (edit)\n- **Nouveau** → création (create)\n\nCommit horodaté automatiquement.\n📧 Email de confirmation envoyé à la fin.","height":620,"width":680},"id":"0935df83-e2d4-4816-bf1b-86f19ff6e094","name":"Note Upload","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,128]},{"parameters":{"from":"meryem@opportunity.targetupconsulting.com","to":"pmo.targetup@hotmail.com","subject":"hh","emailFormat":"text","text":"skjdkqjsb","additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[-160,-16],"id":"2a9a10e7-7c9f-49cf-a363-857bfb3973a7","name":"Send a new email","webhookId":"d8217442-405e-415d-8890-898a06ab4126","credentials":{"resendApi":{"id":"EdkXHEzvXGpw5cUx","name":"Resend account"}},"disabled":true}],"connections":{"Tous les jours à 2h du matin":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Lister fichiers GitHub [TargetUp]","type":"main","index":0}]]},"Lister fichiers GitHub [TargetUp]":{"main":[[{"node":"Combiner noms fichiers GitHub","type":"main","index":0}]]},"Combiner noms fichiers GitHub":{"main":[[{"node":"Récupérer tous les workflows n8n","type":"main","index":0}]]},"Récupérer tous les workflows n8n":{"main":[[{"node":"Convertir JSON en fichier","type":"main","index":0}]]},"Convertir JSON en fichier":{"main":[[{"node":"Traiter un par un","type":"main","index":0}]]},"Traiter un par un":{"main":[[{"node":"Fichier existe déjà sur GitHub ?","type":"main","index":0}]]},"Fichier existe déjà sur GitHub ?":{"main":[[{"node":"Mettre à jour fichier GitHub","type":"main","index":0}],[{"node":"Créer nouveau fichier GitHub","type":"main","index":0}]]},"Mettre à jour fichier GitHub":{"main":[[{"node":"Traiter un par un","type":"main","index":0}]]},"Créer nouveau fichier GitHub":{"main":[[{"node":"Traiter un par un","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"19b38a9c-75ee-4121-924f-3ab334b48ef9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-21T08:31:02.413Z","createdAt":"2026-04-21T08:31:02.413Z","role":"workflow:owner","workflowId":"jeKn3G4iEBpb6paT","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}