blog-trend-WjM7rF0JbBSRLuba.json
{"updatedAt":"2026-04-02T10:43:23.442Z","createdAt":"2026-03-23T08:49:02.502Z","id":"WjM7rF0JbBSRLuba","name":"BLOG TREND","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://knowyourmeme.com/memes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,208],"id":"c1200c8f-e9ce-456f-83bf-ca05fb1b7f85","name":"HTTP Request"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.data;\n\nconst memeSet = new Set();\n\n// 1. Extract from main gallery feed: .item[data-title]\nconst itemRegex = /<[^>]*class=[\"'][^\"']*\\bitem\\b[^\"']*[\"'][^>]*data-title=[\"']([^\"']+)[\"']/gi;\nlet match;\nwhile ((match = itemRegex.exec(htmlContent)) !== null) {\n    const title = match[1].trim();\n    if (title && !/^\\d|days ago|ago|©/.test(title)) memeSet.add(title);\n}\n\n// 2. Extract from cards with alt text: <img ... alt=\"Meme Title\">\nconst imgAltRegex = /<img[^>]+alt=[\"']([^\"']+)[\"']/gi;\nwhile ((match = imgAltRegex.exec(htmlContent)) !== null) {\n    const title = match[1].trim();\n    if (title && !/^\\d|days ago|ago|©/.test(title)) memeSet.add(title);\n}\n\n// 3. Extract from \"Popular Searches\" links\nconst popularRegex = /<a[^>]*href=[\"'][^\"']+[\"'][^>]*>([^<]+)<\\/a>/gi;\nwhile ((match = popularRegex.exec(htmlContent)) !== null) {\n    const text = match[1].trim();\n    if (text && !/Meme Encyclopedia|Submit|Guides|Popular|©/.test(text)) memeSet.add(text);\n}\n\n// Convert to array\nlet memes = Array.from(memeSet);\n\n// **Keep only items before the first \"KYM\"**\nconst indexOfKYM = memes.findIndex(m => m.includes('KYM'));\nif (indexOfKYM >= 0) {\n    memes = memes.slice(0, indexOfKYM);\n}\n\n// Output for n8n\nreturn [{ json: { memes } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,208],"id":"e05c0722-df1d-4f6b-9aef-ff50bfb7bea5","name":"Code in JavaScript2"},{"parameters":{"fieldToSplitOut":"memes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,208],"id":"c8bbd92d-7a89-4dfa-960f-439b474b7f7b","name":"Split Out"},{"parameters":{"maxItems":4},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[832,208],"id":"3198e48e-6b3a-4b51-a6de-54e7d0b4ef92","name":"Limit"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,480],"id":"2b021125-5f03-47e4-8eae-ac2a30cf2117","name":"Simple Memory1"},{"parameters":{"promptType":"define","text":"=You are a professional content strategist. Your task is to generate a French blog article that links a trending meme to a professional sector or service, explaining it clearly and professionally.\n\nINPUT DATA\n\nList of memes: {{ $json.memes }}\n\nCompany activity domains (only these):\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\nTASK\n\nAnalyze the meme list and choose one meme that can be linked to a sector/service of the company.\n\nExplain the meme in the context of that sector/service, making it professional and actionable.\n\nGenerate a French blog article in this structure:\n\nSTRUCTURE\n\nIntroduction / Hook: 1–3 lines introducing the challenge, trend, or topic.\n\nSection 1: Contexte & Opportunité\nExplain the context of the meme and why it illustrates a professional challenge or opportunity.\n\nSection 2: Insights & Recommandations\nGive professional insights, advice, or methods relevant to the sector/service, linked to the meme.\n\nSection 3: Méthodologie / Mise en œuvre\nSuggest practical steps, approaches, or examples in the professional context, inspired by the meme.\n\nConclusion\nSummarize key takeaways, reinforcing the link between the meme and the professional domain.\n\nSTYLE\n\nProfessional, structured, clear, non-generic.\n\nFrench language.\n\nDo not mention TargetUp University.\n\nExplain and connect the meme to the topic, not just the company.\n\nDo not include filler or promotional language.\n\nBLOG FORMAT RULES (MANDATORY)\n\nUse <h2> / <h3> for headings.\n\nUse <p> for paragraphs.\n\nUse <ul><li> or <ol><li> for lists.\n\n❌ Do not return <html>, <body>, <section>, <!DOCTYPE>\n\n❌ Do not include code blocks\n\n❌ Do not add footers, email, or contact links\n\nJSON OUTPUT FORMAT\n\n{\n  \"title\": \"Titre de l'article ici (max 10 mots)\",\n  \"introduction\": \"Introduction / hook ici\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": [\"Paragraphe 1\"]\n    }\n  ]\n}\n\n\nNOTE\n\nDate du jour : {{ $now.format('yyyy-mm-dd') }}\n\nAlways output in French.\n\nFocus on connecting the meme to a professional training sector or service, not on the company itself.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1248,496],"id":"266e02cd-1b0f-4d82-9140-73bbcfbe422a","name":"Consulting"},{"parameters":{"promptType":"define","text":"=You are a professional content strategist. Your task is to generate a French blog article that links a trending meme to a professional sector or service, explaining it clearly and professionally.\n\nINPUT DATA\n\nList of memes: {{ $json.memes }}\n\nCompany activity domains (only these):\n\nFormations certifiantes : Management, Logistique, Finance, Digital\n\nCycles supérieurs : Master et DBA\n\nGestion des CSF : Remboursement frais formation par OFPPT\n\nFormation à distance / Blended Learning\n\nVAE : Validation des acquis de l’expérience\n\nOptionally, other subjects related to professional training, e.g., new laws or government programs\n\nTASK\n\nAnalyze the meme list and choose one meme that can be linked to a sector/service of the company.\n\nExplain the meme in the context of that sector/service, making it professional and actionable.\n\nGenerate a French blog article in this structure:\n\nSTRUCTURE\n\nIntroduction / Hook: 1–3 lines introducing the challenge, trend, or topic.\n\nSection 1: Contexte & Opportunité\nExplain the context of the meme and why it illustrates a professional challenge or opportunity.\n\nSection 2: Insights & Recommandations\nGive professional insights, advice, or methods relevant to the sector/service, linked to the meme.\n\nSection 3: Méthodologie / Mise en œuvre\nSuggest practical steps, approaches, or examples in the professional context, inspired by the meme.\n\nConclusion\nSummarize key takeaways, reinforcing the link between the meme and the professional domain.\n\nSTYLE\n\nProfessional, structured, clear, non-generic.\n\nFrench language.\n\nDo not mention TargetUp University.\n\nExplain and connect the meme to the topic, not just the company.\n\nDo not include filler or promotional language.\n\nBLOG FORMAT RULES (MANDATORY)\n\nUse <h2> / <h3> for headings.\n\nUse <p> for paragraphs.\n\nUse <ul><li> or <ol><li> for lists.\n\n❌ Do not return <html>, <body>, <section>, <!DOCTYPE>\n\n❌ Do not include code blocks\n\n❌ Do not add footers, email, or contact links\n\nJSON OUTPUT FORMAT\n\n{\n  \"title\": \"Titre de l'article ici (max 10 mots)\",\n  \"introduction\": \"Introduction / hook ici\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": [\"Paragraphe 1\"]\n    }\n  ]\n}\n\n\nNOTE\n\nDate du jour : {{ $now.format('yyyy-mm-dd') }}\n\nAlways output in French.\n\nFocus on connecting the meme to a professional training sector or service, not on the company itself.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1264,208],"id":"48ce4860-f107-4911-b50f-b6696e6de42d","name":"University"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"memes"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,208],"id":"cbe71b7e-d62e-45bf-91e9-e8c393d4e2dc","name":"Aggregate"},{"parameters":{"jsCode":"// 1) Get the raw string\nconst raw = $input.first().json.output;\n\n// 2) Parse JSON string\nconst data = JSON.parse(raw);\n\n// 3) Extract fields\nconst title = data.title;\nconst introduction = data.introduction;\nconst sections = data.sections;\n\n// 4) Build HTML body\nlet body = `<p>${introduction}</p>`;\n\nfor (const s of sections) {\n  body += `<h2>${s.heading}</h2>`;\n\n  if (s.content) {\n    for (const p of s.content) {\n      body += `<p>${p}</p>`;\n    }\n  }\n\n  if (s.list) {\n    body += `<ul>`;\n    for (const li of s.list) {\n      body += `<li>${li}</li>`;\n    }\n    body += `</ul>`;\n  }\n}\n\n// 5) Separate intro paragraph (HTML)\nconst intro_html = `<p>${introduction}</p>`;\n\nreturn [\n  {\n    json: {\n      title,\n      body,\n      intro_html\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,208],"id":"f473e2e4-4468-4b3f-afef-e563af335102","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1) Get the raw string\nconst raw = $input.first().json.output;\n\n// 2) Parse JSON string\nconst data = JSON.parse(raw);\n\n// 3) Extract fields\nconst title = data.title;\nconst introduction = data.introduction;\nconst sections = data.sections;\n\n// 4) Build HTML body\nlet body = `<p>${introduction}</p>`;\n\nfor (const s of sections) {\n  body += `<h2>${s.heading}</h2>`;\n\n  if (s.content) {\n    for (const p of s.content) {\n      body += `<p>${p}</p>`;\n    }\n  }\n\n  if (s.list) {\n    body += `<ul>`;\n    for (const li of s.list) {\n      body += `<li>${li}</li>`;\n    }\n    body += `</ul>`;\n  }\n}\n\n// 5) Separate intro paragraph (HTML)\nconst intro_html = `<p>${introduction}</p>`;\n\nreturn [\n  {\n    json: {\n      title,\n      body,\n      intro_html\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,496],"id":"c59ab65b-f40b-4699-8f02-32f719dea65a","name":"Code in JavaScript1"},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ $json.body }}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP UNIVERSITY\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP UNIVERSITY\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.intro_html }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.intro_html.replace(/<\\/?p>/g, '') }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1856,208],"id":"d0b1a920-cd47-46e9-8cf8-e0ed0854518a","name":"Create an item","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ $json.body }}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP CONSULTING\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP CONSULTING\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.intro_html }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.intro_html.replace(/<\\/?p>/g, '') }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1840,496],"id":"0dcdfcac-442c-4d50-903a-8c91c3653863","name":"Create an item1","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,208],"id":"c14a2ff2-7a32-4345-a4f8-a01f976ccc5e","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,480],"id":"408c22ec-dd0b-4213-b168-e2d8c5af5cff","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"University","type":"ai_memory","index":0},{"node":"Consulting","type":"ai_memory","index":0}]]},"Aggregate":{"main":[[{"node":"University","type":"main","index":0},{"node":"Consulting","type":"main","index":0}]]},"University":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Consulting":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Create an item1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Consulting","type":"ai_languageModel","index":0},{"node":"University","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2236ad55-91a4-4a84-80f4-e7c04a92093a","activeVersionId":"2236ad55-91a4-4a84-80f4-e7c04a92093a","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:49:02.504Z","createdAt":"2026-03-23T08:49:02.504Z","role":"workflow:owner","workflowId":"WjM7rF0JbBSRLuba","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T10:43:25.000Z","createdAt":"2026-04-02T10:43:23.444Z","versionId":"2236ad55-91a4-4a84-80f4-e7c04a92093a","workflowId":"WjM7rF0JbBSRLuba","nodes":[{"parameters":{"url":"https://knowyourmeme.com/memes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,208],"id":"c1200c8f-e9ce-456f-83bf-ca05fb1b7f85","name":"HTTP Request"},{"parameters":{"jsCode":"const htmlContent = $input.first().json.data;\n\nconst memeSet = new Set();\n\n// 1. Extract from main gallery feed: .item[data-title]\nconst itemRegex = /<[^>]*class=[\"'][^\"']*\\bitem\\b[^\"']*[\"'][^>]*data-title=[\"']([^\"']+)[\"']/gi;\nlet match;\nwhile ((match = itemRegex.exec(htmlContent)) !== null) {\n    const title = match[1].trim();\n    if (title && !/^\\d|days ago|ago|©/.test(title)) memeSet.add(title);\n}\n\n// 2. Extract from cards with alt text: <img ... alt=\"Meme Title\">\nconst imgAltRegex = /<img[^>]+alt=[\"']([^\"']+)[\"']/gi;\nwhile ((match = imgAltRegex.exec(htmlContent)) !== null) {\n    const title = match[1].trim();\n    if (title && !/^\\d|days ago|ago|©/.test(title)) memeSet.add(title);\n}\n\n// 3. Extract from \"Popular Searches\" links\nconst popularRegex = /<a[^>]*href=[\"'][^\"']+[\"'][^>]*>([^<]+)<\\/a>/gi;\nwhile ((match = popularRegex.exec(htmlContent)) !== null) {\n    const text = match[1].trim();\n    if (text && !/Meme Encyclopedia|Submit|Guides|Popular|©/.test(text)) memeSet.add(text);\n}\n\n// Convert to array\nlet memes = Array.from(memeSet);\n\n// **Keep only items before the first \"KYM\"**\nconst indexOfKYM = memes.findIndex(m => m.includes('KYM'));\nif (indexOfKYM >= 0) {\n    memes = memes.slice(0, indexOfKYM);\n}\n\n// Output for n8n\nreturn [{ json: { memes } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,208],"id":"e05c0722-df1d-4f6b-9aef-ff50bfb7bea5","name":"Code in JavaScript2"},{"parameters":{"fieldToSplitOut":"memes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,208],"id":"c8bbd92d-7a89-4dfa-960f-439b474b7f7b","name":"Split Out"},{"parameters":{"maxItems":4},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[832,208],"id":"3198e48e-6b3a-4b51-a6de-54e7d0b4ef92","name":"Limit"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,480],"id":"2b021125-5f03-47e4-8eae-ac2a30cf2117","name":"Simple Memory1"},{"parameters":{"promptType":"define","text":"=You are a professional content strategist. Your task is to generate a French blog article that links a trending meme to a professional sector or service, explaining it clearly and professionally.\n\nINPUT DATA\n\nList of memes: {{ $json.memes }}\n\nCompany activity domains (only these):\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\nTASK\n\nAnalyze the meme list and choose one meme that can be linked to a sector/service of the company.\n\nExplain the meme in the context of that sector/service, making it professional and actionable.\n\nGenerate a French blog article in this structure:\n\nSTRUCTURE\n\nIntroduction / Hook: 1–3 lines introducing the challenge, trend, or topic.\n\nSection 1: Contexte & Opportunité\nExplain the context of the meme and why it illustrates a professional challenge or opportunity.\n\nSection 2: Insights & Recommandations\nGive professional insights, advice, or methods relevant to the sector/service, linked to the meme.\n\nSection 3: Méthodologie / Mise en œuvre\nSuggest practical steps, approaches, or examples in the professional context, inspired by the meme.\n\nConclusion\nSummarize key takeaways, reinforcing the link between the meme and the professional domain.\n\nSTYLE\n\nProfessional, structured, clear, non-generic.\n\nFrench language.\n\nDo not mention TargetUp University.\n\nExplain and connect the meme to the topic, not just the company.\n\nDo not include filler or promotional language.\n\nBLOG FORMAT RULES (MANDATORY)\n\nUse <h2> / <h3> for headings.\n\nUse <p> for paragraphs.\n\nUse <ul><li> or <ol><li> for lists.\n\n❌ Do not return <html>, <body>, <section>, <!DOCTYPE>\n\n❌ Do not include code blocks\n\n❌ Do not add footers, email, or contact links\n\nJSON OUTPUT FORMAT\n\n{\n  \"title\": \"Titre de l'article ici (max 10 mots)\",\n  \"introduction\": \"Introduction / hook ici\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": [\"Paragraphe 1\"]\n    }\n  ]\n}\n\n\nNOTE\n\nDate du jour : {{ $now.format('yyyy-mm-dd') }}\n\nAlways output in French.\n\nFocus on connecting the meme to a professional training sector or service, not on the company itself.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1248,496],"id":"266e02cd-1b0f-4d82-9140-73bbcfbe422a","name":"Consulting"},{"parameters":{"promptType":"define","text":"=You are a professional content strategist. Your task is to generate a French blog article that links a trending meme to a professional sector or service, explaining it clearly and professionally.\n\nINPUT DATA\n\nList of memes: {{ $json.memes }}\n\nCompany activity domains (only these):\n\nFormations certifiantes : Management, Logistique, Finance, Digital\n\nCycles supérieurs : Master et DBA\n\nGestion des CSF : Remboursement frais formation par OFPPT\n\nFormation à distance / Blended Learning\n\nVAE : Validation des acquis de l’expérience\n\nOptionally, other subjects related to professional training, e.g., new laws or government programs\n\nTASK\n\nAnalyze the meme list and choose one meme that can be linked to a sector/service of the company.\n\nExplain the meme in the context of that sector/service, making it professional and actionable.\n\nGenerate a French blog article in this structure:\n\nSTRUCTURE\n\nIntroduction / Hook: 1–3 lines introducing the challenge, trend, or topic.\n\nSection 1: Contexte & Opportunité\nExplain the context of the meme and why it illustrates a professional challenge or opportunity.\n\nSection 2: Insights & Recommandations\nGive professional insights, advice, or methods relevant to the sector/service, linked to the meme.\n\nSection 3: Méthodologie / Mise en œuvre\nSuggest practical steps, approaches, or examples in the professional context, inspired by the meme.\n\nConclusion\nSummarize key takeaways, reinforcing the link between the meme and the professional domain.\n\nSTYLE\n\nProfessional, structured, clear, non-generic.\n\nFrench language.\n\nDo not mention TargetUp University.\n\nExplain and connect the meme to the topic, not just the company.\n\nDo not include filler or promotional language.\n\nBLOG FORMAT RULES (MANDATORY)\n\nUse <h2> / <h3> for headings.\n\nUse <p> for paragraphs.\n\nUse <ul><li> or <ol><li> for lists.\n\n❌ Do not return <html>, <body>, <section>, <!DOCTYPE>\n\n❌ Do not include code blocks\n\n❌ Do not add footers, email, or contact links\n\nJSON OUTPUT FORMAT\n\n{\n  \"title\": \"Titre de l'article ici (max 10 mots)\",\n  \"introduction\": \"Introduction / hook ici\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": [\"Paragraphe 1\", \"Paragraphe 2\"]\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": [\"Paragraphe 1\"]\n    }\n  ]\n}\n\n\nNOTE\n\nDate du jour : {{ $now.format('yyyy-mm-dd') }}\n\nAlways output in French.\n\nFocus on connecting the meme to a professional training sector or service, not on the company itself.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1264,208],"id":"48ce4860-f107-4911-b50f-b6696e6de42d","name":"University"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"memes"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,208],"id":"cbe71b7e-d62e-45bf-91e9-e8c393d4e2dc","name":"Aggregate"},{"parameters":{"jsCode":"// 1) Get the raw string\nconst raw = $input.first().json.output;\n\n// 2) Parse JSON string\nconst data = JSON.parse(raw);\n\n// 3) Extract fields\nconst title = data.title;\nconst introduction = data.introduction;\nconst sections = data.sections;\n\n// 4) Build HTML body\nlet body = `<p>${introduction}</p>`;\n\nfor (const s of sections) {\n  body += `<h2>${s.heading}</h2>`;\n\n  if (s.content) {\n    for (const p of s.content) {\n      body += `<p>${p}</p>`;\n    }\n  }\n\n  if (s.list) {\n    body += `<ul>`;\n    for (const li of s.list) {\n      body += `<li>${li}</li>`;\n    }\n    body += `</ul>`;\n  }\n}\n\n// 5) Separate intro paragraph (HTML)\nconst intro_html = `<p>${introduction}</p>`;\n\nreturn [\n  {\n    json: {\n      title,\n      body,\n      intro_html\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,208],"id":"f473e2e4-4468-4b3f-afef-e563af335102","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1) Get the raw string\nconst raw = $input.first().json.output;\n\n// 2) Parse JSON string\nconst data = JSON.parse(raw);\n\n// 3) Extract fields\nconst title = data.title;\nconst introduction = data.introduction;\nconst sections = data.sections;\n\n// 4) Build HTML body\nlet body = `<p>${introduction}</p>`;\n\nfor (const s of sections) {\n  body += `<h2>${s.heading}</h2>`;\n\n  if (s.content) {\n    for (const p of s.content) {\n      body += `<p>${p}</p>`;\n    }\n  }\n\n  if (s.list) {\n    body += `<ul>`;\n    for (const li of s.list) {\n      body += `<li>${li}</li>`;\n    }\n    body += `</ul>`;\n  }\n}\n\n// 5) Separate intro paragraph (HTML)\nconst intro_html = `<p>${introduction}</p>`;\n\nreturn [\n  {\n    json: {\n      title,\n      body,\n      intro_html\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,496],"id":"c59ab65b-f40b-4699-8f02-32f719dea65a","name":"Code in JavaScript1"},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ $json.body }}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP UNIVERSITY\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP UNIVERSITY\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.intro_html }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.intro_html.replace(/<\\/?p>/g, '') }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1856,208],"id":"d0b1a920-cd47-46e9-8cf8-e0ed0854518a","name":"Create an item","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ $json.body }}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP CONSULTING\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP CONSULTING\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.intro_html }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.intro_html.replace(/<\\/?p>/g, '') }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1840,496],"id":"0dcdfcac-442c-4d50-903a-8c91c3653863","name":"Create an item1","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,208],"id":"c14a2ff2-7a32-4345-a4f8-a01f976ccc5e","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,480],"id":"408c22ec-dd0b-4213-b168-e2d8c5af5cff","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"University","type":"ai_memory","index":0},{"node":"Consulting","type":"ai_memory","index":0}]]},"Aggregate":{"main":[[{"node":"University","type":"main","index":0},{"node":"Consulting","type":"main","index":0}]]},"University":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Consulting":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Create an item1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Consulting","type":"ai_languageModel","index":0},{"node":"University","type":"ai_languageModel","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 2236ad55","description":"","autosaved":false},"tags":[]}