blog-automate---creations-Y2bN3VGDKCGOXyuN.json
{"updatedAt":"2026-03-25T20:01:45.321Z","createdAt":"2026-03-23T08:49:33.821Z","id":"Y2bN3VGDKCGOXyuN","name":"BLOG AUTOMATE : Creations","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,16],"id":"700cddaf-b21f-4933-b66d-f08d5e98a180","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const output = {};\n  for (const key in item.json) {\n    if (item.json[key] !== \"\" && item.json[key] !== null && item.json[key] !== undefined) {\n      output[key] = item.json[key];\n    }\n  }\n  return { json: output };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,16],"id":"7cb45012-9bc2-43d8-aea9-7d43b2d33731","name":"cleaning empty rows"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"GOOGLE NEWS"},{"fieldToAggregate":"GOOGLE TRENDS"},{"fieldToAggregate":"TWITER"},{"fieldToAggregate":"MEDUIM"},{"fieldToAggregate":"REDDIT"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[736,16],"id":"9d80add6-ab2c-48e2-b8fa-8bec24ae9980","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nThe following sources are authoritative and factual.\nThey are the only source of truth.\n\nGoogle News: {{ $json['GOOGLE NEWS'] }}\nGoogle Trends: {{ $json['GOOGLE TRENDS'] }}\nTwitter/X: {{ $json.TWITER }}\nMedium: {{ $json.MEDUIM }}\nReddit: {{ $json.REDDIT }}\n\nSTRICT RULES\n\nTreat the inputs as the only valid source of information\nDo research to have more information\n\n❌ Do NOT invent programs, topics, laws, standards, or statistics\n\n❌ Do NOT generalize or merge different themes\n\n❌ Do NOT rephrase the same subject using different wording\n\n❌ Do NOT add opinions, trends, or assumptions\n\n❌ Do NOT mention consulting services\n\nTASK (NO EXTRA STEPS)\n1) SIGNAL DETECTION\n\nRead all inputs and identify explicit mentions of:\n\nNew skills demand\n\nEmerging certifications\n\nRegulatory training requirements\n\nCorporate learning gaps\n\nTechnology adoption requiring reskilling\n\nESG / compliance education needs\n\nDigital & AI workforce transformation\n\n2) SUBJECT PRIORITIZATION\n\nFrom the detected signals, select ONLY ONE (1) SUBJECT that:\n\nAppears clearly in the data\n\nHas the strongest cross-platform presence\n\nHas high impact on workforce skills\n\nIs relevant to Moroccan / regional enterprises\n\nCan directly drive new training programs at TargetUp University\n\nIf no relevant subject exists, return exactly:\n\nNone\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"top_subject\": \"Subject\"\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,16],"id":"6e02e645-b372-41fd-90f0-23d1c58b1ccf","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1136,272],"id":"4535bf2f-2b5d-4336-8f09-2ace87a4d25e","name":"Simple Memory"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-32,128],"id":"6063150c-bcd0-4464-b5bb-4a0296928c66","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n  \"top_subject\": \"Subject\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1264,272],"id":"3d55acb4-1d38-447d-bab4-cbe2bb4b35d9","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","SUJETS":"={{ $('AI Agent').item.json.output.subjects[0] }}","CONTENU":"={{ $json.output }}","Publié":"={{ \"Non\" }}","Service":"={{ \"Targetup University\" }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1888,16],"id":"eebbc790-dd6e-4efe-a48b-16614bce7564","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior SEO & GEO Content Strategist for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nSubject: {{ $json.top_subject }}\n\nYOUR MISSION\nWrite a long-form, expert-level blog article in French on the subject above, structured like a professional publication (think: LinkedIn newsletter, institutional observatory report, or sector press).\n\nSTRICT RULES\n❌ No invented statistics, names, laws, or programs\n❌ No generic filler or AI-typical phrasing\n❌ Do NOT mention TargetUp Consulting\n❌ Do NOT include HTML document structure tags (no <html>, <body>, <head>, <meta>, <!DOCTYPE>)\n❌ No code blocks (no ```html)\n❌ No email links, footers, or direct CTAs\n\nARTICLE STRUCTURE — MANDATORY\n\nThe article must have exactly this structure:\n\n1. TITLE — Clear, specific, informative. Max 12 words. Avoid clickbait.\n2.Introduction :  3-6 phrases qui posent le problème, la tension ou l'opportunité centrale. \n3. SECTIONS (5–6) — Each section must:\n   - Have a numbered <h2> heading matching the Sommaire\n   - Open with 2–3 sentences of context or data framing the topic\n   - Develop with 2–4 substantive paragraphs using <p> tags\n   - End with a distinct block titled \"Ce que cela change pour les professionnels :\" followed by 1–2 sentences of concrete, actionable implication for learners or HR/training managers\n4. CONCLUSION — 1 section titled \"Conclusion\" that synthesizes the article's key message and subtly positions TargetUp University as a relevant partner (do NOT name-drop directly — imply through capability description).\n\nCONTENT STYLE\n- Professional, precise, structured — like an observatory or sector report\n- Use specific vocabulary from the field (OFPPT, CSF, VAE, ingénierie de formation, etc.) where relevant\n- Actionable insights > abstract commentary\n- Write for: HR managers, corporate decision-makers, and professionals seeking upskilling in Morocco and West/Central Africa\n- Length: 700–900 words total\n\nHTML FORMATTING (Odoo blog output)\n- Section headings: <h2>\n- Sub-headings if needed: <h3>\n- Paragraphs: <p>\n- Lists: <ul><li> or <ol><li>\n- The \"Ce que cela change\" block: wrap in <blockquote> or <p><strong>Ce que cela change pour les professionnels :</strong> ...</p>\n\n\nOUTPUT FORMAT — JSON ONLY, NO MARKDOWN WRAPPING\n\n{\n  \"title\": \"Titre de l'article\",\n  \"introduction\": \"<p>Hook : 2-3 phrases qui posent le problème, la tension ou l'opportunité centrale. Accroche directe, pas de généralités.</p>\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": \"<p>Paragraphe...</p><p>Paragraphe...</p><p><strong>Ce que cela change pour les professionnels :</strong> Implication concrète.</p>\"\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 4 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 5 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": \"<p>Synthèse et positionnement implicite.</p>\"\n    }\n  ]\n}\n\nToday's date: {{ $now.format('yyyy-MM-dd') }}\nAlways output in French.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1536,16],"id":"1259d009-2b5c-4ed0-aee4-377069f3c565","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1632,288],"id":"9e0c7418-d29d-45e0-9adf-0eb7c027425b","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,528],"id":"f82b2fcf-6a5e-4897-af25-3234c9208126","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const output = {};\n  for (const key in item.json) {\n    if (item.json[key] !== \"\" && item.json[key] !== null && item.json[key] !== undefined) {\n      output[key] = item.json[key];\n    }\n  }\n  return { json: output };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,528],"id":"145cc652-b566-4799-8e62-9d227e3bc37b","name":"cleaning empty rows1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"GOOGLE NEWS"},{"fieldToAggregate":"GOOGLE TRENDS"},{"fieldToAggregate":"TWITER"},{"fieldToAggregate":"MEDUIM"},{"fieldToAggregate":"REDDIT"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,528],"id":"bfe16d5f-55b8-4851-8a99-fc0ab4fca997","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Corporate for TargetUp Consulting, a Morocco-based professional consulting Firms\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification pour les entreprises : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nThe following sources are authoritative and factual. They are the only source of truth.\n\nGoogle News: {{ $json['GOOGLE NEWS'] }}\nGoogle Trends: {{ $json['GOOGLE TRENDS'] }}\nTwitter/X: {{ $json.TWITER }}\nMedium: {{ $json.MEDUIM }}\nReddit: {{ $json.REDDIT }}\n\nSTRICT RULES\n\nTreat the inputs as the only valid source of information\n\nDo research to gather more context if needed\n\n❌ Do NOT invent programs, topics, laws, standards, or statistics\n❌ Do NOT generalize or merge different themes\n❌ Do NOT rephrase the same subject using different wording\n❌ Do NOT add opinions, trends, or assumptions\n❌ Do NOT mention university or educational services\n\nTASK (NO EXTRA STEPS)\n\nSIGNAL DETECTION (TargetUp Consulting Scope)\n\nAnalyse all input sources and extract only explicit, factual signals related to the business needs of Moroccan and regional companies in the following TargetUp Consulting domains:\n\n1. ISO, QHSE & Compliance\nDetect mentions of:\n\nNew or revised ISO standards (9001, 14001, 45001, 22000, 27001, etc.)\n\nMandatory compliance requirements\n\nAudit, certification, or regulatory pressure on companies\n\nSector-specific quality, safety, or environmental obligations\n\n2. Digital Transformation & Odoo / ERP\nDetect mentions of:\n\nERP, Odoo, CRM, SCM, or business system adoption\n\nProcess digitalization or automation initiatives\n\nData integration, reporting, or workflow transformation needs\n\nDigital maturity gaps in companies\n\n3. Operational Excellence (Lean Six Sigma)\nDetect mentions of:\n\nProductivity, cost reduction, waste, efficiency, or process optimization\n\nIndustrial or service performance issues\n\nLean, Six Sigma, continuous improvement, or operational restructuring\n\n4. ESG, RSE & Sustainability\nDetect mentions of:\n\nESG, RSE, sustainability, carbon footprint, social responsibility\n\nEnvironmental reporting, governance, or sustainability compliance\n\nPressure from investors, regulators, or international partners\n\n5. Investment & Public Funding Programs\nDetect mentions of:\n\nGo Siyaha, Istitmar, Mouwakaba, Charte de l’Investissement\n\nGovernment incentives, grants, or industrial support programs\n\nRequirements companies must meet to access funding\n\n6. Corporate Capability Gaps\nDetect mentions of:\n\nCompanies lacking skills, tools, or systems to meet:\n\nCertification\n\nDigital transformation\n\nESG compliance\n\nOperational performance\n\nInvestment eligibility\n\nOnly extract signals that directly imply a need for consulting, transformation, certification, or compliance support.\n\nDo not infer or generalize.\nDo not merge different topics.\nEach signal must be traceable to the input data.\n\nSUBJECT PRIORITIZATION\nFrom the detected signals, select ONLY ONE (1) SUBJECT that:\n\nAppears clearly in the data\n\nHas the strongest cross-platform presence\n\n\nIs relevant to Moroccan & african country\n\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n\"top_subject\": \"Subject\"\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1056,528],"id":"78a54546-0090-4456-b2b1-ffac0648f779","name":"AI Agent2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1152,784],"id":"10d192db-6b9e-412f-b2cb-7aacfc0b5a5e","name":"Simple Memory2"},{"parameters":{"jsonSchemaExample":"{\n  \"top_subject\": \"Subject\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,784],"id":"f31e8ce0-ac8e-49c5-8adb-7e3518eb3ed8","name":"Structured Output Parser1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","SUJETS":"={{ $('AI Agent2').item.json.output.subjects[0] }}","CONTENU":"={{ $json.output }}","Publié":"={{ \"Non\" }}","Service":"={{ \"Targetup Consulting\" }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,528],"id":"7d561ee6-551c-45d9-bc3c-266dc9eb4999","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior SEO & GEO Content Strategist for TargetUp Consulting, a Morocco-based professional consulting firm.\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\nSubject: {{ $json.top_subject }}\n\nYOUR MISSION\nWrite a long-form, expert-level blog article in French on the subject above, structured like a professional publication (think: LinkedIn newsletter, institutional observatory report, or sector press).\n\nSTRICT RULES\n❌ No invented statistics, names, laws, or programs\n❌ No generic filler or AI-typical phrasing\n❌ Do NOT mention TargetUp Consulting\n❌ Do NOT include HTML document structure tags (no <html>, <body>, <head>, <meta>, <!DOCTYPE>)\n❌ No code blocks (no ```html)\n❌ No email links, footers, or direct CTAs\n\nARTICLE STRUCTURE — MANDATORY\n\nThe article must have exactly this structure:\n\n1. TITLE — Clear, specific, informative. Max 12 words. Avoid clickbait.\n2.Introduction :  3-6 phrases qui posent le problème, la tension ou l'opportunité centrale. \n3. SECTIONS (5–6) — Each section must:\n   - Have a numbered <h2> heading matching the Sommaire\n   - Open with 2–3 sentences of context or data framing the topic\n   - Develop with 2–4 substantive paragraphs using <p> tags\n   - End with a distinct block titled \"Ce que cela change pour les professionnels :\" followed by 1–2 sentences of concrete, actionable implication for learners or HR/training managers\n4. CONCLUSION — 1 section titled \"Conclusion\" that synthesizes the article's key message and subtly positions TargetUp University as a relevant partner (do NOT name-drop directly — imply through capability description).\n\nCONTENT STYLE\n- Professional, precise, structured — like an observatory or sector report\n- Use specific vocabulary from the field of the company services where relevant\n- Actionable insights > abstract commentary\n- Write for: HR managers, corporate decision-makers, PME and professionals in Morocco and West/Central Africa\n- Length: 1000–1500 words total\n\nHTML FORMATTING (Odoo blog output)\n- Section headings: <h2>\n- Sub-headings if needed: <h3>\n- Paragraphs: <p>\n- Lists: <ul><li> or <ol><li>\n- The \"Ce que cela change\" block: wrap in <blockquote> or <p><strong>Ce que cela change pour les professionnels :</strong> ...</p>\n\nOUTPUT FORMAT — JSON ONLY, NO MARKDOWN WRAPPING\n\n\n{\n  \"title\": \"Titre de l'article\",\n  \"introduction\": \"<p>Hook : 2-3 phrases qui posent le problème, la tension ou l'opportunité centrale. Accroche directe et specifique, pas de généralités.</p>\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": \"<p>Paragraphe...</p><p>Paragraphe...</p><p><strong>Ce que cela change pour les professionnels :</strong> Implication concrète.</p>\"\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 4 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 5 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": \"<p>Synthèse et positionnement implicite.</p>\"\n    }\n  ]\n}\n\nToday's date: {{ $now.format('yyyy-MM-dd') }}\nAlways output in French.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1552,528],"id":"db774e71-cbb6-478e-ad9e-e4b19a988899","name":"AI Agent3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1648,800],"id":"01797b1b-d032-4373-98bc-5bef5644402e","name":"Simple Memory3"},{"parameters":{"content":"# University\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6332548f-534a-49a4-9e03-a85884ea37a5","name":"Sticky Note"},{"parameters":{"content":"# Consulting\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,528],"id":"85912817-734e-4464-8e28-ccb5c77e4805","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1488,784],"id":"0d06f697-2cd6-492e-8117-54efdd1b6734","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[960,784],"id":"8920d8e7-31df-4301-b794-1717d25bfa05","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1456,288],"id":"f5a1b8aa-0819-4ed3-ad6d-a0f1bf2aa7bd","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[928,272],"id":"32bad0b9-db18-44e7-9b3b-ca7fb8e218d7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"cleaning empty rows","type":"main","index":0}]]},"cleaning empty rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"cleaning empty rows1","type":"main","index":0}]]},"cleaning empty rows1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"AI Agent3":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7932a8d-00dd-46f0-a83a-1c7fac0a436a","activeVersionId":"b7932a8d-00dd-46f0-a83a-1c7fac0a436a","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:49:33.828Z","createdAt":"2026-03-23T08:49:33.828Z","role":"workflow:owner","workflowId":"Y2bN3VGDKCGOXyuN","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-25T20:01:46.000Z","createdAt":"2026-03-25T20:01:45.322Z","versionId":"b7932a8d-00dd-46f0-a83a-1c7fac0a436a","workflowId":"Y2bN3VGDKCGOXyuN","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,16],"id":"700cddaf-b21f-4933-b66d-f08d5e98a180","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const output = {};\n  for (const key in item.json) {\n    if (item.json[key] !== \"\" && item.json[key] !== null && item.json[key] !== undefined) {\n      output[key] = item.json[key];\n    }\n  }\n  return { json: output };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,16],"id":"7cb45012-9bc2-43d8-aea9-7d43b2d33731","name":"cleaning empty rows"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"GOOGLE NEWS"},{"fieldToAggregate":"GOOGLE TRENDS"},{"fieldToAggregate":"TWITER"},{"fieldToAggregate":"MEDUIM"},{"fieldToAggregate":"REDDIT"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[736,16],"id":"9d80add6-ab2c-48e2-b8fa-8bec24ae9980","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nThe following sources are authoritative and factual.\nThey are the only source of truth.\n\nGoogle News: {{ $json['GOOGLE NEWS'] }}\nGoogle Trends: {{ $json['GOOGLE TRENDS'] }}\nTwitter/X: {{ $json.TWITER }}\nMedium: {{ $json.MEDUIM }}\nReddit: {{ $json.REDDIT }}\n\nSTRICT RULES\n\nTreat the inputs as the only valid source of information\nDo research to have more information\n\n❌ Do NOT invent programs, topics, laws, standards, or statistics\n\n❌ Do NOT generalize or merge different themes\n\n❌ Do NOT rephrase the same subject using different wording\n\n❌ Do NOT add opinions, trends, or assumptions\n\n❌ Do NOT mention consulting services\n\nTASK (NO EXTRA STEPS)\n1) SIGNAL DETECTION\n\nRead all inputs and identify explicit mentions of:\n\nNew skills demand\n\nEmerging certifications\n\nRegulatory training requirements\n\nCorporate learning gaps\n\nTechnology adoption requiring reskilling\n\nESG / compliance education needs\n\nDigital & AI workforce transformation\n\n2) SUBJECT PRIORITIZATION\n\nFrom the detected signals, select ONLY ONE (1) SUBJECT that:\n\nAppears clearly in the data\n\nHas the strongest cross-platform presence\n\nHas high impact on workforce skills\n\nIs relevant to Moroccan / regional enterprises\n\nCan directly drive new training programs at TargetUp University\n\nIf no relevant subject exists, return exactly:\n\nNone\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"top_subject\": \"Subject\"\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,16],"id":"6e02e645-b372-41fd-90f0-23d1c58b1ccf","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1136,272],"id":"4535bf2f-2b5d-4336-8f09-2ace87a4d25e","name":"Simple Memory"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-32,128],"id":"6063150c-bcd0-4464-b5bb-4a0296928c66","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n  \"top_subject\": \"Subject\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1264,272],"id":"3d55acb4-1d38-447d-bab4-cbe2bb4b35d9","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","SUJETS":"={{ $('AI Agent').item.json.output.subjects[0] }}","CONTENU":"={{ $json.output }}","Publié":"={{ \"Non\" }}","Service":"={{ \"Targetup University\" }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1888,16],"id":"eebbc790-dd6e-4efe-a48b-16614bce7564","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior SEO & GEO Content Strategist for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nSubject: {{ $json.top_subject }}\n\nYOUR MISSION\nWrite a long-form, expert-level blog article in French on the subject above, structured like a professional publication (think: LinkedIn newsletter, institutional observatory report, or sector press).\n\nSTRICT RULES\n❌ No invented statistics, names, laws, or programs\n❌ No generic filler or AI-typical phrasing\n❌ Do NOT mention TargetUp Consulting\n❌ Do NOT include HTML document structure tags (no <html>, <body>, <head>, <meta>, <!DOCTYPE>)\n❌ No code blocks (no ```html)\n❌ No email links, footers, or direct CTAs\n\nARTICLE STRUCTURE — MANDATORY\n\nThe article must have exactly this structure:\n\n1. TITLE — Clear, specific, informative. Max 12 words. Avoid clickbait.\n2.Introduction :  3-6 phrases qui posent le problème, la tension ou l'opportunité centrale. \n3. SECTIONS (5–6) — Each section must:\n   - Have a numbered <h2> heading matching the Sommaire\n   - Open with 2–3 sentences of context or data framing the topic\n   - Develop with 2–4 substantive paragraphs using <p> tags\n   - End with a distinct block titled \"Ce que cela change pour les professionnels :\" followed by 1–2 sentences of concrete, actionable implication for learners or HR/training managers\n4. CONCLUSION — 1 section titled \"Conclusion\" that synthesizes the article's key message and subtly positions TargetUp University as a relevant partner (do NOT name-drop directly — imply through capability description).\n\nCONTENT STYLE\n- Professional, precise, structured — like an observatory or sector report\n- Use specific vocabulary from the field (OFPPT, CSF, VAE, ingénierie de formation, etc.) where relevant\n- Actionable insights > abstract commentary\n- Write for: HR managers, corporate decision-makers, and professionals seeking upskilling in Morocco and West/Central Africa\n- Length: 700–900 words total\n\nHTML FORMATTING (Odoo blog output)\n- Section headings: <h2>\n- Sub-headings if needed: <h3>\n- Paragraphs: <p>\n- Lists: <ul><li> or <ol><li>\n- The \"Ce que cela change\" block: wrap in <blockquote> or <p><strong>Ce que cela change pour les professionnels :</strong> ...</p>\n\n\nOUTPUT FORMAT — JSON ONLY, NO MARKDOWN WRAPPING\n\n{\n  \"title\": \"Titre de l'article\",\n  \"introduction\": \"<p>Hook : 2-3 phrases qui posent le problème, la tension ou l'opportunité centrale. Accroche directe, pas de généralités.</p>\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": \"<p>Paragraphe...</p><p>Paragraphe...</p><p><strong>Ce que cela change pour les professionnels :</strong> Implication concrète.</p>\"\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 4 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 5 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": \"<p>Synthèse et positionnement implicite.</p>\"\n    }\n  ]\n}\n\nToday's date: {{ $now.format('yyyy-MM-dd') }}\nAlways output in French.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1536,16],"id":"1259d009-2b5c-4ed0-aee4-377069f3c565","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1632,288],"id":"9e0c7418-d29d-45e0-9adf-0eb7c027425b","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,528],"id":"f82b2fcf-6a5e-4897-af25-3234c9208126","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const output = {};\n  for (const key in item.json) {\n    if (item.json[key] !== \"\" && item.json[key] !== null && item.json[key] !== undefined) {\n      output[key] = item.json[key];\n    }\n  }\n  return { json: output };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,528],"id":"145cc652-b566-4799-8e62-9d227e3bc37b","name":"cleaning empty rows1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"GOOGLE NEWS"},{"fieldToAggregate":"GOOGLE TRENDS"},{"fieldToAggregate":"TWITER"},{"fieldToAggregate":"MEDUIM"},{"fieldToAggregate":"REDDIT"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,528],"id":"bfe16d5f-55b8-4851-8a99-fc0ab4fca997","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Corporate for TargetUp Consulting, a Morocco-based professional consulting Firms\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification pour les entreprises : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\nINPUT DATA (SCRAPED — LAST 24 HOURS)\n\nThe following sources are authoritative and factual. They are the only source of truth.\n\nGoogle News: {{ $json['GOOGLE NEWS'] }}\nGoogle Trends: {{ $json['GOOGLE TRENDS'] }}\nTwitter/X: {{ $json.TWITER }}\nMedium: {{ $json.MEDUIM }}\nReddit: {{ $json.REDDIT }}\n\nSTRICT RULES\n\nTreat the inputs as the only valid source of information\n\nDo research to gather more context if needed\n\n❌ Do NOT invent programs, topics, laws, standards, or statistics\n❌ Do NOT generalize or merge different themes\n❌ Do NOT rephrase the same subject using different wording\n❌ Do NOT add opinions, trends, or assumptions\n❌ Do NOT mention university or educational services\n\nTASK (NO EXTRA STEPS)\n\nSIGNAL DETECTION (TargetUp Consulting Scope)\n\nAnalyse all input sources and extract only explicit, factual signals related to the business needs of Moroccan and regional companies in the following TargetUp Consulting domains:\n\n1. ISO, QHSE & Compliance\nDetect mentions of:\n\nNew or revised ISO standards (9001, 14001, 45001, 22000, 27001, etc.)\n\nMandatory compliance requirements\n\nAudit, certification, or regulatory pressure on companies\n\nSector-specific quality, safety, or environmental obligations\n\n2. Digital Transformation & Odoo / ERP\nDetect mentions of:\n\nERP, Odoo, CRM, SCM, or business system adoption\n\nProcess digitalization or automation initiatives\n\nData integration, reporting, or workflow transformation needs\n\nDigital maturity gaps in companies\n\n3. Operational Excellence (Lean Six Sigma)\nDetect mentions of:\n\nProductivity, cost reduction, waste, efficiency, or process optimization\n\nIndustrial or service performance issues\n\nLean, Six Sigma, continuous improvement, or operational restructuring\n\n4. ESG, RSE & Sustainability\nDetect mentions of:\n\nESG, RSE, sustainability, carbon footprint, social responsibility\n\nEnvironmental reporting, governance, or sustainability compliance\n\nPressure from investors, regulators, or international partners\n\n5. Investment & Public Funding Programs\nDetect mentions of:\n\nGo Siyaha, Istitmar, Mouwakaba, Charte de l’Investissement\n\nGovernment incentives, grants, or industrial support programs\n\nRequirements companies must meet to access funding\n\n6. Corporate Capability Gaps\nDetect mentions of:\n\nCompanies lacking skills, tools, or systems to meet:\n\nCertification\n\nDigital transformation\n\nESG compliance\n\nOperational performance\n\nInvestment eligibility\n\nOnly extract signals that directly imply a need for consulting, transformation, certification, or compliance support.\n\nDo not infer or generalize.\nDo not merge different topics.\nEach signal must be traceable to the input data.\n\nSUBJECT PRIORITIZATION\nFrom the detected signals, select ONLY ONE (1) SUBJECT that:\n\nAppears clearly in the data\n\nHas the strongest cross-platform presence\n\n\nIs relevant to Moroccan & african country\n\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n\"top_subject\": \"Subject\"\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1056,528],"id":"78a54546-0090-4456-b2b1-ffac0648f779","name":"AI Agent2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1152,784],"id":"10d192db-6b9e-412f-b2cb-7aacfc0b5a5e","name":"Simple Memory2"},{"parameters":{"jsonSchemaExample":"{\n  \"top_subject\": \"Subject\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,784],"id":"f31e8ce0-ac8e-49c5-8adb-7e3518eb3ed8","name":"Structured Output Parser1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","SUJETS":"={{ $('AI Agent2').item.json.output.subjects[0] }}","CONTENU":"={{ $json.output }}","Publié":"={{ \"Non\" }}","Service":"={{ \"Targetup Consulting\" }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,528],"id":"7d561ee6-551c-45d9-bc3c-266dc9eb4999","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior SEO & GEO Content Strategist for TargetUp Consulting, a Morocco-based professional consulting firm.\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\nINPUT DATA (SCRAPED — LAST 24 HOURS)\nSubject: {{ $json.top_subject }}\n\nYOUR MISSION\nWrite a long-form, expert-level blog article in French on the subject above, structured like a professional publication (think: LinkedIn newsletter, institutional observatory report, or sector press).\n\nSTRICT RULES\n❌ No invented statistics, names, laws, or programs\n❌ No generic filler or AI-typical phrasing\n❌ Do NOT mention TargetUp Consulting\n❌ Do NOT include HTML document structure tags (no <html>, <body>, <head>, <meta>, <!DOCTYPE>)\n❌ No code blocks (no ```html)\n❌ No email links, footers, or direct CTAs\n\nARTICLE STRUCTURE — MANDATORY\n\nThe article must have exactly this structure:\n\n1. TITLE — Clear, specific, informative. Max 12 words. Avoid clickbait.\n2.Introduction :  3-6 phrases qui posent le problème, la tension ou l'opportunité centrale. \n3. SECTIONS (5–6) — Each section must:\n   - Have a numbered <h2> heading matching the Sommaire\n   - Open with 2–3 sentences of context or data framing the topic\n   - Develop with 2–4 substantive paragraphs using <p> tags\n   - End with a distinct block titled \"Ce que cela change pour les professionnels :\" followed by 1–2 sentences of concrete, actionable implication for learners or HR/training managers\n4. CONCLUSION — 1 section titled \"Conclusion\" that synthesizes the article's key message and subtly positions TargetUp University as a relevant partner (do NOT name-drop directly — imply through capability description).\n\nCONTENT STYLE\n- Professional, precise, structured — like an observatory or sector report\n- Use specific vocabulary from the field of the company services where relevant\n- Actionable insights > abstract commentary\n- Write for: HR managers, corporate decision-makers, PME and professionals in Morocco and West/Central Africa\n- Length: 1000–1500 words total\n\nHTML FORMATTING (Odoo blog output)\n- Section headings: <h2>\n- Sub-headings if needed: <h3>\n- Paragraphs: <p>\n- Lists: <ul><li> or <ol><li>\n- The \"Ce que cela change\" block: wrap in <blockquote> or <p><strong>Ce que cela change pour les professionnels :</strong> ...</p>\n\nOUTPUT FORMAT — JSON ONLY, NO MARKDOWN WRAPPING\n\n\n{\n  \"title\": \"Titre de l'article\",\n  \"introduction\": \"<p>Hook : 2-3 phrases qui posent le problème, la tension ou l'opportunité centrale. Accroche directe et specifique, pas de généralités.</p>\",\n  \"sections\": [\n    {\n      \"heading\": \"Section 1 title\",\n      \"content\": \"<p>Paragraphe...</p><p>Paragraphe...</p><p><strong>Ce que cela change pour les professionnels :</strong> Implication concrète.</p>\"\n    },\n    {\n      \"heading\": \"Section 2 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 3 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 4 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Section 5 title\",\n      \"content\": \"...\"\n    },\n    {\n      \"heading\": \"Conclusion\",\n      \"content\": \"<p>Synthèse et positionnement implicite.</p>\"\n    }\n  ]\n}\n\nToday's date: {{ $now.format('yyyy-MM-dd') }}\nAlways output in French.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1552,528],"id":"db774e71-cbb6-478e-ad9e-e4b19a988899","name":"AI Agent3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1648,800],"id":"01797b1b-d032-4373-98bc-5bef5644402e","name":"Simple Memory3"},{"parameters":{"content":"# University\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6332548f-534a-49a4-9e03-a85884ea37a5","name":"Sticky Note"},{"parameters":{"content":"# Consulting\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,528],"id":"85912817-734e-4464-8e28-ccb5c77e4805","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1488,784],"id":"0d06f697-2cd6-492e-8117-54efdd1b6734","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[960,784],"id":"8920d8e7-31df-4301-b794-1717d25bfa05","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1456,288],"id":"f5a1b8aa-0819-4ed3-ad6d-a0f1bf2aa7bd","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[928,272],"id":"32bad0b9-db18-44e7-9b3b-ca7fb8e218d7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"cleaning empty rows","type":"main","index":0}]]},"cleaning empty rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"cleaning empty rows1","type":"main","index":0}]]},"cleaning empty rows1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"AI Agent3":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version b7932a8d","description":"","autosaved":false},"tags":[]}