blog-automate---publication-sur-site-j1Txors7A8V1GWVQ.json
{"updatedAt":"2026-03-25T14:42:41.637Z","createdAt":"2026-03-23T08:49:55.959Z","id":"j1Txors7A8V1GWVQ","name":"BLOG AUTOMATE : Publication sur Site","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ \n'<div style=\"font-family: \\'Segoe UI\\', Roboto, Helvetica, Arial, sans-serif; max-width: 850px; margin: 40px auto; background: #ffffff; padding: 45px; border-radius: 16px; border-top: 6px solid #E31E24; box-shadow: 0 10px 30px rgba(0,0,0,0.05); color: #2d2d2d;\">' +\n    \n    // Title Section\n    '<h1 style=\"text-align: center; color: #1a1a1a; font-size: 32px; font-weight: 800; line-height: 1.3; margin-bottom: 10px; letter-spacing: -0.5px;\">' + $json.title + '</h1>' +\n    \n    // Subtle Divider\n    '<div style=\"width: 60px; height: 3px; background: #E31E24; margin: 25px auto 35px;\"></div>' +\n\n    // Article Body Styling\n    $json.article_body\n        .replace(/<h2>/g, '<h2 style=\"margin-top: 40px; color: #E31E24; font-size: 24px; font-weight: 700; line-height: 1.4;\">')\n        .replace(/<p>/g, '<p style=\"margin-bottom: 22px; color: #444; font-size: 17px; line-height: 1.8; text-align: justify; hyphens: auto;\">') +\n\n'</div>' \n}}\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP UNIVERSITY\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP UNIVERSITY\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"},{"fieldName":"website_published","fieldValue":"={{ true }}"},{"fieldName":"website_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_seo_optimized","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[784,96],"id":"3f9f6379-41a7-478a-99ed-fc90286b45fa","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"},{"lookupColumn":"Service","lookupValue":"={{ \"Targetup University\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,96],"id":"c3eacce0-4021-44af-99a0-f2eb83f6d56e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  let output;\n\n  try {\n    // Parse JSON from CONTENU\n    output = typeof row.CONTENU === 'string' ? JSON.parse(row.CONTENU) : row.CONTENU;\n  } catch (e) {\n    return {\n      json: {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        raw: row.CONTENU\n      }\n    };\n  }\n\n  const title = output.title || \"Sans titre\";\n  let bodyHtml = \"\";\n  let conclusionHtml = \"\";\n\n  // Prevent double wrapping\n  const cleanWrap = (content) => {\n    if (!content) return \"\";\n    const trimmed = String(content).trim();\n    return trimmed.startsWith('<') ? trimmed : `<p>${trimmed}</p>`;\n  };\n\n  // 1. Introduction\n  if (output.introduction) {\n    bodyHtml += cleanWrap(output.introduction) + \"\\n\";\n  }\n\n  // 2. Sections (including conclusion detection)\n  if (Array.isArray(output.sections)) {\n    output.sections.forEach(section => {\n      const heading = section.heading || \"\";\n      const content = section.content || \"\";\n      const isConclusion = heading.toLowerCase().includes(\"conclusion\");\n\n      if (isConclusion) {\n        // Store separately to force it at the end\n        conclusionHtml += `<h2>Conclusion</h2>\\n`;\n        conclusionHtml += cleanWrap(content) + \"\\n\";\n      } else {\n        if (heading) bodyHtml += `<h2>${heading}</h2>\\n`;\n        if (content) bodyHtml += cleanWrap(content) + \"\\n\";\n      }\n    });\n  }\n\n  // 3. Append conclusion at the end\n  bodyHtml += conclusionHtml;\n\n  return {\n    json: {\n      title: title,\n      article_body: bodyHtml,\n      metadata: {\n        date: row.Date,\n        service: row.Service,\n        row_id: row.row_number\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,96],"id":"22d3ad1d-cd85-4d62-b2a4-35475fda89db","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,256],"id":"83d2a59d-af2e-4592-a721-fea1ccb3816a","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,96],"id":"4bbd7e2b-6cad-4c93-8e62-53adff5c99b8","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ \n'<div style=\"font-family: \\'Segoe UI\\', Roboto, Helvetica, Arial, sans-serif; max-width: 850px; margin: 40px auto; background: #ffffff; padding: 45px; border-radius: 16px; border-top: 6px solid #E31E24; box-shadow: 0 10px 30px rgba(0,0,0,0.05); color: #2d2d2d;\">' +\n    \n    // Title Section\n    '<h1 style=\"text-align: center; color: #1a1a1a; font-size: 32px; font-weight: 800; line-height: 1.3; margin-bottom: 10px; letter-spacing: -0.5px;\">' + $json.title + '</h1>' +\n    \n    // Subtle Divider\n    '<div style=\"width: 60px; height: 3px; background: #E31E24; margin: 25px auto 35px;\"></div>' +\n\n    // Article Body Styling\n    $json.article_body\n        .replace(/<h2>/g, '<h2 style=\"margin-top: 40px; color: #E31E24; font-size: 24px; font-weight: 700; line-height: 1.4;\">')\n        .replace(/<p>/g, '<p style=\"margin-bottom: 22px; color: #444; font-size: 17px; line-height: 1.8; text-align: justify; hyphens: auto;\">') +\n\n'</div>' \n}}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP CONSULTING\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP CONSULTING\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[784,464],"id":"bdbe8894-dbb1-49e2-a78b-3ce61eee0b8d","name":"Create an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"},{"lookupColumn":"Service","lookupValue":"={{ \"Targetup Consulting\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,464],"id":"4c54cc98-5321-42d3-b71f-35cc388f1080","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  let output;\n\n  try {\n    // Parse JSON from CONTENU\n    output = typeof row.CONTENU === 'string' ? JSON.parse(row.CONTENU) : row.CONTENU;\n  } catch (e) {\n    return {\n      json: {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        raw: row.CONTENU\n      }\n    };\n  }\n\n  const title = output.title || \"Sans titre\";\n  let bodyHtml = \"\";\n  let conclusionHtml = \"\";\n\n  // Prevent double wrapping\n  const cleanWrap = (content) => {\n    if (!content) return \"\";\n    const trimmed = String(content).trim();\n    return trimmed.startsWith('<') ? trimmed : `<p>${trimmed}</p>`;\n  };\n\n  // 1. Introduction\n  if (output.introduction) {\n    bodyHtml += cleanWrap(output.introduction) + \"\\n\";\n  }\n\n  // 2. Sections (including conclusion detection)\n  if (Array.isArray(output.sections)) {\n    output.sections.forEach(section => {\n      const heading = section.heading || \"\";\n      const content = section.content || \"\";\n      const isConclusion = heading.toLowerCase().includes(\"conclusion\");\n\n      if (isConclusion) {\n        // Store separately to force it at the end\n        conclusionHtml += `<h2>Conclusion</h2>\\n`;\n        conclusionHtml += cleanWrap(content) + \"\\n\";\n      } else {\n        if (heading) bodyHtml += `<h2>${heading}</h2>\\n`;\n        if (content) bodyHtml += cleanWrap(content) + \"\\n\";\n      }\n    });\n  }\n\n  // 3. Append conclusion at the end\n  bodyHtml += conclusionHtml;\n\n  return {\n    json: {\n      title: title,\n      article_body: bodyHtml,\n      metadata: {\n        date: row.Date,\n        service: row.Service,\n        row_id: row.row_number\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,464],"id":"2f30201f-eca3-45ec-bf9b-6dc8b0972a6f","name":"Code in JavaScript1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet1').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[976,464],"id":"6f1dddf7-0b3b-4350-92c0-ccbfc7330117","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"content":"# University\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5f2c19d3-efea-4952-8d0d-1b0e6727e2a2","name":"Sticky Note"},{"parameters":{"content":"# Consulting\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,544],"id":"19a4a089-cee0-4267-913c-7930f00ec10d","name":"Sticky Note1"}],"connections":{"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Create an item1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Create an item1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b92b11a9-cf34-4cf6-9dfb-0dc997672fc2","activeVersionId":"b92b11a9-cf34-4cf6-9dfb-0dc997672fc2","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:49:55.962Z","createdAt":"2026-03-23T08:49:55.962Z","role":"workflow:owner","workflowId":"j1Txors7A8V1GWVQ","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-25T14:42:43.000Z","createdAt":"2026-03-25T14:42:41.639Z","versionId":"b92b11a9-cf34-4cf6-9dfb-0dc997672fc2","workflowId":"j1Txors7A8V1GWVQ","nodes":[{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ \n'<div style=\"font-family: \\'Segoe UI\\', Roboto, Helvetica, Arial, sans-serif; max-width: 850px; margin: 40px auto; background: #ffffff; padding: 45px; border-radius: 16px; border-top: 6px solid #E31E24; box-shadow: 0 10px 30px rgba(0,0,0,0.05); color: #2d2d2d;\">' +\n    \n    // Title Section\n    '<h1 style=\"text-align: center; color: #1a1a1a; font-size: 32px; font-weight: 800; line-height: 1.3; margin-bottom: 10px; letter-spacing: -0.5px;\">' + $json.title + '</h1>' +\n    \n    // Subtle Divider\n    '<div style=\"width: 60px; height: 3px; background: #E31E24; margin: 25px auto 35px;\"></div>' +\n\n    // Article Body Styling\n    $json.article_body\n        .replace(/<h2>/g, '<h2 style=\"margin-top: 40px; color: #E31E24; font-size: 24px; font-weight: 700; line-height: 1.4;\">')\n        .replace(/<p>/g, '<p style=\"margin-bottom: 22px; color: #444; font-size: 17px; line-height: 1.8; text-align: justify; hyphens: auto;\">') +\n\n'</div>' \n}}\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP UNIVERSITY\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP UNIVERSITY\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"},{"fieldName":"website_published","fieldValue":"={{ true }}"},{"fieldName":"website_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_seo_optimized","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[784,96],"id":"3f9f6379-41a7-478a-99ed-fc90286b45fa","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"},{"lookupColumn":"Service","lookupValue":"={{ \"Targetup University\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,96],"id":"c3eacce0-4021-44af-99a0-f2eb83f6d56e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  let output;\n\n  try {\n    // Parse JSON from CONTENU\n    output = typeof row.CONTENU === 'string' ? JSON.parse(row.CONTENU) : row.CONTENU;\n  } catch (e) {\n    return {\n      json: {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        raw: row.CONTENU\n      }\n    };\n  }\n\n  const title = output.title || \"Sans titre\";\n  let bodyHtml = \"\";\n  let conclusionHtml = \"\";\n\n  // Prevent double wrapping\n  const cleanWrap = (content) => {\n    if (!content) return \"\";\n    const trimmed = String(content).trim();\n    return trimmed.startsWith('<') ? trimmed : `<p>${trimmed}</p>`;\n  };\n\n  // 1. Introduction\n  if (output.introduction) {\n    bodyHtml += cleanWrap(output.introduction) + \"\\n\";\n  }\n\n  // 2. Sections (including conclusion detection)\n  if (Array.isArray(output.sections)) {\n    output.sections.forEach(section => {\n      const heading = section.heading || \"\";\n      const content = section.content || \"\";\n      const isConclusion = heading.toLowerCase().includes(\"conclusion\");\n\n      if (isConclusion) {\n        // Store separately to force it at the end\n        conclusionHtml += `<h2>Conclusion</h2>\\n`;\n        conclusionHtml += cleanWrap(content) + \"\\n\";\n      } else {\n        if (heading) bodyHtml += `<h2>${heading}</h2>\\n`;\n        if (content) bodyHtml += cleanWrap(content) + \"\\n\";\n      }\n    });\n  }\n\n  // 3. Append conclusion at the end\n  bodyHtml += conclusionHtml;\n\n  return {\n    json: {\n      title: title,\n      article_body: bodyHtml,\n      metadata: {\n        date: row.Date,\n        service: row.Service,\n        row_id: row.row_number\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,96],"id":"22d3ad1d-cd85-4d62-b2a4-35475fda89db","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,256],"id":"83d2a59d-af2e-4592-a721-fea1ccb3816a","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,96],"id":"4bbd7e2b-6cad-4c93-8e62-53adff5c99b8","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"resource":"custom","customResource":"blog.post","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json.title }}"},{"fieldName":"content","fieldValue":"={{ \n'<div style=\"font-family: \\'Segoe UI\\', Roboto, Helvetica, Arial, sans-serif; max-width: 850px; margin: 40px auto; background: #ffffff; padding: 45px; border-radius: 16px; border-top: 6px solid #E31E24; box-shadow: 0 10px 30px rgba(0,0,0,0.05); color: #2d2d2d;\">' +\n    \n    // Title Section\n    '<h1 style=\"text-align: center; color: #1a1a1a; font-size: 32px; font-weight: 800; line-height: 1.3; margin-bottom: 10px; letter-spacing: -0.5px;\">' + $json.title + '</h1>' +\n    \n    // Subtle Divider\n    '<div style=\"width: 60px; height: 3px; background: #E31E24; margin: 25px auto 35px;\"></div>' +\n\n    // Article Body Styling\n    $json.article_body\n        .replace(/<h2>/g, '<h2 style=\"margin-top: 40px; color: #E31E24; font-size: 24px; font-weight: 700; line-height: 1.4;\">')\n        .replace(/<p>/g, '<p style=\"margin-bottom: 22px; color: #444; font-size: 17px; line-height: 1.8; text-align: justify; hyphens: auto;\">') +\n\n'</div>' \n}}\n\n\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"NewsArticle\",\n  \"headline\": \"{{ $json.title }}\",\n  \"image\": [\n    \"\"\n  ],\n  \"datePublished\": \"{{ $now }}\",\n  \"dateModified\": \"{{ $now }}\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"TARGETUP CONSULTING\"\n  },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"TARGETUP CONSULTING\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp\"\n    }\n  },\n  \"description\": \"{{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://app.targetupconsulting.com/blog/articles-actualite-1\"\n  }\n}\n</script>\n"},{"fieldName":"blog_id","fieldValue":"={{ 1 }}"},{"fieldName":"is_published","fieldValue":"={{ true }}"},{"fieldName":"seo_name","fieldValue":"={{ $json.title }}"},{"fieldName":"website_meta_description","fieldValue":"={{ $json.article_body.split(/<h2[^>]*>/i)[0].replace(/<[^>]+>/g, '').trim() }}\n"},{"fieldName":"website_meta_og_img","fieldValue":"https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp"},{"fieldName":"cover_properties","fieldValue":"={\n  \"background-image\": \"url('https://targetupconsulting.com/web/image/52411-eee3da8c/Untitled%20design%20%281%29.webp')\",\n  \"background-color\": \"oe_black\",\n  \"opacity\": \"1\",\n  \"resize_class\": \"o_record_has_cover\",\n  \"background-position\": \"center\",\n  \"background-size\": \"contain\",\n  \"background-repeat\": \"no-repeat\",\n  \"height\": \"400px\"\n}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[784,464],"id":"bdbe8894-dbb1-49e2-a78b-3ce61eee0b8d","name":"Create an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"},{"lookupColumn":"Service","lookupValue":"={{ \"Targetup Consulting\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,464],"id":"4c54cc98-5321-42d3-b71f-35cc388f1080","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  let output;\n\n  try {\n    // Parse JSON from CONTENU\n    output = typeof row.CONTENU === 'string' ? JSON.parse(row.CONTENU) : row.CONTENU;\n  } catch (e) {\n    return {\n      json: {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        raw: row.CONTENU\n      }\n    };\n  }\n\n  const title = output.title || \"Sans titre\";\n  let bodyHtml = \"\";\n  let conclusionHtml = \"\";\n\n  // Prevent double wrapping\n  const cleanWrap = (content) => {\n    if (!content) return \"\";\n    const trimmed = String(content).trim();\n    return trimmed.startsWith('<') ? trimmed : `<p>${trimmed}</p>`;\n  };\n\n  // 1. Introduction\n  if (output.introduction) {\n    bodyHtml += cleanWrap(output.introduction) + \"\\n\";\n  }\n\n  // 2. Sections (including conclusion detection)\n  if (Array.isArray(output.sections)) {\n    output.sections.forEach(section => {\n      const heading = section.heading || \"\";\n      const content = section.content || \"\";\n      const isConclusion = heading.toLowerCase().includes(\"conclusion\");\n\n      if (isConclusion) {\n        // Store separately to force it at the end\n        conclusionHtml += `<h2>Conclusion</h2>\\n`;\n        conclusionHtml += cleanWrap(content) + \"\\n\";\n      } else {\n        if (heading) bodyHtml += `<h2>${heading}</h2>\\n`;\n        if (content) bodyHtml += cleanWrap(content) + \"\\n\";\n      }\n    });\n  }\n\n  // 3. Append conclusion at the end\n  bodyHtml += conclusionHtml;\n\n  return {\n    json: {\n      title: title,\n      article_body: bodyHtml,\n      metadata: {\n        date: row.Date,\n        service: row.Service,\n        row_id: row.row_number\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,464],"id":"2f30201f-eca3-45ec-bf9b-6dc8b0972a6f","name":"Code in JavaScript1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":888489257,"mode":"list","cachedResultName":"Article publié","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=888489257"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet1').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service","displayName":"Service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJETS","displayName":"SUJETS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTENU","displayName":"CONTENU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[976,464],"id":"6f1dddf7-0b3b-4350-92c0-ccbfc7330117","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"content":"# University\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5f2c19d3-efea-4952-8d0d-1b0e6727e2a2","name":"Sticky Note"},{"parameters":{"content":"# Consulting\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,544],"id":"19a4a089-cee0-4267-913c-7930f00ec10d","name":"Sticky Note1"}],"connections":{"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Create an item1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Create an item1","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version b92b11a9","description":"","autosaved":false},"tags":[]}