canva---1-automation-consulting-VwVsWZ2YRpJbW3tb.json
{"updatedAt":"2026-03-23T09:27:27.254Z","createdAt":"2026-03-23T08:50:43.909Z","id":"VwVsWZ2YRpJbW3tb","name":"CANVA # 1 Automation Consulting","active":false,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[608,544],"id":"98641af0-dc92-4784-83a8-21fc94bfdbaa","name":"Simple Memory1"},{"parameters":{"jsonSchemaExample":"{\n  \"post\": \"post\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[768,544],"id":"cc4d8c80-b672-45ac-ab93-222f032e567c","name":"Structured Output Parser1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Image URL":"=https://docs.google.com/presentation/d/{{ $json.presentationId }}/","SUJET":"={{ $('Get row(s) in sheet').item.json.SUJET }}"},"matchingColumns":["SUJET"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,0],"id":"dec0fee2-3337-43f4-ac86-0affa321d9bd","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"replaceText","presentationId":"={{ $json.id }}","textUi":{"textValues":[{"matchCase":true,"text":"TITLE","replaceText":"={{ $('AI Agent').item.json.output.title }}"},{"matchCase":true,"text":"SUB","replaceText":"={{ $('AI Agent').item.json.output.subtitle }}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[752,0],"id":"8a696db4-3428-4daf-b92d-5d3543b1d22e","name":"Replace text in a presentation","credentials":{"googleSlidesOAuth2Api":{"id":"wEm1rItgvzV11j36","name":"Google Slides account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SUJET":"={{ $('Get row(s) in sheet').item.json.SUJET }}","Post Contenu":"={{ $json.output.post }}"},"matchingColumns":["SUJET"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,320],"id":"9d1fdda8-1f8b-4313-bcca-c6f088124c4d","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp Consulting , a Morocco-based professional cabinet de conseil.\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\n\nRULES : \n\nRead this subject and give me small post for social media (Linkedin, Facebook, instagram)\n\nonly give me the post text no explantion or anything else\n\nMax of 5 line and add the name of the services at the end\nMake it SEO / GEO Freindly\n\nNOTE : \nMake the post text eye catching \nHook -> probleme -> solution -> why targetup\n\nat end of the post add these CTA Based on what services (you can change the layout) : \n\nif Targetup consulting : \n\n📈 Envie d'en savoir plus ou d'obtenir cette certification pour ton entreprise ?\n\n📩 Contactez nos experts dès aujourd'hui pour une consultation personnalisée.\n📞 +212684481730\n✉️ contact@targetupconsulting.com\n💼 Consultation Gratuite: https://targetupconsulting.com/appointment\n\nVisitez notre site pour plus d'informations: https://www.targetupconsulting.com\n\nif Targetup university : \n\n📩 Les préinscriptions sont ouvertes !\nRejoignez la nouvelle génération de leaders responsables.\n📞 +212 684 77 88 54\n📧 sales@targetupconsulting.com\n\nPartagez vos réflexions ou découvrez nos programmes !\n👉 https://university.targetupconsulting.com\n\n\nthe DATA  : \nTitle : {{ $json.output.title }}\nsubtitle : {{ $json.output.subtitle }}\nService : {{ $('Get row(s) in sheet').item.json.SERVICE }}\n\nEXAMPLE: \nPourquoi obtenir la certification ISO 50001 ?\n✅ Réduction des coûts énergétiques grâce à une gestion optimisée\n✅ Amélioration continue de la performance énergétique\n✅ Conformité aux exigences légales sur l'énergie\n✅ Réduction de l'empreinte carbone et meilleure performance environnementale\n✅ Renforce la responsabilité sociétale de l’entreprise (RSE)\n\n🌍 En adoptant ISO 50001, ton entreprise fait un pas vers une gestion énergétique durable, tout en contribuant activement à la préservation de notre planète.\n\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"post\": \"post\"\n\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[608,320],"id":"8eb195bc-b450-4d20-83a0-db61bb77ef5b","name":"AI Agent1"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"title\",\n  \"subtitle\": \"subtitle\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[256,224],"id":"97815702-b74f-4818-91df-a371d3cff4b6","name":"Structured Output Parser"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[96,224],"id":"fff54e29-8a5d-4b49-89cb-c1f926502919","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp Consulting , a Morocco-based professional cabinet de conseil.\n\nTARGETUP CONSULTING — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Conseil en management, transformation digitale et performance opérationnelle.\n\nServices clés :\n\nAccompagnement à la Certification : Expertise en normes ISO (9001, 14001, 45001, 27001, 22000, etc.) et QHSE (Qualité, Hygiène, Sécurité, Environnement).\n\nTransformation Digitale : Diagnostic de maturité, automatisation des processus et intégration de solutions ERP (spécialiste Odoo).\n\nSoutien à l'Investissement : Assistance pour l’accès aux programmes de financement marocains (ex: Go Siyaha, Istitmar, Mouwakaba, Charte de l'Investissement).\n\nExcellence Opérationnelle : Mise en œuvre de la méthodologie Lean Six Sigma pour optimiser la productivité industrielle et de services.\n\nStratégie ESG & RSE : Conseil en développement durable et responsabilité sociétale pour aligner les entreprises sur les standards internationaux.\n\nRULES : \n\nRead this subject and give me a title with one line (5 words Max)\nand a sub-title for a image post \n\nonly give me these two no explantion or anything else\n\nNOTE : \nMake the title and the subtitle eye catching not lame\n\nthe DATA  : \n{{ $json.SERVICE }} : {{ $json.SUJET }}\n\nEXAMPLE: \nTitle : Transformez l'incertitude en oppurtuinite\nsubtitle : Chez Targetup Consulting, nous comprenons que des objectifs flous peuvent freiner la croissance de votre entreprise.\n\nTitle : Pourqoui obtenir la certification ISO\nsubtitle : optimiser votre entreprise energie\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"title\": \"title\",\n  \"subtitle\": \"subtitle\"\n\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"3f1a7efa-b290-44dd-b6e4-a40a326e798d","name":"AI Agent","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Publié","lookupValue":"={{ \"Non\" }}"},{"lookupColumn":"SERVICE","lookupValue":"={{ \"Targetup Consulting\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-560,16],"id":"05af0708-2d44-4cf1-8343-e4319e4de568","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $json.imageId }}","mode":"id"},"name":"={{ $('AI Agent').item.json.output.title }}_{{ $now.format('yyyy-mm-dd') }}.pptx","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ov1bEjutgLqQRBiVmbjJr5WCKgrP-R-6","mode":"list","cachedResultName":"COPY TEMPLATE","cachedResultUrl":"https://drive.google.com/drive/folders/1ov1bEjutgLqQRBiVmbjJr5WCKgrP-R-6"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[576,0],"id":"bc3fc9cd-4b8f-402c-b2ea-37a30b7ebcbe","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf70e45b-f95e-4ca9-a56e-7ade417d8794","leftValue":"={{ $json['Post Contenu'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,16],"id":"5c74dee8-946b-4b4f-b41e-034d866a55cc","name":"If"},{"parameters":{"jsCode":"const ids = [\n  \"1L1LWB1vDB0KFXLEz8rxuiOCWV1J-Z9pOW5QCW3Ry4Hw\",\n  \"1vuIJA9yHY326yZyuopG1BmSVbTeZR_Bl9pVutPMFqkE\",\n  \"1TTs02BUJqKS9A8PVcvDppjzskaM57uQigZZiN8SOHQM\",\n  \"1pmGReKvaWPKuZizVurXw9iva4ueCJ7_TeJWhb73A-iA\",\n  \"1a-PU9HHv74w-p-yf_bqoHLSMYRMCtRbPlrSCy7umOzA\",\n  \"1mUV4XxN2rZ-R63cMGcWSad_cRIiQAgFaY-_u2jWJAHc\"\n];\n\n// Pick random one\nconst randomId = ids[Math.floor(Math.random() * ids.length)];\n\n// n8n REQUIRES an array of objects\nreturn [\n  {\n    json: {\n      imageId: randomId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"fc02e337-951e-4307-81a7-b86fdce83e8b","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,320],"id":"37938945-68dc-45ba-8721-197a00c5fe26","name":"Schedule Trigger"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,224],"id":"6ff94a6d-ae54-4994-8912-afb6f8027860","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[464,528],"id":"91dfb68b-fec4-4c11-b06d-e8cbd34cf239","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Replace text in a presentation":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Replace text in a presentation","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ca6d347-a860-4cb5-9cd2-582aee2a1635","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T08:50:43.911Z","createdAt":"2026-03-23T08:50:43.911Z","role":"workflow:owner","workflowId":"VwVsWZ2YRpJbW3tb","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}