canva---1-automation-university-w0YbW5gvDoYj2q2R.json
{"updatedAt":"2026-03-23T09:26:12.227Z","createdAt":"2026-03-23T08:50:19.680Z","id":"w0YbW5gvDoYj2q2R","name":"CANVA # 1 Automation University","active":false,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[608,544],"id":"4803f1d3-b7d7-494a-bfba-fb026166cd8a","name":"Simple Memory1"},{"parameters":{"jsonSchemaExample":"{\n  \"post\": \"post\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[768,544],"id":"ccaeb7be-f98c-4dd3-9831-99b08c3208f1","name":"Structured Output Parser1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZOjfxu5LDEF6M7vSrNpI2-ebyg9so0qfomueTUh5Chc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Image URL":"=https://docs.google.com/presentation/d/{{ $json.presentationId }}/","SUJET":"={{ $('Get row(s) in sheet').item.json.SUJET }}"},"matchingColumns":["SUJET"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,0],"id":"c76b13ba-7bba-48c0-845a-373232e52ad4","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SUJET":"={{ $('Get row(s) in sheet').item.json.SUJET }}","Post Contenu":"={{ $json.output.post }}"},"matchingColumns":["SUJET"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,320],"id":"b26fe8cd-6e33-4711-b063-c33c9fa080b5","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\n\nRULES : \n\nRead this subject and give me small post for social media (Linkedin, Facebook, instagram)\n\nonly give me the post text no explantion or anything else\n\nMax of 5 line and add the name of the services at the end\nMake it SEO / GEO Freindly\n\nNOTE : \nMake the post text eye catching \nHook -> probleme -> solution -> why targetup\n\nat end of the post add these CTA Based on what services (you can change the layout) : \n\nif Targetup consulting : \n\n📈 Envie d'en savoir plus ou d'obtenir cette certification pour ton entreprise ?\n\n📩 Contactez nos experts dès aujourd'hui pour une consultation personnalisée.\n📞 +212684481730\n✉️ contact@targetupconsulting.com\n💼 Consultation Gratuite: https://targetupconsulting.com/appointment\n\nVisitez notre site pour plus d'informations: https://www.targetupconsulting.com\n\nif Targetup university : \n\n📩 Les préinscriptions sont ouvertes !\nRejoignez la nouvelle génération de leaders responsables.\n📞 +212 684 77 88 54\n📧 sales@targetupconsulting.com\n\nPartagez vos réflexions ou découvrez nos programmes !\n👉 https://university.targetupconsulting.com\n\n\nthe DATA  : \nTitle : {{ $json.output.title }}\nsubtitle : {{ $json.output.subtitle }}\nService : {{ $('Get row(s) in sheet').item.json.SERVICE }}\n\nEXAMPLE: \nPourquoi obtenir la certification ISO 50001 ?\n✅ Réduction des coûts énergétiques grâce à une gestion optimisée\n✅ Amélioration continue de la performance énergétique\n✅ Conformité aux exigences légales sur l'énergie\n✅ Réduction de l'empreinte carbone et meilleure performance environnementale\n✅ Renforce la responsabilité sociétale de l’entreprise (RSE)\n\n🌍 En adoptant ISO 50001, ton entreprise fait un pas vers une gestion énergétique durable, tout en contribuant activement à la préservation de notre planète.\n\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"post\": \"post\"\n\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[608,320],"id":"62316d92-3aa4-4cf7-ab62-308c2ee86846","name":"AI Agent1"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"title\",\n  \"subtitle\": \"subtitle\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[256,224],"id":"eccb8fdc-8c6f-4277-b28d-4234659e3097","name":"Structured Output Parser"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[96,224],"id":"6626d9df-36bf-4fda-af3d-c3b2cdc07e01","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=You are a Senior Strategic Intelligence & Education Market Analyst for TargetUp University, a Morocco-based professional training and instructional engineering institution.\n\nTARGETUP UNIVERSITY — CORE ACTIVITIES (ONLY THESE)\n\nSecteur d'activité : Formation professionnelle continue, Enseignement supérieur (Master, DBA) et Ingénierie de formation.\n\nServices clés du Targetup university :\n\nFormations Certifiantes : Programmes courts et intensifs dans les domaines du Management, de la Logistique, de la Finance et du Digital.\n\nCycles Supérieurs : Cursus de type Master et DBA (Doctor of Business Administration) pour les cadres et dirigeants.\n\nGestion des CSF (Contrats Spéciaux de Formation) : Accompagnement des entreprises pour bénéficier du remboursement des frais de formation par l'OFPPT (de 30% à 70%).\n\nFormation à distance & Blended Learning : Plateforme e-learning interactive permettant de suivre des modules flexibles adaptés au monde professionnel.\n\nVAE (Validation des Acquis de l'Expérience) : Accompagnement pour transformer l'expérience terrain en diplômes ou certifications reconnus.\nor others Subject that have a relation in the formation sectors like some new law, or new programme by the governmenets ....\n\n\nRULES : \n\nRead this subject and give me a title with one line (5 words Max)\nand a sub-title for a image post \n\nonly give me these two no explantion or anything else\n\nNOTE : \nMake the title and the subtitle eye catching not lame\n\nthe DATA  : \n{{ $json.SERVICE }} : {{ $json.SUJET }}\n\nEXAMPLE: \nTitle : Transformez l'incertitude en oppurtuinite\nsubtitle : Chez Targetup Consulting, nous comprenons que des objectifs flous peuvent freiner la croissance de votre entreprise.\n\nTitle : Pourqoui obtenir la certification ISO\nsubtitle : optimiser votre entreprise energie\n\nOUTPUT FORMAT (JSON ONLY — NO MARKDOWN)\n{\n  \"title\": \"title\",\n  \"subtitle\": \"subtitle\"\n\n}\n\nNOTE :\nToday date : {{ $now.format('yyyy-mm-dd') }}\nAlways output in fr language","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"79c9ddb2-8e1d-4d39-8f4b-8979af20dff7","name":"AI Agent","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Publié","lookupValue":"={{ \"Non\" }}"},{"lookupColumn":"SERVICE","lookupValue":"={{ \"Targetup University\" }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-560,16],"id":"bb2516bc-a5fd-4dac-ac8a-5692d3990da0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf70e45b-f95e-4ca9-a56e-7ade417d8794","leftValue":"={{ $json['Post Contenu'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,16],"id":"2b8890c6-0a9e-4596-a87d-89ac1e5085c4","name":"If"},{"parameters":{"jsCode":"const ids = [\n  \"1HpXtjp0hE67pf-wZSNcAxvRdkDWxgoi2QrS_yZWTMJA\",\n  \"1OMMaIdC3FQxrgxq-HmTQO59xScXi470H2RoVnWjnXw0\",\n  \"1X4uNSc7u_FjG50jD_S7WMktI5cfInvaXHxGcrjxB-EA\",\n  \"1NPgtEthBLFt3xbyUbp3GZxN3PposrEOChxLmDrsVnCY\",\n  \"15y8x_bxSo6yUgeSILvrHs6oYZKO9d4bfeYPPas-f2BQ\",\n  \"1o1fe6cSyfeJr_SkWcNVpWG9V2Y5C7V5Vu6eUudQNsaY\"\n];\n\n// Pick random one\nconst randomId = ids[Math.floor(Math.random() * ids.length)];\n\n// n8n REQUIRES an array of objects\nreturn [\n  {\n    json: {\n      imageId: randomId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"95c34df5-d314-4760-a092-69ac86f2faca","name":"Code in JavaScript"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $json.imageId }}","mode":"id"},"name":"={{ $('AI Agent').item.json.output.title }}_{{ $now.format('yyyy-mm-dd') }}.pptx","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ov1bEjutgLqQRBiVmbjJr5WCKgrP-R-6","mode":"list","cachedResultName":"COPY TEMPLATE","cachedResultUrl":"https://drive.google.com/drive/folders/1ov1bEjutgLqQRBiVmbjJr5WCKgrP-R-6"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[576,0],"id":"fd868aa1-d676-4fce-82d0-c52b65ac20b8","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"operation":"replaceText","presentationId":"={{ $json.id }}","textUi":{"textValues":[{"matchCase":true,"text":"TITLE","replaceText":"={{ $('AI Agent').item.json.output.title }}"},{"matchCase":true,"text":"SUB","replaceText":"={{ $('AI Agent').item.json.output.subtitle }}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[784,0],"id":"866e35d3-9b52-452c-8127-e3fbcc60cf30","name":"Replace text in a presentation","credentials":{"googleSlidesOAuth2Api":{"id":"wEm1rItgvzV11j36","name":"Google Slides account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,272],"id":"cd9303f5-523c-418b-b0ae-04b654ccf898","name":"Schedule Trigger"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,224],"id":"67c3e673-0fbd-4677-bf5e-85bafcc80c25","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[448,544],"id":"43e3a22c-7265-4db6-ac2c-52e03a47150b","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}}],"connections":{"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Replace text in a presentation","type":"main","index":0}]]},"Replace text in a presentation":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1d2fef8-094c-4aae-ba8b-b0aaddf1a76f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T08:50:19.683Z","createdAt":"2026-03-23T08:50:19.683Z","role":"workflow:owner","workflowId":"w0YbW5gvDoYj2q2R","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}