contact-commerciale-THiSRRPgPFYqpjWF.json
{"updatedAt":"2026-05-01T08:59:22.906Z","createdAt":"2026-04-30T12:01:32.911Z","id":"THiSRRPgPFYqpjWF","name":"Contact_Commerciale","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,-80],"id":"8fa9d50a-d280-4063-b8c9-2f4d5c9ed09b","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":368693306,"mode":"list","cachedResultName":"Leads Complets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=368693306"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"1d88a612-9fa1-4aa8-96b9-ffbcd4d54c74","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"4d5d98de-8a66-474b-8b5e-e310ba2801ce","name":"If"},{"parameters":{"maxItems":25},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[336,-112],"id":"3f00e08e-e36c-46a5-bba4-7b9c20be2d6c","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}},{"id":"a76e5751-5bdb-482f-acec-c06b0559b5aa","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"El Jadida\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bd600079-9281-413c-9b64-57af632b6e6c","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Kénitra\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8272c8c1-2377-405a-b883-79399e889e14","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Tanger\" }}","operator":{"type":"string","operation":"contains"}},{"id":"a6382832-3ab5-4baf-a8b1-9f4d1b9cc8e4","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Marrakech\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"81a512eb-4839-4e92-9b36-b8adcbab0635","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-112],"id":"3f755d14-9f46-4a45-b946-ed1ebad605c7","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":368693306,"mode":"list","cachedResultName":"Leads Complets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=368693306"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Odoo Envoyé":"Oui","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Prénom","displayName":"Prénom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Société","displayName":"Société","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secteur","displayName":"Secteur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produits","displayName":"Produits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ville","displayName":"Ville","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Adresse e-mail","displayName":"Adresse e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Message","displayName":"Email Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Envoyé ","displayName":"Email Envoyé ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Reponse ","displayName":"Email Reponse ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiments","displayName":"Sentiments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Odoo Envoyé","displayName":"Odoo Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"b3308e36-50b7-46ab-928e-01516a651f4a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"content":"🎫 T-01 — Déclencheur automatique (Schedule Trigger)\n\nMotif : Automatiser le lancement du workflow pour garantir un traitement quotidien sans intervention humaine.\n\nLance le workflow automatiquement chaque matin.\nPermet d’assurer une régularité dans le traitement des leads.\n\nConfiguration :\n\nHeure : 06:20 (Africa/Casablanca)\nFréquence : Tous les jours\n\nTag : Trigger","height":480,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-752,-400],"typeVersion":1,"id":"1cfb2fc5-8118-4414-80ff-7566cab56c03","name":"Sticky Note"},{"parameters":{"content":"🎫 T-02 — Lecture du catalogue (Google Sheets — Get Row(s))\n\nMotif : Centraliser la récupération des données prospects depuis une source unique (Google Sheets).\n\nLit toutes les lignes de l’onglet CATALOGUE2.\nTransmet les données au workflow pour traitement.\n\nSource : Google Sheets — CATALOGUE2\nOutput : 508 lignes\n\nTag : Lecture","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[-432,-400],"typeVersion":1,"id":"d306bd45-6e55-4091-b535-dd8e85729d2d","name":"Sticky Note1"},{"parameters":{"content":"🎫 T-03 — Filtre anti-doublon (If — Odoo Envoyé)\n\nMotif : Éviter la duplication des leads dans Odoo et garantir l’intégrité des données.\n\nVérifie la colonne \"Odoo Envoyé\".\nSi ≠ \"Oui\" → le lead est traité\nSinon → ignoré automatiquement\n\nCondition : Odoo Envoyé ≠ \"Oui\"\nOutput : 508 items → branche TRUE\n\nTag : Filtre\n","height":480,"width":224},"type":"n8n-nodes-base.stickyNote","position":[-160,-400],"typeVersion":1,"id":"e5117c03-c12d-49b1-8da1-d30372cbbcfe","name":"Sticky Note2"},{"parameters":{"content":"🎫 T-04 — Filtre géographique (If — Ville)\n\nMotif : Cibler uniquement les zones stratégiques pour améliorer la pertinence commerciale.\n\nFiltre les prospects selon les villes ciblées.\nIgnore les autres sans bloquer le workflow.\n\nVilles ciblées :\nCasablanca, Rabat, El Jadida, Kénitra, Tanger, Marrakech\n\nOutput : 406 items éligibles\n\nTag : Filtre","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[64,-400],"typeVersion":1,"id":"2c3b7b7e-8dc8-437a-8d43-b48b234e8edf","name":"Sticky Note3"},{"parameters":{"content":"🎫 T-05 — Limitation du traitement (Limit)\n\nMotif : Éviter la surcharge de l’API Odoo et contrôler le flux de création des leads.\n\nLimite le nombre de leads traités par exécution.\n\nConfiguration :\n\nValeur : 15 items max par run\nMode : Keep first items\n\nTag : Limite","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[336,-400],"typeVersion":1,"id":"a6461211-bd38-41e2-b85e-7c6b1fb94ba1","name":"Sticky Note4"},{"parameters":{"content":"🎫 T-06 — Boucle de traitement (Loop Over Items)\n\nMotif : Garantir un traitement séquentiel fiable et éviter les erreurs API.\n\nTraite chaque lead individuellement.\nAssure un enchaînement : création Odoo → mise à jour Sheets.\n\nConfiguration :\n\nBatch size : 1 item\nBranches : Loop / Done\n\nTag : Boucle","height":288,"width":368},"type":"n8n-nodes-base.stickyNote","position":[592,-400],"typeVersion":1,"id":"0353d930-3bbd-4594-b0be-184c779caab1","name":"Sticky Note5"},{"parameters":{"content":"🎫 T-07 — Création du lead dans Odoo (Create an item)\n\nMotif : Automatiser la génération d’opportunités CRM pour accélérer le cycle commercial.\n\nCrée une opportunité dans Odoo avec :\nInfos du prospect\nDescription personnalisée selon le secteur\n\nConfiguration :\n\nModèle : crm.lead\nType : opportunity\nPriorité : ⭐⭐⭐ (niveau 3)\nGestion : 14 secteurs + cas par défaut\n\nTag : Création Odoo","height":464,"width":224},"type":"n8n-nodes-base.stickyNote","position":[976,-416],"typeVersion":1,"id":"1381f887-18cf-44f5-bbc2-44ab675ba6a8","name":"Sticky Note6"},{"parameters":{"content":"🎫 T-08 — Marquage comme traité (Update row in Google Sheets)\n\nMotif : Assurer la traçabilité et éviter tout retraitement des leads déjà envoyés.\n\nMet à jour la ligne après création dans Odoo.\n\nConfiguration :\n\nColonne clé : row_number\nOdoo Envoyé : \"Oui\"\nDate : date du jour (yyyy-MM-dd)\n\nTag : Mise à jour","height":432,"width":272},"type":"n8n-nodes-base.stickyNote","position":[1232,-384],"typeVersion":1,"id":"047c7dc6-f22b-47dd-a580-9513182b3c41","name":"Sticky Note7"},{"parameters":{"contactName":"={{ $('Loop Over Items').item.json.Nom || '' }}","additionalFields":{"email":"={{ $('Loop Over Items').item.json.Email || '' }}","comment":"={{ '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +'<b>Lead issu de la BDD Entreprises</b><br>' +'<b>Action</b> : Cold call à réaliser dans les 48h<br><br>' +'<b>Informations lead</b><br>' +'——————————————<br>' +'<b>Société</b> : ' + ($('Loop Over Items').item.json.Société || 'Non renseigné') + '<br>' +'<b>Contact</b> : ' + ($('Loop Over Items').item.json.Nom || 'Non renseigné') + '<br>' +'<b>Email</b> : ' + ($('Loop Over Items').item.json.Email || 'Non renseigné') + '<br>' +'<b>Téléphone</b> : ' + ($('Loop Over Items').item.json.Téléphone || 'Non renseigné') + '<br>' +'<b>Secteur</b> : ' + ($('Loop Over Items').item.json.Secteur || 'Non renseigné') + '<br>' +'<b>Ville</b> : ' + ($('Loop Over Items').item.json.Ville || 'Non renseigné') + '<br><br>' +'<b>Services recommandés TargetUp Consulting</b><br>' +'——————————————<br>' +($('Loop Over Items').item.json.Secteur == \"Agro-alimentaire\" ?'<b>1. Certification ISO 22000 / HACCP</b><br>- Pourquoi: Sécuriser votre chaîne de production et répondre aux normes d\\'exportation<br>- Impact: Accès aux marchés internationaux et réduction des non-conformités<br><br>' +'<b>2. Programme Go Siyaha / MOUWAKABA</b><br>- Pourquoi: Financer votre modernisation et votre mise aux normes<br>- Impact: Subventions jusqu\\'à 90% pour digitaliser votre outil de production<br><br>' +'<b>3. Lean Six Sigma (Green Belt)</b><br>- Pourquoi: Réduire les pertes et optimiser vos coûts de production<br>- Impact: Hausse des marges de 15 à 25%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Agriculture\" ?'<b>1. Certification ISO 14001 & ISO 45001</b><br>- Pourquoi: Maîtriser votre impact environnemental et protéger vos équipes<br>- Impact: Accès aux labels durables et réduction des risques<br><br>' +'<b>2. Programme Export Maroc / BERD Assistance Locale</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80% pour la certification et la digitalisation<br><br>' +'<b>3. Bilan Carbone & Stratégie ESG</b><br>- Pourquoi: Anticiper les exigences des distributeurs européens<br>- Impact: Positionnement durable et différenciant<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Avicole\" ?'<b>1. ISO 22000 & HACCP</b><br>- Pourquoi: Garantir la traçabilité et la sécurité sanitaire de vos produits<br>- Impact: Accès aux marchés sensibles et réduction des pertes<br><br>' +'<b>2. Lean Management & 5S</b><br>- Pourquoi: Optimiser vos élevages et réduire les coûts opérationnels<br>- Impact: Productivité augmentée de 15 à 20%<br><br>' +'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif pour transformer votre outil de production<br>- Impact: Financement public et performance durable<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Artisanat\" ?'<b>1. Certification Produit (Origine & Qualité)</b><br>- Pourquoi: Valoriser votre savoir-faire et lutter contre la contrefaçon<br>- Impact: Positionnement premium + accès aux chaînes de luxe<br><br>' +'<b>2. Programme INTELAKA / Programme Export Maroc</b><br>- Pourquoi: Financer votre développement commercial à l\\'international<br>- Impact: Subventions jusqu\\'à 80% pour l\\'export<br><br>' +'<b>3. Transformation Digitale (E-commerce & Marketing)</b><br>- Pourquoi: Vendre directement sans intermédiaire<br>- Impact: Augmentation des marges de 30%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Textile\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux exigences des donneurs d\\'ordre internationaux<br>- Impact: Nouvelles opportunités B2B + prix premium<br><br>' +'<b>2. Lean Management & 5S</b><br>- Pourquoi: Réduction des délais et des déchets de production<br>- Impact: Productivité augmentée de 20%<br><br>' +'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif de 6 mois financé<br>- Impact: Transformation durable de l\\'outil industriel<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Cuir\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux normes des marques internationales<br>- Impact: Accès aux donneurs d\\'ordre premium<br><br>' +'<b>2. Lean Six Sigma</b><br>- Pourquoi: Optimiser la coupe et réduire les chutes de matière<br>- Impact: Réduction des coûts matières de 10 à 15%<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Electricité et Energies\" ?'<b>1. ISO 50001 (Management de l\\'Énergie)</b><br>- Pourquoi: Maîtriser vos coûts énergétiques et optimiser votre production<br>- Impact: Réduction de 15 à 30% de la facture énergétique<br><br>' +'<b>2. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Sécuriser vos interventions et chantiers<br>- Impact: Meilleurs taux de sinistralité + appels d\\'offres publics<br><br>' +'<b>3. Audit ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des investisseurs et donneurs d\\'ordre<br>- Impact: Accès aux financements verts<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Transport et Logistique\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Rassurer vos clients et optimiser vos processus<br>- Impact: Accès aux appels d\\'offres grands comptes<br><br>' +'<b>2. Digitalisation & TMS (via Odoo)</b><br>- Pourquoi: Optimiser vos tournées et suivre vos colis en temps réel<br>- Impact: Réduction des coûts logistiques de 10 à 20%<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"BTP et Mines\" ?'<b>1. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Réduire les accidents et les arrêts de chantier<br>- Impact: Meilleurs taux de sinistralité + accès aux grands projets<br><br>' +'<b>2. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre qualité et votre gestion environnementale<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' +'<b>3. ERP Odoo (Gestion de projet BTP)</b><br>- Pourquoi: Centraliser devis, achats, stocks et planning chantier<br>- Impact: Visibilité temps réel sur la rentabilité des projets<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Métallurgie et Plasturgie\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre production pour les donneurs d\\'ordre industriels<br>- Impact: Nouvelles opportunités B2B<br><br>' +'<b>2. Lean Six Sigma</b><br>- Pourquoi: Réduire les rebuts et optimiser les temps de cycle<br>- Impact: Hausse des marges de 15 à 20%<br><br>' +'<b>3. ERP Odoo (Industrie)</b><br>- Pourquoi: Gérer vos nomenclatures, stocks et ordres de fabrication<br>- Impact: Productivité augmentée et traçabilité renforcée<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Banques et Assurances\" ?'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Protéger les données sensibles de vos clients<br>- Impact: Conformité réglementaire et confiance renforcée<br><br>' +'<b>2. ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des régulateurs et investisseurs<br>- Impact: Positionnement durable et financements verts<br><br>' +'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la conformité<br>- Impact: Amélioration continue des équipes<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Trading\" ?'<b>1. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' +'<b>2. ISO 9001</b><br>- Pourquoi: Structurer vos processus achats et ventes<br>- Impact: Professionnalisation et crédibilité accrue<br><br>' +'<b>3. ERP Odoo (Commerce)</b><br>- Pourquoi: Gérer vos devis, commandes et stocks<br>- Impact: Visibilité temps réel sur votre activité<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Conseil et Ingénierie\" ?'<b>1. Partenariat Stratégique TargetUp</b><br>- Pourquoi: Mutualiser vos offres avec notre expertise certifiante<br>- Impact: Élargissement de votre catalogue services<br><br>' +'<b>2. Formation Continue (Lead Auditor)</b><br>- Pourquoi: Certifier vos consultants sur les normes ISO<br>- Impact: Valeur ajoutée pour vos clients<br><br>' +'<b>3. Accompagnement ESG</b><br>- Pourquoi: Intégrer la durabilité dans vos missions<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Technologies de l'information\" ?'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Certifier vos solutions et rassurer vos clients<br>- Impact: Accès aux marchés sensibles (banque, santé, administration)<br><br>' +'<b>2. Partenariat Odoo</b><br>- Pourquoi: Intégrer l\\'ERP leader dans vos offres<br>- Impact: Récurrence et valeur ajoutée<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +(![\"Agro-alimentaire\",\"Agriculture\",\"Avicole\",\"Artisanat\",\"Textile\",\"Cuir\",\"Electricité et Energies\",\"Transport et Logistique\",\"BTP et Mines\",\"Métallurgie et Plasturgie\",\"Banques et Assurances\",\"Trading\",\"Conseil et Ingénierie\",\"Technologies de l'information\"].includes($('Loop Over Items').item.json.Secteur) ?'<b>1. Audit Stratégique Offert</b><br>- Pourquoi: Diagnostiquer vos opportunités de croissance<br>- Impact: Feuille de route personnalisée sans engagement<br><br>' +'<b>2. Accompagnement sur Mesure</b><br>- Pourquoi: Identifier les financements publics adaptés à votre secteur<br>- Impact: Optimisation de votre trésorerie<br><br>' +'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la performance<br>- Impact: Amélioration continue durable<br><br>' : '') }}","function":"={{ $('Loop Over Items').item.json.Secteur || '' }}","phone":"={{ $('Loop Over Items').item.json.Téléphone || '' }}"}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"5ad6be97-1818-49db-aee2-b10dac6cc1e1","name":"Create a contact","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create a contact","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95f307e2-d557-4741-8cc1-b3655b3b2aa5","activeVersionId":"95f307e2-d557-4741-8cc1-b3655b3b2aa5","triggerCount":1,"shared":[{"updatedAt":"2026-04-30T12:01:32.916Z","createdAt":"2026-04-30T12:01:32.916Z","role":"workflow:owner","workflowId":"THiSRRPgPFYqpjWF","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-30T18:38:21.000Z","createdAt":"2026-04-30T18:38:13.009Z","versionId":"95f307e2-d557-4741-8cc1-b3655b3b2aa5","workflowId":"THiSRRPgPFYqpjWF","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,-80],"id":"8fa9d50a-d280-4063-b8c9-2f4d5c9ed09b","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":368693306,"mode":"list","cachedResultName":"Leads Complets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=368693306"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"1d88a612-9fa1-4aa8-96b9-ffbcd4d54c74","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"4d5d98de-8a66-474b-8b5e-e310ba2801ce","name":"If"},{"parameters":{"maxItems":25},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[336,-112],"id":"3f00e08e-e36c-46a5-bba4-7b9c20be2d6c","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}},{"id":"a76e5751-5bdb-482f-acec-c06b0559b5aa","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"El Jadida\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bd600079-9281-413c-9b64-57af632b6e6c","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Kénitra\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8272c8c1-2377-405a-b883-79399e889e14","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Tanger\" }}","operator":{"type":"string","operation":"contains"}},{"id":"a6382832-3ab5-4baf-a8b1-9f4d1b9cc8e4","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Marrakech\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"81a512eb-4839-4e92-9b36-b8adcbab0635","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-112],"id":"3f755d14-9f46-4a45-b946-ed1ebad605c7","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":368693306,"mode":"list","cachedResultName":"Leads Complets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=368693306"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Odoo Envoyé":"Oui","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Prénom","displayName":"Prénom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Société","displayName":"Société","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secteur","displayName":"Secteur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produits","displayName":"Produits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ville","displayName":"Ville","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Adresse e-mail","displayName":"Adresse e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Message","displayName":"Email Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Envoyé ","displayName":"Email Envoyé ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Reponse ","displayName":"Email Reponse ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiments","displayName":"Sentiments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Odoo Envoyé","displayName":"Odoo Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"b3308e36-50b7-46ab-928e-01516a651f4a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"content":"🎫 T-01 — Déclencheur automatique (Schedule Trigger)\n\nMotif : Automatiser le lancement du workflow pour garantir un traitement quotidien sans intervention humaine.\n\nLance le workflow automatiquement chaque matin.\nPermet d’assurer une régularité dans le traitement des leads.\n\nConfiguration :\n\nHeure : 06:20 (Africa/Casablanca)\nFréquence : Tous les jours\n\nTag : Trigger","height":480,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-752,-400],"typeVersion":1,"id":"1cfb2fc5-8118-4414-80ff-7566cab56c03","name":"Sticky Note"},{"parameters":{"content":"🎫 T-02 — Lecture du catalogue (Google Sheets — Get Row(s))\n\nMotif : Centraliser la récupération des données prospects depuis une source unique (Google Sheets).\n\nLit toutes les lignes de l’onglet CATALOGUE2.\nTransmet les données au workflow pour traitement.\n\nSource : Google Sheets — CATALOGUE2\nOutput : 508 lignes\n\nTag : Lecture","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[-432,-400],"typeVersion":1,"id":"d306bd45-6e55-4091-b535-dd8e85729d2d","name":"Sticky Note1"},{"parameters":{"content":"🎫 T-03 — Filtre anti-doublon (If — Odoo Envoyé)\n\nMotif : Éviter la duplication des leads dans Odoo et garantir l’intégrité des données.\n\nVérifie la colonne \"Odoo Envoyé\".\nSi ≠ \"Oui\" → le lead est traité\nSinon → ignoré automatiquement\n\nCondition : Odoo Envoyé ≠ \"Oui\"\nOutput : 508 items → branche TRUE\n\nTag : Filtre\n","height":480,"width":224},"type":"n8n-nodes-base.stickyNote","position":[-160,-400],"typeVersion":1,"id":"e5117c03-c12d-49b1-8da1-d30372cbbcfe","name":"Sticky Note2"},{"parameters":{"content":"🎫 T-04 — Filtre géographique (If — Ville)\n\nMotif : Cibler uniquement les zones stratégiques pour améliorer la pertinence commerciale.\n\nFiltre les prospects selon les villes ciblées.\nIgnore les autres sans bloquer le workflow.\n\nVilles ciblées :\nCasablanca, Rabat, El Jadida, Kénitra, Tanger, Marrakech\n\nOutput : 406 items éligibles\n\nTag : Filtre","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[64,-400],"typeVersion":1,"id":"2c3b7b7e-8dc8-437a-8d43-b48b234e8edf","name":"Sticky Note3"},{"parameters":{"content":"🎫 T-05 — Limitation du traitement (Limit)\n\nMotif : Éviter la surcharge de l’API Odoo et contrôler le flux de création des leads.\n\nLimite le nombre de leads traités par exécution.\n\nConfiguration :\n\nValeur : 15 items max par run\nMode : Keep first items\n\nTag : Limite","height":480,"width":256},"type":"n8n-nodes-base.stickyNote","position":[336,-400],"typeVersion":1,"id":"a6461211-bd38-41e2-b85e-7c6b1fb94ba1","name":"Sticky Note4"},{"parameters":{"content":"🎫 T-06 — Boucle de traitement (Loop Over Items)\n\nMotif : Garantir un traitement séquentiel fiable et éviter les erreurs API.\n\nTraite chaque lead individuellement.\nAssure un enchaînement : création Odoo → mise à jour Sheets.\n\nConfiguration :\n\nBatch size : 1 item\nBranches : Loop / Done\n\nTag : Boucle","height":288,"width":368},"type":"n8n-nodes-base.stickyNote","position":[592,-400],"typeVersion":1,"id":"0353d930-3bbd-4594-b0be-184c779caab1","name":"Sticky Note5"},{"parameters":{"content":"🎫 T-07 — Création du lead dans Odoo (Create an item)\n\nMotif : Automatiser la génération d’opportunités CRM pour accélérer le cycle commercial.\n\nCrée une opportunité dans Odoo avec :\nInfos du prospect\nDescription personnalisée selon le secteur\n\nConfiguration :\n\nModèle : crm.lead\nType : opportunity\nPriorité : ⭐⭐⭐ (niveau 3)\nGestion : 14 secteurs + cas par défaut\n\nTag : Création Odoo","height":464,"width":224},"type":"n8n-nodes-base.stickyNote","position":[976,-416],"typeVersion":1,"id":"1381f887-18cf-44f5-bbc2-44ab675ba6a8","name":"Sticky Note6"},{"parameters":{"content":"🎫 T-08 — Marquage comme traité (Update row in Google Sheets)\n\nMotif : Assurer la traçabilité et éviter tout retraitement des leads déjà envoyés.\n\nMet à jour la ligne après création dans Odoo.\n\nConfiguration :\n\nColonne clé : row_number\nOdoo Envoyé : \"Oui\"\nDate : date du jour (yyyy-MM-dd)\n\nTag : Mise à jour","height":432,"width":272},"type":"n8n-nodes-base.stickyNote","position":[1232,-384],"typeVersion":1,"id":"047c7dc6-f22b-47dd-a580-9513182b3c41","name":"Sticky Note7"},{"parameters":{"contactName":"={{ $('Loop Over Items').item.json.Nom || '' }}","additionalFields":{"email":"={{ $('Loop Over Items').item.json.Email || '' }}","comment":"={{ '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +'<b>Lead issu de la BDD Entreprises</b><br>' +'<b>Action</b> : Cold call à réaliser dans les 48h<br><br>' +'<b>Informations lead</b><br>' +'——————————————<br>' +'<b>Société</b> : ' + ($('Loop Over Items').item.json.Société || 'Non renseigné') + '<br>' +'<b>Contact</b> : ' + ($('Loop Over Items').item.json.Nom || 'Non renseigné') + '<br>' +'<b>Email</b> : ' + ($('Loop Over Items').item.json.Email || 'Non renseigné') + '<br>' +'<b>Téléphone</b> : ' + ($('Loop Over Items').item.json.Téléphone || 'Non renseigné') + '<br>' +'<b>Secteur</b> : ' + ($('Loop Over Items').item.json.Secteur || 'Non renseigné') + '<br>' +'<b>Ville</b> : ' + ($('Loop Over Items').item.json.Ville || 'Non renseigné') + '<br><br>' +'<b>Services recommandés TargetUp Consulting</b><br>' +'——————————————<br>' +($('Loop Over Items').item.json.Secteur == \"Agro-alimentaire\" ?'<b>1. Certification ISO 22000 / HACCP</b><br>- Pourquoi: Sécuriser votre chaîne de production et répondre aux normes d\\'exportation<br>- Impact: Accès aux marchés internationaux et réduction des non-conformités<br><br>' +'<b>2. Programme Go Siyaha / MOUWAKABA</b><br>- Pourquoi: Financer votre modernisation et votre mise aux normes<br>- Impact: Subventions jusqu\\'à 90% pour digitaliser votre outil de production<br><br>' +'<b>3. Lean Six Sigma (Green Belt)</b><br>- Pourquoi: Réduire les pertes et optimiser vos coûts de production<br>- Impact: Hausse des marges de 15 à 25%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Agriculture\" ?'<b>1. Certification ISO 14001 & ISO 45001</b><br>- Pourquoi: Maîtriser votre impact environnemental et protéger vos équipes<br>- Impact: Accès aux labels durables et réduction des risques<br><br>' +'<b>2. Programme Export Maroc / BERD Assistance Locale</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80% pour la certification et la digitalisation<br><br>' +'<b>3. Bilan Carbone & Stratégie ESG</b><br>- Pourquoi: Anticiper les exigences des distributeurs européens<br>- Impact: Positionnement durable et différenciant<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Avicole\" ?'<b>1. ISO 22000 & HACCP</b><br>- Pourquoi: Garantir la traçabilité et la sécurité sanitaire de vos produits<br>- Impact: Accès aux marchés sensibles et réduction des pertes<br><br>' +'<b>2. Lean Management & 5S</b><br>- Pourquoi: Optimiser vos élevages et réduire les coûts opérationnels<br>- Impact: Productivité augmentée de 15 à 20%<br><br>' +'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif pour transformer votre outil de production<br>- Impact: Financement public et performance durable<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Artisanat\" ?'<b>1. Certification Produit (Origine & Qualité)</b><br>- Pourquoi: Valoriser votre savoir-faire et lutter contre la contrefaçon<br>- Impact: Positionnement premium + accès aux chaînes de luxe<br><br>' +'<b>2. Programme INTELAKA / Programme Export Maroc</b><br>- Pourquoi: Financer votre développement commercial à l\\'international<br>- Impact: Subventions jusqu\\'à 80% pour l\\'export<br><br>' +'<b>3. Transformation Digitale (E-commerce & Marketing)</b><br>- Pourquoi: Vendre directement sans intermédiaire<br>- Impact: Augmentation des marges de 30%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Textile\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux exigences des donneurs d\\'ordre internationaux<br>- Impact: Nouvelles opportunités B2B + prix premium<br><br>' +'<b>2. Lean Management & 5S</b><br>- Pourquoi: Réduction des délais et des déchets de production<br>- Impact: Productivité augmentée de 20%<br><br>' +'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif de 6 mois financé<br>- Impact: Transformation durable de l\\'outil industriel<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Cuir\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux normes des marques internationales<br>- Impact: Accès aux donneurs d\\'ordre premium<br><br>' +'<b>2. Lean Six Sigma</b><br>- Pourquoi: Optimiser la coupe et réduire les chutes de matière<br>- Impact: Réduction des coûts matières de 10 à 15%<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Electricité et Energies\" ?'<b>1. ISO 50001 (Management de l\\'Énergie)</b><br>- Pourquoi: Maîtriser vos coûts énergétiques et optimiser votre production<br>- Impact: Réduction de 15 à 30% de la facture énergétique<br><br>' +'<b>2. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Sécuriser vos interventions et chantiers<br>- Impact: Meilleurs taux de sinistralité + appels d\\'offres publics<br><br>' +'<b>3. Audit ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des investisseurs et donneurs d\\'ordre<br>- Impact: Accès aux financements verts<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Transport et Logistique\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Rassurer vos clients et optimiser vos processus<br>- Impact: Accès aux appels d\\'offres grands comptes<br><br>' +'<b>2. Digitalisation & TMS (via Odoo)</b><br>- Pourquoi: Optimiser vos tournées et suivre vos colis en temps réel<br>- Impact: Réduction des coûts logistiques de 10 à 20%<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"BTP et Mines\" ?'<b>1. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Réduire les accidents et les arrêts de chantier<br>- Impact: Meilleurs taux de sinistralité + accès aux grands projets<br><br>' +'<b>2. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre qualité et votre gestion environnementale<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' +'<b>3. ERP Odoo (Gestion de projet BTP)</b><br>- Pourquoi: Centraliser devis, achats, stocks et planning chantier<br>- Impact: Visibilité temps réel sur la rentabilité des projets<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Métallurgie et Plasturgie\" ?'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre production pour les donneurs d\\'ordre industriels<br>- Impact: Nouvelles opportunités B2B<br><br>' +'<b>2. Lean Six Sigma</b><br>- Pourquoi: Réduire les rebuts et optimiser les temps de cycle<br>- Impact: Hausse des marges de 15 à 20%<br><br>' +'<b>3. ERP Odoo (Industrie)</b><br>- Pourquoi: Gérer vos nomenclatures, stocks et ordres de fabrication<br>- Impact: Productivité augmentée et traçabilité renforcée<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Banques et Assurances\" ?'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Protéger les données sensibles de vos clients<br>- Impact: Conformité réglementaire et confiance renforcée<br><br>' +'<b>2. ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des régulateurs et investisseurs<br>- Impact: Positionnement durable et financements verts<br><br>' +'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la conformité<br>- Impact: Amélioration continue des équipes<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Trading\" ?'<b>1. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' +'<b>2. ISO 9001</b><br>- Pourquoi: Structurer vos processus achats et ventes<br>- Impact: Professionnalisation et crédibilité accrue<br><br>' +'<b>3. ERP Odoo (Commerce)</b><br>- Pourquoi: Gérer vos devis, commandes et stocks<br>- Impact: Visibilité temps réel sur votre activité<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Conseil et Ingénierie\" ?'<b>1. Partenariat Stratégique TargetUp</b><br>- Pourquoi: Mutualiser vos offres avec notre expertise certifiante<br>- Impact: Élargissement de votre catalogue services<br><br>' +'<b>2. Formation Continue (Lead Auditor)</b><br>- Pourquoi: Certifier vos consultants sur les normes ISO<br>- Impact: Valeur ajoutée pour vos clients<br><br>' +'<b>3. Accompagnement ESG</b><br>- Pourquoi: Intégrer la durabilité dans vos missions<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' : '') +($('Loop Over Items').item.json.Secteur == \"Technologies de l'information\" ?'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Certifier vos solutions et rassurer vos clients<br>- Impact: Accès aux marchés sensibles (banque, santé, administration)<br><br>' +'<b>2. Partenariat Odoo</b><br>- Pourquoi: Intégrer l\\'ERP leader dans vos offres<br>- Impact: Récurrence et valeur ajoutée<br><br>' +'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +(![\"Agro-alimentaire\",\"Agriculture\",\"Avicole\",\"Artisanat\",\"Textile\",\"Cuir\",\"Electricité et Energies\",\"Transport et Logistique\",\"BTP et Mines\",\"Métallurgie et Plasturgie\",\"Banques et Assurances\",\"Trading\",\"Conseil et Ingénierie\",\"Technologies de l'information\"].includes($('Loop Over Items').item.json.Secteur) ?'<b>1. Audit Stratégique Offert</b><br>- Pourquoi: Diagnostiquer vos opportunités de croissance<br>- Impact: Feuille de route personnalisée sans engagement<br><br>' +'<b>2. Accompagnement sur Mesure</b><br>- Pourquoi: Identifier les financements publics adaptés à votre secteur<br>- Impact: Optimisation de votre trésorerie<br><br>' +'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la performance<br>- Impact: Amélioration continue durable<br><br>' : '') }}","function":"={{ $('Loop Over Items').item.json.Secteur || '' }}","phone":"={{ $('Loop Over Items').item.json.Téléphone || '' }}"}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"5ad6be97-1818-49db-aee2-b10dac6cc1e1","name":"Create a contact","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create a contact","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 95f307e2","description":"","autosaved":true},"tags":[]}