correctiondonn-espistes-UFupOAWmGY55y9x9.json
{"updatedAt":"2026-03-25T20:00:05.526Z","createdAt":"2026-03-23T08:52:50.250Z","id":"UFupOAWmGY55y9x9","name":"CorrectionDonnéesPistes","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","returnAll":true,"options":{},"filterRequest":{"filter":[{"fieldName":"user_id","value":"={{ 329 }}"},{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[320,-96],"id":"ded8dbc5-9c91-4573-acf2-c7d912004534","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,-80],"id":"f0c2a981-1432-4e25-9734-3c2aea51600b","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Read the provided contact information and correct the phone number and email address based on the country and city.\n\nRules:\n\nPhone Number\n\nEnsure the number includes the correct international country code.\n\nIf the \"+\" prefix is missing, add it.\n\nIf the number appears local, convert it to the international format using the country information.\n\nRemove spaces, symbols, or characters that make the number invalid.\n\nDo not invent numbers; only correct formatting or obvious missing prefixes.\n\nEmail Address\n\nFix obvious typos or formatting errors such as:\n\nMissing \"@\"\n\nMissing domain (e.g., .com, .fr, .ma)\n\nCommon typos like gmai, gmial, yaho, hotmai\n\nCorrect them to the most likely valid format.\n\nKeep the original username if possible.\nThe information :\n\nPhone: {{ $json.phone_sanitized }}\nEmail: {{ $json.email_normalized }}\n\nIf a value cannot be confidently corrected, return the original value.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1072,48],"id":"34f6bc89-181a-43fc-94dc-c90bdee5f8a5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,240],"id":"7bad2708-0d28-4823-97f1-f718afac4315","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hW0doR3YPkXdrA36","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1184,240],"id":"f64f9779-e831-446e-a8d3-20b24adace1f","name":"Simple Memory"},{"parameters":{"jsCode":"const output = $input.first().json.output;\n\n// Extraire le téléphone\nconst phone = output.match(/Phone:\\s*([^\\n]+)/)[1];\n\n// Extraire l'email\nconst email = output.match(/Email:\\s*([^\\n]+)/)[1];\n\nreturn {\n  phone: phone,\n  email: email\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,48],"id":"36bd18e2-500b-4bdc-be34-a1c2d519811e","name":"Code in JavaScript"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Loop Over Items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"phone","fieldValue":"={{$json.phone }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\ncorrection de données fait"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1632,48],"id":"bcadddd8-7e16-4fcc-b648-c85224e43d21","name":"Update an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,-96],"id":"5c58fc4f-c311-426c-a666-657ebbcf3d80","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b4b09425-4e5c-48e2-9d86-696333e47aa1","leftValue":"={{ $json.description }}","rightValue":"correction de données fait","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-96],"id":"6e1e533c-cee6-4712-a6f4-931f22a35506","name":"If"}],"connections":{"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update an item1","type":"main","index":0}]]},"Update an item1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"47d73916-cadd-4e5a-b9d3-4b30d9d425e7","activeVersionId":"47d73916-cadd-4e5a-b9d3-4b30d9d425e7","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:52:50.252Z","createdAt":"2026-03-23T08:52:50.252Z","role":"workflow:owner","workflowId":"UFupOAWmGY55y9x9","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-25T20:00:09.000Z","createdAt":"2026-03-25T20:00:05.527Z","versionId":"47d73916-cadd-4e5a-b9d3-4b30d9d425e7","workflowId":"UFupOAWmGY55y9x9","nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","returnAll":true,"options":{},"filterRequest":{"filter":[{"fieldName":"user_id","value":"={{ 329 }}"},{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[320,-96],"id":"ded8dbc5-9c91-4573-acf2-c7d912004534","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,-80],"id":"f0c2a981-1432-4e25-9734-3c2aea51600b","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Read the provided contact information and correct the phone number and email address based on the country and city.\n\nRules:\n\nPhone Number\n\nEnsure the number includes the correct international country code.\n\nIf the \"+\" prefix is missing, add it.\n\nIf the number appears local, convert it to the international format using the country information.\n\nRemove spaces, symbols, or characters that make the number invalid.\n\nDo not invent numbers; only correct formatting or obvious missing prefixes.\n\nEmail Address\n\nFix obvious typos or formatting errors such as:\n\nMissing \"@\"\n\nMissing domain (e.g., .com, .fr, .ma)\n\nCommon typos like gmai, gmial, yaho, hotmai\n\nCorrect them to the most likely valid format.\n\nKeep the original username if possible.\nThe information :\n\nPhone: {{ $json.phone_sanitized }}\nEmail: {{ $json.email_normalized }}\n\nIf a value cannot be confidently corrected, return the original value.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1072,48],"id":"34f6bc89-181a-43fc-94dc-c90bdee5f8a5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,240],"id":"7bad2708-0d28-4823-97f1-f718afac4315","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hW0doR3YPkXdrA36","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1184,240],"id":"f64f9779-e831-446e-a8d3-20b24adace1f","name":"Simple Memory"},{"parameters":{"jsCode":"const output = $input.first().json.output;\n\n// Extraire le téléphone\nconst phone = output.match(/Phone:\\s*([^\\n]+)/)[1];\n\n// Extraire l'email\nconst email = output.match(/Email:\\s*([^\\n]+)/)[1];\n\nreturn {\n  phone: phone,\n  email: email\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,48],"id":"36bd18e2-500b-4bdc-be34-a1c2d519811e","name":"Code in JavaScript"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Loop Over Items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"phone","fieldValue":"={{$json.phone }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\ncorrection de données fait"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1632,48],"id":"bcadddd8-7e16-4fcc-b648-c85224e43d21","name":"Update an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,-96],"id":"5c58fc4f-c311-426c-a666-657ebbcf3d80","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b4b09425-4e5c-48e2-9d86-696333e47aa1","leftValue":"={{ $json.description }}","rightValue":"correction de données fait","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-96],"id":"6e1e533c-cee6-4712-a6f4-931f22a35506","name":"If"}],"connections":{"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update an item1","type":"main","index":0}]]},"Update an item1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 47d73916","description":"","autosaved":true},"tags":[]}