envoyer-message-pour-le-lead-fb-eXJWA7jsPNPVz0ZE.json
{"updatedAt":"2026-03-25T19:58:54.352Z","createdAt":"2026-03-23T08:47:28.357Z","id":"eXJWA7jsPNPVz0ZE","name":"Envoyer message pour le lead FB","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-1264,368],"id":"95785632-9063-40de-a790-56b23c704dbb","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"d306686f-2ad6-4fc6-88b7-0bdf463a29e1","name":"=Nom","value":"={{ $json.contact_name }}","type":"string"},{"id":"19f628f0-71f9-43d2-b817-32f3f39ef3e8","name":"Formation","value":"={{ $json.name }}","type":"string"},{"id":"c5f590b8-00aa-4205-a06b-c260ae826b9d","name":"Email","value":"={{ $json.email_from }}","type":"string"},{"id":"e82787cb-4e75-4a73-9e1f-31ef00987dab","name":"Phone","value":"={{ $json.phone }}","type":"string"},{"id":"51fd6837-b974-4892-9ec8-ea40d8713028","name":"Date","value":"={{ $json.date_open }}","type":"string"},{"id":"c65c3039-85b8-46b7-b1bf-3ecc449621f1","name":"Country","value":"={{ $json.country_id[1] }} || {{ $json.city }}","type":"string"},{"id":"1013deb3-49ef-4932-82aa-90d913ce61d6","name":"Langue","value":"={{ $json.lang_code }}","type":"string"},{"id":"4be6b8bc-6661-490f-ad18-cdf71576e903","name":"ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,224],"id":"4cc5874c-7343-4bec-a458-4ee30674b978","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-608,208],"id":"3413a802-08c4-4993-84f2-aa9d41b2e037","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.Phone }}","template":"lead_followup_personalized|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.Nom }}"},{"text":"={{ $json.Formation }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-208,224],"id":"3a6c1ea5-691a-4741-ae04-4c6d87dfc0aa","name":"Send template","webhookId":"6c4ce181-34d3-4235-ae7f-a43fa6a33285","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Edit Fields').item.json.ID }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"tag_ids","fieldValue":"={{ [[4, 52]] }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\n\n-------------------------------------------------------------------------------->>>>>>\n\nMessage WhatsApp de salutation envoyé le :\n{{ $now.setZone('Africa/Casablanca').toFormat('yyyy-MM-dd HH:mm:ss') }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[32,208],"id":"f930740a-a814-4044-bf7f-72ff6e0a1278","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,368],"id":"c976ae84-3ff8-4b40-befb-d3efbb6c8d24","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c307ad27-e4b2-4dc4-ba59-639b4a9d2fef","leftValue":"={{ $json.description }}","rightValue":"WhatsApp","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,224],"id":"aa881b85-c166-4948-b5e7-f3d1c02053e6","name":"Deja Envoyé ?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bd305dc-b2ba-4e3b-8acf-317b9c60607c","leftValue":"={{ $json.team_id[0] }}","rightValue":5,"operator":{"type":"number","operation":"equals"}},{"id":"80b20241-da8f-4a60-8d24-add7eef41f25","leftValue":"={{ $json.type }}","rightValue":"=lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,368],"id":"94da7e85-ea0d-4537-a418-92b954f8c69c","name":"Lead et Targteup University Fb lead"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4G_QxDRoPPOqmFR7NYLii4u1sRaio1ruzi2Nfo_LHI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Messages":"={{\n  ($json.Messages ? $json.Messages + \"\\n\" : \"\") +\n  \"Client: Nom : \" + $('Loop Over Items').item.json.contact_name +\n  \" | Formations : \" + $('Loop Over Items').item.json.display_name + \"\\n\" + \"Souhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?\"\n}}\n","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"d2c4d202-4ad9-46e2-8fa5-8a1cbe5a27a7","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[208,0],"id":"a11c1638-8d48-4871-8e20-89cb405fc8fb","name":"Wait","webhookId":"bebdabff-f0e7-43bf-bec7-528186b2809a"}],"connections":{"Get many items":{"main":[[{"node":"Lead et Targteup University Fb lead","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Update an item","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Deja Envoyé ?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lead et Targteup University Fb lead":{"main":[[{"node":"Deja Envoyé ?","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ad6ffad5-019f-4841-81d9-c5ac6a92029d","activeVersionId":"ad6ffad5-019f-4841-81d9-c5ac6a92029d","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:47:28.360Z","createdAt":"2026-03-23T08:47:28.360Z","role":"workflow:owner","workflowId":"eXJWA7jsPNPVz0ZE","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-25T19:58:56.000Z","createdAt":"2026-03-25T19:58:54.353Z","versionId":"ad6ffad5-019f-4841-81d9-c5ac6a92029d","workflowId":"eXJWA7jsPNPVz0ZE","nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-1264,368],"id":"95785632-9063-40de-a790-56b23c704dbb","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"d306686f-2ad6-4fc6-88b7-0bdf463a29e1","name":"=Nom","value":"={{ $json.contact_name }}","type":"string"},{"id":"19f628f0-71f9-43d2-b817-32f3f39ef3e8","name":"Formation","value":"={{ $json.name }}","type":"string"},{"id":"c5f590b8-00aa-4205-a06b-c260ae826b9d","name":"Email","value":"={{ $json.email_from }}","type":"string"},{"id":"e82787cb-4e75-4a73-9e1f-31ef00987dab","name":"Phone","value":"={{ $json.phone }}","type":"string"},{"id":"51fd6837-b974-4892-9ec8-ea40d8713028","name":"Date","value":"={{ $json.date_open }}","type":"string"},{"id":"c65c3039-85b8-46b7-b1bf-3ecc449621f1","name":"Country","value":"={{ $json.country_id[1] }} || {{ $json.city }}","type":"string"},{"id":"1013deb3-49ef-4932-82aa-90d913ce61d6","name":"Langue","value":"={{ $json.lang_code }}","type":"string"},{"id":"4be6b8bc-6661-490f-ad18-cdf71576e903","name":"ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,224],"id":"4cc5874c-7343-4bec-a458-4ee30674b978","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-608,208],"id":"3413a802-08c4-4993-84f2-aa9d41b2e037","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.Phone }}","template":"lead_followup_personalized|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.Nom }}"},{"text":"={{ $json.Formation }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-208,224],"id":"3a6c1ea5-691a-4741-ae04-4c6d87dfc0aa","name":"Send template","webhookId":"6c4ce181-34d3-4235-ae7f-a43fa6a33285","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Edit Fields').item.json.ID }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"tag_ids","fieldValue":"={{ [[4, 52]] }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\n\n-------------------------------------------------------------------------------->>>>>>\n\nMessage WhatsApp de salutation envoyé le :\n{{ $now.setZone('Africa/Casablanca').toFormat('yyyy-MM-dd HH:mm:ss') }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[32,208],"id":"f930740a-a814-4044-bf7f-72ff6e0a1278","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,368],"id":"c976ae84-3ff8-4b40-befb-d3efbb6c8d24","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c307ad27-e4b2-4dc4-ba59-639b4a9d2fef","leftValue":"={{ $json.description }}","rightValue":"WhatsApp","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,224],"id":"aa881b85-c166-4948-b5e7-f3d1c02053e6","name":"Deja Envoyé ?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bd305dc-b2ba-4e3b-8acf-317b9c60607c","leftValue":"={{ $json.team_id[0] }}","rightValue":5,"operator":{"type":"number","operation":"equals"}},{"id":"80b20241-da8f-4a60-8d24-add7eef41f25","leftValue":"={{ $json.type }}","rightValue":"=lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,368],"id":"94da7e85-ea0d-4537-a418-92b954f8c69c","name":"Lead et Targteup University Fb lead"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4G_QxDRoPPOqmFR7NYLii4u1sRaio1ruzi2Nfo_LHI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Messages":"={{\n  ($json.Messages ? $json.Messages + \"\\n\" : \"\") +\n  \"Client: Nom : \" + $('Loop Over Items').item.json.contact_name +\n  \" | Formations : \" + $('Loop Over Items').item.json.display_name + \"\\n\" + \"Souhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?\"\n}}\n","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"d2c4d202-4ad9-46e2-8fa5-8a1cbe5a27a7","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[208,0],"id":"a11c1638-8d48-4871-8e20-89cb405fc8fb","name":"Wait","webhookId":"bebdabff-f0e7-43bf-bec7-528186b2809a"}],"connections":{"Get many items":{"main":[[{"node":"Lead et Targteup University Fb lead","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Update an item","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Deja Envoyé ?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lead et Targteup University Fb lead":{"main":[[{"node":"Deja Envoyé ?","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version ad6ffad5","description":"","autosaved":true},"tags":[]}