envoyer-message-pour-le-lead-exoprt-BIZGxAg89CEpiPki.json
{"updatedAt":"2026-03-25T20:00:42.808Z","createdAt":"2026-03-23T08:47:05.112Z","id":"BIZGxAg89CEpiPki","name":"Envoyer message pour le lead Exoprt","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-1296,368],"id":"f060d086-9628-4690-b3cf-8e87c90a5b33","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"d306686f-2ad6-4fc6-88b7-0bdf463a29e1","name":"=Nom","value":"={{ $json.contact_name }}","type":"string"},{"id":"19f628f0-71f9-43d2-b817-32f3f39ef3e8","name":"Formation","value":"={{ $json.name }}","type":"string"},{"id":"c5f590b8-00aa-4205-a06b-c260ae826b9d","name":"Email","value":"={{ $json.email_from }}","type":"string"},{"id":"e82787cb-4e75-4a73-9e1f-31ef00987dab","name":"Phone","value":"={{ $json.phone }}","type":"string"},{"id":"51fd6837-b974-4892-9ec8-ea40d8713028","name":"Date","value":"={{ $json.date_open }}","type":"string"},{"id":"c65c3039-85b8-46b7-b1bf-3ecc449621f1","name":"Country","value":"={{ $json.country_id[1] }} || {{ $json.city }}","type":"string"},{"id":"1013deb3-49ef-4932-82aa-90d913ce61d6","name":"Langue","value":"={{ $json.lang_code }}","type":"string"},{"id":"4be6b8bc-6661-490f-ad18-cdf71576e903","name":"ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,224],"id":"42759c37-5736-4fbc-a2ca-1cf576516592","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,208],"id":"c4ea9f4f-9680-46b1-8d8e-5af5b308e534","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.Phone }}","template":"lead_export1|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.Nom }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-240,224],"id":"725e34d1-d126-405f-9b5c-91e308879b20","name":"Send template","webhookId":"68f2e97b-ab65-45ad-99dd-69aae5fd418f","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Edit Fields').item.json.ID }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"tag_ids","fieldValue":"={{ [[4, 52]] }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\n\n-------------------------------------------------------------------------------->>>>>>\n\nMessage WhatsApp de salutation Export envoyé le :\n{{ $now.setZone('Africa/Casablanca').toFormat('yyyy-MM-dd HH:mm:ss') }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,208],"id":"aff593ec-ee8c-4937-8e21-e5eb4559f4a4","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1536,368],"id":"7e2bc213-8ac3-4ecc-bb22-cec93370fca1","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c307ad27-e4b2-4dc4-ba59-639b4a9d2fef","leftValue":"={{ $json.description.toString()}}","rightValue":"Export","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,224],"id":"ba143457-f40d-44a0-9803-69962e6ccdd0","name":"Deja Envoyé ?"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4G_QxDRoPPOqmFR7NYLii4u1sRaio1ruzi2Nfo_LHI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Messages":"={{\n  ($json.Messages ? $json.Messages + \"\\n\" : \"\") +\n  \"Client: Nom : \" + $('Loop Over Items').item.json.contact_name +\n  \" | Formations : \" + $('Loop Over Items').item.json.display_name + \"\\n\" + \"Souhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?\"\n}}\n","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"b887693b-e615-4949-854b-d2c67c797d35","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,0],"id":"53dc133b-6ce4-4152-85b6-31c07e3eb061","name":"Wait","webhookId":"8ccc220f-dda8-4d90-baed-aea5ff2157c2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80b20241-da8f-4a60-8d24-add7eef41f25","leftValue":"={{ $json.type }}","rightValue":"lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"86246878-d649-4629-a715-287e9275e32a","leftValue":"={{ $json.display_name }}","rightValue":"EXPORT","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,368],"id":"33dc5c5b-73f2-4320-bbfc-72a8514442e2","name":"Lead et Export"}],"connections":{"Get many items":{"main":[[{"node":"Lead et Export","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Update an item","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Deja Envoyé ?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Lead et Export":{"main":[[{"node":"Deja Envoyé ?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9529e8b0-21ea-4fbf-9fcf-90cbfe6f4fee","activeVersionId":"9529e8b0-21ea-4fbf-9fcf-90cbfe6f4fee","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:47:05.116Z","createdAt":"2026-03-23T08:47:05.116Z","role":"workflow:owner","workflowId":"BIZGxAg89CEpiPki","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-25T20:00:45.000Z","createdAt":"2026-03-25T20:00:42.809Z","versionId":"9529e8b0-21ea-4fbf-9fcf-90cbfe6f4fee","workflowId":"BIZGxAg89CEpiPki","nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"create_date","operator":"like","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-1296,368],"id":"f060d086-9628-4690-b3cf-8e87c90a5b33","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"d306686f-2ad6-4fc6-88b7-0bdf463a29e1","name":"=Nom","value":"={{ $json.contact_name }}","type":"string"},{"id":"19f628f0-71f9-43d2-b817-32f3f39ef3e8","name":"Formation","value":"={{ $json.name }}","type":"string"},{"id":"c5f590b8-00aa-4205-a06b-c260ae826b9d","name":"Email","value":"={{ $json.email_from }}","type":"string"},{"id":"e82787cb-4e75-4a73-9e1f-31ef00987dab","name":"Phone","value":"={{ $json.phone }}","type":"string"},{"id":"51fd6837-b974-4892-9ec8-ea40d8713028","name":"Date","value":"={{ $json.date_open }}","type":"string"},{"id":"c65c3039-85b8-46b7-b1bf-3ecc449621f1","name":"Country","value":"={{ $json.country_id[1] }} || {{ $json.city }}","type":"string"},{"id":"1013deb3-49ef-4932-82aa-90d913ce61d6","name":"Langue","value":"={{ $json.lang_code }}","type":"string"},{"id":"4be6b8bc-6661-490f-ad18-cdf71576e903","name":"ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,224],"id":"42759c37-5736-4fbc-a2ca-1cf576516592","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,208],"id":"c4ea9f4f-9680-46b1-8d8e-5af5b308e534","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.Phone }}","template":"lead_export1|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.Nom }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-240,224],"id":"725e34d1-d126-405f-9b5c-91e308879b20","name":"Send template","webhookId":"68f2e97b-ab65-45ad-99dd-69aae5fd418f","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Edit Fields').item.json.ID }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"tag_ids","fieldValue":"={{ [[4, 52]] }}"},{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description }}\n\n-------------------------------------------------------------------------------->>>>>>\n\nMessage WhatsApp de salutation Export envoyé le :\n{{ $now.setZone('Africa/Casablanca').toFormat('yyyy-MM-dd HH:mm:ss') }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,208],"id":"aff593ec-ee8c-4937-8e21-e5eb4559f4a4","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1536,368],"id":"7e2bc213-8ac3-4ecc-bb22-cec93370fca1","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c307ad27-e4b2-4dc4-ba59-639b4a9d2fef","leftValue":"={{ $json.description.toString()}}","rightValue":"Export","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,224],"id":"ba143457-f40d-44a0-9803-69962e6ccdd0","name":"Deja Envoyé ?"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4G_QxDRoPPOqmFR7NYLii4u1sRaio1ruzi2Nfo_LHI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Messages":"={{\n  ($json.Messages ? $json.Messages + \"\\n\" : \"\") +\n  \"Client: Nom : \" + $('Loop Over Items').item.json.contact_name +\n  \" | Formations : \" + $('Loop Over Items').item.json.display_name + \"\\n\" + \"Souhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?\"\n}}\n","Date":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"b887693b-e615-4949-854b-d2c67c797d35","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,0],"id":"53dc133b-6ce4-4152-85b6-31c07e3eb061","name":"Wait","webhookId":"8ccc220f-dda8-4d90-baed-aea5ff2157c2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80b20241-da8f-4a60-8d24-add7eef41f25","leftValue":"={{ $json.type }}","rightValue":"lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"86246878-d649-4629-a715-287e9275e32a","leftValue":"={{ $json.display_name }}","rightValue":"EXPORT","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,368],"id":"33dc5c5b-73f2-4320-bbfc-72a8514442e2","name":"Lead et Export"}],"connections":{"Get many items":{"main":[[{"node":"Lead et Export","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Update an item","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Deja Envoyé ?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Lead et Export":{"main":[[{"node":"Deja Envoyé ?","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 9529e8b0","description":"","autosaved":true},"tags":[]}