formes---scaleup-J5aR62XEVC0EmwLq.json
{"updatedAt":"2026-03-23T09:28:17.564Z","createdAt":"2026-03-23T08:52:33.810Z","id":"J5aR62XEVC0EmwLq","name":"FORMES - Scaleup","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Diagnostic de Croissance – Programme Scale'Up","formDescription":"=Rejoignez l'élite des PME en forte croissance. Le programme Scale'Up accompagne les dirigeants africains dans la structuration de leur vision et l'excellence de leur exécution. Remplissez ce formulaire pour solliciter un entretien stratégique avec nos experts et propulser votre entreprise au niveau supérieur.","formFields":{"values":[{"fieldLabel":"Nom du l'entreprise","requiredField":true},{"fieldLabel":"Quel est l'effectif actuel de votre entreprise ?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"1-10"},{"option":"10-50"},{"option":"50+"}]},"limitSelection":"exact","requiredField":true},{"fieldLabel":"Dans quelle tranche se situe votre chiffre d'affaires annuel (en EUR) ?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Moins de 100 000 €"},{"option":"100 000 € à 500 000 €"},{"option":"500 000 € à 2 000 000 €"},{"option":"Plus de 2 000 000  €"}]},"requiredField":true},{"fieldLabel":"Pays","requiredField":true},{"fieldLabel":"Ville","requiredField":true},{"fieldLabel":"Activité","requiredField":true},{"fieldLabel":"Nom complet","requiredField":true},{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Téléphone","requiredField":true},{"fieldLabel":"Siteweb"},{"fieldLabel":"Type de formation souhaité","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Master"},{"option":"Doctorat"},{"option":"Autre"}]},"requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Submit","customCss":":root {\n\n\t/* Typography */\n\t--font-family: 'Inter', 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 14px;\n\t--font-size-header: 22px;\n\t--font-size-paragraph: 15px;\n\t--font-size-link: 13px;\n\t--font-size-error: 12px;\n\n\t--font-size-html-h1: 30px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 18px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\n\t--font-size-subheader: 15px;\n\n\n\t/* Core Colors */\n\t--color-background: #f5f7fb;\n\t--color-surface: #ffffff;\n\t--color-border: #e4e7ec;\n\n\t/* Text */\n\t--color-header: #1f2937;\n\t--color-label: #344054;\n\t--color-text: #475467;\n\t--color-muted: #98a2b3;\n\n\t/* Primary Theme */\n\t--color-primary: #635bff;\n\t--color-primary-hover: #5146e5;\n\t--color-primary-light: #eef2ff;\n\n\t/* Links */\n\t--color-link: #635bff;\n\t--color-html-link: #635bff;\n\n\t/* Inputs */\n\t--color-input-border: #d0d5dd;\n\t--color-input-text: #344054;\n\t--color-input-bg: #ffffff;\n\n\t--color-focus-border: #635bff;\n\t--color-focus-shadow: rgba(99, 91, 255, 0.25);\n\n\t/* Buttons */\n\t--color-submit-btn-bg: #635bff;\n\t--color-submit-btn-hover: #5146e5;\n\t--color-submit-btn-text: #ffffff;\n\n\t--color-clear-button-bg: #667085;\n\n\t/* Alerts */\n\t--color-test-notice-text: #b54708;\n\t--color-test-notice-bg: #fff7ed;\n\t--color-test-notice-border: #fed7aa;\n\n\t--color-error: #d92d20;\n\t--color-required: #ff5a3c;\n\n\t/* HTML content */\n\t--color-html-text: #475467;\n\t--color-header-subtext: #667085;\n\n\n\t/* Border Radius */\n\t--border-radius-card: 12px;\n\t--border-radius-input: 8px;\n\t--border-radius-clear-btn: 50%;\n\n\n\t/* Spacing */\n\t--padding-container-top: 32px;\n\t--padding-card: 28px;\n\t--padding-form-input: 14px;\n\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 20px;\n\n\t--margin-bottom-card: 20px;\n\n\n\t/* Layout */\n\t--container-width: 460px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\n\t/* Shadows (more modern depth) */\n\t--box-shadow-card: \n\t\t0 4px 8px rgba(16, 24, 40, 0.04),\n\t\t0 12px 24px rgba(16, 24, 40, 0.08);\n\n\t--box-shadow-focus:\n\t\t0 0 0 3px var(--color-focus-shadow);\n\n\n\t/* Misc */\n\t--opacity-placeholder: 0.6;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"d7aed5c0-d79d-4696-b7ca-0fffa1bd076f","name":"On form submission","webhookId":"a240af40-a869-4cdc-9763-f5531ab12a5f"},{"parameters":{"promptType":"define","text":"=COUNTRY MAPPING\nRemplacer le nom du pays par son ID correspondant si présent dans cette liste :\n\nAfghanistan\t3\nAfrique du Sud\t247\nAlbanie\t6\nAlgérie\t62\nAllemagne\t57\nAndorre\t1\nAngola\t8\nAnguilla\t5\nAntarctique\t9\nAntigua-et-Barbuda\t4\nArabie saoudite\t192\nArgentine\t10\nArménie\t7\nAruba\t14\nAustralie\t13\nAutriche\t12\nAzerbaïdjan\t16\nBahamas\t32\nBahreïn\t23\nBarbade\t18\nBelgique\t20\nBengladesh\t19\nBénin\t25\nBermudes\t27\nBhoutan\t33\nBiélorussie\t36\nBirmanie\t145\nBolivie\t29\nBonaire, Saint-Eustache et Saba\t30\nBosnie-Herzégovine\t17\nBotswana\t35\nBrésil\t31\nBrunéi Darussalam\t28\nBulgarie\t22\nBurkina Faso\t21\nBurundi\t24\nCambodge\t116\nCameroun\t47\nCanada\t38\nCap-Vert\t52\nChili\t46\nChine\t48\nChypre\t55\nColombie\t49\nComores\t118\nCongo\t42\nCorée du Nord\t120\nCorée du Sud\t121\nCosta Rica\t50\nCôte d'Ivoire\t44\nCroatie\t97\nCuba\t51\nCuraçao\t53\nDanemark\t59\nDjibouti\t58\nDominique\t60\nÉgypte\t65\nÉmirats arabes unis\t2\nÉquateur\t63\nÉrythrée\t67\nEspagne\t68\nEstonie\t64\nEswatini\t212\nÉtat de Palestine\t182\nÉtats-Unis\t233\nÉthiopie\t69\nFédération de Russie\t190\nFiji\t71\nFinlande\t70\nFrance\t75\nGabon\t76\nGambie\t84\nGeorgie\t78\nGéorgie du Sud-et-les Îles Sandwich du Sud\t89\nGhana\t80\nGibraltar\t81\nGrèce\t88\nGrenade\t77\nGroenland\t83\nGuadeloupe\t86\nGuam\t91\nGuatemala\t90\nGuinée\t85\nGuinée-Bissau\t92\nGuinée équatoriale\t87\nGuyane\t93\nGuyane française\t79\nHaïti\t98\nHonduras\t96\nHong Kong\t94\nHongrie\t99\nÎle Bouvet\t34\nÎle Christmas\t54\nÎle de Guernesey\t82\nÎle de Man\t103\nÎle Norfolk\t162\nÎles Åland\t15\nÎles Caïmans\t123\nÎles Cocos (Keeling)\t39\nÎles Cook\t45\nÎles Falkland\t72\nÎles Féroé\t74\nÎles Heard-et-MacDonald\t95\nÎles Mariannes du Nord\t148\nÎles Marshall\t142\nÎles mineures éloignées des États-Unis\t232\nÎles Pitcairn\t180\nÎles Salomon\t193\nÎles Turques-et-Caïques\t213\nÎles Vierges (britanniques)\t239\nÎles Vierges (des États-Unis)\t240\nInde\t104\nIndonésie\t100\nIrak\t106\nIran\t107\nIrlande\t101\nIslande\t108\nIsraël\t102\nItalie\t109\nJamaïque\t111\nJapon\t113\nJersey\t110\nJordanie\t112\nKazakhstan\t124\nKenya\t114\nKirghizistan\t115\nKiribati\t117\nKosovo\t250\nKoweït\t122\nLaos\t125\nLa Réunion\t187\nLe Bélize\t37\nLe Salvador\t209\nLesotho\t131\nLes Philippines\t176\nLettonie\t134\nLiban\t126\nLiberia\t130\nLibye\t135\nLiechtenstein\t128\nLituanie\t132\nLuxembourg\t133\nMacao\t147\nMacédoine du Nord\t143\nMadagascar\t141\nMalaisie\t157\nMalawi\t155\nMaldives\t154\nMali\t144\nMalte\t152\nMaroc\t136\nMartinique\t149\nMaurice\t153\nMauritanie\t150\nMayotte\t246\nMexique\t156\nMicronésie\t73\nMoldavie\t138\nMonaco\t137\nMongolie\t146\nMontenegro\t139\nMontserrat\t151\nMozambique\t158\nNamibie\t159\nNauru\t168\nNépal\t167\nNicaragua\t164\nNiger\t161\nNigeria\t163\nNiué\t169\nNorvège\t166\nNouvelle-Calédonie\t160\nNouvelle-Zélande\t170\nOman\t171\nOuganda\t230\nOuzbékistan\t235\nPakistan\t177\nPalau\t184\nPanama\t172\nPapouasie-Nouvelle-Guinée\t175\nParaguay\t185\nPays-Bas\t165\nPérou\t173\nPologne\t178\nPolynésie française\t174\nPorto Rico\t181\nPortugal\t183\nQatar\t186\nRépublique centrafricaine\t40\nRépublique démocratique du Congo\t41\nRépublique dominicaine\t61\nRépublique tchèque\t56\nRoumanie\t188\nRoyaume-Uni\t231\nRwanda\t191\nSahara occidental\t66\nSaint Barthélémy\t26\nSaint-Christophe-et-Niévès\t119\nSainte-Hélène, Ascension et Tristan da Cunha\t198\nSainte-Lucie\t127\nSaint-Marin\t203\nSaint-Martin (partie française)\t140\nSaint-Martin (partie néerlandaise)\t210\nSaint-Pierre-et-Miquelon\t179\nSaint-Siège (État de la Cité du Vatican)\t236\nSaint-Vincent-et-les-Grenadines\t237\nSamoa\t244\nSamoa américaines\t11\nSao Tomé-et-Principe\t208\nSénégal\t204\nSerbie\t189\nSeychelles\t194\nSierra Leone\t202\nSingapour\t197\nSlovaquie\t201\nSlovénie\t199\nSomalie\t205\nSoudan\t195\nSoudan du Sud\t207\nSri Lanka\t129\nSuède\t196\nSuisse\t43\nSuriname\t206\nSvalbard et Jan Mayen\t200\nSyrie\t211\nTadjikistan\t218\nTaïwan\t227\nTanzanie\t228\nTchad\t214\nTerres australes et antarctiques françaises\t215\nTerritoire britannique de l'océan Indien\t105\nThaïlande\t217\nTimor oriental\t223\nTogo\t216\nTokelau\t219\nTonga\t222\nTrinité-et-Tobago\t225\nTunisie\t221\nTurkménistan\t220\nTurquie\t224\nTuvalu\t226\nUkraine\t229\nUruguay\t234\nVanuatu\t242\nVenezuela\t238\nVietnam\t241\nWallis-et-Futuna\t243\nYémen\t245\nZambie\t248\nZimbabwe\t249\n\nThe country : {{ $json.Pays }}\n\nNote : give me just the id number no explanation  no nothing","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[288,0],"id":"ac5e371a-7b3d-4579-ac6c-9d70d605ac85","name":"AI Agent"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[176,256],"id":"a5221114-bc4d-4fd8-b5ab-983f601b23da","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,256],"id":"56da8443-7d78-4239-b8d3-45b8afd79aef","name":"Simple Memory"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"country_id","fieldValue":"={{ $('AI Agent').item.json.output }}"},{"fieldName":"partner_name","fieldValue":"={{ $('On form submission').item.json['Nom du l\\'entreprise'] }}"},{"fieldName":"street","fieldValue":"={{ $('On form submission').item.json.Ville }}"},{"fieldName":"email_from","fieldValue":"={{ $('On form submission').item.json.Email }}"},{"fieldName":"phone","fieldValue":"={{ $('On form submission').item.json['Téléphone'] }}"},{"fieldName":"function","fieldValue":"={{ $('On form submission').item.json['Activité'] }}"},{"fieldName":"name","fieldValue":"=Scaleup"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"team_id","fieldValue":"={{ 5 }}"},{"fieldName":"description","fieldValue":"=<h3>Informations sur l'entreprise</h3>\n\n<p>\n<strong>Effectif actuel de l'entreprise :</strong><br>\n{{ $('On form submission').item.json['Quel est l\\'effectif actuel de votre entreprise ?'][0] }}\n</p>\n\n<p>\n<strong>Chiffre d'affaires annuel :</strong><br>\n{{ $('On form submission').item.json['Dans quelle tranche se situe votre chiffre d\\'affaires annuel (en EUR) ?'][0] }}\n</p>\n\n<h3>Formation souhaitée</h3>\n\n<p>\n<strong>Type de formation :</strong><br>\n{{ $('On form submission').item.json['Type de formation souhaité'][0] }}\n</p>"},{"fieldName":"website","fieldValue":"={{ $('On form submission').item.json.Siteweb }}"},{"fieldName":"contact_name","fieldValue":"={{ $('On form submission').item.json['Nom complet'] }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[640,0],"id":"5238783a-9e07-44d2-aeba-220b3855420c","name":"Create an item","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}}],"connections":{"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Create an item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac1153d2-14da-42e9-803c-263471e32bed","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T08:52:33.813Z","createdAt":"2026-03-23T08:52:33.813Z","role":"workflow:owner","workflowId":"J5aR62XEVC0EmwLq","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}