full-tenders-on-times-O3okl2J6PanIaW86.json
{"updatedAt":"2026-03-27T16:37:50.587Z","createdAt":"2026-03-23T08:45:57.954Z","id":"O3okl2J6PanIaW86","name":"FULL TENDERS ON TIMES","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"985e2b92-e43f-4551-9e2c-871a2209995a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2128,80],"id":"ef992d34-77b6-43d8-a3eb-359580f56945","name":"Webhook","webhookId":"985e2b92-e43f-4551-9e2c-871a2209995a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"778f4b08-ab3f-4d28-81ba-9e2521d6e970","leftValue":"={{ $json.go_nogo }}","rightValue":"GO","operator":{"type":"string","operation":"equals"}},{"id":"0b07621a-e621-48bb-9d37-52f5841cc0a7","leftValue":"={{ $json.score }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,16],"id":"9bfc5618-8d03-44d7-a1aa-a897757b80b2","name":"If"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Webhook').item.json.body.title.replaceAll(\"&lt;/em&gt;\", \"\").replaceAll(\"&lt;em&gt;\",'') }}"},{"fieldName":"partner_name","fieldValue":"={{ $json.client }}"},{"fieldName":"street","fieldValue":"={{ $json.adresse }} "},{"fieldName":"website","fieldValue":"=https://www.tendersontime.com/tenders/advanceSearch?q={{ encodeURIComponent($('Webhook').item.json.body.title) }}\n"},{"fieldName":"contact_name","fieldValue":"={{ $json.nom_contact }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }} {{ $('Webhook').item.json.body.purchaser_email }}"},{"fieldName":"phone","fieldValue":"={{ $json.mobile }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.minus({ days: 1 }).format('DD') + '<br><br>' +\n   '<b>Description</b> : ' + $json.description + '<br><br>' +\n   '<b>Summary</b> : ' + $json.summary + '<br><br>' +\n   '<b>Reasons</b> : ' + $json.reasons.replace(/\\n/g, '<br>') + '<br><br>' +\n   '<b>Strategic Value</b> : <ul>' + ($json.strategic_value ? $json.strategic_value.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' + \n   '<b>Actions</b> : ' + $json.action + '<br><br>' +\n   '<b>Upload Steps</b> : <ul>' + ($json.upload_step ? $json.upload_step.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Risks</b> : <ul>' + ($json.risks ? $json.risks.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Budget</b> : ' + $json.budget  + '<br><br>' +\n   '<b>Caution</b> : ' + $json.Caution + '<br><br>' +\n   '<b>Date de limite</b> : ' + $json.date_limite_soumission + '<br><br>'\n}}\n"},{"fieldName":"function","fieldValue":"={{ $json.titre_contact }}"},{"fieldName":"street2","fieldValue":"={{ $json.pays }} {{ $json.ville }} {{ $json.rue }} {{ $json.code_postal }}\n"},{"fieldName":"city","fieldValue":"={{ $json.ville }}"},{"fieldName":"country_id","fieldValue":"={{ $json.pays }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,0],"id":"0fb3403d-e107-46ad-9202-13b27ba56232","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reponse\": \"Score less then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-96,480],"id":"a8f51ddb-0d0f-48d9-bb0f-53b3307c9f65","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[736,0],"id":"780234f1-dcac-414c-931c-504471c7a062","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// ===============================\n// SAFE EXTRACTION FROM MODEL NODE\n// ===============================\n\n// 1️⃣ Get the input data\nconst inputData = $input.first().json;\nlet raw = null;\n\n// Handle different possible n8n/AI output structures\nif (inputData.output && Array.isArray(inputData.output) && inputData.output[0]?.content?.[0]?.text) {\n  raw = inputData.output[0].content[0].text;\n} else if (typeof inputData.output === \"string\") {\n  raw = inputData.output;\n} else if (typeof inputData.text === \"string\") {\n  raw = inputData.text;\n} else if (typeof inputData.output === \"object\") {\n  // If it's already an object, stringify it so the cleaner can process it or skip to assignment\n  raw = JSON.stringify(inputData.output);\n}\n\nif (!raw) {\n  throw new Error(\"No model text found in input\");\n}\n\n// 2️⃣ Clean JSON formatting (remove ```json blocks)\nconst cleanJson = raw.replace(/```json|```/gi, \"\").trim();\n\n// 3️⃣ Parse the JSON safely\nlet obj; // Declared once here\ntry {\n  obj = JSON.parse(cleanJson);\n} catch (err) {\n  throw new Error(\"Invalid JSON from model:\\n\" + cleanJson);\n}\n\n// ===============================\n// BUILD FINAL OUTPUT\n// ===============================\nconst out = {};\n\n// --- TOP LEVEL ---\nout.score = Number(obj.score) || 0;\nout.priority = (obj.priority || \"\").toString().trim();\nout.go_nogo = obj.go_nogo || \"\";\nout.reasons = Array.isArray(obj.reasons) ? obj.reasons.join(\" || \") : (obj.reasons || \"\");\nout.summary = obj.summary || \"\";\n\n// --- FIT ---\nout.alignment = obj.fit?.alignment || \"\";\nout.type = obj.fit?.type || \"\";\nout.budget_class = obj.fit?.budget_class || \"\";\nout.delivery_mode = obj.fit?.delivery_mode || \"\";\nout.deadline_ok = obj.fit?.deadline_ok ?? \"\";\n\n// --- DETAILS ---\nconst d = obj.details || {};\nout.client = d.client || \"\";\nout.type_opportunite = d.type_opportunite || \"\";\n\n// --- MODE DE PASSATION MAPPING ---\nconst modeTxt = (d.mode_passation || \"\").toLowerCase();\nif (modeTxt.includes(\"ao ouvert\")) out.mode_passation = \"4247d725742a05e7\";\nelse if (modeTxt.includes(\"consultation\")) out.mode_passation = \"f374dfea602ed07e\";\nelse if (modeTxt.includes(\"manifestation\")) out.mode_passation = \"70069e67a2e765de\";\nelse out.mode_passation = \"\";\n\n// --- COMPANY & CONTACT ---\nout.nom_societe = d.nom_societe || \"\";\nout.adresse = d.adresse || \"\";\nout.rue = d.rue || \"\";\nout.ville = d.ville || \"\";\nout.etat = d.etat || \"\";\nout.code_postal = d.code_postal || \"\";\nout.pays = d.pays || \"\";\nout.site_web = d.site_web || \"\";\nout.langue = d.langue || \"\";\nout.nom_contact = d.nom_contact || \"\";\nout.titre_contact = d.titre_contact || \"\";\nout.email = d.email || \"\";\nout.poste = d.poste || \"\";\nout.mobile = d.mobile || \"\";\nout.vendeur = d.vendeur || \"\";\nout.equipe_commerciale = d.equipe_commerciale || \"\";\nout.secteur_activite = d.secteur_activite || \"\";\nout.taille_entreprise = d.taille_entreprise || \"\";\nout.nb_annees_experience = d.nb_annees_experience || \"\";\nout.description = d.description || \"\";\n\n// --- NUMERIC ---\nout.budget = Number(d.budget) || 0;\nout.Caution = Number(d.Caution) || 0;\n\n// --- DATE FORMAT FOR ODOO ---\nconst rawDate = d.date_limite_soumission;\nif (rawDate) {\n  const date = new Date(rawDate);\n  if (!isNaN(date)) {\n    const yyyy = date.getFullYear();\n    const mm = String(date.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(date.getDate()).padStart(2, \"0\");\n    const hh = String(date.getHours()).padStart(2, \"0\");\n    const mi = String(date.getMinutes()).padStart(2, \"0\");\n    const ss = String(date.getSeconds()).padStart(2, \"0\");\n    out.date_limite_soumission = `${yyyy}-${mm}-${dd} ${hh}:${mi}:${ss}`;\n  } else {\n    out.date_limite_soumission = null;\n  }\n} else {\n  out.date_limite_soumission = null;\n}\n\n// --- STRATEGIC / UPLOAD / RISKS ---\nfunction arrayToBullet(arr) {\n  if (!Array.isArray(arr)) return arr || \"\";\n  return arr.map((s) => `• ${s}`).join(\"\\n\");\n}\n\nout.strategic_value = arrayToBullet(obj.strategic_value);\nout.upload_step = arrayToBullet(obj.upload_step);\nout.risks = arrayToBullet(obj.risks);\n\n// --- NEXT ACTIONS ---\nconst na = (Array.isArray(obj.next_actions) ? obj.next_actions[0] : obj.next_actions) || {};\nout.owner = na.owner || \"\";\nout.action = na.action || \"\";\nout.sla_hours = Number(na.sla_hours) || 0;\n\n// --- STEPS ---\nif (Array.isArray(na.steps)) {\n  out.steps_summary = na.steps\n    .map((s, i) => `Step ${i + 1}: ${s.step || \"\"} | Document: ${s.document || \"\"} | Folder: ${s.folder || \"\"}`)\n    .join(\" || \");\n} else {\n  out.steps_summary = \"\";\n}\n\n// --- PRIORITY NUMBER ---\nconst p = out.priority.toUpperCase();\nif (p === \"H\") out.priority_number = 3;\nelse if (p === \"M\") out.priority_number = 2;\nelse if (p === \"L\") out.priority_number = 1;\nelse out.priority_number = 0;\n\n// ===============================\n// RETURN SINGLE ITEM\n// ===============================\nreturn [{ json: out }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,64],"id":"aa91d580-1c78-4d88-b14c-a832c81d0050","name":"Code in JavaScript","onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"team_id","fieldValue":"={{ 16 }}"},{"fieldName":"priority","fieldValue":"={{ $('Code in JavaScript').item.json.priority_number.toString().trim() }}"},{"fieldName":"source_id","fieldValue":"={{ 376 }}"},{"fieldName":"lead_properties","fieldValue":"={{\nJSON.stringify([\n  {\n    \"name\": \"e7d6e8ea190d4ca6\",\n    \"type\": \"integer\",\n    \"string\": \"Budget estimé (MAD)\",\n    \"value\": (() => {\n      const budget = $('If').item.json.budget;\n      if (!budget || String(budget).toLowerCase().includes('non précisé') || String(budget).toLowerCase().includes('unknown')) return 0;\n      const clean = String(budget).replace(/[^\\d.-]/g, '');\n      const num = Number(clean);\n      return isNaN(num) ? 0 : num;\n    })()\n  },\n  {\n    \"name\": \"dee56c6c1afbe794\",\n    \"type\": \"integer\",\n    \"string\": \"Caution\",\n    \"value\": $('If').item.json.Caution || 0\n  },\n  {\n    \"name\": \"6c8a4697f1207a00\",\n    \"type\": \"datetime\",\n    \"string\": \"Date limite de soumission\",\n    \"value\": (() => {\n      const raw = $('Code in JavaScript').item.json.date_limite_soumission;\n      if (!raw) return false;\n      // Normalize format for Odoo: \"YYYY-MM-DD HH:MM:SS\"\n      const date = new Date(raw);\n      return date.toISOString().slice(0, 19).replace('T', ' ');\n    })()\n  },\n  {\n    \"name\": \"94725c5f29d14548\",\n    \"type\": \"selection\",\n    \"string\": \"Mode de passation\",\n    \"value\": $('If').item.json.mode_passation || false\n  },\n  {\n    \"name\": \"e0648c499207fcd1\",\n    \"type\": \"integer\",\n    \"string\": \"Score IA\",\n    \"value\": $('If').item.json.score || 0\n  },\n  {\n    \"name\": \"744143249c04537a\",\n    \"type\": \"selection\",\n    \"string\": \"Recommandation IA\",\n    \"value\": (() => {\n      const val = String($('If').item.json.go_nogo || '').trim().toUpperCase();\n      switch (val) {\n        case 'GO': return '18d02919b7324473';\n        case 'NO_GO':\n        case 'NO-GO': return '8782e3c3665fee24';\n        case 'REVIEW': return '183e6d717b50c448';\n        default: return false;\n      }\n    })()\n  }\n])\n}}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[192,0],"id":"2a605797-b05c-47b0-9d20-fdfacfa01211","name":"Update an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,496],"id":"db443904-d2c5-4177-970c-40719459c44f","name":"Wait","webhookId":"095affac-2925-4ff0-898c-450644de851f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,0],"id":"4af9f839-25af-42e3-8de5-7dcf3eaac887","name":"Wait1","webhookId":"ff766610-1b47-45ce-aca9-6a6eb3a44a7d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,256],"id":"c08da27c-4c31-418d-a3e8-f3bf2365e5cd","name":"Respond to Webhook2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,256],"id":"3924ce3b-e8ab-4b05-bfc3-031dac6d7d5f","name":"Wait2","webhookId":"ff766610-1b47-45ce-aca9-6a6eb3a44a7d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b484edc-498c-43df-a853-f6e41de766b5","leftValue":"={{ $json.output }}","rightValue":"=Oui","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,80],"id":"36c4e2b1-262d-4993-9211-ba06a815dbaa","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1552,432],"id":"97bd07de-a696-4174-9c47-67ce19e14d0e","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Accepté","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[384,0],"id":"9c8cd0ee-1337-4698-9c64-2e8d744b41d7","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,256],"id":"db995665-f0e8-46ca-acca-55a3fee4e88c","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Tu es un assistant expert en analyse, qualification et filtrage d’opportunités B2B\n(AO / AMI / Grants / Programmes de formation / Référencements).\n\nMissions obligatoires\n\nExtraire toutes les informations clés de l’opportunité à partir du champ EXTRACTED TEXT.\n\nÉvaluer l’opportunité selon :\n\nLes filtres et priorités TargetUp\n\nLe pipeline TargetUp\n\nLes règles strictes GO / NO-GO\n\nCas particulier\n\nCONTEXTE TARGETUP\nA. Présentation de TargetUp (Identité & Positionnement)\n\nTargetUp est une structure duale, proposant un accompagnement B2B à 360° :\n\nTargetUp Consulting\nCabinet de conseil spécialisé dans :\n\nAudit\n\nConseil stratégique\n\nAccompagnement opérationnel\n\nImplémentation de solutions de performance pour les organisations\n\nTargetUp University\nOrganisme de formation supérieure et professionnelle :\n\nRenforcement des capacités\n\nCertifications\n\nFormations exécutives\n\nDiffusion de l’expertise (B2B & B2C)\n\nRÈGLES DE GO / NO-GO\nB. Pays autorisés (Liste Blanche – par priorité stratégique)\n\nPriorité 1 – Hub principal\n\nMaroc (Siège)\n\nPriorité 2 – Hubs stratégiques UEMOA / CEMAC\n\nSénégal\n\nCôte d’Ivoire\n\nCameroun\n\nGabon\n\nPriorité 3 – Afrique de l’Ouest\n\nBénin\n\nBurkina Faso\n\nGuinée\n\nMali\n\nMauritanie\n\nNiger\n\nTogo\n\nGuinée-Bissau\n\nCap-Vert\n\nPriorité 4 – Afrique Centrale\n\nTchad\n\nCongo (République)\n\nRDC\n\nRCA\n\nGuinée Équatoriale\n\nPriorité 5 – Afrique de l’Est & Océan Indien\n\nBurundi\n\nComores\n\nDjibouti\n\nMadagascar\n\nSeychelles\n\n❌ RÈGLES NO-GO (REJET AUTOMATIQUE)\nA. Exclusions métier (rejet par domaine)\n\nToute opportunité dont l’objet principal relève de l’un des domaines suivants est automatiquement rejetée :\n\nTravaux / BTP / Génie civil\n\nFournitures (équipements, matériels, consommables, EPI)\n\nMaintenance technique ou achat d’équipements\n\nGardiennage & sécurité physique\n\nCatering & restauration\n\nTransport & logistique pure\n\nNettoyage & gestion des déchets\n\nB. Conditions commerciales & opérationnelles (rejet automatique)\n\nUn AO est NO-GO immédiatement si au moins une des conditions suivantes est vraie :\n\nBudget < 150 000 MAD\n\nDélai de réponse < 10 jours calendaires\n\nCaution / garantie bancaire > 20 000 MAD\n\nPays hors Liste Blanche\n\nDomaine hors périmètre TargetUp ou relevant des exclusions métier\n\nConditions de paiement > 70 jours après facture\n\nMarge brute estimée < 30% (charges > 70% du budget)\n\nDurée d’exécution > 12 mois sans validation préalable de la direction\n\nAgréments / qualifications obligatoires non disponibles chez TargetUp avant la date limite\n\nPARAMÈTRES D’EXÉCUTION\n\ntemperature = 0.25\n\ntop_p = 0.9\n\nmax_tokens = 100\n\nDONNÉES DE L’OPPORTUNITÉ\n\nThe Opportunity :\n\nTitre :  {{ $('Webhook').item.json.body.title }}  \nFull text Documents : {{ $('Webhook').item.json.body.notice_text }}  \nFull text documents 2 : {{ $('Webhook').item.json.body.additional_text_all }}  \nDescription : {{ $('Webhook').item.json.body.description }} \n\n\nOUTPUT FINAL (OBLIGATOIRE)\n\nRépondre uniquement par :\n\"Oui\" ou \"No\"\n\nAucune explication, justification ou texte supplémentaire autorisé","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1888,80],"id":"e5e54e20-7057-4fe1-8767-50abec3f015f","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1872,320],"id":"b2a6c627-2225-4a79-9862-f322c744e373","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Tu es un assistant d’analyse et de filtrage d’opportunités B2B (AO / AMI / Grants / Formations / Référencements).\nRôle :\n\nExtraire toutes les informations importantes de l’opportunité (voir TEXT EXTRACTED).\n\nÉvaluer l’opportunité selon les le pipeline TargetUp\nVérifier l’alignement de l’opportunité uniquement avec les services proposés par TargetUp Consulting et TargetUp University.\n\nGénérer une réponse JSON stricte, compacte et valide selon le schéma fourni.\n\n\nCONTEXTE TARGETUP\n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n\n\n\nSECTION EXTRACTION\n\nExtraire depuis le texte, si disponible :\nclient, type_opportunite, nom_societe, adresse, rue, ville, etat, code_postal, pays, site_web, langue, nom_contact, titre_contact, email, poste, mobile, vendeur, equipe_commerciale, secteur_activite, taille_entreprise, nb_annees_experience, description, budget, Caution, date_limite_soumission\ntype_opportunite : \"service\" ou \"formation\" uniquement.\nbudget : en MAD, entier. Convertir € → MAD (×11), $ → MAD (×10). Si absent → 0.\nCaution : montant séparé, en MAD. Si absent → 0.\nmode_passation : \"AO ouvert\", \"consultation\", \"appel à manifestation d'intérêt\" uniquement.\n\nCOUNTRY MAPPING\nRemplacer le nom du pays par son ID correspondant si présent dans cette liste :\n\nAfghanistan\t3\nAfrique du Sud\t247\nAlbanie\t6\nAlgérie\t62\nAllemagne\t57\nAndorre\t1\nAngola\t8\nAnguilla\t5\nAntarctique\t9\nAntigua-et-Barbuda\t4\nArabie saoudite\t192\nArgentine\t10\nArménie\t7\nAruba\t14\nAustralie\t13\nAutriche\t12\nAzerbaïdjan\t16\nBahamas\t32\nBahreïn\t23\nBarbade\t18\nBelgique\t20\nBengladesh\t19\nBénin\t25\nBermudes\t27\nBhoutan\t33\nBiélorussie\t36\nBirmanie\t145\nBolivie\t29\nBonaire, Saint-Eustache et Saba\t30\nBosnie-Herzégovine\t17\nBotswana\t35\nBrésil\t31\nBrunéi Darussalam\t28\nBulgarie\t22\nBurkina Faso\t21\nBurundi\t24\nCambodge\t116\nCameroun\t47\nCanada\t38\nCap-Vert\t52\nChili\t46\nChine\t48\nChypre\t55\nColombie\t49\nComores\t118\nCongo\t42\nCorée du Nord\t120\nCorée du Sud\t121\nCosta Rica\t50\nCôte d'Ivoire\t44\nCroatie\t97\nCuba\t51\nCuraçao\t53\nDanemark\t59\nDjibouti\t58\nDominique\t60\nÉgypte\t65\nÉmirats arabes unis\t2\nÉquateur\t63\nÉrythrée\t67\nEspagne\t68\nEstonie\t64\nEswatini\t212\nÉtat de Palestine\t182\nÉtats-Unis\t233\nÉthiopie\t69\nFédération de Russie\t190\nFiji\t71\nFinlande\t70\nFrance\t75\nGabon\t76\nGambie\t84\nGeorgie\t78\nGéorgie du Sud-et-les Îles Sandwich du Sud\t89\nGhana\t80\nGibraltar\t81\nGrèce\t88\nGrenade\t77\nGroenland\t83\nGuadeloupe\t86\nGuam\t91\nGuatemala\t90\nGuinée\t85\nGuinée-Bissau\t92\nGuinée équatoriale\t87\nGuyane\t93\nGuyane française\t79\nHaïti\t98\nHonduras\t96\nHong Kong\t94\nHongrie\t99\nÎle Bouvet\t34\nÎle Christmas\t54\nÎle de Guernesey\t82\nÎle de Man\t103\nÎle Norfolk\t162\nÎles Åland\t15\nÎles Caïmans\t123\nÎles Cocos (Keeling)\t39\nÎles Cook\t45\nÎles Falkland\t72\nÎles Féroé\t74\nÎles Heard-et-MacDonald\t95\nÎles Mariannes du Nord\t148\nÎles Marshall\t142\nÎles mineures éloignées des États-Unis\t232\nÎles Pitcairn\t180\nÎles Salomon\t193\nÎles Turques-et-Caïques\t213\nÎles Vierges (britanniques)\t239\nÎles Vierges (des États-Unis)\t240\nInde\t104\nIndonésie\t100\nIrak\t106\nIran\t107\nIrlande\t101\nIslande\t108\nIsraël\t102\nItalie\t109\nJamaïque\t111\nJapon\t113\nJersey\t110\nJordanie\t112\nKazakhstan\t124\nKenya\t114\nKirghizistan\t115\nKiribati\t117\nKosovo\t250\nKoweït\t122\nLaos\t125\nLa Réunion\t187\nLe Bélize\t37\nLe Salvador\t209\nLesotho\t131\nLes Philippines\t176\nLettonie\t134\nLiban\t126\nLiberia\t130\nLibye\t135\nLiechtenstein\t128\nLituanie\t132\nLuxembourg\t133\nMacao\t147\nMacédoine du Nord\t143\nMadagascar\t141\nMalaisie\t157\nMalawi\t155\nMaldives\t154\nMali\t144\nMalte\t152\nMaroc\t136\nMartinique\t149\nMaurice\t153\nMauritanie\t150\nMayotte\t246\nMexique\t156\nMicronésie\t73\nMoldavie\t138\nMonaco\t137\nMongolie\t146\nMontenegro\t139\nMontserrat\t151\nMozambique\t158\nNamibie\t159\nNauru\t168\nNépal\t167\nNicaragua\t164\nNiger\t161\nNigeria\t163\nNiué\t169\nNorvège\t166\nNouvelle-Calédonie\t160\nNouvelle-Zélande\t170\nOman\t171\nOuganda\t230\nOuzbékistan\t235\nPakistan\t177\nPalau\t184\nPanama\t172\nPapouasie-Nouvelle-Guinée\t175\nParaguay\t185\nPays-Bas\t165\nPérou\t173\nPologne\t178\nPolynésie française\t174\nPorto Rico\t181\nPortugal\t183\nQatar\t186\nRépublique centrafricaine\t40\nRépublique démocratique du Congo\t41\nRépublique dominicaine\t61\nRépublique tchèque\t56\nRoumanie\t188\nRoyaume-Uni\t231\nRwanda\t191\nSahara occidental\t66\nSaint Barthélémy\t26\nSaint-Christophe-et-Niévès\t119\nSainte-Hélène, Ascension et Tristan da Cunha\t198\nSainte-Lucie\t127\nSaint-Marin\t203\nSaint-Martin (partie française)\t140\nSaint-Martin (partie néerlandaise)\t210\nSaint-Pierre-et-Miquelon\t179\nSaint-Siège (État de la Cité du Vatican)\t236\nSaint-Vincent-et-les-Grenadines\t237\nSamoa\t244\nSamoa américaines\t11\nSao Tomé-et-Principe\t208\nSénégal\t204\nSerbie\t189\nSeychelles\t194\nSierra Leone\t202\nSingapour\t197\nSlovaquie\t201\nSlovénie\t199\nSomalie\t205\nSoudan\t195\nSoudan du Sud\t207\nSri Lanka\t129\nSuède\t196\nSuisse\t43\nSuriname\t206\nSvalbard et Jan Mayen\t200\nSyrie\t211\nTadjikistan\t218\nTaïwan\t227\nTanzanie\t228\nTchad\t214\nTerres australes et antarctiques françaises\t215\nTerritoire britannique de l'océan Indien\t105\nThaïlande\t217\nTimor oriental\t223\nTogo\t216\nTokelau\t219\nTonga\t222\nTrinité-et-Tobago\t225\nTunisie\t221\nTurkménistan\t220\nTurquie\t224\nTuvalu\t226\nUkraine\t229\nUruguay\t234\nVanuatu\t242\nVenezuela\t238\nVietnam\t241\nWallis-et-Futuna\t243\nYémen\t245\nZambie\t248\nZimbabwe\t249\n\n\nRègle :\n- Si le champ \"pays\" correspond exactement au nom ou code du pays, remplacer sa valeur par l’ID numérique correspondant dans le JSON.\n- Si le pays n’est pas dans la liste, laisser 0.\n\n\nNOUVEAUX CHAMPS\nstrategic_value : \nInstead of one sentence, generate 5 clear bullet points explaining why this opportunity is strategic:\n\nAlignment with core TargetUp services (Consulting + University)\n\nPotential impact on client (e.g., transformation, compliance, ESG)\n\nOpportunity for capacity building or high-visibility project\n\nRevenue / engagement potential (budget, duration, repeatable projects)\n\nStrategic partnerships, network expansion, or sector positioning\n\nupload_step : \nInstead of generic advice, generate a step-by-step checklist:\n\nWhich documents to prepare (technical note, CVs, certifications, financials)\n\nHow to format the submission (templates, structure, annexes)\n\nVerification steps (budget, compliance, references)\n\nInternal notifications (PMO, sales, team leads)\n\nDeadlines and follow-up reminders\n\nrisks :\nAdd a short section identifying 3–4 potential risks that could impact the opportunity:\n\nBudget uncertainty or delay\n\nTight deadlines or regulatory constraints\n\nClient capacity / decision-making delays\n\nMisalignment on scope or deliverables\n\nSCHEMA_JSON :\n{\n  \"score\":\"0..100\",\n  \"priority\":\"H|M|L\",\n  \"go_nogo\":\"GO|NO_GO|REVIEW\",\n  \"reasons\":[],\n  \"summary\":\"<=400c\",\n  \"fit\":{\n    \"alignment\":\"high|medium|low\",\n    \"type\":\"\",\n    \"budget_class\":\"\",\n    \"delivery_mode\":\"\",\n    \"deadline_ok\":true\n  },\n  \"details\":{\n    \"client\":\"\",\n    \"type_opportunite\":\"\",\n    \"mode_passation\":\"\", \n    \"nom_societe\":\"\",\n    \"adresse\":\"\",\n    \"rue\":\"\",\n    \"ville\":\"\",\n    \"etat\":\"\",\n    \"code_postal\":\"\",\n    \"pays\":0,\n    \"site_web\":\"\",\n    \"langue\":\"\",\n    \"nom_contact\":\"\",\n    \"titre_contact\":\"\",\n    \"email\":\"\",\n    \"poste\":\"\",\n    \"mobile\":\"\",\n    \"vendeur\":\"\",\n    \"equipe_commerciale\":\"\",\n    \"secteur_activite\":\"\",\n    \"taille_entreprise\":\"\",\n    \"nb_annees_experience\":\"\",\n    \"description\":\"\",\n    \"budget\":\"\",\n    \"Caution\":\"\",\n    \"date_limite_soumission\":\"\"\n  },\n  \"strategic_value\":\"\",\n  \"upload_step\":\"\",\n  \"risk\":\"\",\n  \"next_actions\":[\n    {\"owner\":\"pmo|sales|monitoring\",\"action\":\"...\",\"sla_hours\":8}\n  ]\n}\n\n\n\n\nPARAMS\n• temperature=0.25\n• top_p=0.9\n• max_tokens=600\n\n\n\n\n\nThe Opportunity :\n\nTitre :  {{ $('Webhook').item.json.body.title }}  \nFull text Documents : {{ $('Webhook').item.json.body.notice_text }}  \nFull text documents 2 : {{ $('Webhook').item.json.body.additional_text_all }}  \nDescription : {{ $('Webhook').item.json.body.description }} \n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1232,64],"id":"e776f131-526e-4f25-9075-7b84520313b2","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1216,304],"id":"ba3da6d6-eac7-4e3b-b92f-0b25c8484381","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2032,288],"id":"07f928e6-39d2-458d-a28d-1a7a00f3b1cb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1360,320],"id":"c567b68a-c1a8-4c84-b9cf-7f953eba7589","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"122fad05-ccd2-4243-9ed5-7c1711edc509","leftValue":"={{ $json.Caution }}","rightValue":"={{ 20000 }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-688,32],"id":"b67cfbf8-d232-44c6-870c-90920935a0fc","name":"If2"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Create an item","type":"main","index":0}],[{"node":"Append row in sheet2","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update an item1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Update an item1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81540b2a-330b-4cbb-97d7-c8d47c3a1a83","activeVersionId":"81540b2a-330b-4cbb-97d7-c8d47c3a1a83","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:45:57.957Z","createdAt":"2026-03-23T08:45:57.957Z","role":"workflow:owner","workflowId":"O3okl2J6PanIaW86","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T11:29:41.000Z","createdAt":"2026-03-27T16:37:50.589Z","versionId":"81540b2a-330b-4cbb-97d7-c8d47c3a1a83","workflowId":"O3okl2J6PanIaW86","nodes":[{"parameters":{"httpMethod":"POST","path":"985e2b92-e43f-4551-9e2c-871a2209995a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2128,80],"id":"ef992d34-77b6-43d8-a3eb-359580f56945","name":"Webhook","webhookId":"985e2b92-e43f-4551-9e2c-871a2209995a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"778f4b08-ab3f-4d28-81ba-9e2521d6e970","leftValue":"={{ $json.go_nogo }}","rightValue":"GO","operator":{"type":"string","operation":"equals"}},{"id":"0b07621a-e621-48bb-9d37-52f5841cc0a7","leftValue":"={{ $json.score }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,16],"id":"9bfc5618-8d03-44d7-a1aa-a897757b80b2","name":"If"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Webhook').item.json.body.title.replaceAll(\"&lt;/em&gt;\", \"\").replaceAll(\"&lt;em&gt;\",'') }}"},{"fieldName":"partner_name","fieldValue":"={{ $json.client }}"},{"fieldName":"street","fieldValue":"={{ $json.adresse }} "},{"fieldName":"website","fieldValue":"=https://www.tendersontime.com/tenders/advanceSearch?q={{ encodeURIComponent($('Webhook').item.json.body.title) }}\n"},{"fieldName":"contact_name","fieldValue":"={{ $json.nom_contact }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }} {{ $('Webhook').item.json.body.purchaser_email }}"},{"fieldName":"phone","fieldValue":"={{ $json.mobile }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.minus({ days: 1 }).format('DD') + '<br><br>' +\n   '<b>Description</b> : ' + $json.description + '<br><br>' +\n   '<b>Summary</b> : ' + $json.summary + '<br><br>' +\n   '<b>Reasons</b> : ' + $json.reasons.replace(/\\n/g, '<br>') + '<br><br>' +\n   '<b>Strategic Value</b> : <ul>' + ($json.strategic_value ? $json.strategic_value.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' + \n   '<b>Actions</b> : ' + $json.action + '<br><br>' +\n   '<b>Upload Steps</b> : <ul>' + ($json.upload_step ? $json.upload_step.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Risks</b> : <ul>' + ($json.risks ? $json.risks.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Budget</b> : ' + $json.budget  + '<br><br>' +\n   '<b>Caution</b> : ' + $json.Caution + '<br><br>' +\n   '<b>Date de limite</b> : ' + $json.date_limite_soumission + '<br><br>'\n}}\n"},{"fieldName":"function","fieldValue":"={{ $json.titre_contact }}"},{"fieldName":"street2","fieldValue":"={{ $json.pays }} {{ $json.ville }} {{ $json.rue }} {{ $json.code_postal }}\n"},{"fieldName":"city","fieldValue":"={{ $json.ville }}"},{"fieldName":"country_id","fieldValue":"={{ $json.pays }}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,0],"id":"0fb3403d-e107-46ad-9202-13b27ba56232","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reponse\": \"Score less then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-96,480],"id":"a8f51ddb-0d0f-48d9-bb0f-53b3307c9f65","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[736,0],"id":"780234f1-dcac-414c-931c-504471c7a062","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// ===============================\n// SAFE EXTRACTION FROM MODEL NODE\n// ===============================\n\n// 1️⃣ Get the input data\nconst inputData = $input.first().json;\nlet raw = null;\n\n// Handle different possible n8n/AI output structures\nif (inputData.output && Array.isArray(inputData.output) && inputData.output[0]?.content?.[0]?.text) {\n  raw = inputData.output[0].content[0].text;\n} else if (typeof inputData.output === \"string\") {\n  raw = inputData.output;\n} else if (typeof inputData.text === \"string\") {\n  raw = inputData.text;\n} else if (typeof inputData.output === \"object\") {\n  // If it's already an object, stringify it so the cleaner can process it or skip to assignment\n  raw = JSON.stringify(inputData.output);\n}\n\nif (!raw) {\n  throw new Error(\"No model text found in input\");\n}\n\n// 2️⃣ Clean JSON formatting (remove ```json blocks)\nconst cleanJson = raw.replace(/```json|```/gi, \"\").trim();\n\n// 3️⃣ Parse the JSON safely\nlet obj; // Declared once here\ntry {\n  obj = JSON.parse(cleanJson);\n} catch (err) {\n  throw new Error(\"Invalid JSON from model:\\n\" + cleanJson);\n}\n\n// ===============================\n// BUILD FINAL OUTPUT\n// ===============================\nconst out = {};\n\n// --- TOP LEVEL ---\nout.score = Number(obj.score) || 0;\nout.priority = (obj.priority || \"\").toString().trim();\nout.go_nogo = obj.go_nogo || \"\";\nout.reasons = Array.isArray(obj.reasons) ? obj.reasons.join(\" || \") : (obj.reasons || \"\");\nout.summary = obj.summary || \"\";\n\n// --- FIT ---\nout.alignment = obj.fit?.alignment || \"\";\nout.type = obj.fit?.type || \"\";\nout.budget_class = obj.fit?.budget_class || \"\";\nout.delivery_mode = obj.fit?.delivery_mode || \"\";\nout.deadline_ok = obj.fit?.deadline_ok ?? \"\";\n\n// --- DETAILS ---\nconst d = obj.details || {};\nout.client = d.client || \"\";\nout.type_opportunite = d.type_opportunite || \"\";\n\n// --- MODE DE PASSATION MAPPING ---\nconst modeTxt = (d.mode_passation || \"\").toLowerCase();\nif (modeTxt.includes(\"ao ouvert\")) out.mode_passation = \"4247d725742a05e7\";\nelse if (modeTxt.includes(\"consultation\")) out.mode_passation = \"f374dfea602ed07e\";\nelse if (modeTxt.includes(\"manifestation\")) out.mode_passation = \"70069e67a2e765de\";\nelse out.mode_passation = \"\";\n\n// --- COMPANY & CONTACT ---\nout.nom_societe = d.nom_societe || \"\";\nout.adresse = d.adresse || \"\";\nout.rue = d.rue || \"\";\nout.ville = d.ville || \"\";\nout.etat = d.etat || \"\";\nout.code_postal = d.code_postal || \"\";\nout.pays = d.pays || \"\";\nout.site_web = d.site_web || \"\";\nout.langue = d.langue || \"\";\nout.nom_contact = d.nom_contact || \"\";\nout.titre_contact = d.titre_contact || \"\";\nout.email = d.email || \"\";\nout.poste = d.poste || \"\";\nout.mobile = d.mobile || \"\";\nout.vendeur = d.vendeur || \"\";\nout.equipe_commerciale = d.equipe_commerciale || \"\";\nout.secteur_activite = d.secteur_activite || \"\";\nout.taille_entreprise = d.taille_entreprise || \"\";\nout.nb_annees_experience = d.nb_annees_experience || \"\";\nout.description = d.description || \"\";\n\n// --- NUMERIC ---\nout.budget = Number(d.budget) || 0;\nout.Caution = Number(d.Caution) || 0;\n\n// --- DATE FORMAT FOR ODOO ---\nconst rawDate = d.date_limite_soumission;\nif (rawDate) {\n  const date = new Date(rawDate);\n  if (!isNaN(date)) {\n    const yyyy = date.getFullYear();\n    const mm = String(date.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(date.getDate()).padStart(2, \"0\");\n    const hh = String(date.getHours()).padStart(2, \"0\");\n    const mi = String(date.getMinutes()).padStart(2, \"0\");\n    const ss = String(date.getSeconds()).padStart(2, \"0\");\n    out.date_limite_soumission = `${yyyy}-${mm}-${dd} ${hh}:${mi}:${ss}`;\n  } else {\n    out.date_limite_soumission = null;\n  }\n} else {\n  out.date_limite_soumission = null;\n}\n\n// --- STRATEGIC / UPLOAD / RISKS ---\nfunction arrayToBullet(arr) {\n  if (!Array.isArray(arr)) return arr || \"\";\n  return arr.map((s) => `• ${s}`).join(\"\\n\");\n}\n\nout.strategic_value = arrayToBullet(obj.strategic_value);\nout.upload_step = arrayToBullet(obj.upload_step);\nout.risks = arrayToBullet(obj.risks);\n\n// --- NEXT ACTIONS ---\nconst na = (Array.isArray(obj.next_actions) ? obj.next_actions[0] : obj.next_actions) || {};\nout.owner = na.owner || \"\";\nout.action = na.action || \"\";\nout.sla_hours = Number(na.sla_hours) || 0;\n\n// --- STEPS ---\nif (Array.isArray(na.steps)) {\n  out.steps_summary = na.steps\n    .map((s, i) => `Step ${i + 1}: ${s.step || \"\"} | Document: ${s.document || \"\"} | Folder: ${s.folder || \"\"}`)\n    .join(\" || \");\n} else {\n  out.steps_summary = \"\";\n}\n\n// --- PRIORITY NUMBER ---\nconst p = out.priority.toUpperCase();\nif (p === \"H\") out.priority_number = 3;\nelse if (p === \"M\") out.priority_number = 2;\nelse if (p === \"L\") out.priority_number = 1;\nelse out.priority_number = 0;\n\n// ===============================\n// RETURN SINGLE ITEM\n// ===============================\nreturn [{ json: out }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,64],"id":"aa91d580-1c78-4d88-b14c-a832c81d0050","name":"Code in JavaScript","onError":"continueErrorOutput"},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"team_id","fieldValue":"={{ 16 }}"},{"fieldName":"priority","fieldValue":"={{ $('Code in JavaScript').item.json.priority_number.toString().trim() }}"},{"fieldName":"source_id","fieldValue":"={{ 376 }}"},{"fieldName":"lead_properties","fieldValue":"={{\nJSON.stringify([\n  {\n    \"name\": \"e7d6e8ea190d4ca6\",\n    \"type\": \"integer\",\n    \"string\": \"Budget estimé (MAD)\",\n    \"value\": (() => {\n      const budget = $('If').item.json.budget;\n      if (!budget || String(budget).toLowerCase().includes('non précisé') || String(budget).toLowerCase().includes('unknown')) return 0;\n      const clean = String(budget).replace(/[^\\d.-]/g, '');\n      const num = Number(clean);\n      return isNaN(num) ? 0 : num;\n    })()\n  },\n  {\n    \"name\": \"dee56c6c1afbe794\",\n    \"type\": \"integer\",\n    \"string\": \"Caution\",\n    \"value\": $('If').item.json.Caution || 0\n  },\n  {\n    \"name\": \"6c8a4697f1207a00\",\n    \"type\": \"datetime\",\n    \"string\": \"Date limite de soumission\",\n    \"value\": (() => {\n      const raw = $('Code in JavaScript').item.json.date_limite_soumission;\n      if (!raw) return false;\n      // Normalize format for Odoo: \"YYYY-MM-DD HH:MM:SS\"\n      const date = new Date(raw);\n      return date.toISOString().slice(0, 19).replace('T', ' ');\n    })()\n  },\n  {\n    \"name\": \"94725c5f29d14548\",\n    \"type\": \"selection\",\n    \"string\": \"Mode de passation\",\n    \"value\": $('If').item.json.mode_passation || false\n  },\n  {\n    \"name\": \"e0648c499207fcd1\",\n    \"type\": \"integer\",\n    \"string\": \"Score IA\",\n    \"value\": $('If').item.json.score || 0\n  },\n  {\n    \"name\": \"744143249c04537a\",\n    \"type\": \"selection\",\n    \"string\": \"Recommandation IA\",\n    \"value\": (() => {\n      const val = String($('If').item.json.go_nogo || '').trim().toUpperCase();\n      switch (val) {\n        case 'GO': return '18d02919b7324473';\n        case 'NO_GO':\n        case 'NO-GO': return '8782e3c3665fee24';\n        case 'REVIEW': return '183e6d717b50c448';\n        default: return false;\n      }\n    })()\n  }\n])\n}}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[192,0],"id":"2a605797-b05c-47b0-9d20-fdfacfa01211","name":"Update an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,496],"id":"db443904-d2c5-4177-970c-40719459c44f","name":"Wait","webhookId":"095affac-2925-4ff0-898c-450644de851f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,0],"id":"4af9f839-25af-42e3-8de5-7dcf3eaac887","name":"Wait1","webhookId":"ff766610-1b47-45ce-aca9-6a6eb3a44a7d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,256],"id":"c08da27c-4c31-418d-a3e8-f3bf2365e5cd","name":"Respond to Webhook2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,256],"id":"3924ce3b-e8ab-4b05-bfc3-031dac6d7d5f","name":"Wait2","webhookId":"ff766610-1b47-45ce-aca9-6a6eb3a44a7d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b484edc-498c-43df-a853-f6e41de766b5","leftValue":"={{ $json.output }}","rightValue":"=Oui","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,80],"id":"36c4e2b1-262d-4993-9211-ba06a815dbaa","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1552,432],"id":"97bd07de-a696-4174-9c47-67ce19e14d0e","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Accepté","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[384,0],"id":"9c8cd0ee-1337-4698-9c64-2e8d744b41d7","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Tenders on time","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.title }}  "},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,256],"id":"db995665-f0e8-46ca-acca-55a3fee4e88c","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Tu es un assistant expert en analyse, qualification et filtrage d’opportunités B2B\n(AO / AMI / Grants / Programmes de formation / Référencements).\n\nMissions obligatoires\n\nExtraire toutes les informations clés de l’opportunité à partir du champ EXTRACTED TEXT.\n\nÉvaluer l’opportunité selon :\n\nLes filtres et priorités TargetUp\n\nLe pipeline TargetUp\n\nLes règles strictes GO / NO-GO\n\nCas particulier\n\nCONTEXTE TARGETUP\nA. Présentation de TargetUp (Identité & Positionnement)\n\nTargetUp est une structure duale, proposant un accompagnement B2B à 360° :\n\nTargetUp Consulting\nCabinet de conseil spécialisé dans :\n\nAudit\n\nConseil stratégique\n\nAccompagnement opérationnel\n\nImplémentation de solutions de performance pour les organisations\n\nTargetUp University\nOrganisme de formation supérieure et professionnelle :\n\nRenforcement des capacités\n\nCertifications\n\nFormations exécutives\n\nDiffusion de l’expertise (B2B & B2C)\n\nRÈGLES DE GO / NO-GO\nB. Pays autorisés (Liste Blanche – par priorité stratégique)\n\nPriorité 1 – Hub principal\n\nMaroc (Siège)\n\nPriorité 2 – Hubs stratégiques UEMOA / CEMAC\n\nSénégal\n\nCôte d’Ivoire\n\nCameroun\n\nGabon\n\nPriorité 3 – Afrique de l’Ouest\n\nBénin\n\nBurkina Faso\n\nGuinée\n\nMali\n\nMauritanie\n\nNiger\n\nTogo\n\nGuinée-Bissau\n\nCap-Vert\n\nPriorité 4 – Afrique Centrale\n\nTchad\n\nCongo (République)\n\nRDC\n\nRCA\n\nGuinée Équatoriale\n\nPriorité 5 – Afrique de l’Est & Océan Indien\n\nBurundi\n\nComores\n\nDjibouti\n\nMadagascar\n\nSeychelles\n\n❌ RÈGLES NO-GO (REJET AUTOMATIQUE)\nA. Exclusions métier (rejet par domaine)\n\nToute opportunité dont l’objet principal relève de l’un des domaines suivants est automatiquement rejetée :\n\nTravaux / BTP / Génie civil\n\nFournitures (équipements, matériels, consommables, EPI)\n\nMaintenance technique ou achat d’équipements\n\nGardiennage & sécurité physique\n\nCatering & restauration\n\nTransport & logistique pure\n\nNettoyage & gestion des déchets\n\nB. Conditions commerciales & opérationnelles (rejet automatique)\n\nUn AO est NO-GO immédiatement si au moins une des conditions suivantes est vraie :\n\nBudget < 150 000 MAD\n\nDélai de réponse < 10 jours calendaires\n\nCaution / garantie bancaire > 20 000 MAD\n\nPays hors Liste Blanche\n\nDomaine hors périmètre TargetUp ou relevant des exclusions métier\n\nConditions de paiement > 70 jours après facture\n\nMarge brute estimée < 30% (charges > 70% du budget)\n\nDurée d’exécution > 12 mois sans validation préalable de la direction\n\nAgréments / qualifications obligatoires non disponibles chez TargetUp avant la date limite\n\nPARAMÈTRES D’EXÉCUTION\n\ntemperature = 0.25\n\ntop_p = 0.9\n\nmax_tokens = 100\n\nDONNÉES DE L’OPPORTUNITÉ\n\nThe Opportunity :\n\nTitre :  {{ $('Webhook').item.json.body.title }}  \nFull text Documents : {{ $('Webhook').item.json.body.notice_text }}  \nFull text documents 2 : {{ $('Webhook').item.json.body.additional_text_all }}  \nDescription : {{ $('Webhook').item.json.body.description }} \n\n\nOUTPUT FINAL (OBLIGATOIRE)\n\nRépondre uniquement par :\n\"Oui\" ou \"No\"\n\nAucune explication, justification ou texte supplémentaire autorisé","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1888,80],"id":"e5e54e20-7057-4fe1-8767-50abec3f015f","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1872,320],"id":"b2a6c627-2225-4a79-9862-f322c744e373","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Tu es un assistant d’analyse et de filtrage d’opportunités B2B (AO / AMI / Grants / Formations / Référencements).\nRôle :\n\nExtraire toutes les informations importantes de l’opportunité (voir TEXT EXTRACTED).\n\nÉvaluer l’opportunité selon les le pipeline TargetUp\nVérifier l’alignement de l’opportunité uniquement avec les services proposés par TargetUp Consulting et TargetUp University.\n\nGénérer une réponse JSON stricte, compacte et valide selon le schéma fourni.\n\n\nCONTEXTE TARGETUP\n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n\n\n\nSECTION EXTRACTION\n\nExtraire depuis le texte, si disponible :\nclient, type_opportunite, nom_societe, adresse, rue, ville, etat, code_postal, pays, site_web, langue, nom_contact, titre_contact, email, poste, mobile, vendeur, equipe_commerciale, secteur_activite, taille_entreprise, nb_annees_experience, description, budget, Caution, date_limite_soumission\ntype_opportunite : \"service\" ou \"formation\" uniquement.\nbudget : en MAD, entier. Convertir € → MAD (×11), $ → MAD (×10). Si absent → 0.\nCaution : montant séparé, en MAD. Si absent → 0.\nmode_passation : \"AO ouvert\", \"consultation\", \"appel à manifestation d'intérêt\" uniquement.\n\nCOUNTRY MAPPING\nRemplacer le nom du pays par son ID correspondant si présent dans cette liste :\n\nAfghanistan\t3\nAfrique du Sud\t247\nAlbanie\t6\nAlgérie\t62\nAllemagne\t57\nAndorre\t1\nAngola\t8\nAnguilla\t5\nAntarctique\t9\nAntigua-et-Barbuda\t4\nArabie saoudite\t192\nArgentine\t10\nArménie\t7\nAruba\t14\nAustralie\t13\nAutriche\t12\nAzerbaïdjan\t16\nBahamas\t32\nBahreïn\t23\nBarbade\t18\nBelgique\t20\nBengladesh\t19\nBénin\t25\nBermudes\t27\nBhoutan\t33\nBiélorussie\t36\nBirmanie\t145\nBolivie\t29\nBonaire, Saint-Eustache et Saba\t30\nBosnie-Herzégovine\t17\nBotswana\t35\nBrésil\t31\nBrunéi Darussalam\t28\nBulgarie\t22\nBurkina Faso\t21\nBurundi\t24\nCambodge\t116\nCameroun\t47\nCanada\t38\nCap-Vert\t52\nChili\t46\nChine\t48\nChypre\t55\nColombie\t49\nComores\t118\nCongo\t42\nCorée du Nord\t120\nCorée du Sud\t121\nCosta Rica\t50\nCôte d'Ivoire\t44\nCroatie\t97\nCuba\t51\nCuraçao\t53\nDanemark\t59\nDjibouti\t58\nDominique\t60\nÉgypte\t65\nÉmirats arabes unis\t2\nÉquateur\t63\nÉrythrée\t67\nEspagne\t68\nEstonie\t64\nEswatini\t212\nÉtat de Palestine\t182\nÉtats-Unis\t233\nÉthiopie\t69\nFédération de Russie\t190\nFiji\t71\nFinlande\t70\nFrance\t75\nGabon\t76\nGambie\t84\nGeorgie\t78\nGéorgie du Sud-et-les Îles Sandwich du Sud\t89\nGhana\t80\nGibraltar\t81\nGrèce\t88\nGrenade\t77\nGroenland\t83\nGuadeloupe\t86\nGuam\t91\nGuatemala\t90\nGuinée\t85\nGuinée-Bissau\t92\nGuinée équatoriale\t87\nGuyane\t93\nGuyane française\t79\nHaïti\t98\nHonduras\t96\nHong Kong\t94\nHongrie\t99\nÎle Bouvet\t34\nÎle Christmas\t54\nÎle de Guernesey\t82\nÎle de Man\t103\nÎle Norfolk\t162\nÎles Åland\t15\nÎles Caïmans\t123\nÎles Cocos (Keeling)\t39\nÎles Cook\t45\nÎles Falkland\t72\nÎles Féroé\t74\nÎles Heard-et-MacDonald\t95\nÎles Mariannes du Nord\t148\nÎles Marshall\t142\nÎles mineures éloignées des États-Unis\t232\nÎles Pitcairn\t180\nÎles Salomon\t193\nÎles Turques-et-Caïques\t213\nÎles Vierges (britanniques)\t239\nÎles Vierges (des États-Unis)\t240\nInde\t104\nIndonésie\t100\nIrak\t106\nIran\t107\nIrlande\t101\nIslande\t108\nIsraël\t102\nItalie\t109\nJamaïque\t111\nJapon\t113\nJersey\t110\nJordanie\t112\nKazakhstan\t124\nKenya\t114\nKirghizistan\t115\nKiribati\t117\nKosovo\t250\nKoweït\t122\nLaos\t125\nLa Réunion\t187\nLe Bélize\t37\nLe Salvador\t209\nLesotho\t131\nLes Philippines\t176\nLettonie\t134\nLiban\t126\nLiberia\t130\nLibye\t135\nLiechtenstein\t128\nLituanie\t132\nLuxembourg\t133\nMacao\t147\nMacédoine du Nord\t143\nMadagascar\t141\nMalaisie\t157\nMalawi\t155\nMaldives\t154\nMali\t144\nMalte\t152\nMaroc\t136\nMartinique\t149\nMaurice\t153\nMauritanie\t150\nMayotte\t246\nMexique\t156\nMicronésie\t73\nMoldavie\t138\nMonaco\t137\nMongolie\t146\nMontenegro\t139\nMontserrat\t151\nMozambique\t158\nNamibie\t159\nNauru\t168\nNépal\t167\nNicaragua\t164\nNiger\t161\nNigeria\t163\nNiué\t169\nNorvège\t166\nNouvelle-Calédonie\t160\nNouvelle-Zélande\t170\nOman\t171\nOuganda\t230\nOuzbékistan\t235\nPakistan\t177\nPalau\t184\nPanama\t172\nPapouasie-Nouvelle-Guinée\t175\nParaguay\t185\nPays-Bas\t165\nPérou\t173\nPologne\t178\nPolynésie française\t174\nPorto Rico\t181\nPortugal\t183\nQatar\t186\nRépublique centrafricaine\t40\nRépublique démocratique du Congo\t41\nRépublique dominicaine\t61\nRépublique tchèque\t56\nRoumanie\t188\nRoyaume-Uni\t231\nRwanda\t191\nSahara occidental\t66\nSaint Barthélémy\t26\nSaint-Christophe-et-Niévès\t119\nSainte-Hélène, Ascension et Tristan da Cunha\t198\nSainte-Lucie\t127\nSaint-Marin\t203\nSaint-Martin (partie française)\t140\nSaint-Martin (partie néerlandaise)\t210\nSaint-Pierre-et-Miquelon\t179\nSaint-Siège (État de la Cité du Vatican)\t236\nSaint-Vincent-et-les-Grenadines\t237\nSamoa\t244\nSamoa américaines\t11\nSao Tomé-et-Principe\t208\nSénégal\t204\nSerbie\t189\nSeychelles\t194\nSierra Leone\t202\nSingapour\t197\nSlovaquie\t201\nSlovénie\t199\nSomalie\t205\nSoudan\t195\nSoudan du Sud\t207\nSri Lanka\t129\nSuède\t196\nSuisse\t43\nSuriname\t206\nSvalbard et Jan Mayen\t200\nSyrie\t211\nTadjikistan\t218\nTaïwan\t227\nTanzanie\t228\nTchad\t214\nTerres australes et antarctiques françaises\t215\nTerritoire britannique de l'océan Indien\t105\nThaïlande\t217\nTimor oriental\t223\nTogo\t216\nTokelau\t219\nTonga\t222\nTrinité-et-Tobago\t225\nTunisie\t221\nTurkménistan\t220\nTurquie\t224\nTuvalu\t226\nUkraine\t229\nUruguay\t234\nVanuatu\t242\nVenezuela\t238\nVietnam\t241\nWallis-et-Futuna\t243\nYémen\t245\nZambie\t248\nZimbabwe\t249\n\n\nRègle :\n- Si le champ \"pays\" correspond exactement au nom ou code du pays, remplacer sa valeur par l’ID numérique correspondant dans le JSON.\n- Si le pays n’est pas dans la liste, laisser 0.\n\n\nNOUVEAUX CHAMPS\nstrategic_value : \nInstead of one sentence, generate 5 clear bullet points explaining why this opportunity is strategic:\n\nAlignment with core TargetUp services (Consulting + University)\n\nPotential impact on client (e.g., transformation, compliance, ESG)\n\nOpportunity for capacity building or high-visibility project\n\nRevenue / engagement potential (budget, duration, repeatable projects)\n\nStrategic partnerships, network expansion, or sector positioning\n\nupload_step : \nInstead of generic advice, generate a step-by-step checklist:\n\nWhich documents to prepare (technical note, CVs, certifications, financials)\n\nHow to format the submission (templates, structure, annexes)\n\nVerification steps (budget, compliance, references)\n\nInternal notifications (PMO, sales, team leads)\n\nDeadlines and follow-up reminders\n\nrisks :\nAdd a short section identifying 3–4 potential risks that could impact the opportunity:\n\nBudget uncertainty or delay\n\nTight deadlines or regulatory constraints\n\nClient capacity / decision-making delays\n\nMisalignment on scope or deliverables\n\nSCHEMA_JSON :\n{\n  \"score\":\"0..100\",\n  \"priority\":\"H|M|L\",\n  \"go_nogo\":\"GO|NO_GO|REVIEW\",\n  \"reasons\":[],\n  \"summary\":\"<=400c\",\n  \"fit\":{\n    \"alignment\":\"high|medium|low\",\n    \"type\":\"\",\n    \"budget_class\":\"\",\n    \"delivery_mode\":\"\",\n    \"deadline_ok\":true\n  },\n  \"details\":{\n    \"client\":\"\",\n    \"type_opportunite\":\"\",\n    \"mode_passation\":\"\", \n    \"nom_societe\":\"\",\n    \"adresse\":\"\",\n    \"rue\":\"\",\n    \"ville\":\"\",\n    \"etat\":\"\",\n    \"code_postal\":\"\",\n    \"pays\":0,\n    \"site_web\":\"\",\n    \"langue\":\"\",\n    \"nom_contact\":\"\",\n    \"titre_contact\":\"\",\n    \"email\":\"\",\n    \"poste\":\"\",\n    \"mobile\":\"\",\n    \"vendeur\":\"\",\n    \"equipe_commerciale\":\"\",\n    \"secteur_activite\":\"\",\n    \"taille_entreprise\":\"\",\n    \"nb_annees_experience\":\"\",\n    \"description\":\"\",\n    \"budget\":\"\",\n    \"Caution\":\"\",\n    \"date_limite_soumission\":\"\"\n  },\n  \"strategic_value\":\"\",\n  \"upload_step\":\"\",\n  \"risk\":\"\",\n  \"next_actions\":[\n    {\"owner\":\"pmo|sales|monitoring\",\"action\":\"...\",\"sla_hours\":8}\n  ]\n}\n\n\n\n\nPARAMS\n• temperature=0.25\n• top_p=0.9\n• max_tokens=600\n\n\n\n\n\nThe Opportunity :\n\nTitre :  {{ $('Webhook').item.json.body.title }}  \nFull text Documents : {{ $('Webhook').item.json.body.notice_text }}  \nFull text documents 2 : {{ $('Webhook').item.json.body.additional_text_all }}  \nDescription : {{ $('Webhook').item.json.body.description }} \n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1232,64],"id":"e776f131-526e-4f25-9075-7b84520313b2","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1216,304],"id":"ba3da6d6-eac7-4e3b-b92f-0b25c8484381","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2032,288],"id":"07f928e6-39d2-458d-a28d-1a7a00f3b1cb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1360,320],"id":"c567b68a-c1a8-4c84-b9cf-7f953eba7589","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"122fad05-ccd2-4243-9ed5-7c1711edc509","leftValue":"={{ $json.Caution }}","rightValue":"={{ 20000 }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-688,32],"id":"b67cfbf8-d232-44c6-870c-90920935a0fc","name":"If2"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Create an item","type":"main","index":0}],[{"node":"Append row in sheet2","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update an item1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Update an item1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 81540b2a","description":"","autosaved":true},"tags":[]}