full--marche-public-f7FtI1DPyHNEZo7d.json
{"updatedAt":"2026-04-02T11:17:40.232Z","createdAt":"2026-03-22T21:45:43.110Z","id":"f7FtI1DPyHNEZo7d","name":"FULL  MARCHE PUBLIC","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"778f4b08-ab3f-4d28-81ba-9e2521d6e970","leftValue":"={{ $json.go_nogo }}","rightValue":"GO","operator":{"type":"string","operation":"equals"}},{"id":"71d5c249-ffc7-4d21-b0fc-3cc677ff409b","leftValue":"={{ $json.score }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,800],"id":"2b8e0047-9c35-4925-8ee9-27f34ef2bba6","name":"If"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Webhook').item.json.body.objet }}"},{"fieldName":"partner_name","fieldValue":"={{ $json.client }}"},{"fieldName":"street","fieldValue":"={{ $json.adresse }} "},{"fieldName":"website","fieldValue":"={{ $('Webhook').item.json.body.download_page_url || $json.site_web }}"},{"fieldName":"contact_name","fieldValue":"={{ $json.nom_contact }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }} "},{"fieldName":"phone","fieldValue":"={{ $json.mobile }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.minus({ days: 1 }).format('DD') + '<br><br>' +\n   '<b>Description</b> : ' + $json.description + '<br><br>' +\n   '<b>Summary</b> : ' + $json.summary + '<br><br>' +\n   '<b>Reasons</b> : ' + $json.reasons.replace(/\\n/g, '<br>') + '<br><br>' +\n   '<b>Strategic Value</b> : <ul>' + ($json.strategic_value ? $json.strategic_value.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' + \n   '<b>Actions</b> : ' + $json.action + '<br><br>' +\n   '<b>Upload Steps</b> : <ul>' + ($json.upload_step ? $json.upload_step.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Risks</b> : <ul>' + ($json.risks ? $json.risks.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Budget</b> : ' + $json.budget  + '<br><br>' +\n   '<b>Caution</b> : ' + $json.Caution + '<br><br>' +\n   '<b>Date de limite</b> : ' + $json.date_limite_soumission + '<br><br>'\n}}\n"},{"fieldName":"function","fieldValue":"={{ $json.titre_contact }}"},{"fieldName":"street2","fieldValue":"={{ $json.pays }} {{ $json.ville }} {{ $json.rue }} {{ $json.code_postal }}\n"},{"fieldName":"city","fieldValue":"={{ $json.ville }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[496,592],"id":"02ab9382-5bd5-4213-b177-4996ded22c3d","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"team_id","fieldValue":"={{ 16 }}"},{"fieldName":"priority","fieldValue":"={{ $('Code in JavaScript1').item.json.priority_number.toString().trim() }}"},{"fieldName":"source_id","fieldValue":"={{ 398 }}"},{"fieldName":"lead_properties","fieldValue":"={{\nJSON.stringify([\n  {\n    \"name\": \"e7d6e8ea190d4ca6\",\n    \"type\": \"integer\",\n    \"string\": \"Budget estimé (MAD)\",\n    \"value\": (() => {\n      const budget = $('If').item.json.budget;\n      if (!budget || String(budget).toLowerCase().includes('non précisé') || String(budget).toLowerCase().includes('unknown')) return 0;\n      const clean = String(budget).replace(/[^\\d.-]/g, '');\n      const num = Number(clean);\n      return isNaN(num) ? 0 : num;\n    })()\n  },\n  {\n    \"name\": \"dee56c6c1afbe794\",\n    \"type\": \"integer\",\n    \"string\": \"Caution\",\n    \"value\": $('If').item.json.Caution || 0\n  },\n  {\n    \"name\": \"6c8a4697f1207a00\",\n    \"type\": \"datetime\",\n    \"string\": \"Date limite de soumission\",\n    \"value\": (() => {\n      const raw = $('Code in JavaScript1').item.json.date_limite_soumission;\n      if (!raw) return false;\n      // Normalize format for Odoo: \"YYYY-MM-DD HH:MM:SS\"\n      const date = new Date(raw);\n      return date.toISOString().slice(0, 19).replace('T', ' ');\n    })()\n  },\n  {\n    \"name\": \"94725c5f29d14548\",\n    \"type\": \"selection\",\n    \"string\": \"Mode de passation\",\n    \"value\": $('If').item.json.mode_passation || false\n  },\n  {\n    \"name\": \"e0648c499207fcd1\",\n    \"type\": \"integer\",\n    \"string\": \"Score IA\",\n    \"value\": $('If').item.json.score || 0\n  },\n  {\n    \"name\": \"744143249c04537a\",\n    \"type\": \"selection\",\n    \"string\": \"Recommandation IA\",\n    \"value\": (() => {\n      const val = String($('If').item.json.go_nogo || '').trim().toUpperCase();\n      switch (val) {\n        case 'GO': return '18d02919b7324473';\n        case 'NO_GO':\n        case 'NO-GO': return '8782e3c3665fee24';\n        case 'REVIEW': return '183e6d717b50c448';\n        default: return false;\n      }\n    })()\n  }\n])\n}}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[688,592],"id":"10949b51-62ae-4b23-81d4-7f714ab1a54c","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"jsCode":"// ===============================\n// SAFE EXTRACTION FROM MODEL NODE\n// ===============================\n\n// 1️⃣ Get the input data\nconst inputData = $input.first().json;\nlet raw = null;\n\n// Handle different possible n8n/AI output structures\nif (inputData.output && Array.isArray(inputData.output) && inputData.output[0]?.content?.[0]?.text) {\n  raw = inputData.output[0].content[0].text;\n} else if (typeof inputData.output === \"string\") {\n  raw = inputData.output;\n} else if (typeof inputData.text === \"string\") {\n  raw = inputData.text;\n} else if (typeof inputData.output === \"object\") {\n  // If it's already an object, stringify it so the cleaner can process it or skip to assignment\n  raw = JSON.stringify(inputData.output);\n}\n\nif (!raw) {\n  throw new Error(\"No model text found in input\");\n}\n\n// 2️⃣ Clean JSON formatting (remove ```json blocks)\nconst cleanJson = raw.replace(/```json|```/gi, \"\").trim();\n\n// 3️⃣ Parse the JSON safely\nlet obj; // Declared once here\ntry {\n  obj = JSON.parse(cleanJson);\n} catch (err) {\n  throw new Error(\"Invalid JSON from model:\\n\" + cleanJson);\n}\n\n// ===============================\n// BUILD FINAL OUTPUT\n// ===============================\nconst out = {};\n\n// --- TOP LEVEL ---\nout.score = Number(obj.score) || 0;\nout.priority = (obj.priority || \"\").toString().trim();\nout.go_nogo = obj.go_nogo || \"\";\nout.reasons = Array.isArray(obj.reasons) ? obj.reasons.join(\" || \") : (obj.reasons || \"\");\nout.summary = obj.summary || \"\";\n\n// --- FIT ---\nout.alignment = obj.fit?.alignment || \"\";\nout.type = obj.fit?.type || \"\";\nout.budget_class = obj.fit?.budget_class || \"\";\nout.delivery_mode = obj.fit?.delivery_mode || \"\";\nout.deadline_ok = obj.fit?.deadline_ok ?? \"\";\n\n// --- DETAILS ---\nconst d = obj.details || {};\nout.client = d.client || \"\";\nout.type_opportunite = d.type_opportunite || \"\";\n\n// --- MODE DE PASSATION MAPPING ---\nconst modeTxt = (d.mode_passation || \"\").toLowerCase();\nif (modeTxt.includes(\"ao ouvert\")) out.mode_passation = \"4247d725742a05e7\";\nelse if (modeTxt.includes(\"consultation\")) out.mode_passation = \"f374dfea602ed07e\";\nelse if (modeTxt.includes(\"manifestation\")) out.mode_passation = \"70069e67a2e765de\";\nelse out.mode_passation = \"\";\n\n// --- COMPANY & CONTACT ---\nout.nom_societe = d.nom_societe || \"\";\nout.adresse = d.adresse || \"\";\nout.rue = d.rue || \"\";\nout.ville = d.ville || \"\";\nout.etat = d.etat || \"\";\nout.code_postal = d.code_postal || \"\";\nout.pays = d.pays || \"\";\nout.site_web = d.site_web || \"\";\nout.langue = d.langue || \"\";\nout.nom_contact = d.nom_contact || \"\";\nout.titre_contact = d.titre_contact || \"\";\nout.email = d.email || \"\";\nout.poste = d.poste || \"\";\nout.mobile = d.mobile || \"\";\nout.vendeur = d.vendeur || \"\";\nout.equipe_commerciale = d.equipe_commerciale || \"\";\nout.secteur_activite = d.secteur_activite || \"\";\nout.taille_entreprise = d.taille_entreprise || \"\";\nout.nb_annees_experience = d.nb_annees_experience || \"\";\nout.description = d.description || \"\";\n\n// --- NUMERIC ---\nout.budget = Number(d.budget) || 0;\nout.Caution = Number(d.Caution) || 0;\n\n// --- DATE FORMAT FOR ODOO ---\nconst rawDate = d.date_limite_soumission;\nif (rawDate) {\n  const date = new Date(rawDate);\n  if (!isNaN(date)) {\n    const yyyy = date.getFullYear();\n    const mm = String(date.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(date.getDate()).padStart(2, \"0\");\n    const hh = String(date.getHours()).padStart(2, \"0\");\n    const mi = String(date.getMinutes()).padStart(2, \"0\");\n    const ss = String(date.getSeconds()).padStart(2, \"0\");\n    out.date_limite_soumission = `${yyyy}-${mm}-${dd} ${hh}:${mi}:${ss}`;\n  } else {\n    out.date_limite_soumission = null;\n  }\n} else {\n  out.date_limite_soumission = null;\n}\n\n// --- STRATEGIC / UPLOAD / RISKS ---\nfunction arrayToBullet(arr) {\n  if (!Array.isArray(arr)) return arr || \"\";\n  return arr.map((s) => `• ${s}`).join(\"\\n\");\n}\n\nout.strategic_value = arrayToBullet(obj.strategic_value);\nout.upload_step = arrayToBullet(obj.upload_step);\nconst riskValue = obj.risk || obj.risks;\nout.risks = arrayToBullet(riskValue);\n\n// --- NEXT ACTIONS ---\nconst na = (Array.isArray(obj.next_actions) ? obj.next_actions[0] : obj.next_actions) || {};\nout.owner = na.owner || \"\";\nout.action = na.action || \"\";\nout.sla_hours = Number(na.sla_hours) || 0;\n\n// --- STEPS ---\nif (Array.isArray(na.steps)) {\n  out.steps_summary = na.steps\n    .map((s, i) => `Step ${i + 1}: ${s.step || \"\"} | Document: ${s.document || \"\"} | Folder: ${s.folder || \"\"}`)\n    .join(\" || \");\n} else {\n  out.steps_summary = \"\";\n}\n\n// --- PRIORITY NUMBER ---\nconst p = out.priority.toUpperCase();\nif (p === \"H\") out.priority_number = 3;\nelse if (p === \"M\") out.priority_number = 2;\nelse if (p === \"L\") out.priority_number = 1;\nelse out.priority_number = 0;\n\n// ===============================\n// RETURN SINGLE ITEM\n// ===============================\nreturn [{ json: out }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,512],"id":"a94e1c4f-0029-4239-b959-812da6ef20ca","name":"Code in JavaScript1","onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"78e3201b-36a3-4341-a067-e74f0693be6d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1456,528],"id":"57df210d-38cb-4d56-a196-b40fcfcfde82","name":"Webhook","webhookId":"78e3201b-36a3-4341-a067-e74f0693be6d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1248,592],"id":"029ed7a1-44bd-4f10-97a3-0d143433c482","name":"Respond to Webhook1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reponse\": \"Score less then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,1024],"id":"3839f799-9e78-41c0-bc86-655ead57272b","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,1024],"id":"5627dcfc-d611-4bca-b5a7-44ae1d93bc34","name":"Wait","webhookId":"5e51cb2e-8a91-45f0-99df-dc4449d56b1b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,592],"id":"cef6f41a-3329-4028-8a9b-23762ea04b40","name":"Wait1","webhookId":"182f8f59-1c19-4505-82bb-3e816cc5953c"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,992],"id":"9c59611d-a66f-4009-b179-3f8c973fb2e6","name":"Respond to Webhook2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,992],"id":"251ba7a6-1e6b-4c7c-95df-64c98c8cba7b","name":"Wait2","webhookId":"182f8f59-1c19-4505-82bb-3e816cc5953c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b484edc-498c-43df-a853-f6e41de766b5","leftValue":"={{ $json.output }}","rightValue":"=Oui","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,528],"id":"587dddca-c015-47e5-84c2-988e8ce3d2a9","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,944],"id":"af6e9cd4-2506-4130-bb52-8a0687f75dab","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,992],"id":"9aa93ffa-962d-4b1e-a4fe-4535a874abfe","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Accepté","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1072,592],"id":"ed447d39-2c0e-4e9f-b8e2-33f8f47e8896","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Tu es un assistant expert en analyse, qualification et filtrage d’opportunités B2B\n(AO / AMI / Grants / Programmes de formation / Référencements).\n\nMissions obligatoires\n\nExtraire toutes les informations clés de l’opportunité à partir du champ EXTRACTED TEXT.\n\nÉvaluer l’opportunité selon :\n\nLes filtres et priorités TargetUp\n\nLe pipeline TargetUp\n\nLes règles strictes GO / NO-GO\n\nCas particulier\n\n\n1. CONTEXTE TARGETUP :\n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\nRÈGLES DE GO / NO-GO\nB. Pays autorisés (Liste Blanche – par priorité stratégique)\n\nPriorité 1 – Hub principal\n\nMaroc (Siège)\n\nPriorité 2 – Hubs stratégiques UEMOA / CEMAC\n\nSénégal\n\nCôte d’Ivoire\n\nCameroun\n\nGabon\n\nPriorité 3 – Afrique de l’Ouest\n\nBénin\n\nBurkina Faso\n\nGuinée\n\nMali\n\nMauritanie\n\nNiger\n\nTogo\n\nGuinée-Bissau\n\nCap-Vert\n\nPriorité 4 – Afrique Centrale\n\nTchad\n\nCongo (République)\n\nRDC\n\nRCA\n\nGuinée Équatoriale\n\nPriorité 5 – Afrique de l’Est & Océan Indien\n\nBurundi\n\nComores\n\nDjibouti\n\nMadagascar\n\nSeychelles\n\n❌ RÈGLES NO-GO (REJET AUTOMATIQUE)\nA. Exclusions métier (rejet par domaine)\n\nToute opportunité dont l’objet principal relève de l’un des domaines suivants est automatiquement rejetée :\n\nTravaux / BTP / Génie civil\n\nFournitures (équipements, matériels, consommables, EPI)\n\nMaintenance technique ou achat d’équipements\n\nGardiennage & sécurité physique\n\nCatering & restauration\n\nTransport & logistique pure\n\nNettoyage & gestion des déchets\n\nB. Conditions commerciales & opérationnelles (rejet automatique)\n\nUn AO est NO-GO immédiatement si au moins une des conditions suivantes est vraie :\n\nBudget est moins de 150 000 MAD\n\nDélai de réponse est moins de 10 jours calendaires\n\nCaution / garantie bancaire est superieur de 20 000 MAD\n\nPays hors Liste Blanche\n\nDomaine hors périmètre TargetUp ou relevant des exclusions métier\n\nConditions de paiement superieur de 70 jours après facture\n\nMarge brute estimée < 30% (charges > 70% du budget)\n\nDurée d’exécution superieur 12 mois sans validation préalable de la direction\n\nAgréments / qualifications obligatoires non disponibles chez TargetUp avant la date limite\n\nPARAMÈTRES D’EXÉCUTION\n\n\ntemperature = 0.25\n\ntop_p = 0.9\n\nmax_tokens = 100\n\nDONNÉES DE L’OPPORTUNITÉ\nThe Opportunity :\nName : {{ $('Webhook').item.json.body.objet }}\nClient : {{ $('Webhook').item.json.body.acheteur }}\nlieux excution : {{ $('Webhook').item.json.body.lieux_execution }}\nDate de limite : {{ $('Webhook').item.json.body.date_limite }}\nURL : {{ $('Webhook').item.json.body.first_button_url }}\nEXTRACTED TEXT : {{ $('Webhook').item.json.body.merged_text }}\n\n\nOUTPUT FINAL (OBLIGATOIRE)\n\nRépondre uniquement par :\n\"Oui\" ou \"No\"\n\nAucune explication, justification ou texte supplémentaire autorisé","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1216,528],"id":"4f3101fb-eaf5-416a-bfec-606a4eafdf8e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1200,768],"id":"61ff5398-5130-44f7-a108-e1ce1c37bd4e","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=produire une analyse DENSE, PRÉCISE et ACTIONNABLE de chaque AO reçu, comme le ferait un chef de projet expérimenté qui prépare un dossier de soumission pour Targetup consulting / Targetup university\nRÈGLE ABSOLUE : Chaque champ doit être rempli avec des informations EXTRAITES du texte de l'AO.\n\nZéro phrase générique. Si une information est absente du texte, écrire explicitement [NON PRÉCISÉ DANS L'AO - À VÉRIFIER RC/CPS].\n\nGénérer une réponse JSON stricte, compacte et valide selon le schéma fourni.\n\n\nSECTION EXTRACTION\n\nExtraire depuis le texte de l'AO :\n\nclient : nom du maître d'ouvrage / donneur d'ordre\ntype_opportunite : \"service\" ou \"formation\" uniquement\nmode_passation : \"AO ouvert\" | \"consultation\" | \"appel à manifestation d'intérêt\"\nnom_societe, adresse, rue, ville, etat, code_postal\npays : remplacer par l'ID numérique selon la table de mapping ci-dessous (Maroc = 136)\nsite_web, langue\nnom_contact, titre_contact, email, poste, mobile\nvendeur, equipe_commerciale\nsecteur_activite : secteur précis (ex : \"Santé publique\", \"Industrie agroalimentaire\", \"Éducation nationale\")\ntaille_entreprise : \"TPE\" | \"PME\" | \"ETI\" | \"GE\" | \"Institution publique\" | \"ONG\" | \"Bailleur international\"\nnb_annees_experience : années d'expérience minimum exigées pour les experts (ex : \"5 ans minimum\")\ndescription : résumé factuel de la prestation attendue, durée, périmètre géographique, livrables attendus\nbudget : en MAD entier. Conversion : €×11, $×10. Si absent → 0\nCaution : montant caution provisoire en MAD. Si absent → 0\ndate_limite_soumission : format YYYY-MM-DD\n\n\n**🔍 PROCÉDURES INTERNES DE CONTRÔLE (À APPLIQUER DANS L’ANALYSE)**  \n\nLors de l’analyse d’une opportunité, intégrez systématiquement ces vérifications :\n\n1. **Fiabilité des échéances**  \n   - La date limite de soumission extraite du texte fait foi. En interne, elle devra être comparée avec Odoo (si mentionné) mais cela n’affecte pas l’extraction.\n\n2. **Analyse rigoureuse du dossier d’appel d’offres** (applicable aux AO/AMI)  \n   - **Dossier administratif** : vérifiez la présence implicite ou explicite des documents requis (déclaration sur l’honneur, attestations fiscales, CNSS, cautionnement provisoire…).  \n   - **Dossier technique** :  \n     * Validation des références : assurez-vous que les références déjà acquises (stockées dans One Drive) correspondent aux exigences.  \n     * Vérification des agréments requis.  \n   - **Offre technique** :  \n     * Rédaction méthodologie, planning, chronogramme.  \n     * Sélection des experts : adaptez les profils (années d’expérience, spécialité) aux exigences.  \n     * Format des CV (spécifique imposé ? type CV CANVA).  \n   - **Offre financière** :  \n     * Analysez le mode de sélection (prix de référence imposé vs pondération).  \n     * Si aucune estimation budgétaire, envisagez une proposition stratégique.\n\nCes éléments influencent la génération des champs `upload_step`, `next_actions`, `risks` et `strategic_value`.\n\n\n\nSCORING ET QUALIFICATION \n\nscore (0-100) : note globale basée sur :\n\nAlignement avec les pôles P1-P6 TargetUp (0-30 pts)\nFaisabilité technique et disponibilité des compétences (0-25 pts)\nAttractivité financière et budget (0-20 pts)\nDélai de soumission réaliste (0-15 pts)\nValeur stratégique client/secteur (0-10 pts)\n\npriority :\nH = score ≥ 70 ET alignement \"high\"\nM = score 45-69 OU alignement \"medium\"\nL = score < 45 OU alignement \"low\"\ngo_nogo :\nGO = score ≥ 65 ET pas de critère d'exclusion bloquant\nREVIEW = score 45-64 OU doute sur éligibilité / compétences\nNO_GO = score < 45 OU hors périmètre métier TargetUp\nreasons : liste de 5 à 8 raisons PRÉCISES et SPÉCIFIQUES à l'AO justifiant le score et la décision.\nChaque raison doit citer un élément réel du texte (ex : \"La prestation exige une certification IATF 16949 — pôle P1 directement mobilisable\", \"Budget estimé non communiqué — risque de positionnement financier à construire\", \"Délai de soumission à 10 jours — faisable mais serré pour montage dossier complet\").\nsummary (≤400 caractères) : résumé factuel en français. Citer : type de prestation, maître d'ouvrage, secteur, durée, périmètre géographique, et budget si disponible.\nfit{} :\nalignment : \"high\" | \"medium\" | \"low\"\ntype : type de prestation exacte (ex : \"Audit ISO 14001 + accompagnement certification\", \"Formation Lead Auditeur 45001\", \"Étude de faisabilité technique et financière\")\nbudget_class : \"< 100K MAD\" | \"100K-500K MAD\" | \"500K-2M MAD\" | \"> 2M MAD\" | \"Non communiqué\"\ndelivery_mode : \"présentiel\" | \"distanciel\" | \"hybride\" | \"mixte terrain+siège\" — selon ce qui est précisé dans l'AO\ndeadline_ok : true si délai ≥ 7 jours ouvrés, false si < 7 jours\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : strategic_value\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nProduire 5 points d'analyse DENSES, chacun de 3 à 5 phrases. Zéro généralité. Tout doit être ancré dans le texte de l'AO.\n① ALIGNEMENT SERVICES TargetUp\nCiter le ou les pôles P1-P6 mobilisables et justifier pourquoi avec des éléments textuels précis de l'AO.\nPréciser si c'est TargetUp Consulting, University, ou les deux qui interviennent.\nSi plusieurs pôles sont mobilisables, indiquer lequel est central et lesquels sont complémentaires.\nIndiquer si un programme commercial TargetUp (MOUWAKABA, CSF, INMAA, etc.) peut être proposé en bundle.\n② COMPATIBILITÉ RÉFÉRENCES\nDécrire le type exact de référence que le client va exiger (secteur, nature de la mission, taille du client, montant ou durée type).\nÉvaluer si le portefeuille de références TargetUp (OneDrive) est susceptible de couvrir ces exigences.\nIdentifier les gaps potentiels : secteur nouveau pour TargetUp ? Type de prestation jamais réalisée ? Références insuffisantes en nombre ?\nNiveau de risque référentiel : Faible / Moyen / Élevé — avec justification.\n③ PROFIL EXPERT REQUIS\nLister tous les critères d'expertise exigés dans l'AO : diplôme minimum, années d'expérience, domaine de spécialité, certifications obligatoires, langues, disponibilité.\nÉvaluer si ces profils existent dans la base consultants TargetUp ou s'il faut recruter/sous-traiter.\nSi plusieurs experts sont nécessaires (ex : chef de mission + spécialistes), décrire la composition d'équipe idéale.\nSignaler tout critère de profil inhabituel ou restrictif (ex : nationalité, agrément d'État, accréditation spécifique).\n④ ANALYSE FINANCIÈRE\nSi le budget est mentionné : analyser si le montant est cohérent avec la complexité de la prestation et les marges habituelles TargetUp.\nSi le budget est ABSENT : estimer un ordre de grandeur en fonction de la durée du projet, du nombre d'experts impliqués, et du type de prestation. Proposer une fourchette réaliste en MAD.\nIdentifier le mode de sélection financier si précisé (moins-disant / pondération / prix de référence). Si non précisé : indiquer [À VÉRIFIER RC/CPS] et recommander la stratégie de positionnement par défaut.\nMentionner la caution provisoire si présente et évaluer son impact sur la trésorerie.\n⑤ VALEUR STRATÉGIQUE & POSITIONNEMENT\nQualifier le type de client et sa notoriété (institution ministérielle, ONG internationale, bailleur multilatéral, grande entreprise privée, PME locale).\nAnalyser la portée géographique : local, régional, national, international — et ce que cela implique pour TargetUp.\nÉvaluer si cet AO représente un premier pied dans un nouveau secteur, une extension d'une relation existante, ou une consolidation de position.\nIdentifier les partenariats ou visibilités stratégiques potentiels (ex : logo d'un bailleur international sur les livrables, réseau sectoriel, effet vitrine).\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : upload_step\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nGénérer une checklist de préparation du dossier en 5 blocs. Chaque item doit être actionnable IMMÉDIATEMENT par l'équipe TargetUp. Les items doivent citer des éléments RÉELS de l'AO (durée, secteur, profil, format).\nA. DOSSIER ADMINISTRATIF\nLister TOUS les documents administratifs mentionnés dans le RC/CPS. Si non précisés, lister les standards marocains :\n□ Déclaration sur l'honneur (modèle RC ou TargetUp)\n□ Attestation fiscale en cours de validité (DGI)\n□ Attestation CNSS en cours de validité\n□ Registre de commerce (extrait récent < 3 mois)\n□ Statuts de la société + PV de désignation du gérant\n□ Caution provisoire : [montant MAD] — à émettre par banque agréée au nom de [client]\n□ Tout document SPÉCIFIQUE mentionné dans cet AO : [à extraire du texte]\nSignaler tout document inhabituel ou critère d'exclusion automatique mentionné.\nB. DOSSIER TECHNIQUE — RÉFÉRENCES\n□ Ouvrir OneDrive > dossier \"Références\" et filtrer par : secteur [X], type de prestation [Y]\n□ Nombre minimum de références exigées : [extraire du texte ou noter NON PRÉCISÉ]\n□ Format des références : attestations de bonne exécution / contrats signés / PV de réception [selon AO]\n□ Vérifier que chaque référence couvre : client nommé, montant ou durée, nature de la prestation, date de réalisation\n□ Si gap référentiel identifié : évaluer si une référence partielle peut être recadrée ou si une association avec un partenaire est nécessaire\n□ Préparer une fiche de synthèse des 3 meilleures références à mettre en avant pour cet AO\nC. OFFRE TECHNIQUE — EXPERTS & MÉTHODOLOGIE\n□ Identifier dans la base consultants TargetUp : [profil 1 : X ans, spécialité Y, certification Z] + [profil 2 si nécessaire]\n□ Vérifier le format CV imposé : CV CANVA TargetUp / format client spécifique [selon AO] / [À VÉRIFIER RC/CPS]\n□ Rédiger la note méthodologique : approche, phases d'intervention, outils mobilisés, interactions avec le client\n□ Élaborer le chronogramme détaillé sur [durée du projet selon AO] : phases, jalons, livrables intermédiaires\n□ Préparer la liste des livrables attendus avec format et délai de remise pour chacun\n□ Si formation : préparer le programme pédagogique détaillé, modalités d'évaluation, attestations prévues\nD. OFFRE FINANCIÈRE\n□ Mode de sélection identifié : [moins-disant / pondération X%T - Y%F / prix de référence imposé / NON PRÉCISÉ]\n□ Si pondération : optimiser le ratio technique/financier selon les pondérations indiquées\n□ Si budget non communiqué : construire la proposition sur base de [durée] × [nb experts] × [TJM selon profil]\nFourchette estimée : [X MAD] à [Y MAD] selon niveau de service proposé\n□ Préparer le Bordereau de Prix Unitaire (BPU) ou Détail Quantitatif Estimatif (DQE) selon format demandé\n□ Vérifier les conditions de paiement (acompte, jalons, délai de paiement) et leur impact sur la trésorerie\n□ Calculer la marge nette visée et la comparer aux seuils TargetUp habituels\nE. VÉRIFICATION FINALE AVANT DÉPÔT\n□ PRIORITÉ 1 : Comparer la date limite dans Odoo avec la date figurant dans le RC/CPS officiel — corriger si écart\n□ Vérifier que la caution provisoire est émise au bon nom, bon montant, bonne durée de validité\n□ Relire le RC point par point : critères d'exclusion automatique, agréments obligatoires, CA minimum requis, ratios financiers\n□ Vérifier la cohérence de l'ensemble du dossier (pas de contradictions entre offre technique et offre financière)\n□ Poser un rappel Odoo à J-5 avant la date limite pour relecture finale\n□ Confirmer le mode de dépôt : physique (adresse exacte, heure limite) / plateforme en ligne (lien, identifiants) / par courrier\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : risk\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nIdentifier 4 risques SPÉCIFIQUES à CET AO. Pour chaque risque : description précise, élément déclencheur tiré du texte de l'AO, niveau (Faible/Moyen/Élevé), et mesure d'atténuation recommandée.\n① RISQUE RÉFÉRENTIEL [Faible/Moyen/Élevé]\nDéclencheur : [citer l'exigence exacte du texte AO]\nDescription : Analyser si les références existantes TargetUp couvrent le secteur, le montant, et le type de prestation exigés. Identifier le gap précis si existant.\nAtténuation : [action concrète : compléter avec un partenaire, recadrer une référence existante, demander clarification au client…]\n② RISQUE TECHNIQUE / COMPÉTENCES [Faible/Moyen/Élevé]\nDéclencheur : [citer la compétence ou certification exigée dans l'AO]\nDescription : Évaluer si les certifications, agréments ou expertises spécifiques demandés sont disponibles chez TargetUp ou ses consultants associés. Inclure les agréments d'État si mentionnés.\nAtténuation : [sourcer consultant externe / vérifier accréditation / former en urgence / s'associer…]\n③ RISQUE FINANCIER [Faible/Moyen/Élevé]\nDéclencheur : [budget absent / caution élevée / délai de paiement long / pénalités mentionnées]\nDescription : Analyser l'impact financier précis : risque de sous-évaluation si budget absent, impact trésorerie de la caution provisoire, pénalités de retard si mentionnées, conditions de paiement défavorables.\nAtténuation : [construire proposition avec marge de sécurité / négocier acompte / limiter engagement sur pénalités…]\n④ RISQUE OPÉRATIONNEL / DÉLAI [Faible/Moyen/Élevé]\nDéclencheur : [date limite de soumission / durée du projet / contraintes terrain mentionnées]\nDescription : Évaluer la faisabilité du planning de réponse (délai pour monter le dossier), les contraintes de disponibilité des experts, les déplacements éventuels, et le risque de chevauchement avec d'autres AO en cours.\nAtténuation : [mobiliser l'équipe immédiatement / déléguer des sections / vérifier agenda consultants…]\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : next_actions\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nGénérer entre 6 et 8 actions PRÉCISES, classées par priorité décroissante (SLA le plus court en premier).\nChaque action doit nommer un élément RÉEL de l'AO (secteur, profil, type de prestation, etc.) — zéro formulation générique.\nOwners possibles : \"pmo\" | \"sales\" | \"monitoring\"\nExemple de formulation attendue :\n{\"owner\":\"pmo\",\"action\":\"Vérifier date limite RC/CPS [nom AO] vs Odoo et corriger si écart — risque d'exclusion\",\"sla_hours\":2}\n{\"owner\":\"sales\",\"action\":\"Filtrer OneDrive références > secteur [X] > type [Y] — identifier les 3 meilleures attestations compatibles\",\"sla_hours\":8}\n{\"owner\":\"pmo\",\"action\":\"Sourcer consultant [profil exact : ex Lead Auditeur ISO 45001, 5 ans min] dans base TargetUp ou réseau partenaires\",\"sla_hours\":16}\n{\"owner\":\"sales\",\"action\":\"Analyser mode sélection financier [pondération/moins-disant/référence] et définir stratégie de prix\",\"sla_hours\":16}\n{\"owner\":\"pmo\",\"action\":\"Rédiger note méthodologique et chronogramme sur [durée projet] selon les phases identifiées dans l'AO\",\"sla_hours\":24}\n{\"owner\":\"pmo\",\"action\":\"Préparer BPU/DQE et calculer marge nette sur base [X jours/homme × TJM profil senior]\",\"sla_hours\":32}\n{\"owner\":\"monitoring\",\"action\":\"Créer rappel Odoo J-5 avant [date limite] pour relecture finale et vérification conformité dossier\",\"sla_hours\":4}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSCHEMA JSON — FORMAT DE SORTIE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nProduire UNIQUEMENT un JSON valide, strictement conforme à ce schéma. Aucun texte en dehors du JSON.\n{\n\"score\": \"0..100\",\n\"priority\": \"H|M|L\",\n\"go_nogo\": \"GO|NO_GO|REVIEW\",\n\"reasons\": [],\n\"summary\": \"<=400c\",\n\"fit\": {\n\"alignment\": \"high|medium|low\",\n\"type\": \"\",\n\"budget_class\": \"\",\n\"delivery_mode\": \"\",\n\"deadline_ok\": true\n},\n\"details\": {\n\"client\": \"\",\n\"type_opportunite\": \"\",\n\"mode_passation\": \"\",\n\"nom_societe\": \"\",\n\"adresse\": \"\",\n\"rue\": \"\",\n\"ville\": \"\",\n\"etat\": \"\",\n\"code_postal\": \"\",\n\"pays\": 0,\n\"site_web\": \"\",\n\"langue\": \"\",\n\"nom_contact\": \"\",\n\"titre_contact\": \"\",\n\"email\": \"\",\n\"poste\": \"\",\n\"mobile\": \"\",\n\"vendeur\": \"\",\n\"equipe_commerciale\": \"\",\n\"secteur_activite\": \"\",\n\"taille_entreprise\": \"\",\n\"nb_annees_experience\": \"\",\n\"description\": \"\",\n\"budget\": \"\",\n\"Caution\": \"\",\n\"date_limite_soumission\": \"\"\n},\n\"strategic_value\": \"\",\n\"upload_step\": \"\",\n\"risk\": \"\",\n\"next_actions\": [\n{\"owner\": \"pmo|sales|monitoring\", \"action\": \"...\", \"sla_hours\": 8}\n]\n}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARAMÈTRES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\ntemperature: 0.2\ntop_p: 0.85\nmax_tokens: 3000\n\n\nThe Opportunity :\n\nName : {{ $('Webhook').item.json.body.objet }}\nClient : {{ $('Webhook').item.json.body.acheteur }}\nlieux excution : {{ $('Webhook').item.json.body.lieux_execution }}\nDate de limite : {{ $('Webhook').item.json.body.date_limite }}\nURL : {{ $('Webhook').item.json.body.first_button_url }}\nEXTRACTED TEXT : {{ $('Webhook').item.json.body.merged_text }}\n\n\n","options":{"systemMessage":"Tu es un analyste senior spécialisé dans la réponse aux appels d'offres pour TargetUp Group (Maroc).\n\nTu maîtrises parfaitement le catalogue de services TargetUp Consulting & TargetUp University.\n\nCONTEXTE TARGETUP :\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-640,512],"id":"22cbf1e8-d7e8-4c70-b577-fba2f3f30d1e","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-576,768],"id":"215825eb-8a4d-47ce-8371-7aa79f32b8da","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1360,736],"id":"fbe99d76-7309-40a3-b885-234827532fc0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-736,784],"id":"25f92ac3-50b5-40e2-a131-56bd56bf82d8","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"122fad05-ccd2-4243-9ed5-7c1711edc509","leftValue":"={{ $json.Caution }}","rightValue":"={{ 20000 }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[96,496],"id":"4e99594b-456c-434c-8ffc-5a2e8bfc6790","name":"If2"}],"connections":{"If":{"main":[[{"node":"Create an item","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update an item","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"26c4a43c-65fb-405e-81e4-e07598395dfe","activeVersionId":"26c4a43c-65fb-405e-81e4-e07598395dfe","triggerCount":1,"shared":[{"updatedAt":"2026-03-22T21:45:43.115Z","createdAt":"2026-03-22T21:45:43.115Z","role":"workflow:owner","workflowId":"f7FtI1DPyHNEZo7d","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T11:28:15.000Z","createdAt":"2026-04-02T11:17:40.234Z","versionId":"26c4a43c-65fb-405e-81e4-e07598395dfe","workflowId":"f7FtI1DPyHNEZo7d","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"778f4b08-ab3f-4d28-81ba-9e2521d6e970","leftValue":"={{ $json.go_nogo }}","rightValue":"GO","operator":{"type":"string","operation":"equals"}},{"id":"71d5c249-ffc7-4d21-b0fc-3cc677ff409b","leftValue":"={{ $json.score }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,800],"id":"2b8e0047-9c35-4925-8ee9-27f34ef2bba6","name":"If"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Webhook').item.json.body.objet }}"},{"fieldName":"partner_name","fieldValue":"={{ $json.client }}"},{"fieldName":"street","fieldValue":"={{ $json.adresse }} "},{"fieldName":"website","fieldValue":"={{ $('Webhook').item.json.body.download_page_url || $json.site_web }}"},{"fieldName":"contact_name","fieldValue":"={{ $json.nom_contact }}"},{"fieldName":"email_from","fieldValue":"={{ $json.email }} "},{"fieldName":"phone","fieldValue":"={{ $json.mobile }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.minus({ days: 1 }).format('DD') + '<br><br>' +\n   '<b>Description</b> : ' + $json.description + '<br><br>' +\n   '<b>Summary</b> : ' + $json.summary + '<br><br>' +\n   '<b>Reasons</b> : ' + $json.reasons.replace(/\\n/g, '<br>') + '<br><br>' +\n   '<b>Strategic Value</b> : <ul>' + ($json.strategic_value ? $json.strategic_value.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' + \n   '<b>Actions</b> : ' + $json.action + '<br><br>' +\n   '<b>Upload Steps</b> : <ul>' + ($json.upload_step ? $json.upload_step.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Risks</b> : <ul>' + ($json.risks ? $json.risks.split(\"\\n\").map(b => '<li>' + b.replace(/^•\\s*/, '') + '</li>').join('') : '') + '</ul>' +\n   '<b>Budget</b> : ' + $json.budget  + '<br><br>' +\n   '<b>Caution</b> : ' + $json.Caution + '<br><br>' +\n   '<b>Date de limite</b> : ' + $json.date_limite_soumission + '<br><br>'\n}}\n"},{"fieldName":"function","fieldValue":"={{ $json.titre_contact }}"},{"fieldName":"street2","fieldValue":"={{ $json.pays }} {{ $json.ville }} {{ $json.rue }} {{ $json.code_postal }}\n"},{"fieldName":"city","fieldValue":"={{ $json.ville }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[496,592],"id":"02ab9382-5bd5-4213-b177-4996ded22c3d","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"team_id","fieldValue":"={{ 16 }}"},{"fieldName":"priority","fieldValue":"={{ $('Code in JavaScript1').item.json.priority_number.toString().trim() }}"},{"fieldName":"source_id","fieldValue":"={{ 398 }}"},{"fieldName":"lead_properties","fieldValue":"={{\nJSON.stringify([\n  {\n    \"name\": \"e7d6e8ea190d4ca6\",\n    \"type\": \"integer\",\n    \"string\": \"Budget estimé (MAD)\",\n    \"value\": (() => {\n      const budget = $('If').item.json.budget;\n      if (!budget || String(budget).toLowerCase().includes('non précisé') || String(budget).toLowerCase().includes('unknown')) return 0;\n      const clean = String(budget).replace(/[^\\d.-]/g, '');\n      const num = Number(clean);\n      return isNaN(num) ? 0 : num;\n    })()\n  },\n  {\n    \"name\": \"dee56c6c1afbe794\",\n    \"type\": \"integer\",\n    \"string\": \"Caution\",\n    \"value\": $('If').item.json.Caution || 0\n  },\n  {\n    \"name\": \"6c8a4697f1207a00\",\n    \"type\": \"datetime\",\n    \"string\": \"Date limite de soumission\",\n    \"value\": (() => {\n      const raw = $('Code in JavaScript1').item.json.date_limite_soumission;\n      if (!raw) return false;\n      // Normalize format for Odoo: \"YYYY-MM-DD HH:MM:SS\"\n      const date = new Date(raw);\n      return date.toISOString().slice(0, 19).replace('T', ' ');\n    })()\n  },\n  {\n    \"name\": \"94725c5f29d14548\",\n    \"type\": \"selection\",\n    \"string\": \"Mode de passation\",\n    \"value\": $('If').item.json.mode_passation || false\n  },\n  {\n    \"name\": \"e0648c499207fcd1\",\n    \"type\": \"integer\",\n    \"string\": \"Score IA\",\n    \"value\": $('If').item.json.score || 0\n  },\n  {\n    \"name\": \"744143249c04537a\",\n    \"type\": \"selection\",\n    \"string\": \"Recommandation IA\",\n    \"value\": (() => {\n      const val = String($('If').item.json.go_nogo || '').trim().toUpperCase();\n      switch (val) {\n        case 'GO': return '18d02919b7324473';\n        case 'NO_GO':\n        case 'NO-GO': return '8782e3c3665fee24';\n        case 'REVIEW': return '183e6d717b50c448';\n        default: return false;\n      }\n    })()\n  }\n])\n}}\n"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[688,592],"id":"10949b51-62ae-4b23-81d4-7f714ab1a54c","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"jsCode":"// ===============================\n// SAFE EXTRACTION FROM MODEL NODE\n// ===============================\n\n// 1️⃣ Get the input data\nconst inputData = $input.first().json;\nlet raw = null;\n\n// Handle different possible n8n/AI output structures\nif (inputData.output && Array.isArray(inputData.output) && inputData.output[0]?.content?.[0]?.text) {\n  raw = inputData.output[0].content[0].text;\n} else if (typeof inputData.output === \"string\") {\n  raw = inputData.output;\n} else if (typeof inputData.text === \"string\") {\n  raw = inputData.text;\n} else if (typeof inputData.output === \"object\") {\n  // If it's already an object, stringify it so the cleaner can process it or skip to assignment\n  raw = JSON.stringify(inputData.output);\n}\n\nif (!raw) {\n  throw new Error(\"No model text found in input\");\n}\n\n// 2️⃣ Clean JSON formatting (remove ```json blocks)\nconst cleanJson = raw.replace(/```json|```/gi, \"\").trim();\n\n// 3️⃣ Parse the JSON safely\nlet obj; // Declared once here\ntry {\n  obj = JSON.parse(cleanJson);\n} catch (err) {\n  throw new Error(\"Invalid JSON from model:\\n\" + cleanJson);\n}\n\n// ===============================\n// BUILD FINAL OUTPUT\n// ===============================\nconst out = {};\n\n// --- TOP LEVEL ---\nout.score = Number(obj.score) || 0;\nout.priority = (obj.priority || \"\").toString().trim();\nout.go_nogo = obj.go_nogo || \"\";\nout.reasons = Array.isArray(obj.reasons) ? obj.reasons.join(\" || \") : (obj.reasons || \"\");\nout.summary = obj.summary || \"\";\n\n// --- FIT ---\nout.alignment = obj.fit?.alignment || \"\";\nout.type = obj.fit?.type || \"\";\nout.budget_class = obj.fit?.budget_class || \"\";\nout.delivery_mode = obj.fit?.delivery_mode || \"\";\nout.deadline_ok = obj.fit?.deadline_ok ?? \"\";\n\n// --- DETAILS ---\nconst d = obj.details || {};\nout.client = d.client || \"\";\nout.type_opportunite = d.type_opportunite || \"\";\n\n// --- MODE DE PASSATION MAPPING ---\nconst modeTxt = (d.mode_passation || \"\").toLowerCase();\nif (modeTxt.includes(\"ao ouvert\")) out.mode_passation = \"4247d725742a05e7\";\nelse if (modeTxt.includes(\"consultation\")) out.mode_passation = \"f374dfea602ed07e\";\nelse if (modeTxt.includes(\"manifestation\")) out.mode_passation = \"70069e67a2e765de\";\nelse out.mode_passation = \"\";\n\n// --- COMPANY & CONTACT ---\nout.nom_societe = d.nom_societe || \"\";\nout.adresse = d.adresse || \"\";\nout.rue = d.rue || \"\";\nout.ville = d.ville || \"\";\nout.etat = d.etat || \"\";\nout.code_postal = d.code_postal || \"\";\nout.pays = d.pays || \"\";\nout.site_web = d.site_web || \"\";\nout.langue = d.langue || \"\";\nout.nom_contact = d.nom_contact || \"\";\nout.titre_contact = d.titre_contact || \"\";\nout.email = d.email || \"\";\nout.poste = d.poste || \"\";\nout.mobile = d.mobile || \"\";\nout.vendeur = d.vendeur || \"\";\nout.equipe_commerciale = d.equipe_commerciale || \"\";\nout.secteur_activite = d.secteur_activite || \"\";\nout.taille_entreprise = d.taille_entreprise || \"\";\nout.nb_annees_experience = d.nb_annees_experience || \"\";\nout.description = d.description || \"\";\n\n// --- NUMERIC ---\nout.budget = Number(d.budget) || 0;\nout.Caution = Number(d.Caution) || 0;\n\n// --- DATE FORMAT FOR ODOO ---\nconst rawDate = d.date_limite_soumission;\nif (rawDate) {\n  const date = new Date(rawDate);\n  if (!isNaN(date)) {\n    const yyyy = date.getFullYear();\n    const mm = String(date.getMonth() + 1).padStart(2, \"0\");\n    const dd = String(date.getDate()).padStart(2, \"0\");\n    const hh = String(date.getHours()).padStart(2, \"0\");\n    const mi = String(date.getMinutes()).padStart(2, \"0\");\n    const ss = String(date.getSeconds()).padStart(2, \"0\");\n    out.date_limite_soumission = `${yyyy}-${mm}-${dd} ${hh}:${mi}:${ss}`;\n  } else {\n    out.date_limite_soumission = null;\n  }\n} else {\n  out.date_limite_soumission = null;\n}\n\n// --- STRATEGIC / UPLOAD / RISKS ---\nfunction arrayToBullet(arr) {\n  if (!Array.isArray(arr)) return arr || \"\";\n  return arr.map((s) => `• ${s}`).join(\"\\n\");\n}\n\nout.strategic_value = arrayToBullet(obj.strategic_value);\nout.upload_step = arrayToBullet(obj.upload_step);\nconst riskValue = obj.risk || obj.risks;\nout.risks = arrayToBullet(riskValue);\n\n// --- NEXT ACTIONS ---\nconst na = (Array.isArray(obj.next_actions) ? obj.next_actions[0] : obj.next_actions) || {};\nout.owner = na.owner || \"\";\nout.action = na.action || \"\";\nout.sla_hours = Number(na.sla_hours) || 0;\n\n// --- STEPS ---\nif (Array.isArray(na.steps)) {\n  out.steps_summary = na.steps\n    .map((s, i) => `Step ${i + 1}: ${s.step || \"\"} | Document: ${s.document || \"\"} | Folder: ${s.folder || \"\"}`)\n    .join(\" || \");\n} else {\n  out.steps_summary = \"\";\n}\n\n// --- PRIORITY NUMBER ---\nconst p = out.priority.toUpperCase();\nif (p === \"H\") out.priority_number = 3;\nelse if (p === \"M\") out.priority_number = 2;\nelse if (p === \"L\") out.priority_number = 1;\nelse out.priority_number = 0;\n\n// ===============================\n// RETURN SINGLE ITEM\n// ===============================\nreturn [{ json: out }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,512],"id":"a94e1c4f-0029-4239-b959-812da6ef20ca","name":"Code in JavaScript1","onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"78e3201b-36a3-4341-a067-e74f0693be6d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1456,528],"id":"57df210d-38cb-4d56-a196-b40fcfcfde82","name":"Webhook","webhookId":"78e3201b-36a3-4341-a067-e74f0693be6d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1248,592],"id":"029ed7a1-44bd-4f10-97a3-0d143433c482","name":"Respond to Webhook1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reponse\": \"Score less then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,1024],"id":"3839f799-9e78-41c0-bc86-655ead57272b","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,1024],"id":"5627dcfc-d611-4bca-b5a7-44ae1d93bc34","name":"Wait","webhookId":"5e51cb2e-8a91-45f0-99df-dc4449d56b1b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,592],"id":"cef6f41a-3329-4028-8a9b-23762ea04b40","name":"Wait1","webhookId":"182f8f59-1c19-4505-82bb-3e816cc5953c"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"reponse\": \"Score more then 75, title : {{ $('Webhook').item.json.body.title }} \"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,992],"id":"9c59611d-a66f-4009-b179-3f8c973fb2e6","name":"Respond to Webhook2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,992],"id":"251ba7a6-1e6b-4c7c-95df-64c98c8cba7b","name":"Wait2","webhookId":"182f8f59-1c19-4505-82bb-3e816cc5953c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b484edc-498c-43df-a853-f6e41de766b5","leftValue":"={{ $json.output }}","rightValue":"=Oui","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,528],"id":"587dddca-c015-47e5-84c2-988e8ce3d2a9","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,944],"id":"af6e9cd4-2506-4130-bb52-8a0687f75dab","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Refus","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,992],"id":"9aa93ffa-962d-4b1e-a4fe-4535a874abfe","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4","mode":"list","cachedResultName":"KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oHqZBDWJC89WVQjQa0yW738vcd2ZfYRLa18dRQL-iX4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"AO","Nombre":"1","Source":"Marché Public","Status":"Accepté","Nom":"={{ $('Webhook').item.json.body.objet }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1072,592],"id":"ed447d39-2c0e-4e9f-b8e2-33f8f47e8896","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Tu es un assistant expert en analyse, qualification et filtrage d’opportunités B2B\n(AO / AMI / Grants / Programmes de formation / Référencements).\n\nMissions obligatoires\n\nExtraire toutes les informations clés de l’opportunité à partir du champ EXTRACTED TEXT.\n\nÉvaluer l’opportunité selon :\n\nLes filtres et priorités TargetUp\n\nLe pipeline TargetUp\n\nLes règles strictes GO / NO-GO\n\nCas particulier\n\n\n1. CONTEXTE TARGETUP :\n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\nRÈGLES DE GO / NO-GO\nB. Pays autorisés (Liste Blanche – par priorité stratégique)\n\nPriorité 1 – Hub principal\n\nMaroc (Siège)\n\nPriorité 2 – Hubs stratégiques UEMOA / CEMAC\n\nSénégal\n\nCôte d’Ivoire\n\nCameroun\n\nGabon\n\nPriorité 3 – Afrique de l’Ouest\n\nBénin\n\nBurkina Faso\n\nGuinée\n\nMali\n\nMauritanie\n\nNiger\n\nTogo\n\nGuinée-Bissau\n\nCap-Vert\n\nPriorité 4 – Afrique Centrale\n\nTchad\n\nCongo (République)\n\nRDC\n\nRCA\n\nGuinée Équatoriale\n\nPriorité 5 – Afrique de l’Est & Océan Indien\n\nBurundi\n\nComores\n\nDjibouti\n\nMadagascar\n\nSeychelles\n\n❌ RÈGLES NO-GO (REJET AUTOMATIQUE)\nA. Exclusions métier (rejet par domaine)\n\nToute opportunité dont l’objet principal relève de l’un des domaines suivants est automatiquement rejetée :\n\nTravaux / BTP / Génie civil\n\nFournitures (équipements, matériels, consommables, EPI)\n\nMaintenance technique ou achat d’équipements\n\nGardiennage & sécurité physique\n\nCatering & restauration\n\nTransport & logistique pure\n\nNettoyage & gestion des déchets\n\nB. Conditions commerciales & opérationnelles (rejet automatique)\n\nUn AO est NO-GO immédiatement si au moins une des conditions suivantes est vraie :\n\nBudget est moins de 150 000 MAD\n\nDélai de réponse est moins de 10 jours calendaires\n\nCaution / garantie bancaire est superieur de 20 000 MAD\n\nPays hors Liste Blanche\n\nDomaine hors périmètre TargetUp ou relevant des exclusions métier\n\nConditions de paiement superieur de 70 jours après facture\n\nMarge brute estimée < 30% (charges > 70% du budget)\n\nDurée d’exécution superieur 12 mois sans validation préalable de la direction\n\nAgréments / qualifications obligatoires non disponibles chez TargetUp avant la date limite\n\nPARAMÈTRES D’EXÉCUTION\n\n\ntemperature = 0.25\n\ntop_p = 0.9\n\nmax_tokens = 100\n\nDONNÉES DE L’OPPORTUNITÉ\nThe Opportunity :\nName : {{ $('Webhook').item.json.body.objet }}\nClient : {{ $('Webhook').item.json.body.acheteur }}\nlieux excution : {{ $('Webhook').item.json.body.lieux_execution }}\nDate de limite : {{ $('Webhook').item.json.body.date_limite }}\nURL : {{ $('Webhook').item.json.body.first_button_url }}\nEXTRACTED TEXT : {{ $('Webhook').item.json.body.merged_text }}\n\n\nOUTPUT FINAL (OBLIGATOIRE)\n\nRépondre uniquement par :\n\"Oui\" ou \"No\"\n\nAucune explication, justification ou texte supplémentaire autorisé","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1216,528],"id":"4f3101fb-eaf5-416a-bfec-606a4eafdf8e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1200,768],"id":"61ff5398-5130-44f7-a108-e1ce1c37bd4e","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=produire une analyse DENSE, PRÉCISE et ACTIONNABLE de chaque AO reçu, comme le ferait un chef de projet expérimenté qui prépare un dossier de soumission pour Targetup consulting / Targetup university\nRÈGLE ABSOLUE : Chaque champ doit être rempli avec des informations EXTRAITES du texte de l'AO.\n\nZéro phrase générique. Si une information est absente du texte, écrire explicitement [NON PRÉCISÉ DANS L'AO - À VÉRIFIER RC/CPS].\n\nGénérer une réponse JSON stricte, compacte et valide selon le schéma fourni.\n\n\nSECTION EXTRACTION\n\nExtraire depuis le texte de l'AO :\n\nclient : nom du maître d'ouvrage / donneur d'ordre\ntype_opportunite : \"service\" ou \"formation\" uniquement\nmode_passation : \"AO ouvert\" | \"consultation\" | \"appel à manifestation d'intérêt\"\nnom_societe, adresse, rue, ville, etat, code_postal\npays : remplacer par l'ID numérique selon la table de mapping ci-dessous (Maroc = 136)\nsite_web, langue\nnom_contact, titre_contact, email, poste, mobile\nvendeur, equipe_commerciale\nsecteur_activite : secteur précis (ex : \"Santé publique\", \"Industrie agroalimentaire\", \"Éducation nationale\")\ntaille_entreprise : \"TPE\" | \"PME\" | \"ETI\" | \"GE\" | \"Institution publique\" | \"ONG\" | \"Bailleur international\"\nnb_annees_experience : années d'expérience minimum exigées pour les experts (ex : \"5 ans minimum\")\ndescription : résumé factuel de la prestation attendue, durée, périmètre géographique, livrables attendus\nbudget : en MAD entier. Conversion : €×11, $×10. Si absent → 0\nCaution : montant caution provisoire en MAD. Si absent → 0\ndate_limite_soumission : format YYYY-MM-DD\n\n\n**🔍 PROCÉDURES INTERNES DE CONTRÔLE (À APPLIQUER DANS L’ANALYSE)**  \n\nLors de l’analyse d’une opportunité, intégrez systématiquement ces vérifications :\n\n1. **Fiabilité des échéances**  \n   - La date limite de soumission extraite du texte fait foi. En interne, elle devra être comparée avec Odoo (si mentionné) mais cela n’affecte pas l’extraction.\n\n2. **Analyse rigoureuse du dossier d’appel d’offres** (applicable aux AO/AMI)  \n   - **Dossier administratif** : vérifiez la présence implicite ou explicite des documents requis (déclaration sur l’honneur, attestations fiscales, CNSS, cautionnement provisoire…).  \n   - **Dossier technique** :  \n     * Validation des références : assurez-vous que les références déjà acquises (stockées dans One Drive) correspondent aux exigences.  \n     * Vérification des agréments requis.  \n   - **Offre technique** :  \n     * Rédaction méthodologie, planning, chronogramme.  \n     * Sélection des experts : adaptez les profils (années d’expérience, spécialité) aux exigences.  \n     * Format des CV (spécifique imposé ? type CV CANVA).  \n   - **Offre financière** :  \n     * Analysez le mode de sélection (prix de référence imposé vs pondération).  \n     * Si aucune estimation budgétaire, envisagez une proposition stratégique.\n\nCes éléments influencent la génération des champs `upload_step`, `next_actions`, `risks` et `strategic_value`.\n\n\n\nSCORING ET QUALIFICATION \n\nscore (0-100) : note globale basée sur :\n\nAlignement avec les pôles P1-P6 TargetUp (0-30 pts)\nFaisabilité technique et disponibilité des compétences (0-25 pts)\nAttractivité financière et budget (0-20 pts)\nDélai de soumission réaliste (0-15 pts)\nValeur stratégique client/secteur (0-10 pts)\n\npriority :\nH = score ≥ 70 ET alignement \"high\"\nM = score 45-69 OU alignement \"medium\"\nL = score < 45 OU alignement \"low\"\ngo_nogo :\nGO = score ≥ 65 ET pas de critère d'exclusion bloquant\nREVIEW = score 45-64 OU doute sur éligibilité / compétences\nNO_GO = score < 45 OU hors périmètre métier TargetUp\nreasons : liste de 5 à 8 raisons PRÉCISES et SPÉCIFIQUES à l'AO justifiant le score et la décision.\nChaque raison doit citer un élément réel du texte (ex : \"La prestation exige une certification IATF 16949 — pôle P1 directement mobilisable\", \"Budget estimé non communiqué — risque de positionnement financier à construire\", \"Délai de soumission à 10 jours — faisable mais serré pour montage dossier complet\").\nsummary (≤400 caractères) : résumé factuel en français. Citer : type de prestation, maître d'ouvrage, secteur, durée, périmètre géographique, et budget si disponible.\nfit{} :\nalignment : \"high\" | \"medium\" | \"low\"\ntype : type de prestation exacte (ex : \"Audit ISO 14001 + accompagnement certification\", \"Formation Lead Auditeur 45001\", \"Étude de faisabilité technique et financière\")\nbudget_class : \"< 100K MAD\" | \"100K-500K MAD\" | \"500K-2M MAD\" | \"> 2M MAD\" | \"Non communiqué\"\ndelivery_mode : \"présentiel\" | \"distanciel\" | \"hybride\" | \"mixte terrain+siège\" — selon ce qui est précisé dans l'AO\ndeadline_ok : true si délai ≥ 7 jours ouvrés, false si < 7 jours\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : strategic_value\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nProduire 5 points d'analyse DENSES, chacun de 3 à 5 phrases. Zéro généralité. Tout doit être ancré dans le texte de l'AO.\n① ALIGNEMENT SERVICES TargetUp\nCiter le ou les pôles P1-P6 mobilisables et justifier pourquoi avec des éléments textuels précis de l'AO.\nPréciser si c'est TargetUp Consulting, University, ou les deux qui interviennent.\nSi plusieurs pôles sont mobilisables, indiquer lequel est central et lesquels sont complémentaires.\nIndiquer si un programme commercial TargetUp (MOUWAKABA, CSF, INMAA, etc.) peut être proposé en bundle.\n② COMPATIBILITÉ RÉFÉRENCES\nDécrire le type exact de référence que le client va exiger (secteur, nature de la mission, taille du client, montant ou durée type).\nÉvaluer si le portefeuille de références TargetUp (OneDrive) est susceptible de couvrir ces exigences.\nIdentifier les gaps potentiels : secteur nouveau pour TargetUp ? Type de prestation jamais réalisée ? Références insuffisantes en nombre ?\nNiveau de risque référentiel : Faible / Moyen / Élevé — avec justification.\n③ PROFIL EXPERT REQUIS\nLister tous les critères d'expertise exigés dans l'AO : diplôme minimum, années d'expérience, domaine de spécialité, certifications obligatoires, langues, disponibilité.\nÉvaluer si ces profils existent dans la base consultants TargetUp ou s'il faut recruter/sous-traiter.\nSi plusieurs experts sont nécessaires (ex : chef de mission + spécialistes), décrire la composition d'équipe idéale.\nSignaler tout critère de profil inhabituel ou restrictif (ex : nationalité, agrément d'État, accréditation spécifique).\n④ ANALYSE FINANCIÈRE\nSi le budget est mentionné : analyser si le montant est cohérent avec la complexité de la prestation et les marges habituelles TargetUp.\nSi le budget est ABSENT : estimer un ordre de grandeur en fonction de la durée du projet, du nombre d'experts impliqués, et du type de prestation. Proposer une fourchette réaliste en MAD.\nIdentifier le mode de sélection financier si précisé (moins-disant / pondération / prix de référence). Si non précisé : indiquer [À VÉRIFIER RC/CPS] et recommander la stratégie de positionnement par défaut.\nMentionner la caution provisoire si présente et évaluer son impact sur la trésorerie.\n⑤ VALEUR STRATÉGIQUE & POSITIONNEMENT\nQualifier le type de client et sa notoriété (institution ministérielle, ONG internationale, bailleur multilatéral, grande entreprise privée, PME locale).\nAnalyser la portée géographique : local, régional, national, international — et ce que cela implique pour TargetUp.\nÉvaluer si cet AO représente un premier pied dans un nouveau secteur, une extension d'une relation existante, ou une consolidation de position.\nIdentifier les partenariats ou visibilités stratégiques potentiels (ex : logo d'un bailleur international sur les livrables, réseau sectoriel, effet vitrine).\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : upload_step\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nGénérer une checklist de préparation du dossier en 5 blocs. Chaque item doit être actionnable IMMÉDIATEMENT par l'équipe TargetUp. Les items doivent citer des éléments RÉELS de l'AO (durée, secteur, profil, format).\nA. DOSSIER ADMINISTRATIF\nLister TOUS les documents administratifs mentionnés dans le RC/CPS. Si non précisés, lister les standards marocains :\n□ Déclaration sur l'honneur (modèle RC ou TargetUp)\n□ Attestation fiscale en cours de validité (DGI)\n□ Attestation CNSS en cours de validité\n□ Registre de commerce (extrait récent < 3 mois)\n□ Statuts de la société + PV de désignation du gérant\n□ Caution provisoire : [montant MAD] — à émettre par banque agréée au nom de [client]\n□ Tout document SPÉCIFIQUE mentionné dans cet AO : [à extraire du texte]\nSignaler tout document inhabituel ou critère d'exclusion automatique mentionné.\nB. DOSSIER TECHNIQUE — RÉFÉRENCES\n□ Ouvrir OneDrive > dossier \"Références\" et filtrer par : secteur [X], type de prestation [Y]\n□ Nombre minimum de références exigées : [extraire du texte ou noter NON PRÉCISÉ]\n□ Format des références : attestations de bonne exécution / contrats signés / PV de réception [selon AO]\n□ Vérifier que chaque référence couvre : client nommé, montant ou durée, nature de la prestation, date de réalisation\n□ Si gap référentiel identifié : évaluer si une référence partielle peut être recadrée ou si une association avec un partenaire est nécessaire\n□ Préparer une fiche de synthèse des 3 meilleures références à mettre en avant pour cet AO\nC. OFFRE TECHNIQUE — EXPERTS & MÉTHODOLOGIE\n□ Identifier dans la base consultants TargetUp : [profil 1 : X ans, spécialité Y, certification Z] + [profil 2 si nécessaire]\n□ Vérifier le format CV imposé : CV CANVA TargetUp / format client spécifique [selon AO] / [À VÉRIFIER RC/CPS]\n□ Rédiger la note méthodologique : approche, phases d'intervention, outils mobilisés, interactions avec le client\n□ Élaborer le chronogramme détaillé sur [durée du projet selon AO] : phases, jalons, livrables intermédiaires\n□ Préparer la liste des livrables attendus avec format et délai de remise pour chacun\n□ Si formation : préparer le programme pédagogique détaillé, modalités d'évaluation, attestations prévues\nD. OFFRE FINANCIÈRE\n□ Mode de sélection identifié : [moins-disant / pondération X%T - Y%F / prix de référence imposé / NON PRÉCISÉ]\n□ Si pondération : optimiser le ratio technique/financier selon les pondérations indiquées\n□ Si budget non communiqué : construire la proposition sur base de [durée] × [nb experts] × [TJM selon profil]\nFourchette estimée : [X MAD] à [Y MAD] selon niveau de service proposé\n□ Préparer le Bordereau de Prix Unitaire (BPU) ou Détail Quantitatif Estimatif (DQE) selon format demandé\n□ Vérifier les conditions de paiement (acompte, jalons, délai de paiement) et leur impact sur la trésorerie\n□ Calculer la marge nette visée et la comparer aux seuils TargetUp habituels\nE. VÉRIFICATION FINALE AVANT DÉPÔT\n□ PRIORITÉ 1 : Comparer la date limite dans Odoo avec la date figurant dans le RC/CPS officiel — corriger si écart\n□ Vérifier que la caution provisoire est émise au bon nom, bon montant, bonne durée de validité\n□ Relire le RC point par point : critères d'exclusion automatique, agréments obligatoires, CA minimum requis, ratios financiers\n□ Vérifier la cohérence de l'ensemble du dossier (pas de contradictions entre offre technique et offre financière)\n□ Poser un rappel Odoo à J-5 avant la date limite pour relecture finale\n□ Confirmer le mode de dépôt : physique (adresse exacte, heure limite) / plateforme en ligne (lien, identifiants) / par courrier\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : risk\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nIdentifier 4 risques SPÉCIFIQUES à CET AO. Pour chaque risque : description précise, élément déclencheur tiré du texte de l'AO, niveau (Faible/Moyen/Élevé), et mesure d'atténuation recommandée.\n① RISQUE RÉFÉRENTIEL [Faible/Moyen/Élevé]\nDéclencheur : [citer l'exigence exacte du texte AO]\nDescription : Analyser si les références existantes TargetUp couvrent le secteur, le montant, et le type de prestation exigés. Identifier le gap précis si existant.\nAtténuation : [action concrète : compléter avec un partenaire, recadrer une référence existante, demander clarification au client…]\n② RISQUE TECHNIQUE / COMPÉTENCES [Faible/Moyen/Élevé]\nDéclencheur : [citer la compétence ou certification exigée dans l'AO]\nDescription : Évaluer si les certifications, agréments ou expertises spécifiques demandés sont disponibles chez TargetUp ou ses consultants associés. Inclure les agréments d'État si mentionnés.\nAtténuation : [sourcer consultant externe / vérifier accréditation / former en urgence / s'associer…]\n③ RISQUE FINANCIER [Faible/Moyen/Élevé]\nDéclencheur : [budget absent / caution élevée / délai de paiement long / pénalités mentionnées]\nDescription : Analyser l'impact financier précis : risque de sous-évaluation si budget absent, impact trésorerie de la caution provisoire, pénalités de retard si mentionnées, conditions de paiement défavorables.\nAtténuation : [construire proposition avec marge de sécurité / négocier acompte / limiter engagement sur pénalités…]\n④ RISQUE OPÉRATIONNEL / DÉLAI [Faible/Moyen/Élevé]\nDéclencheur : [date limite de soumission / durée du projet / contraintes terrain mentionnées]\nDescription : Évaluer la faisabilité du planning de réponse (délai pour monter le dossier), les contraintes de disponibilité des experts, les déplacements éventuels, et le risque de chevauchement avec d'autres AO en cours.\nAtténuation : [mobiliser l'équipe immédiatement / déléguer des sections / vérifier agenda consultants…]\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSECTION : next_actions\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nGénérer entre 6 et 8 actions PRÉCISES, classées par priorité décroissante (SLA le plus court en premier).\nChaque action doit nommer un élément RÉEL de l'AO (secteur, profil, type de prestation, etc.) — zéro formulation générique.\nOwners possibles : \"pmo\" | \"sales\" | \"monitoring\"\nExemple de formulation attendue :\n{\"owner\":\"pmo\",\"action\":\"Vérifier date limite RC/CPS [nom AO] vs Odoo et corriger si écart — risque d'exclusion\",\"sla_hours\":2}\n{\"owner\":\"sales\",\"action\":\"Filtrer OneDrive références > secteur [X] > type [Y] — identifier les 3 meilleures attestations compatibles\",\"sla_hours\":8}\n{\"owner\":\"pmo\",\"action\":\"Sourcer consultant [profil exact : ex Lead Auditeur ISO 45001, 5 ans min] dans base TargetUp ou réseau partenaires\",\"sla_hours\":16}\n{\"owner\":\"sales\",\"action\":\"Analyser mode sélection financier [pondération/moins-disant/référence] et définir stratégie de prix\",\"sla_hours\":16}\n{\"owner\":\"pmo\",\"action\":\"Rédiger note méthodologique et chronogramme sur [durée projet] selon les phases identifiées dans l'AO\",\"sla_hours\":24}\n{\"owner\":\"pmo\",\"action\":\"Préparer BPU/DQE et calculer marge nette sur base [X jours/homme × TJM profil senior]\",\"sla_hours\":32}\n{\"owner\":\"monitoring\",\"action\":\"Créer rappel Odoo J-5 avant [date limite] pour relecture finale et vérification conformité dossier\",\"sla_hours\":4}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSCHEMA JSON — FORMAT DE SORTIE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nProduire UNIQUEMENT un JSON valide, strictement conforme à ce schéma. Aucun texte en dehors du JSON.\n{\n\"score\": \"0..100\",\n\"priority\": \"H|M|L\",\n\"go_nogo\": \"GO|NO_GO|REVIEW\",\n\"reasons\": [],\n\"summary\": \"<=400c\",\n\"fit\": {\n\"alignment\": \"high|medium|low\",\n\"type\": \"\",\n\"budget_class\": \"\",\n\"delivery_mode\": \"\",\n\"deadline_ok\": true\n},\n\"details\": {\n\"client\": \"\",\n\"type_opportunite\": \"\",\n\"mode_passation\": \"\",\n\"nom_societe\": \"\",\n\"adresse\": \"\",\n\"rue\": \"\",\n\"ville\": \"\",\n\"etat\": \"\",\n\"code_postal\": \"\",\n\"pays\": 0,\n\"site_web\": \"\",\n\"langue\": \"\",\n\"nom_contact\": \"\",\n\"titre_contact\": \"\",\n\"email\": \"\",\n\"poste\": \"\",\n\"mobile\": \"\",\n\"vendeur\": \"\",\n\"equipe_commerciale\": \"\",\n\"secteur_activite\": \"\",\n\"taille_entreprise\": \"\",\n\"nb_annees_experience\": \"\",\n\"description\": \"\",\n\"budget\": \"\",\n\"Caution\": \"\",\n\"date_limite_soumission\": \"\"\n},\n\"strategic_value\": \"\",\n\"upload_step\": \"\",\n\"risk\": \"\",\n\"next_actions\": [\n{\"owner\": \"pmo|sales|monitoring\", \"action\": \"...\", \"sla_hours\": 8}\n]\n}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARAMÈTRES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\ntemperature: 0.2\ntop_p: 0.85\nmax_tokens: 3000\n\n\nThe Opportunity :\n\nName : {{ $('Webhook').item.json.body.objet }}\nClient : {{ $('Webhook').item.json.body.acheteur }}\nlieux excution : {{ $('Webhook').item.json.body.lieux_execution }}\nDate de limite : {{ $('Webhook').item.json.body.date_limite }}\nURL : {{ $('Webhook').item.json.body.first_button_url }}\nEXTRACTED TEXT : {{ $('Webhook').item.json.body.merged_text }}\n\n\n","options":{"systemMessage":"Tu es un analyste senior spécialisé dans la réponse aux appels d'offres pour TargetUp Group (Maroc).\n\nTu maîtrises parfaitement le catalogue de services TargetUp Consulting & TargetUp University.\n\nCONTEXTE TARGETUP :\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-640,512],"id":"22cbf1e8-d7e8-4c70-b577-fba2f3f30d1e","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-576,768],"id":"215825eb-8a4d-47ce-8371-7aa79f32b8da","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1360,736],"id":"fbe99d76-7309-40a3-b885-234827532fc0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-736,784],"id":"25f92ac3-50b5-40e2-a131-56bd56bf82d8","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"122fad05-ccd2-4243-9ed5-7c1711edc509","leftValue":"={{ $json.Caution }}","rightValue":"={{ 20000 }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[96,496],"id":"4e99594b-456c-434c-8ffc-5a2e8bfc6790","name":"If2"}],"connections":{"If":{"main":[[{"node":"Create an item","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update an item","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 26c4a43c","description":"","autosaved":true},"tags":[]}