google-sheet-publisher-CmBQyKZqazlpFbF9.json
{"updatedAt":"2026-03-23T09:41:21.555Z","createdAt":"2026-03-23T08:51:01.151Z","id":"CmBQyKZqazlpFbF9","name":"Google sheet Publisher","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2304,1008],"id":"9fd6318d-29d7-42f7-90e1-781df1521403","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a01151d9-f4c8-4b6a-96a5-f89b4a500cb4","name":"Description du post","value":"={{ $json['Post Contenu'] }}","type":"string"},{"id":"35ad863b-0c41-44de-9847-c720b194587e","name":"Lien","value":"={{ $json['Image URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,496],"id":"59f63504-aa46-41c6-949c-30b6385451c4","name":"Edit Fields1","executeOnce":true},{"parameters":{"postAs":"organization","organization":"106182052","text":"HELOO","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-224,912],"id":"f7a6a54c-6ed2-48dd-abb3-43553f66efad","name":"Create a post","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Publié Facebook":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,480],"id":"c91b2c69-4ef8-480d-abcd-1a57cff88c22","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2560,1008],"id":"aa06c71d-2ff7-4ab8-8dd2-8025b11a43bb","name":"Schedule Trigger"},{"parameters":{"resource":"image","node":"17841402913351505","imageUrl":"={{ $json.data.url }}","caption":"={{ $('Download file').item.json['Description du post'] }}"},"type":"@mookielianhd/n8n-nodes-instagram.instagram","typeVersion":1,"position":[-240,208],"id":"0b6c9d21-5b23-4922-ab2e-a39239fe8579","name":"Targetup Consulting","credentials":{},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.SERVICE }}","rightValue":"={{ \"Targetup Consulting\" }}","operator":{"type":"string","operation":"equals"},"id":"971352f3-b741-4e9c-9a5c-64323a3ea853"}],"combinator":"and"},"renameOutput":true,"outputKey":"Consulting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4a176b6-16fa-4c36-969e-ef11f4165cfa","leftValue":"={{ $json.SERVICE }}","rightValue":"={{ \"Targetup University\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"University"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2096,1008],"id":"7c2b882e-4a1d-4f90-b5a9-d58965835154","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35662e4b-a2b9-429f-a335-380d4b25b5fa","leftValue":"={{ $json.Publié }}","rightValue":"={{ \"Non\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1536,512],"id":"9c6fae86-a27e-4e90-af70-ac892a8597d4","name":"If","executeOnce":false},{"parameters":{"postAs":"organization","organization":"106182052","text":"HELOO","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-608,1984],"id":"552647ae-d27c-494b-b99f-90ec0f037f08","name":"Create a post1","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Lien }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-944,496],"id":"27c366dc-aa72-4424-8b1f-f12bbb8578cc","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"109423413883388","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $('Download file').item.json['Description du post'] }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-224,496],"id":"c9938621-84e8-4496-9b7d-70295f414acf","name":"Targetup Consulting4","onError":"continueErrorOutput"},{"parameters":{"outputFormat":"png","additionalOptions":"="},"type":"@cloudconvert/n8n-nodes-cloudconvert.cloudConvert","typeVersion":1,"position":[-752,496],"id":"a0d9def2-924a-444f-b581-ebd1991ecac1","name":"CloudConvert","credentials":{"cloudConvertOAuth2Api":{"id":"Qm0G744vTJBq2BRS","name":"CloudConvert account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Publié":"={{ \"Error\" }}","Publié Facebook":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,688],"id":"98b8df4b-2bfa-462e-a217-34b1cf8aa43c","name":"Update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"key","value":"3501d973b36a093baf24d6ef133725d4"},{"name":"name","value":"data"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-448,208],"id":"ce263de6-8c3f-459d-bdc4-4b91f75c29da","name":"HTTP Request1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Publié Intsagram":"={{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"548dace4-96e5-4e0d-b566-0a8e89b3b410","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Publié":"={{ \"Error\" }}","Publié Intsagram":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,224],"id":"fc2e09e0-ea44-4159-83f6-e9f727373c14","name":"Update row in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a01151d9-f4c8-4b6a-96a5-f89b4a500cb4","name":"Description du post","value":"={{ $json['Post Contenu'] }}","type":"string"},{"id":"35ad863b-0c41-44de-9847-c720b194587e","name":"Lien","value":"={{ $json['Image URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1424,1520],"id":"af60e938-d852-4b3b-975c-ad14f2db3de4","name":"Edit Fields","executeOnce":true},{"parameters":{"outputFormat":"png","additionalOptions":"="},"type":"@cloudconvert/n8n-nodes-cloudconvert.cloudConvert","typeVersion":1,"position":[-992,1520],"id":"b01705c6-c7da-4ac4-b947-369d69744c0e","name":"CloudConvert1","credentials":{"cloudConvertOAuth2Api":{"id":"Qm0G744vTJBq2BRS","name":"CloudConvert account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Lien }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1184,1520],"id":"5c0417db-c234-403e-8925-a8d183d68258","name":"Download file2","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35662e4b-a2b9-429f-a335-380d4b25b5fa","leftValue":"={{ $json.Publié }}","rightValue":"={{ \"Non\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,1536],"id":"25c0ed30-9a95-42bc-9c21-31a7af5aba03","name":"If1","executeOnce":false},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Publié Facebook":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-208,1600],"id":"6c7e35ad-b4d1-4266-83e1-48fd90aa052b","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","Publié":"={{ \"Error\" }}","Publié Facebook":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-208,1840],"id":"29697b00-90bf-40bc-80e0-375a5a67305c","name":"Update row in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","Publié":"={{ \"Oui\" }}","Publié Intsagram":"={{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,1152],"id":"5e173912-af1c-4601-bdbc-5adc687da2cd","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8","mode":"list","cachedResultName":"WEEK PLAN ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u67DMNc6ttqENPWmmN7KQgy0WolgxtD6Ah1ajQzhMA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","Publié":"={{ \"Error\" }}","Publié Intsagram":"={{ \"Non\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié","displayName":"Publié","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERVICE","displayName":"SERVICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SUJET","displayName":"SUJET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Contenu","displayName":"Post Contenu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Intsagram","displayName":"Publié Intsagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publié Facebook","displayName":"Publié Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publié Linkedin","displayName":"Publié Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,1376],"id":"b55b21d1-bac0-4e23-9dc9-b0e4e001659f","name":"Update row in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"132874463238178","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $('Download file2').item.json['Description du post'] }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-544,1616],"id":"5236d922-22af-4cf5-bdb3-83abad3b1b7c","name":"Targetup University","onError":"continueErrorOutput"},{"parameters":{"resource":"image","node":"17841461757180629","imageUrl":"={{ $json.data.url }}","caption":"={{ $('Download file2').item.json['Description du post'] }}"},"type":"@mookielianhd/n8n-nodes-instagram.instagram","typeVersion":1,"position":[-512,1360],"id":"1c345262-b913-424a-b898-e6a88e85c2d3","name":"Targetup University1","credentials":{},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"key","value":"3501d973b36a093baf24d6ef133725d4"},{"name":"name","value":"data"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-736,1360],"id":"32c10b51-3478-482a-8500-61895d9ec7f5","name":"HTTP Request"}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Targetup Consulting":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet7","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Download file":{"main":[[{"node":"CloudConvert","type":"main","index":0}]]},"CloudConvert":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Create a post","type":"main","index":0},{"node":"Targetup Consulting4","type":"main","index":0}]]},"Targetup Consulting4":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Update row in sheet6","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Targetup Consulting","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file2","type":"main","index":0}]]},"CloudConvert1":{"main":[[{"node":"Create a post1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"Targetup University","type":"main","index":0}]]},"Download file2":{"main":[[{"node":"CloudConvert1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Targetup University":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}],[{"node":"Update row in sheet8","type":"main","index":0}]]},"Targetup University1":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[{"node":"Update row in sheet9","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Targetup University1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"63f12237-ffb3-4c10-a275-39e0381a7355","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T08:51:01.154Z","createdAt":"2026-03-23T08:51:01.154Z","role":"workflow:owner","workflowId":"CmBQyKZqazlpFbF9","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}