lead-dirigeant-BpCsNmJAdCRtWB2V.json
{"updatedAt":"2026-03-31T14:35:18.558Z","createdAt":"2026-03-31T14:04:08.770Z","id":"BpCsNmJAdCRtWB2V","name":"Lead Dirigeant","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-80],"id":"9193573a-fbfe-421f-ae48-e27d6f5f7159","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ","mode":"list","cachedResultName":"Dirigeants","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1837930816,"mode":"list","cachedResultName":"data_utf8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit#gid=1837930816"},"filtersUI":{"values":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"eca333dd-76dc-4e18-ab75-53690b830158","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"0e34624e-232a-49b5-ae31-ac508a2669ef","name":"If"},{"parameters":{"maxItems":25},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[288,-160],"id":"8cd4e22f-9cc6-4439-950c-39f09bf779f6","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Region }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Region }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"c202b17c-a21a-4e15-9f09-b76256e6f879","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-160],"id":"005d9bb3-4993-4b30-bcf2-5e2648bea075","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=You are a senior business consultant at TARGETUP CONSULTING & TARGTEUP UNIVERSITY\n\nContext TARGETUP CONSULTING et TARGETUP UNIVERSITY : \n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n\nYour task:\n\n1. Read and analyze the following lead information:\n- Company name: {{ $json['Company Name'] }}\n- Industry: {{ $json.Sector }}\n- Website: {{ $json.Website }}\n- Email : {{ $json.Email }}\n- Contact name: {{ $json.Name }}\n- Contact role: {{ $json.Title }}\n- Ville / Pays : {{ $json.City }} , Maroc\n\n2. Understand the company's:\n- Business model\n- Potential challenges\n- Growth opportunities\n- Digital maturity (low / medium / high)\n\n3. Based on this analysis, recommend EXACTLY 3 relevant services that TargetUp Consulting could sell to this company.\n\n4. For each service, provide:\n- Service name\n- Why it is relevant to THIS company (personalized reasoning)\n- Expected business impact (clear and practical)\n\n5. Keep the response:\n- Professional\n- Concise but insightful\n- Tailored (avoid generic statements)\n\n6. Output format:\n\nCompany Analysis:\n[Short paragraph]\n\nRecommended Services:\n\n1. [Service Name]\n- Why: ...\n- Impact: ...\n\n2. [Service Name]\n- Why: ...\n- Impact: ...\n\n3. [Service Name]\n- Why: ...\n- Impact: ...\n\nImportant:\n- Do NOT invent fake data\n- Use only the provided information\n- If data is missing, make reasonable assumptions and state them briefly\n- Output need to be in fr language\n- Dont say 'Voici l'analyse', give me the answer direclty \n- add html tags only (h1, h2, h3,h4, <br>), its for odoo description field\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,-32],"id":"2fad639b-d563-4ef4-a6a3-d195e89d50a8","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[656,192],"id":"b5861686-8b3a-496a-9f4d-3f0572f8cdfd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[768,208],"id":"6ed4c085-9e23-4c43-833f-cf093f7c9ec0","name":"Simple Memory"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"=Lead Dirigeant : {{ $('Loop Over Items').item.json.Name }}"},{"fieldName":"email_from","fieldValue":"={{ $('Loop Over Items').item.json.Email }}"},{"fieldName":"phone","fieldValue":"={{ $('Loop Over Items').item.json.Phone }}"},{"fieldName":"partner_name","fieldValue":"={{ $('Loop Over Items').item.json['Company Name'] }}"},{"fieldName":"function","fieldValue":"={{ $('Loop Over Items').item.json.Title }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Loop Over Items').item.json.City }}"},{"fieldName":"website","fieldValue":"={{ $('Loop Over Items').item.json.Website }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +\n\n   'Le lead issu du Club des Dirigeants<br>' +\n   'Veuillez contacter et lui proposer l’un des services de TargetUp Consulting. (Cold call)<br><br>' +\n\n\n   '<b>Services Proposés</b><br>' +\n   '——————————————<br>' +\n   ($json.output ? $json.output.replace(/\\n/g, '<br>') : '')\n}}"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"priority","fieldValue":"={{ \"3\"}}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"0e17e2ed-9fd2-41dd-a5af-6cff9b7cbb73","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ","mode":"list","cachedResultName":"Dirigeants","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1837930816,"mode":"list","cachedResultName":"data_utf8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit#gid=1837930816"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Envoyé":"={{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ICE","displayName":"ICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sector","displayName":"Sector","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Region","displayName":"Region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"X/Twitter","displayName":"X/Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"8b3a9963-63a3-4dbb-9f72-b03e93f4aa5a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28ae63e3-193f-4b77-b966-98610d5ae6cf","activeVersionId":"28ae63e3-193f-4b77-b966-98610d5ae6cf","triggerCount":1,"shared":[{"updatedAt":"2026-03-31T14:04:08.775Z","createdAt":"2026-03-31T14:04:08.775Z","role":"workflow:owner","workflowId":"BpCsNmJAdCRtWB2V","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-31T14:35:20.000Z","createdAt":"2026-03-31T14:35:11.354Z","versionId":"28ae63e3-193f-4b77-b966-98610d5ae6cf","workflowId":"BpCsNmJAdCRtWB2V","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-80],"id":"9193573a-fbfe-421f-ae48-e27d6f5f7159","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ","mode":"list","cachedResultName":"Dirigeants","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1837930816,"mode":"list","cachedResultName":"data_utf8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit#gid=1837930816"},"filtersUI":{"values":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"eca333dd-76dc-4e18-ab75-53690b830158","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"0e34624e-232a-49b5-ae31-ac508a2669ef","name":"If"},{"parameters":{"maxItems":25},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[288,-160],"id":"8cd4e22f-9cc6-4439-950c-39f09bf779f6","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Region }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Region }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"c202b17c-a21a-4e15-9f09-b76256e6f879","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-160],"id":"005d9bb3-4993-4b30-bcf2-5e2648bea075","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=You are a senior business consultant at TARGETUP CONSULTING & TARGTEUP UNIVERSITY\n\nContext TARGETUP CONSULTING et TARGETUP UNIVERSITY : \n\n\nPrésentation de TargetUp (Identité, Mission & Positionnement)\nA. Identité\nTargetUp est une structure duale conçue pour offrir un accompagnement à 360° :\n1. TargetUp Consulting : Le cabinet de conseil, spécialisé dans l'audit, l'accompagnement et l'implémentation de solutions de performance pour les organisations (B2B).\n2. TargetUp University : L'organisme de formation supérieure et professionnelle, assurant le renforcement des capacités, la certification de personnes et la diffusion de l'expertise (B2B & B2C).\n\nB. Mission\nNotre mission est d'être le partenaire stratégique de nos clients (entreprises, ONG, institutions) dans leur transformation. Nous les aidons à atteindre leurs objectifs de performance (excellence opérationnelle), de conformité (ISO, QHSE, réglementaire) et de durabilité (ESG, RSE), en combinant le conseil stratégique (Consulting) et le renforcement des capacités (University).\n\nC. Positionnement\nNous sommes positionnés comme un acteur expert à haute valeur ajoutée. Nous n'intervenons que sur nos cœurs de métier où nous pouvons garantir une expertise pointue et un impact mesurable.\n\n2. ✅ Règles \"Go\" (Périmètre d'Intervention & Priorités) :\nCette section définit les marchés (services et géographies) sur lesquels TargetUp se positionne activement.\n\nA. Pôles de Services Stratégiques (Le \"Quoi\")\nVoici le catalogue détaillé de nos 6 pôles d'intervention :\nP1. Conformité, Risques & Systèmes de Management (ISO & QHSE)\nDescription : Couvre l'ensemble des systèmes de management, la conformité réglementaire et la gestion des risques opérationnels.\nPrestations : Mise en place, diagnostic, audit interne, audit à blanc, et accompagnement complet à la certification. Gestion des risques HSE, audits de conformité réglementaire (y compris ICPE), élaboration de plans d'actions, Document Unique (DUER).\n\nNormes & Mots-clés Clés :\nQualité & Secteur : ISO 9001 (QMS), ISO 17025 (Laboratoires), ISO 21001 (Éducation), ISO 13485 (Dispositifs Médicaux), IATF 16949 (Automobile), EN 9100 (Aérospatial).\nHSE : ISO 14001 (EMS), ISO 45001 (OHS), ISO 22000 (Sécurité Alimentaire), FSSC 22000, BRCGS, IFS, HACCP.\nRisques & Continuité : ISO 31000 (Risk Management), ISO 22301 (Continuité d'Activité), ISO 37001 (Anti-corruption), ISO 37301 (Compliance).\nIT & Données : ISO 27001 (ISMS), ISO 27701 (Vie privée), ISO 20000 (Services IT).\nÉnergie & Actifs : ISO 50001 (Énergie), ISO 55001 (Gestion d'Actifs).\nLivrables Standards : Rapport d'audit, plan d'actions, cartographie des processus, kit documentaire (procédures, modes opératoires), rapport de revue de direction.\n\nP2. ESG/RSE & Reporting (Durabilité & Transparence)\nPrestations : Audit ESG, élaboration de stratégie RSE, reporting de durabilité, Bilan Carbone (GES Scope 1, 2, 3), Analyse de Cycle de Vie (ACV), due diligence ESG, plans de transition durable.\nMots-clés Clés : Audit ESG, reporting de durabilité, taxonomie européenne, CSRD, GRI, SASB, TCFD, Bilan Carbone, Scope 3, ACV, Due Diligence ESG, Stratégie RSE, Matrice de matérialité, finance durable, investissement responsable (ISR).\nLivrables Standards : Matrice de matérialité, Bilan GES chiffré, rapport de durabilité (format GRI/SASB/CSRD), plan d'action ESG.\nP3. Lean Six Sigma & Excellence Opérationnelle\n\nPrestations : Déploiement Lean, projets d'amélioration Six Sigma (niveaux Green Belt, Black Belt, MBB), cartographie VSM, ateliers Kaizen, 5S, TPM, réduction des gaspillages (Muda).\n\nMots-clés Clés : Excellence opérationnelle, Amélioration continue, DMAIC, DMADV, VSM (Value Stream Mapping), Kaizen, 5S, TPM (Total Productive Maintenance), SMED, Hoshin Kanri, Lean Management, Six Sigma, Green Belt, Black Belt, Muda (gaspillages), Poka-Yoke.\n\nLivrables Standards : Charte de projet, VSM (actuelle et future), analyse des causes (Ishikawa, 5P), gains chiffrés (ROI), plan de contrôle (SPC).\n\nP4. ERP, Automatisation & Stratégie Digitale\n\nPrestations : Conseil et implémentation d'ERP (focus Odoo), analyse des besoins, migration de données, intégration, RPA (Robotic Process Automation), instauration de stratégie marketing digital, définition de stratégie digitale, audit de processus SI.\n\nMots-clés Clés : Implémentation Odoo, ERP integration, RPA, Business Process Automation, Stratégie Marketing, Digitalisation, Audit SI, Transformation digitale, SEO/SEA, Inbound Marketing.\n\nLivrables Standards : Cahier des spécifications fonctionnelles, système paramétré, rapports de tests UAT, manuels utilisateurs, plan marketing digital, audit de maturité digitale.\n\nP5. Études, Projets & Entrepreneuriat\n\nPrestations : Rédaction de Termes de Référence (TDR), études de faisabilité (technique, financière), études de marché, analyse de performance, accompagnement à la création d'entreprise (startup), montage de Business Plans, élaboration de dossiers de financement (bailleurs de fonds, donors, subventions).\n\nMots-clés Clés : Étude de marché, Business Plan, Faisabilité, TDR (TOR), Accompagnement startup, levée de fonds, dossiers bailleurs, gestion de projet, étude d'impact, modèle économique.\n\nLivrables Standards : Rapport d'étude de marché, Business Plan complet (avec prévisionnel financier), dossier de financement, TDR rédigés.\n\nP6. Formations & University (Renforcement de Capacités)\n\nPrestations : Conception et animation de formations (inter/intra-entreprise), formation de formateurs (ToT), conception de parcours e-learning, certifications de personnes, programmes diplômants (Masters/DBA).\n\nMots-clés Clés : Training, capacity building, e-learning, certification, ToT, ingénierie pédagogique, digital learning, Lead Auditor (9001, 14001, 45001, 27001, etc.), management, soft skills, Masters, DBA.\n\nLivrables Standards : Référentiel pédagogique, supports de cours, évaluations (à chaud/froid), attestations/certificats, rapport de fin de session.\n\n\nNOS SERVICES / PROGRAMMES / FORMATIONS QUE ON VENDRE :\n\n1. Programme BERD Assistance Locale\nAccompagnement technique et financier partiel pour aider les PME marocaines à renforcer leur compétitivité via des projets de conseil en organisation, développement commercial, digitalisation et stratégie.\n\n2. Programme MOUWAKABA\nProgramme de transformation globale pour les entreprises marocaines, incluant expertise technique, digitalisation, créativité et co-développement, avec un soutien financier couvrant 80 % à 90 % des coûts.\n\n3. Programme Contrats Spéciaux de Formation (CSF)\nDispositif national qui finance partiellement la formation des salariés pour améliorer les compétences, adapter les équipes aux évolutions du marché et moderniser les pratiques.\n\n4. Accompagnement ESG\nIntégration des critères Environnementaux, Sociaux et de Gouvernance dans la stratégie d'entreprise pour renforcer la performance durable, la conformité réglementaire et l’attractivité auprès des investisseurs.\n\n5. Programme Go Siyaha\nProgramme du Ministère du Tourisme marocain offrant des subventions jusqu'à 90 % pour moderniser, digitaliser et rendre plus durables les entreprises touristiques.\n\n6. Accompagnement Lean Six Sigma\nMéthodologie combinant Lean et Six Sigma pour optimiser les processus, réduire les gaspillages et les erreurs, améliorer la qualité et accroître l'efficacité opérationnelle.\n\n7. Programme INMAA\nParcours intensif de 6 mois en Lean Manufacturing pour les entreprises industrielles, visant à améliorer la productivité, réduire les coûts et instaurer une culture d'amélioration continue.\n\n8. Transformation Digitale\nIntégration de solutions numériques (ERP, automatisation, IA, marketing digital) pour moderniser les processus, améliorer la performance et renforcer la compétitivité des entreprises.\n\n9. Soutien à l’Investissement\nAccompagnement stratégique, technique et financier pour sécuriser les projets d'investissement, optimiser les financements et accéder aux aides publiques au Maroc.\n\n10. Veille Stratégique & Développement de Projets\nService de veille sectorielle, concurrentielle et réglementaire, couplé à un accompagnement dans le montage, la structuration et le pilotage de projets innovants.\n\n11. Programme Export Maroc\nAccompagnement des PME marocaines à l'international via la certification, la digitalisation, l'intégration ESG et l'accès aux financements publics jusqu'à 80 %.\n\n12. Études & Expertises Techniques\nRéalisation d’études techniques, d'analyses de faisabilité, de conformité réglementaire et d’ingénierie pour sécuriser et optimiser les projets industriels et infrastructurels.\n\n13. Programme Moukawala Siyahia\nSoutien aux porteurs de projets touristiques au Maroc via un accompagnement technique, financier (subventions jusqu'à 90 %) et un accès à des réseaux professionnels.\n\n14. Programme INTELAKA\nAccompagnement complet pour les porteurs de projets innovants : aide à la structuration, accès aux financements et mise en relation avec un réseau d’experts et de mentors.\n\n15. Certification Produit\nAccompagnement pour obtenir des certifications produit (ISO, HACCP, etc.) garantissant la conformité aux normes internationales et facilitant l’accès aux marchés.\n\n16. Programme ISTITMAR PME\nSoutien aux PME industrielles avec une prime à l’investissement et une assistance au montage de dossier pour des projets de développement à fort impact.\n17. Formation initiale :\nMASTER IMOHL : Master en Ingénierie Management de la Qualité et Hygiène des Laboratoires.\nMASTER MBA : Master Administration des Affaires.\nMASTER ESG-RSE : Master ESG-RSE – Développement Durable.\nMASTER QHSSEE : Ingénierie Qualité, Hygiène, Sécurité, Santé, Environnement, Énergie (QHSSEE).\n\n18. Programmes : \nAudit ESG\nAudit des critères Environnementaux, Sociaux et de Gouvernance pour évaluer la conformité et la performance durable des entreprises.\n\nLead Auditeur Énergie ISO 50001\nFormation menant à la certification de Lead Auditeur en système de management de l’énergie.\n\nLead Auditeur ISO 45001 (Sécurité & Santé au Travail)\nFormation pour devenir auditeur principal des systèmes de management de la santé et de la sécurité au travail.\n\nProgramme SCALE’UP\nProgramme de financement à 50% pour les entreprises africaines souhaitant former leurs collaborateurs via des Masters en ligne accrédités.\n\nValidation des Acquis de l’Expérience (VAE)\nDispositif permettant d’obtenir un diplôme grâce à l’expérience professionnelle, sans formation complète.\n\nDoctor of Business Administration (DBA)\nDoctorat professionnel destiné aux dirigeants et cadres expérimentés, axé sur la recherche appliquée.\n\n\nYour task:\n\n1. Read and analyze the following lead information:\n- Company name: {{ $json['Company Name'] }}\n- Industry: {{ $json.Sector }}\n- Website: {{ $json.Website }}\n- Email : {{ $json.Email }}\n- Contact name: {{ $json.Name }}\n- Contact role: {{ $json.Title }}\n- Ville / Pays : {{ $json.City }} , Maroc\n\n2. Understand the company's:\n- Business model\n- Potential challenges\n- Growth opportunities\n- Digital maturity (low / medium / high)\n\n3. Based on this analysis, recommend EXACTLY 3 relevant services that TargetUp Consulting could sell to this company.\n\n4. For each service, provide:\n- Service name\n- Why it is relevant to THIS company (personalized reasoning)\n- Expected business impact (clear and practical)\n\n5. Keep the response:\n- Professional\n- Concise but insightful\n- Tailored (avoid generic statements)\n\n6. Output format:\n\nCompany Analysis:\n[Short paragraph]\n\nRecommended Services:\n\n1. [Service Name]\n- Why: ...\n- Impact: ...\n\n2. [Service Name]\n- Why: ...\n- Impact: ...\n\n3. [Service Name]\n- Why: ...\n- Impact: ...\n\nImportant:\n- Do NOT invent fake data\n- Use only the provided information\n- If data is missing, make reasonable assumptions and state them briefly\n- Output need to be in fr language\n- Dont say 'Voici l'analyse', give me the answer direclty \n- add html tags only (h1, h2, h3,h4, <br>), its for odoo description field\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,-32],"id":"2fad639b-d563-4ef4-a6a3-d195e89d50a8","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[656,192],"id":"b5861686-8b3a-496a-9f4d-3f0572f8cdfd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[768,208],"id":"6ed4c085-9e23-4c43-833f-cf093f7c9ec0","name":"Simple Memory"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"=Lead Dirigeant : {{ $('Loop Over Items').item.json.Name }}"},{"fieldName":"email_from","fieldValue":"={{ $('Loop Over Items').item.json.Email }}"},{"fieldName":"phone","fieldValue":"={{ $('Loop Over Items').item.json.Phone }}"},{"fieldName":"partner_name","fieldValue":"={{ $('Loop Over Items').item.json['Company Name'] }}"},{"fieldName":"function","fieldValue":"={{ $('Loop Over Items').item.json.Title }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Loop Over Items').item.json.City }}"},{"fieldName":"website","fieldValue":"={{ $('Loop Over Items').item.json.Website }}"},{"fieldName":"description","fieldValue":"={{\n   '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +\n\n   'Le lead issu du Club des Dirigeants<br>' +\n   'Veuillez contacter et lui proposer l’un des services de TargetUp Consulting. (Cold call)<br><br>' +\n\n\n   '<b>Services Proposés</b><br>' +\n   '——————————————<br>' +\n   ($json.output ? $json.output.replace(/\\n/g, '<br>') : '')\n}}"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"priority","fieldValue":"={{ \"3\"}}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"0e17e2ed-9fd2-41dd-a5af-6cff9b7cbb73","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ","mode":"list","cachedResultName":"Dirigeants","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1837930816,"mode":"list","cachedResultName":"data_utf8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MD_f0XKaoSNpwKimmF8PnO7T8KxuVeII6KHzgYbrabQ/edit#gid=1837930816"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Envoyé":"={{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ICE","displayName":"ICE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sector","displayName":"Sector","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Region","displayName":"Region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"X/Twitter","displayName":"X/Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"8b3a9963-63a3-4dbb-9f72-b03e93f4aa5a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 28ae63e3","description":"","autosaved":true},"tags":[]}