lead-dirigeant-BpCsNmJAdCRtWB2V.json
{"updatedAt":"2026-05-01T14:49:09.602Z","createdAt":"2026-03-31T14:04:08.770Z","id":"BpCsNmJAdCRtWB2V","name":"Lead Dirigeant","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-80],"id":"9193573a-fbfe-421f-ae48-e27d6f5f7159","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1gH-z44KSLPiKAEvWQcuWqjVdfOcHNyn1J4ih9yorLZk/edit?gid=60390471#gid=60390471","mode":"url"},"sheetName":{"__rl":true,"value":60390471,"mode":"list","cachedResultName":"CATALOGUE2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gH-z44KSLPiKAEvWQcuWqjVdfOcHNyn1J4ih9yorLZk/edit#gid=60390471"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"eca333dd-76dc-4e18-ab75-53690b830158","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"0e34624e-232a-49b5-ae31-ac508a2669ef","name":"If"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[352,-96],"id":"8cd4e22f-9cc6-4439-950c-39f09bf779f6","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"c202b17c-a21a-4e15-9f09-b76256e6f879","name":"If1"},{"parameters":{"batchSize":14,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,-48],"id":"005d9bb3-4993-4b30-bcf2-5e2648bea075","name":"Loop Over Items"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Loop Over Items').item.json['Nom'] + '_' + $('Loop Over Items').item.json['Société'] }}"},{"fieldName":"email_from","fieldValue":"={{ $('Loop Over Items').item.json.Email }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Loop Over Items').item.json['Ville'] }}"},{"fieldName":"description","fieldValue":"={{ '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +\n\n'<b>Lead issu du Club des Dirigeants</b><br>' +\n'<b>Action</b> : Cold call à réaliser dans les 48h<br><br>' +\n\n'<b>Informations lead</b><br>' +\n'——————————————<br>' +\n'<b>Société</b> : ' + ($('Loop Over Items').item.json['Société'] || 'Non renseigné') + '<br>' +\n'<b>Contact</b> : ' + ($('Loop Over Items').item.json['Nom'] || 'Non renseigné') + '<br>' +\n'<b>Secteur</b> : ' + ($('Loop Over Items').item.json['Secteur'] || 'Non renseigné') + '<br>' +\n'<b>Adresse</b> : ' + ($('Loop Over Items').item.json['Ville'] || 'Non renseigné') + '<br><br>' +\n\n'<b>Services recommandés TargetUp Consulting</b><br>' +\n'——————————————<br>' +\n\n($('Loop Over Items').item.json['Secteur'] == \"Agro-alimentaire\" ?\n'<b>1. Certification ISO 22000 / HACCP</b><br>- Pourquoi: Sécuriser votre chaîne de production et répondre aux normes d\\'exportation<br>- Impact: Accès aux marchés internationaux et réduction des non-conformités<br><br>' +\n'<b>2. Programme Go Siyaha / MOUWAKABA</b><br>- Pourquoi: Financer votre modernisation et votre mise aux normes<br>- Impact: Subventions jusqu\\'à 90% pour digitaliser votre outil de production<br><br>' +\n'<b>3. Lean Six Sigma (Green Belt)</b><br>- Pourquoi: Réduire les pertes et optimiser vos coûts de production<br>- Impact: Hausse des marges de 15 à 25%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Agriculture\" ?\n'<b>1. Certification ISO 14001 & ISO 45001</b><br>- Pourquoi: Maîtriser votre impact environnemental et protéger vos équipes<br>- Impact: Accès aux labels durables et réduction des risques<br><br>' +\n'<b>2. Programme Export Maroc / BERD Assistance Locale</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80% pour la certification et la digitalisation<br><br>' +\n'<b>3. Bilan Carbone & Stratégie ESG</b><br>- Pourquoi: Anticiper les exigences des distributeurs européens<br>- Impact: Positionnement durable et différenciant<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Avicole\" ?\n'<b>1. ISO 22000 & HACCP</b><br>- Pourquoi: Garantir la traçabilité et la sécurité sanitaire de vos produits<br>- Impact: Accès aux marchés sensibles et réduction des pertes<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Optimiser vos élevages et réduire les coûts opérationnels<br>- Impact: Productivité augmentée de 15 à 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif pour transformer votre outil de production<br>- Impact: Financement public et performance durable<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Artisanat\" ?\n'<b>1. Certification Produit (Origine & Qualité)</b><br>- Pourquoi: Valoriser votre savoir-faire et lutter contre la contrefaçon<br>- Impact: Positionnement premium + accès aux chaînes de luxe<br><br>' +\n'<b>2. Programme INTELAKA / Programme Export Maroc</b><br>- Pourquoi: Financer votre développement commercial à l\\'international<br>- Impact: Subventions jusqu\\'à 80% pour l\\'export<br><br>' +\n'<b>3. Transformation Digitale (E-commerce & Marketing)</b><br>- Pourquoi: Vendre directement sans intermédiaire<br>- Impact: Augmentation des marges de 30%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Textile\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux exigences des donneurs d\\'ordre internationaux<br>- Impact: Nouvelles opportunités B2B + prix premium<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Réduction des délais et des déchets de production<br>- Impact: Productivité augmentée de 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif de 6 mois financé<br>- Impact: Transformation durable de l\\'outil industriel<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Cuir\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux normes des marques internationales<br>- Impact: Accès aux donneurs d\\'ordre premium<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Optimiser la coupe et réduire les chutes de matière<br>- Impact: Réduction des coûts matières de 10 à 15%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Electricité et Energies\" ?\n'<b>1. ISO 50001 (Management de l\\'Énergie)</b><br>- Pourquoi: Maîtriser vos coûts énergétiques et optimiser votre production<br>- Impact: Réduction de 15 à 30% de la facture énergétique<br><br>' +\n'<b>2. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Sécuriser vos interventions et chantiers<br>- Impact: Meilleurs taux de sinistralité + appels d\\'offres publics<br><br>' +\n'<b>3. Audit ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des investisseurs et donneurs d\\'ordre<br>- Impact: Accès aux financements verts<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Transport et Logistique\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Rassurer vos clients et optimiser vos processus<br>- Impact: Accès aux appels d\\'offres grands comptes<br><br>' +\n'<b>2. Digitalisation & TMS (via Odoo)</b><br>- Pourquoi: Optimiser vos tournées et suivre vos colis en temps réel<br>- Impact: Réduction des coûts logistiques de 10 à 20%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"BTP et Mines\" ?\n'<b>1. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Réduire les accidents et les arrêts de chantier<br>- Impact: Meilleurs taux de sinistralité + accès aux grands projets<br><br>' +\n'<b>2. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre qualité et votre gestion environnementale<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' +\n'<b>3. ERP Odoo (Gestion de projet BTP)</b><br>- Pourquoi: Centraliser devis, achats, stocks et planning chantier<br>- Impact: Visibilité temps réel sur la rentabilité des projets<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Métallurgie et Plasturgie\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre production pour les donneurs d\\'ordre industriels<br>- Impact: Nouvelles opportunités B2B<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Réduire les rebuts et optimiser les temps de cycle<br>- Impact: Hausse des marges de 15 à 20%<br><br>' +\n'<b>3. ERP Odoo (Industrie)</b><br>- Pourquoi: Gérer vos nomenclatures, stocks et ordres de fabrication<br>- Impact: Productivité augmentée et traçabilité renforcée<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Banques et Assurances\" ?\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Protéger les données sensibles de vos clients<br>- Impact: Conformité réglementaire et confiance renforcée<br><br>' +\n'<b>2. ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des régulateurs et investisseurs<br>- Impact: Positionnement durable et financements verts<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la conformité<br>- Impact: Amélioration continue des équipes<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Trading\" ?\n'<b>1. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' +\n'<b>2. ISO 9001</b><br>- Pourquoi: Structurer vos processus achats et ventes<br>- Impact: Professionnalisation et crédibilité accrue<br><br>' +\n'<b>3. ERP Odoo (Commerce)</b><br>- Pourquoi: Gérer vos devis, commandes et stocks<br>- Impact: Visibilité temps réel sur votre activité<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Conseil et Ingénierie\" ?\n'<b>1. Partenariat Stratégique TargetUp</b><br>- Pourquoi: Mutualiser vos offres avec notre expertise certifiante<br>- Impact: Élargissement de votre catalogue services<br><br>' +\n'<b>2. Formation Continue (Lead Auditor)</b><br>- Pourquoi: Certifier vos consultants sur les normes ISO<br>- Impact: Valeur ajoutée pour vos clients<br><br>' +\n'<b>3. Accompagnement ESG</b><br>- Pourquoi: Intégrer la durabilité dans vos missions<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Technologies de l'information\" ?\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Certifier vos solutions et rassurer vos clients<br>- Impact: Accès aux marchés sensibles (banque, santé, administration)<br><br>' +\n'<b>2. Partenariat Odoo</b><br>- Pourquoi: Intégrer l\\'ERP leader dans vos offres<br>- Impact: Récurrence et valeur ajoutée<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n(![\"Agro-alimentaire\",\"Agriculture\",\"Avicole\",\"Artisanat\",\"Textile\",\"Cuir\",\"Electricité et Energies\",\"Transport et Logistique\",\"BTP et Mines\",\"Métallurgie et Plasturgie\",\"Banques et Assurances\",\"Trading\",\"Conseil et Ingénierie\",\"Technologies de l'information\"].includes($('Loop Over Items').item.json['Secteur']) ?\n'<b>1. Audit Stratégique Offert</b><br>- Pourquoi: Diagnostiquer vos opportunités de croissance<br>- Impact: Feuille de route personnalisée sans engagement<br><br>' +\n'<b>2. Accompagnement sur Mesure</b><br>- Pourquoi: Identifier les financements publics adaptés à votre secteur<br>- Impact: Optimisation de votre trésorerie<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la performance<br>- Impact: Amélioration continue durable<br><br>' : '') }}"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"priority","fieldValue":"={{ \"3\"}}"},{"fieldName":"partner_name","fieldValue":"={{ $('Loop Over Items').item.json['Société'] }}"},{"fieldName":"tag_ids","fieldValue":"={{ [59] }}"},{"fieldName":"type","fieldValue":"lead"},{"fieldName":"stage_id","fieldValue":"1"},{"fieldName":"activity_type_id","fieldValue":"72"},{"fieldName":"activity_summary","fieldValue":"Leads à Contacter"},{"fieldName":"activity_date_deadline","fieldValue":"={{ $now.toFormat('yyyy-MM-dd') }}"},{"fieldName":"activity_user_id","fieldValue":"329"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[912,-32],"id":"0e17e2ed-9fd2-41dd-a5af-6cff9b7cbb73","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1gH-z44KSLPiKAEvWQcuWqjVdfOcHNyn1J4ih9yorLZk/edit?gid=60390471#gid=60390471","mode":"url"},"sheetName":{"__rl":true,"value":60390471,"mode":"list","cachedResultName":"CATALOGUE2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gH-z44KSLPiKAEvWQcuWqjVdfOcHNyn1J4ih9yorLZk/edit#gid=60390471"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Odoo Envoyé":"= {{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Téléphone","displayName":"Téléphone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Société","displayName":"Société","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secteur","displayName":"Secteur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ville","displayName":"Ville","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Odoo Envoyé","displayName":"Odoo Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Statut","displayName":"Email Statut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telephone Statut","displayName":"Telephone Statut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Score Contact","displayName":"Score Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"8b3a9963-63a3-4dbb-9f72-b03e93f4aa5a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"method":"POST","url":"https://targetupconsulting.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"id\": 1,\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"targetup\",\n      5839,\n      \"17144a44c143d7a804bbcaf8d0551e32eef46e39\",\n      \"crm.lead\",\n      \"activity_schedule\",\n      [[ {{ $('Create an item').item.json.id }} ]],\n      {\n        \"activity_type_id\": 72,\n        \"summary\": \"Leads à Contacter\",\n        \"date_deadline\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n        \"user_id\": 329\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,-32],"id":"c7363ba6-9a75-4553-8cdc-a8c36fc30b01","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52938a9d-b8b4-4cf5-9c97-acdbe74491b4","activeVersionId":"1f648e4d-54b1-411c-bdc6-1f0967766de8","triggerCount":1,"shared":[{"updatedAt":"2026-03-31T14:04:08.775Z","createdAt":"2026-03-31T14:04:08.775Z","role":"workflow:owner","workflowId":"BpCsNmJAdCRtWB2V","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-28T08:40:10.000Z","createdAt":"2026-04-28T08:27:42.971Z","versionId":"1f648e4d-54b1-411c-bdc6-1f0967766de8","workflowId":"BpCsNmJAdCRtWB2V","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-80],"id":"9193573a-fbfe-421f-ae48-e27d6f5f7159","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":368693306,"mode":"list","cachedResultName":"Leads Complets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=368693306"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"eca333dd-76dc-4e18-ab75-53690b830158","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"0e34624e-232a-49b5-ae31-ac508a2669ef","name":"If"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[352,-96],"id":"8cd4e22f-9cc6-4439-950c-39f09bf779f6","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"c202b17c-a21a-4e15-9f09-b76256e6f879","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,-48],"id":"005d9bb3-4993-4b30-bcf2-5e2648bea075","name":"Loop Over Items"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Loop Over Items').item.json['Nom'] + '_' + $('Loop Over Items').item.json['Société'] }}"},{"fieldName":"email_from","fieldValue":"={{ $('Loop Over Items').item.json.Email }}"},{"fieldName":"phone","fieldValue":"={{ $('Loop Over Items').item.json['Téléphone'] }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Loop Over Items').item.json['Ville'] }}"},{"fieldName":"description","fieldValue":"=={{ '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +\n\n'<b>Lead issu du Club des Dirigeants</b><br>' +\n'<b>Action</b> : Cold call à réaliser dans les 48h<br><br>' +\n\n'<b>Informations lead</b><br>' +\n'——————————————<br>' +\n'<b>Société</b> : ' + ($('Loop Over Items').item.json['Société'] || 'Non renseigné') + '<br>' +\n'<b>Contact</b> : ' + ($('Loop Over Items').item.json['Nom'] || 'Non renseigné') + '<br>' +\n'<b>Secteur</b> : ' + ($('Loop Over Items').item.json['Secteur'] || 'Non renseigné') + '<br>' +\n'<b>Téléphone</b> : ' + ($('Loop Over Items').item.json['Téléphone'] || 'Non renseigné') + '<br>' +\n'<b>Adresse</b> : ' + ($('Loop Over Items').item.json['Ville'] || 'Non renseigné') + '<br><br>' +\n\n'<b>Services recommandés TargetUp Consulting</b><br>' +\n'——————————————<br>' +\n\n($('Loop Over Items').item.json['Secteur'] == \"Agro-alimentaire\" ?\n'<b>1. Certification ISO 22000 / HACCP</b><br>- Pourquoi: Sécuriser votre chaîne de production et répondre aux normes d\\'exportation<br>- Impact: Accès aux marchés internationaux et réduction des non-conformités<br><br>' +\n'<b>2. Programme Go Siyaha / MOUWAKABA</b><br>- Pourquoi: Financer votre modernisation et votre mise aux normes<br>- Impact: Subventions jusqu\\'à 90% pour digitaliser votre outil de production<br><br>' +\n'<b>3. Lean Six Sigma (Green Belt)</b><br>- Pourquoi: Réduire les pertes et optimiser vos coûts de production<br>- Impact: Hausse des marges de 15 à 25%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Agriculture\" ?\n'<b>1. Certification ISO 14001 & ISO 45001</b><br>- Pourquoi: Maîtriser votre impact environnemental et protéger vos équipes<br>- Impact: Accès aux labels durables et réduction des risques<br><br>' +\n'<b>2. Programme Export Maroc / BERD Assistance Locale</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80% pour la certification et la digitalisation<br><br>' +\n'<b>3. Bilan Carbone & Stratégie ESG</b><br>- Pourquoi: Anticiper les exigences des distributeurs européens<br>- Impact: Positionnement durable et différenciant<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Avicole\" ?\n'<b>1. ISO 22000 & HACCP</b><br>- Pourquoi: Garantir la traçabilité et la sécurité sanitaire de vos produits<br>- Impact: Accès aux marchés sensibles et réduction des pertes<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Optimiser vos élevages et réduire les coûts opérationnels<br>- Impact: Productivité augmentée de 15 à 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif pour transformer votre outil de production<br>- Impact: Financement public et performance durable<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Artisanat\" ?\n'<b>1. Certification Produit (Origine & Qualité)</b><br>- Pourquoi: Valoriser votre savoir-faire et lutter contre la contrefaçon<br>- Impact: Positionnement premium + accès aux chaînes de luxe<br><br>' +\n'<b>2. Programme INTELAKA / Programme Export Maroc</b><br>- Pourquoi: Financer votre développement commercial à l\\'international<br>- Impact: Subventions jusqu\\'à 80% pour l\\'export<br><br>' +\n'<b>3. Transformation Digitale (E-commerce & Marketing)</b><br>- Pourquoi: Vendre directement sans intermédiaire<br>- Impact: Augmentation des marges de 30%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Textile\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux exigences des donneurs d\\'ordre internationaux<br>- Impact: Nouvelles opportunités B2B + prix premium<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Réduction des délais et des déchets de production<br>- Impact: Productivité augmentée de 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif de 6 mois financé<br>- Impact: Transformation durable de l\\'outil industriel<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Cuir\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux normes des marques internationales<br>- Impact: Accès aux donneurs d\\'ordre premium<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Optimiser la coupe et réduire les chutes de matière<br>- Impact: Réduction des coûts matières de 10 à 15%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Electricité et Energies\" ?\n'<b>1. ISO 50001 (Management de l\\'Énergie)</b><br>- Pourquoi: Maîtriser vos coûts énergétiques et optimiser votre production<br>- Impact: Réduction de 15 à 30% de la facture énergétique<br><br>' +\n'<b>2. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Sécuriser vos interventions et chantiers<br>- Impact: Meilleurs taux de sinistralité + appels d\\'offres publics<br><br>' +\n'<b>3. Audit ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des investisseurs et donneurs d\\'ordre<br>- Impact: Accès aux financements verts<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Transport et Logistique\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Rassurer vos clients et optimiser vos processus<br>- Impact: Accès aux appels d\\'offres grands comptes<br><br>' +\n'<b>2. Digitalisation & TMS (via Odoo)</b><br>- Pourquoi: Optimiser vos tournées et suivre vos colis en temps réel<br>- Impact: Réduction des coûts logistiques de 10 à 20%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"BTP et Mines\" ?\n'<b>1. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Réduire les accidents et les arrêts de chantier<br>- Impact: Meilleurs taux de sinistralité + accès aux grands projets<br><br>' +\n'<b>2. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre qualité et votre gestion environnementale<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' +\n'<b>3. ERP Odoo (Gestion de projet BTP)</b><br>- Pourquoi: Centraliser devis, achats, stocks et planning chantier<br>- Impact: Visibilité temps réel sur la rentabilité des projets<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Métallurgie et Plasturgie\" ?\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre production pour les donneurs d\\'ordre industriels<br>- Impact: Nouvelles opportunités B2B<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Réduire les rebuts et optimiser les temps de cycle<br>- Impact: Hausse des marges de 15 à 20%<br><br>' +\n'<b>3. ERP Odoo (Industrie)</b><br>- Pourquoi: Gérer vos nomenclatures, stocks et ordres de fabrication<br>- Impact: Productivité augmentée et traçabilité renforcée<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Banques et Assurances\" ?\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Protéger les données sensibles de vos clients<br>- Impact: Conformité réglementaire et confiance renforcée<br><br>' +\n'<b>2. ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des régulateurs et investisseurs<br>- Impact: Positionnement durable et financements verts<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la conformité<br>- Impact: Amélioration continue des équipes<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Trading\" ?\n'<b>1. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' +\n'<b>2. ISO 9001</b><br>- Pourquoi: Structurer vos processus achats et ventes<br>- Impact: Professionnalisation et crédibilité accrue<br><br>' +\n'<b>3. ERP Odoo (Commerce)</b><br>- Pourquoi: Gérer vos devis, commandes et stocks<br>- Impact: Visibilité temps réel sur votre activité<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Conseil et Ingénierie\" ?\n'<b>1. Partenariat Stratégique TargetUp</b><br>- Pourquoi: Mutualiser vos offres avec notre expertise certifiante<br>- Impact: Élargissement de votre catalogue services<br><br>' +\n'<b>2. Formation Continue (Lead Auditor)</b><br>- Pourquoi: Certifier vos consultants sur les normes ISO<br>- Impact: Valeur ajoutée pour vos clients<br><br>' +\n'<b>3. Accompagnement ESG</b><br>- Pourquoi: Intégrer la durabilité dans vos missions<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' : '') +\n\n($('Loop Over Items').item.json['Secteur'] == \"Technologies de l'information\" ?\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Certifier vos solutions et rassurer vos clients<br>- Impact: Accès aux marchés sensibles (banque, santé, administration)<br><br>' +\n'<b>2. Partenariat Odoo</b><br>- Pourquoi: Intégrer l\\'ERP leader dans vos offres<br>- Impact: Récurrence et valeur ajoutée<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' : '') +\n\n(![\"Agro-alimentaire\",\"Agriculture\",\"Avicole\",\"Artisanat\",\"Textile\",\"Cuir\",\"Electricité et Energies\",\"Transport et Logistique\",\"BTP et Mines\",\"Métallurgie et Plasturgie\",\"Banques et Assurances\",\"Trading\",\"Conseil et Ingénierie\",\"Technologies de l'information\"].includes($('Loop Over Items').item.json['Secteur']) ?\n'<b>1. Audit Stratégique Offert</b><br>- Pourquoi: Diagnostiquer vos opportunités de croissance<br>- Impact: Feuille de route personnalisée sans engagement<br><br>' +\n'<b>2. Accompagnement sur Mesure</b><br>- Pourquoi: Identifier les financements publics adaptés à votre secteur<br>- Impact: Optimisation de votre trésorerie<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la performance<br>- Impact: Amélioration continue durable<br><br>' : '') }}"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"priority","fieldValue":"={{ \"3\"}}"},{"fieldName":"partner_name","fieldValue":"={{ $('Loop Over Items').item.json['Société'] }}"},{"fieldName":"tag_ids","fieldValue":"={{ [59] }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"0e17e2ed-9fd2-41dd-a5af-6cff9b7cbb73","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit?gid=368693306#gid=368693306","mode":"url"},"sheetName":{"__rl":true,"value":501495823,"mode":"list","cachedResultName":"data_utf8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rmEw8PDc8MoOAWKKNj9a_mEE10cNxQNR_6XVMS5Q-08/edit#gid=501495823"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Odoo Envoyé":"= {{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Téléphone","displayName":"Téléphone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Société","displayName":"Société","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secteur","displayName":"Secteur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ville","displayName":"Ville","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Odoo Envoyé","displayName":"Odoo Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Statut","displayName":"Email Statut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telephone Statut","displayName":"Telephone Statut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Score Contact","displayName":"Score Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"8b3a9963-63a3-4dbb-9f72-b03e93f4aa5a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 1f648e4d","description":"","autosaved":true},"tags":[]}