lead-export-Lb3W5ejt8gdqHuAE.json
{"updatedAt":"2026-04-21T08:52:23.650Z","createdAt":"2026-03-31T14:35:40.493Z","id":"Lb3W5ejt8gdqHuAE","name":"Lead Export","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-80],"id":"3157491d-49d5-4697-be77-a7e0a2a46f81","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E","mode":"list","cachedResultName":"DATA LEADS EXCEL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CATALOGUE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,-80],"id":"e0ed469c-8408-46e0-a9b6-70875cdf4068","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"79cc8182-56f7-4165-a908-05d18cad9925","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"={{ \"Oui\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-80],"id":"3dfffc51-3c02-4566-ad73-72bd2dbfae57","name":"If"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[288,-160],"id":"faf4dde8-3ed6-47d8-ac26-e25ce3b491c3","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5df9c1e-5377-447f-93bb-83c3c6b9f495","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Casablanca\" }}","operator":{"type":"string","operation":"contains"}},{"id":"dacda349-9f6e-441c-94f2-39c81645c573","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Rabat\" }}","operator":{"type":"string","operation":"contains"}},{"id":"a76e5751-5bdb-482f-acec-c06b0559b5aa","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"El Jadida\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bd600079-9281-413c-9b64-57af632b6e6c","leftValue":"={{ $json.Ville }}","rightValue":"={{ \"Kénitra\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-96],"id":"42004db3-fbe1-48b9-9b43-3b31c1f1f2b3","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-160],"id":"8b8997cb-4a2d-4261-bfc8-079011eebca8","name":"Loop Over Items"},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $('Loop Over Items').item.json.Société.replace(/ /g, '_') }}_{{ $('Loop Over Items').item.json.Prénom }}_{{ $('Loop Over Items').item.json.Nom.replace(/ /g, '_') }}"},{"fieldName":"email_from","fieldValue":"={{ $('Loop Over Items').item.json['Adresse e-mail'] }}"},{"fieldName":"partner_name","fieldValue":"={{ $('Loop Over Items').item.json.Société }}"},{"fieldName":"function","fieldValue":"={{ $('Loop Over Items').item.json.Produits }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Loop Over Items').item.json.Ville }}"},{"fieldName":"description","fieldValue":"== '<b>Date</b> : ' + $now.format('yyyy-MM-dd') + '<br><br>' +\n\n'<b>Lead issu du Catalogue Export ZLECAF</b><br>' +\n'<b>Action</b> : Cold call à réaliser dans les 48h<br><br>' +\n\n'<b>Informations lead</b><br>' +\n'——————————————<br>' +\n'<b>Société</b> : ' + ($('Loop Over Items').item.json.Société || 'Non renseigné') + '<br>' +\n'<b>Contact</b> : ' + ($('Loop Over Items').item.json.Prénom || '') + ' ' + ($('Loop Over Items').item.json.Nom || '') + '<br>' +\n'<b>Secteur</b> : ' + ($('Loop Over Items').item.json.Secteur || 'Non renseigné') + '<br>' +\n'<b>Produits</b> : ' + ($('Loop Over Items').item.json.Produits || 'Non renseigné') + '<br>' +\n'<b>Ville</b> : ' + ($('Loop Over Items').item.json.Ville || 'Non renseigné') + '<br><br>' +\n\n'<b>Services recommandés TargetUp Consulting</b><br>' +\n'——————————————<br>' +\n\n// Secteur : Agro-alimentaire\n(IIF($('Loop Over Items').item.json.Secteur == \"Agro-alimentaire\",\n'<b>1. Certification ISO 22000 / HACCP</b><br>- Pourquoi: Sécuriser votre chaîne de production et répondre aux normes d\\'exportation<br>- Impact: Accès aux marchés internationaux et réduction des non-conformités<br><br>' +\n'<b>2. Programme Go Siyaha / MOUWAKABA</b><br>- Pourquoi: Financer votre modernisation et votre mise aux normes<br>- Impact: Subventions jusqu\\'à 90% pour digitaliser votre outil de production<br><br>' +\n'<b>3. Lean Six Sigma (Green Belt)</b><br>- Pourquoi: Réduire les pertes et optimiser vos coûts de production<br>- Impact: Hausse des marges de 15 à 25%<br><br>', '')) +\n\n// Secteur : Agriculture\n(IIF($('Loop Over Items').item.json.Secteur == \"Agriculture\",\n'<b>1. Certification ISO 14001 & ISO 45001</b><br>- Pourquoi: Maîtriser votre impact environnemental et protéger vos équipes<br>- Impact: Accès aux labels durables et réduction des risques<br><br>' +\n'<b>2. Programme Export Maroc / BERD Assistance Locale</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80% pour la certification et la digitalisation<br><br>' +\n'<b>3. Bilan Carbone & Stratégie ESG</b><br>- Pourquoi: Anticiper les exigences des distributeurs européens<br>- Impact: Positionnement durable et différenciant<br><br>', '')) +\n\n// Secteur : Avicole\n(IIF($('Loop Over Items').item.json.Secteur == \"Avicole\",\n'<b>1. ISO 22000 & HACCP</b><br>- Pourquoi: Garantir la traçabilité et la sécurité sanitaire de vos produits<br>- Impact: Accès aux marchés sensibles et réduction des pertes<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Optimiser vos élevages et réduire les coûts opérationnels<br>- Impact: Productivité augmentée de 15 à 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif pour transformer votre outil de production<br>- Impact: Financement public et performance durable<br><br>', '')) +\n\n// Secteur : Artisanat\n(IIF($('Loop Over Items').item.json.Secteur == \"Artisanat\",\n'<b>1. Certification Produit (Origine & Qualité)</b><br>- Pourquoi: Valoriser votre savoir-faire et lutter contre la contrefaçon<br>- Impact: Positionnement premium + accès aux chaînes de luxe<br><br>' +\n'<b>2. Programme INTELAKA / Programme Export Maroc</b><br>- Pourquoi: Financer votre développement commercial à l\\'international<br>- Impact: Subventions jusqu\\'à 80% pour l\\'export<br><br>' +\n'<b>3. Transformation Digitale (E-commerce & Marketing)</b><br>- Pourquoi: Vendre directement sans intermédiaire<br>- Impact: Augmentation des marges de 30%<br><br>', '')) +\n\n// Secteur : Textile\n(IIF($('Loop Over Items').item.json.Secteur == \"Textile\",\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux exigences des donneurs d\\'ordre internationaux<br>- Impact: Nouvelles opportunités B2B + prix premium<br><br>' +\n'<b>2. Lean Management & 5S</b><br>- Pourquoi: Réduction des délais et des déchets de production<br>- Impact: Productivité augmentée de 20%<br><br>' +\n'<b>3. Programme INMAA (Lean Manufacturing)</b><br>- Pourquoi: Accompagnement intensif de 6 mois financé<br>- Impact: Transformation durable de l\\'outil industriel<br><br>', '')) +\n\n// Secteur : Cuir\n(IIF($('Loop Over Items').item.json.Secteur == \"Cuir\",\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Répondre aux normes des marques internationales<br>- Impact: Accès aux donneurs d\\'ordre premium<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Optimiser la coupe et réduire les chutes de matière<br>- Impact: Réduction des coûts matières de 10 à 15%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'export<br>- Impact: Subventions jusqu\\'à 80%<br><br>', '')) +\n\n// Secteur : Electricité et Energies\n(IIF($('Loop Over Items').item.json.Secteur == \"Electricité et Energies\",\n'<b>1. ISO 50001 (Management de l\\'Énergie)</b><br>- Pourquoi: Maîtriser vos coûts énergétiques et optimiser votre production<br>- Impact: Réduction de 15 à 30% de la facture énergétique<br><br>' +\n'<b>2. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Sécuriser vos interventions et chantiers<br>- Impact: Meilleurs taux de sinistralité + appels d\\'offres publics<br><br>' +\n'<b>3. Audit ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des investisseurs et donneurs d\\'ordre<br>- Impact: Accès aux financements verts<br><br>', '')) +\n\n// Secteur : Transport et Logistique\n(IIF($('Loop Over Items').item.json.Secteur == \"Transport et Logistique\",\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Rassurer vos clients et optimiser vos processus<br>- Impact: Accès aux appels d\\'offres grands comptes<br><br>' +\n'<b>2. Digitalisation & TMS (via Odoo)</b><br>- Pourquoi: Optimiser vos tournées et suivre vos colis en temps réel<br>- Impact: Réduction des coûts logistiques de 10 à 20%<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>', '')) +\n\n// Secteur : BTP et Mines\n(IIF($('Loop Over Items').item.json.Secteur == \"BTP et Mines\",\n'<b>1. ISO 45001 (Santé & Sécurité)</b><br>- Pourquoi: Réduire les accidents et les arrêts de chantier<br>- Impact: Meilleurs taux de sinistralité + accès aux grands projets<br><br>' +\n'<b>2. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre qualité et votre gestion environnementale<br>- Impact: Différenciation sur les appels d\\'offres<br><br>' +\n'<b>3. ERP Odoo (Gestion de projet BTP)</b><br>- Pourquoi: Centraliser devis, achats, stocks et planning chantier<br>- Impact: Visibilité temps réel sur la rentabilité des projets<br><br>', '')) +\n\n// Secteur : Métallurgie et Plasturgie\n(IIF($('Loop Over Items').item.json.Secteur == \"Métallurgie et Plasturgie\",\n'<b>1. ISO 9001 & ISO 14001</b><br>- Pourquoi: Certifier votre production pour les donneurs d\\'ordre industriels<br>- Impact: Nouvelles opportunités B2B<br><br>' +\n'<b>2. Lean Six Sigma</b><br>- Pourquoi: Réduire les rebuts et optimiser les temps de cycle<br>- Impact: Hausse des marges de 15 à 20%<br><br>' +\n'<b>3. ERP Odoo (Industrie)</b><br>- Pourquoi: Gérer vos nomenclatures, stocks et ordres de fabrication<br>- Impact: Productivité augmentée et traçabilité renforcée<br><br>', '')) +\n\n// Secteur : Banques et Assurances\n(IIF($('Loop Over Items').item.json.Secteur == \"Banques et Assurances\",\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Protéger les données sensibles de vos clients<br>- Impact: Conformité réglementaire et confiance renforcée<br><br>' +\n'<b>2. ESG & Reporting CSRD</b><br>- Pourquoi: Anticiper les exigences des régulateurs et investisseurs<br>- Impact: Positionnement durable et financements verts<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la conformité<br>- Impact: Amélioration continue des équipes<br><br>', '')) +\n\n// Secteur : Trading\n(IIF($('Loop Over Items').item.json.Secteur == \"Trading\",\n'<b>1. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>' +\n'<b>2. ISO 9001</b><br>- Pourquoi: Structurer vos processus achats et ventes<br>- Impact: Professionnalisation et crédibilité accrue<br><br>' +\n'<b>3. ERP Odoo (Commerce)</b><br>- Pourquoi: Gérer vos devis, commandes et stocks<br>- Impact: Visibilité temps réel sur votre activité<br><br>', '')) +\n\n// Secteur : Conseil et Ingénierie\n(IIF($('Loop Over Items').item.json.Secteur == \"Conseil et Ingénierie\",\n'<b>1. Partenariat Stratégique TargetUp</b><br>- Pourquoi: Mutualiser vos offres avec notre expertise certifiante<br>- Impact: Élargissement de votre catalogue services<br><br>' +\n'<b>2. Formation Continue (Lead Auditor)</b><br>- Pourquoi: Certifier vos consultants sur les normes ISO<br>- Impact: Valeur ajoutée pour vos clients<br><br>' +\n'<b>3. Accompagnement ESG</b><br>- Pourquoi: Intégrer la durabilité dans vos missions<br>- Impact: Différenciation sur les appels d\\'offres<br><br>', '')) +\n\n// Secteur : Technologies de l'information\n(IIF($('Loop Over Items').item.json.Secteur == \"Technologies de l'information\",\n'<b>1. ISO 27001 (Sécurité de l\\'Information)</b><br>- Pourquoi: Certifier vos solutions et rassurer vos clients<br>- Impact: Accès aux marchés sensibles (banque, santé, administration)<br><br>' +\n'<b>2. Partenariat Odoo</b><br>- Pourquoi: Intégrer l\\'ERP leader dans vos offres<br>- Impact: Récurrence et valeur ajoutée<br><br>' +\n'<b>3. Programme Export Maroc</b><br>- Pourquoi: Financer votre développement à l\\'international<br>- Impact: Subventions jusqu\\'à 80%<br><br>', '')) +\n\n// Secteur par défaut (Autres Services ou secteur non listé)\n(IIF($('Loop Over Items').item.json.Secteur != \"Agro-alimentaire\" && \n     $('Loop Over Items').item.json.Secteur != \"Agriculture\" && \n     $('Loop Over Items').item.json.Secteur != \"Avicole\" && \n     $('Loop Over Items').item.json.Secteur != \"Artisanat\" && \n     $('Loop Over Items').item.json.Secteur != \"Textile\" && \n     $('Loop Over Items').item.json.Secteur != \"Cuir\" && \n     $('Loop Over Items').item.json.Secteur != \"Electricité et Energies\" && \n     $('Loop Over Items').item.json.Secteur != \"Transport et Logistique\" && \n     $('Loop Over Items').item.json.Secteur != \"BTP et Mines\" && \n     $('Loop Over Items').item.json.Secteur != \"Métallurgie et Plasturgie\" && \n     $('Loop Over Items').item.json.Secteur != \"Banques et Assurances\" && \n     $('Loop Over Items').item.json.Secteur != \"Trading\" && \n     $('Loop Over Items').item.json.Secteur != \"Conseil et Ingénierie\" && \n     $('Loop Over Items').item.json.Secteur != \"Technologies de l'information\",\n'<b>1. Audit Stratégique Offert</b><br>- Pourquoi: Diagnostiquer vos opportunités de croissance<br>- Impact: Feuille de route personnalisée sans engagement<br><br>' +\n'<b>2. Accompagnement sur Mesure</b><br>- Pourquoi: Identifier les financements publics adaptés à votre secteur<br>- Impact: Optimisation de votre trésorerie<br><br>' +\n'<b>3. Formation Continue (Masterclass)</b><br>- Pourquoi: Monter en compétence sur les normes et la performance<br>- Impact: Amélioration continue durable<br><br>', ''))"},{"fieldName":"user_id","fieldValue":"={{ 329 }}"},{"fieldName":"priority","fieldValue":"={{ \"3\"}}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1024,-32],"id":"6e03ab98-a9d7-4284-b91d-21497bd35644","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E","mode":"list","cachedResultName":"DATA LEADS EXCEL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CATALOGUE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o4NBoZYpNaewUQckdfcScQ_2Ir6M35CJZf4m182nU-E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Date":"={{ $now.format('yyyy-MM-dd') }}","Odoo Envoyé":"={{ \"Oui\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Prénom","displayName":"Prénom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Société","displayName":"Société","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secteur","displayName":"Secteur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produits","displayName":"Produits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ville","displayName":"Ville","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Adresse e-mail","displayName":"Adresse e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Message","displayName":"Email Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Envoyé ","displayName":"Email Envoyé ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Reponse ","displayName":"Email Reponse ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiments","displayName":"Sentiments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Odoo Envoyé","displayName":"Odoo Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-32],"id":"51a614a1-c009-4621-8f19-023ad9e1fada","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6683a446-4e19-493c-98b2-fc80036e58d9","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-31T14:35:40.499Z","createdAt":"2026-03-31T14:35:40.499Z","role":"workflow:owner","workflowId":"Lb3W5ejt8gdqHuAE","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}