leadrocks-mailling-xl7eZltG3rM1Obr7.json
{"updatedAt":"2026-04-02T09:44:21.117Z","createdAt":"2026-03-23T15:20:48.511Z","id":"xl7eZltG3rM1Obr7","name":"Leadrocks Mailling","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8c6f756c-52a3-436e-a56e-741accff5710","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,-112],"id":"64651c60-f2be-4baf-9662-dc56810e2a64","name":"Webhook","webhookId":"8c6f756c-52a3-436e-a56e-741accff5710"},{"parameters":{"promptType":"define","text":"=Rôle : Expert en Business Development B2B et spécialiste de l'écosystème entrepreneurial au Maroc et en Afrique.\n\nDonnées d'entrée :\n\nNom du contact : {{ $json.body.Name }}\n\nPoste : {{ $json.body.Job_Title }}\n\nEmail : {{ $json.body.Email }}\n\nNom de l'entreprise : {{ $json.body.Company }}\n\nLinkedin URL : {{ $json.body.LinkedIn }}\n\nPays : {{ $json.body.Country }}\n\nToday : {{ $now.format('yyyy-MM-dd') }}\n\nÉtape 1 : Analyse de l'Entreprise et du Profil et Identifie :\n\nSon secteur d'activité principal.\nPrincipale Point de Mort\n\nUn défi actuel lié à ce secteur (ex: décarbonation pour l'industrie, transformation digitale pour les services, conformité ISO pour l'export).\n\nComment le poste de est impacté par ces défis.\n\nÉtape 2 : Alignement avec TargetUp\nDétermine laquelle de nos deux entités est la plus pertinente pour ce profil :\n\nTargetUp Consulting est un cabinet de conseil marocain spécialisé dans l'accompagnement stratégique, la transformation digitale et la performance opérationnelle. Il s'adresse principalement aux PME, aux grandes entreprises et aux institutions en Afrique et à l'international.\n\nVoici la liste détaillée de leurs services et programmes :\n\n1. Services de Conseil (Expertises)\nCes services sont conçus pour structurer et moderniser les entreprises :\n\nAccompagnement à la Certification ISO & QHSE : Expertise pour l'obtention de normes internationales (ISO 9001, ISO 22000, HACCP, ISO 14001, label pme responsable,...) et de certifications produits.\n\nStratégie ESG & RSE : Accompagnement sur la durabilité, le bilan carbone et la mise en conformité réglementaire (CSRD).\n\nTransformation Digitale : Intégration de solutions technologiques, notamment l'ERP Odoo, pour piloter l'activité.\n\nExcellence Opérationnelle : Optimisation des processus via la méthodologie Lean Six Sigma.\n\nÉtudes et Expertises Techniques : Études de faisabilité, ingénierie et assistance technique pour projets industriels.\n\nSoutien à l'Investissement : Aide au montage de dossiers financiers pour sécuriser les fonds.\n\n\n2. Programmes Nationaux d'Appui\nTargetUp facilite l'accès aux dispositifs de financement et d'accompagnement de l'État marocain :\n\nProgramme Go Siyaha : Appui à l'investissement et à l'expertise technique pour la compétitivité du secteur touristique.\n\nProgramme MOUWAKABA : Soutien à la transformation et à la croissance des entreprises.\n\nProgramme ISTITMAR PME : Appui à l'investissement pour le développement de projets industriels.\n\nProgramme INTELAKA : Accompagnement des porteurs de projets et des entrepreneurs pour transformer leurs idées en entreprises.\n\nProgramme EXPORT MAROC : Accélération du développement à l'international via la mise en conformité et la digitalisation.\n\nContrats Spéciaux de Formation (CSF) : Gestion du remboursement des frais de formation (via l'OFPPT) pour monter en compétence.\n\n\nTargetUp University : Si le besoin est lié au Capital Humain (Master en ESG, IMQHL,QHSSEE et MBA, , DBA, Programme SCALE'UP, Programme VAE, Montée en compétences des cadres via les Contrats Spéciaux de Formation - CSF).\n\nÉtape 3 : Génération du contenu\n\n1. Générer 1 SEUL objet d’email hyper personnalisé :\n\nFormat :\n\"[Levier clé] chez {{ $json.body.Company }} : [résultat concret]\"\n\nExemples :\n- \"Optimisation des coûts chez {{ $json.body.Company }}\"\n- \"Accélérer votre transformation digitale chez {{ $json.body.Company }}\"\n- \"Structurer votre croissance chez {{ $json.body.Company }}\"\n\nL’objet doit :\n- être court\n- spécifique métier\n- orienté résultat\n\n---\n\n2. Générer l’email HTML structuré :\n\n\nRédige un email en [Français/Anglais] suivant cette structure :\n\nL'Accroche : Mentionne un fait précis ou un défi lié à son secteur/poste.\n\nLa Valeur Ajoutée : Explique comment TargetUp (via Consulting ou University) aide les leaders au Maroc à transformer ce défi en levier de croissance.\n\nPreuve Sociale : Mentionne brièvement notre expertise locale et notre capacité à mobiliser des financements (ex: Maroc PME, CSF).\n\nCTA : Propose un échange de 10 min pour partager un benchmark ou une piste d'optimisation.\n\nTon : Consultant, expert, direct, et surtout pas \"spammy\".\n\noutput : \nDont give me any explanations,just the email in HTML Format that it in fr language\n\nRetourner UNIQUEMENT un JSON valide :\n\n{\n  \"subject\": \"Objet personnalisé ici\",\n  \"email_html\": \"<!DOCTYPE html><html><body>EMAIL ICI</body></html>\"\n}\n\n---\n\nIMPORTANT :\n- Aucun texte en dehors du JSON\n- Aucun commentaire\n- Aucun markdown\n- JSON strictement valide\n- Email en français uniquement","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-464,-112],"id":"76d89ba5-87a1-42e4-beab-809333c1ebef","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-608,96],"id":"840a7087-ff39-4e1a-9d7c-d430b4d6802f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-464,96],"id":"6de5eef8-68a7-4d04-b43b-c742b00ecba7","name":"Simple Memory"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1gZUtuMyrjVDnf1Qn7IUZjqUGUpanvgM4","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-32,-240],"id":"70467ff0-3a52-4ea2-ace8-c5abe25eec32","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,-128],"id":"3e147170-cea4-4e8e-8ee1-e3466c124c4a","name":"Merge"},{"parameters":{"contactName":"={{ $('Webhook').item.json.body.Name }}","additionalFields":{"email":"={{ $('Webhook').item.json.body.Email }}","comment":"=<h1>🚀 Rapport de Prospection IA</h1>\n\n<p><strong>Date :</strong> {{ $now.format('yyyy-MM-dd') }}</p>\n\n<h2>👤 Informations Prospect</h2>\n<ul>\n    <li><strong>Nom :</strong> {{ $node[\"Webhook\"].json[\"body\"][\"Name\"] }}</li>\n    <li><strong>Pays :</strong> {{ $node[\"Webhook\"].json[\"body\"][\"Country\"] }}</li>\n</ul>\n\n<h2>✉️ Email Personnalisé Généré</h2>\n{{ $json.output.email_html }}\n\n<hr>\n<p><em>Généré via leadrocks</em></p>","function":"={{ $('Webhook').item.json.body.Job_Title }}","website":"={{ $('Webhook').item.json.body.LinkedIn }}"}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-32,112],"id":"1ee9996a-7787-4fa5-bba6-2c9ec9af63d7","name":"Create a contact","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Objet personnalisé ici\",\n  \"email_html\": \"<!DOCTYPE html><html><body>EMAIL ICI</body></html>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-304,96],"id":"0d295c15-2c26-4b54-ad70-99f85b2da2fe","name":"Structured Output Parser"},{"parameters":{"from":"Targetup@opportunity.targetupconsulting.com","subject":"={{ $json.output.subject }}","html":"={{ $json.output.email_html }}","additionalOptions":{"attachments":{"attachments":[{}]}}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[448,-128],"id":"1bedb680-ce2f-4a43-9f65-3e2bfd705102","name":"Send a new email","webhookId":"957d231c-ddd4-4f68-9398-cc005af6e9c2","credentials":{"resendApi":{"id":"EdkXHEzvXGpw5cUx","name":"Resend account"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Download file","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Create a contact","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send a new email","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"13a0ccf9-16f7-431f-9a48-7cea16279db6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T15:20:48.514Z","createdAt":"2026-03-23T15:20:48.514Z","role":"workflow:owner","workflowId":"xl7eZltG3rM1Obr7","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}