liste-de-produits-odoo-29YqdPI128uVCOLY.json
{"updatedAt":"2026-03-23T09:39:13.180Z","createdAt":"2026-03-23T08:52:20.820Z","id":"29YqdPI128uVCOLY","name":"LISTE DE PRODUITS ODOO","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"ad4aa8d7-accf-4d03-ab6f-c6a2c6388fda","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"custom","customResource":"product.template","operation":"getAll","returnAll":true,"options":{},"filterRequest":{"filter":[{"fieldName":"type","value":"={{ \"service\" }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[288,0],"id":"5e2a17fb-baaf-4fbc-a58a-5253d58aed6d","name":"Get many items","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,16],"id":"8f583975-66b2-4de5-a290-df09f891e2df","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=You are generating structured content for an automated B2B consulting platform.\n\n\nCRITICAL RULES (MANDATORY):\n\n- Output ONLY valid JSON\n\n- No markdown blocks, no ```json\n\n- No explanations or comments\n\n- No text before or after the JSON\n\n- All values MUST be strings\n\n- Do NOT return null\n\n- Use line breaks (\\n) inside strings for formatting\n\n- Dont use hyphens (-)\n\n- Explain the each bullet point with one to two phrases\n\n- add new lines between each numbers list\n\nDans KeyPoints, utilise uniquement des phrases ou des puces simples sans numéros.\n\nDans Detail, tu peux conserver les listes numérotées.\n\nExplain each bullet point in the 'detail section' with two phrases max\n\n\nCONTEXT – COMPANY:\n\nTARGETUP CONSULTING est une société de conseil stratégique B2B spécialisée dans :\n\n- La certification ISO (9001, 14001, 22000, 45001, 27001)\n\n- La gouvernance, les risques et la conformité (GRC)\n\n- Le management QHSE / HSE\n\n- La transformation organisationnelle et la digitalisation (ERP odoo)\n\n- La performance opérationnelle et l’amélioration continue\n\n- ESG / RSE\n\n\n\nTARGETUP CONSULTING accompagne les entreprises dans la structuration de leurs processus, la maîtrise des risques, la conformité réglementaire et l’accès aux marchés nationaux et internationaux.\n\n\n\nSERVICE NAME:\n\n{{ $json.display_name }}\n\n\n\nTASK:\n\nGenerate high-quality B2B service landing page content adapted to decision-makers (DG, CEO, Responsable Qualité, Responsable QHSE, Responsable Conformité).\n\n\n\nThe content must be:\n\n- Professional\n\n- Structured\n\n- Consulting-oriented\n\n- Business-focused (risks, audits, compliance, performance)\n\n- Ready to be displayed on a Service Landing Page\n\n- Add detail and information not just titles\n\n\n\n---\n\nNow generate the JSON","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1008,144],"id":"aa48fedf-ac9f-40c8-88df-f6ee0ecb8f93","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[864,352],"id":"1bada3eb-57c8-4d2d-b82d-352b7d72e27f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hW0doR3YPkXdrA36","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1024,352],"id":"aed19c0d-ba6d-459b-933b-0426b518a9ab","name":"Simple Memory"},{"parameters":{"resource":"custom","customResource":"product.template","operation":"update","customResourceId":"={{ $('Get many items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"slug","fieldValue":"={{ $json.output.IdentificationAndPitch.Slug }}"},{"fieldName":"accroche_commerciale","fieldValue":"={{ $json.output.IdentificationAndPitch.CommercialTagline }}"},{"fieldName":"profil_cible","fieldValue":"={{ $json.output.IdentificationAndPitch.TargetProfile }}"},{"fieldName":"problematique_titre","fieldValue":"={{ $json.output.Problem.Title }}"},{"fieldName":"problematique_points_cles","fieldValue":"={{ $json.output.Problem.KeyPoints }}"},{"fieldName":"problematique_detail","fieldValue":"={{ $json.output.Problem.Detail }}"},{"fieldName":"methodologie_titre","fieldValue":"={{ $json.output.Methodology.Title }}"},{"fieldName":"methodologie_resume","fieldValue":"={{ $json.output.Methodology.Summary }}"},{"fieldName":"methodologie_detail","fieldValue":"={{ $json.output.Methodology.Detail }}"},{"fieldName":"livrables_titre","fieldValue":"={{ $json.output.Deliverables.Title }}"},{"fieldName":"livrables_detail","fieldValue":"={{ $json.output.Deliverables.Detail }}"},{"fieldName":"valeur_ajoutee_titre","fieldValue":"={{ $json.output.AddedValue.Title }}"},{"fieldName":"valeur_ajoutee_points_cles","fieldValue":"={{ $json.output.AddedValue.KeyPoints }}"},{"fieldName":"valeur_ajoutee_detail","fieldValue":"={{ $json.output.AddedValue.Detail }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1392,144],"id":"5d1a9800-46bf-4a22-bf5d-93ff62c987b3","name":"Update an item","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Provider\": {\n    \"Name\": \"string\",\n    \"Description\": \"string\"\n  },\n  \"IdentificationAndPitch\": {\n    \"Family\": \"string\",\n    \"Slug\": \"string\",\n    \"CommercialTagline\": \"string\",\n    \"TargetProfile\": \"string\"\n  },\n  \"Problem\": {\n    \"Title\": \"string\",\n    \"KeyPoints\": \"string\",\n    \"Detail\": \"string\"\n  },\n  \"Methodology\": {\n    \"Title\": \"string\",\n    \"Summary\": \"string\",\n    \"Detail\": \"string\"\n  },\n  \"Deliverables\": {\n    \"Title\": \"string\",\n    \"Detail\": \"string\"\n  },\n  \"AddedValue\": {\n    \"Title\": \"string\",\n    \"KeyPoints\": \"string\",\n    \"Detail\": \"string\"\n  },\n  \"ConversionAndTrust\": {\n    \"TestimonialQuote\": \"string\",\n    \"TestimonialAuthor\": \"string\",\n    \"LeadMagnetTitle\": \"string\",\n    \"LeadMagnetURL\": \"string\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1184,352],"id":"85109f2f-4cbc-437e-bb1e-9653e6f64fe4","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"32a8413a-2942-4882-8a78-411fc2ae1a75","leftValue":"={{ $json.description }}","rightValue":"Description du landing page créé","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,0],"id":"d440bc6e-fcbc-4a6f-a677-90a84d49c09e","name":"If"},{"parameters":{"resource":"custom","customResource":"product.template","operation":"update","customResourceId":"={{ $json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"description","fieldValue":"Description du landing page créé"},{"fieldName":"seo_name","fieldValue":"={{ $('AI Agent').item.json.output.IdentificationAndPitch.CommercialTagline }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1600,144],"id":"3fa01f72-7ee0-4b2f-ae80-95d8e6b6a054","name":"Update an item2","credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"operation":"send","phoneNumberId":"865386489997171","recipientPhoneNumber":"+212654615222","textBody":"={{ $('Loop Over Items').item.json.id }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1488,496],"id":"0ed8db21-e212-4bc7-b6c9-215b790666a8","name":"Send message","webhookId":"5b6a1dab-e834-4eb8-b5a3-3f06432f4e4e","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Update an item","type":"main","index":0}],[{"node":"Send message","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Update an item2","type":"main","index":0}]]},"Update an item2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12557ff6-8a53-404f-8a02-4db9b2d0dd59","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T08:52:20.823Z","createdAt":"2026-03-23T08:52:20.823Z","role":"workflow:owner","workflowId":"29YqdPI128uVCOLY","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}