programme-formes-7PVGubQTxcXLXUay.json
{"updatedAt":"2026-03-31T12:06:32.087Z","createdAt":"2026-03-31T10:48:06.876Z","id":"7PVGubQTxcXLXUay","name":"PROGRAMME FORMES","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"2865c517-6dfa-4a95-9290-3d9cc597e31c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-784,-32],"id":"1be2aa35-9bd2-4ad4-af57-39bd2331630f","name":"Webhook","webhookId":"2865c517-6dfa-4a95-9290-3d9cc597e31c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.service }}","rightValue":"={{ \"Go Siyaha\" }}","operator":{"type":"string","operation":"equals"},"id":"f15ea618-d475-4809-bfd1-e7dcf4ec16a7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Siyaha"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed9df16a-02eb-4e2b-86ab-558f6f66cfad","leftValue":"={{ $json.body.service }}","rightValue":"={{ \"Export\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Export"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,-32],"id":"b4377d9b-2bfd-47d5-a648-3ee688e8c9a7","name":"Switch"},{"parameters":{"promptType":"define","text":"=═══════════════════════════════════════════════════\nCONTEXTE : LE PROGRAMME GO SIYAHA — CE QU'IL FAUT SAVOIR\n═══════════════════════════════════════════════════\n\nGo Siyaha est un programme national d'appui aux entreprises touristiques marocaines, lancé officiellement le 14 février 2024 par le Ministère du Tourisme, de l'Artisanat et de l'Économie Sociale et Solidaire (MTAESS), en partenariat avec l'Agence Maroc PME. Il s'inscrit dans la feuille de route nationale du tourisme 2023–2026 et dispose d'une enveloppe budgétaire de 720 millions de dirhams, avec un objectif d'accompagner au moins 1 700 entreprises touristiques d'ici fin 2026. À ce jour, environ 1 000 entreprises en ont déjà bénéficié.\n\nLe programme est déployé et géré par l'Agence Maroc PME via la plateforme officielle : marocpme.gov.ma/gosiyaha\n\n─── OBJECTIFS DU PROGRAMME ──────────────────────\n\nGo Siyaha vise à :\n- Moderniser et renforcer la compétitivité des TPE et PME du secteur touristique\n- Encourager l'innovation dans l'offre d'animation et d'expériences touristiques\n- Accélérer la transition vers des pratiques durables et écologiques\n- Soutenir la digitalisation et la montée en gamme des acteurs du tourisme\n- Favoriser l'émergence d'une nouvelle génération d'entreprises touristiques marocaines compétitives à l'international\n\n─── LES 3 DISPOSITIFS DU PROGRAMME ─────────────────\n\n1. MOUAKABA SIYAHA — Accompagnement conseil et expertise technique\n   Prise en charge jusqu'à 90% du coût des prestations de conseil, plafonné à 1 MDH TTC par bénéficiaire sur 3 ans.\n   4 axes couverts :\n   - Développement durable et gestion des ressources\n   - Excellence opérationnelle et satisfaction client\n   - Développement commercial et nouveaux marchés\n   - Digitalisation et présence en ligne\n   Les entreprises peuvent lancer 2 à 3 actions simultanées par année.\n\n2. ISTITMAR SIYAHA — Appui à l'investissement\n   Primes pour les projets d'investissement matériel :\n   - 35% de prime pour les projets d'animation touristique (entre 1 et 10 MDH d'investissement)\n   - 30% de prime pour les projets d'hébergement associés\n   Cible les structures qui souhaitent créer ou étendre une offre d'hébergement ou d'animation avec un investissement structurant.\n\n3. TATWIR CROISSANCE VERTE SIYAHA — Appui à la transition écologique\n   - Jusqu'à 40% de subvention pour les investissements verts (inférieurs à 10 MDH)\n   - Jusqu'à 90% de prise en charge pour les prestations de conseil environnemental\n   Couvre : économies d'énergie, énergies renouvelables, gestion de l'eau, gestion des déchets, certifications écologiques (Green Key, etc.)\n\n─── CRITÈRES D'ÉLIGIBILITÉ GÉNÉRAUX ────────────────\n\nPour être éligible à Go Siyaha, une entreprise doit :\n✓ Être de droit privé marocain, avec un actionnariat 100% privé\n✓ Avoir un chiffre d'affaires annuel HT ≤ 200 millions de dirhams sur les 3 dernières années (les années 2020 et 2021 sont exclues du calcul en raison du Covid)\n✓ Exercer dans l'un des secteurs suivants :\n   - Hébergement touristique classé (hôtels, riads, maisons d'hôtes, gîtes, auberges)\n   - Restauration touristique classée\n   - Agences de voyages de type Organisateur-Distributeur (OD)\n   - Transporteurs touristiques\n   - Structures d'animation touristique, loisirs, sport, culture, artisanat à vocation touristique\n   - Projets en création avec un CA prévisionnel ≤ 200 MDH/an\n   - Coopératives touristiques à forte valeur ajoutée\n✓ Fournir les documents suivants lors du dossier : registre de commerce, autorisation de conformité, attestation de régularité fiscale et sociale, bilan comptable, et engagements spécifiques selon le dispositif choisi.\n\nDepuis juillet 2025, le programme a été élargi : les petites structures (maisons d'hôtes, TPE, coopératives, jeunes porteurs de projets) sont désormais pleinement éligibles suite à la suppression de certaines barrières d'accès liées à la taille.\n\n─── PROCESSUS D'ACCÈS ──────────────────────────────\n\n1. Inscription et dépôt de candidature sur marocpme.gov.ma/gosiyaha\n2. Sélection d'un cabinet de conseil agréé Maroc PME (comme TargetUp Consulting)\n3. Réalisation du diagnostic et définition du plan d'accompagnement\n4. Validation par le Comité Public-Privé (CPP)\n5. Signature de la convention et lancement des actions\n6. Remboursement des frais après réception des livrables\n\n─── POSITIONNEMENT TARGETUP CONSULTING ─────────────\n\nTargetUp Consulting est un cabinet de conseil agréé par Maroc PME, habilité à accompagner les entreprises dans le cadre du programme Go Siyaha. Le cabinet couvre les axes suivants : qualité et certification ISO, stratégie ESG/RSE, Lean Six Sigma et excellence opérationnelle, transformation digitale, développement commercial, et formation professionnelle. TargetUp est le cabinet référent pour les entreprises souhaitant maximiser leur dossier Go Siyaha en combinant plusieurs axes d'accompagnement.\n\n═══════════════════════════════════════════════════\nDONNÉES DU PROSPECT (issues du formulaire quiz)\n═══════════════════════════════════════════════════\n\n[INSÉRER ICI LE JSON REÇU VIA WEBHOOK — exemple de structure :]\n\nProgrammme : {{ $json.body.service }}\nNom du client : {{ $json.body.lead.prenom }} {{ $json.body.lead.nom }}\nMail : {{ $json.body.lead.email }}\nSiteweb : {{ $json.body.lead.site_web }}\nEntreprise : {{ $json.body.lead.entreprise }}\nVille : {{ $json.body.lead.ville }}\n\n{{ $json.body.quiz_answers[0].question }} : {{ $json.body.quiz_answers[0].answer }}\n\n{{ $json.body.quiz_answers[1].question }} : {{ $json.body.quiz_answers[1].answer }}\n\n\n{{ $json.body.quiz_answers[2].question }} : {{ $json.body.quiz_answers[2].answer }}\n\n\n{{ $json.body.quiz_answers[3].question }} : {{ $json.body.quiz_answers[3].answer }}\n\n\n{{ $json.body.quiz_answers[4].question }} : {{ $json.body.quiz_answers[4].answer }}\n\n\n{{ $json.body.quiz_answers[5].question }} : {{ $json.body.quiz_answers[5].answer }}\n\n\n{{ $json.body.quiz_answers[6].question }} : {{ $json.body.quiz_answers[6].answer }}\n\n\n\n═══════════════════════════════════════════════════\nINSTRUCTIONS POUR TON ANALYSE\n═══════════════════════════════════════════════════\n\nProduis une analyse structurée en 5 sections, dans un style professionnel et chaleureux, orienté conseil. Tu t'adresses à le client directemet.\n\n─── SECTION 1 : PROFIL DE L'ENTREPRISE ──────────────\nRésume le profil de l'entreprise en 3 à 5 phrases synthétiques : secteur, taille, ancienneté, ville, stade de développement. Déduis ce que tu peux sur le contexte opérationnel probable de cette entreprise (ex : une maison d'hôtes à Marrakech avec 3 ans d'activité est probablement post-Covid, encore en phase de montée en régime, probablement peu digitalisée, etc.). Sois précis et contextuel.\n\n─── SECTION 2 : ANALYSE D'ÉLIGIBILITÉ GO SIYAHA ───────\nSur la base des critères officiels du programme, évalue l'éligibilité de l'entreprise pour chacun des 3 dispositifs (Mouakaba, Istitmar, Tatwir Croissance Verte). Pour chaque dispositif :\n- Indiquer : ✅ Éligible / ⚠️ Partiellement éligible / ❌ Non éligible ou à vérifier\n- Justifier la décision avec les éléments du profil\n- Signaler les points de vigilance ou les documents à préparer\n- Identifier les zones d'ombre qui nécessiteront vérification lors de l'appel\n\n─── SECTION 3 : RECOMMANDATIONS D'ACCOMPAGNEMENT ──────\nSur la base du besoin principal exprimé par le prospect et de son profil, recommande :\n- Le ou les dispositifs les plus pertinents à activer en priorité\n- Les axes d'accompagnement spécifiques à proposer (ex : digitalisation, lean, ISO, RSE, développement commercial…)\n- Le montant estimé de subvention potentielle (fourchette réaliste selon les plafonds du programme)\n- La possibilité de combiner plusieurs actions simultanément\n- Les synergies éventuelles avec d'autres services TargetUp (formation, certification ISO, ESG…)\n\n─── SECTION 4 : POINTS CLÉS À ABORDER LORS DE L'APPEL ──\nListe 5 à 7 questions précises et stratégiques que le consultant doit poser lors du premier appel pour :\n- Confirmer l'éligibilité (points non encore vérifiés)\n- Comprendre les besoins réels derrière la réponse au quiz\n- Identifier les freins potentiels (budget propre, documents manquants, historique avec d'autres programmes…)\n- Évaluer le niveau d'urgence et de motivation du prospect\n- Orienter vers la meilleure offre TargetUp\n\n─── SECTION 5 : RÉSUMÉ EXÉCUTIF & NIVEAU DE PRIORITÉ ───\nDonne une note de priorité de traitement de ce lead (Haute / Moyenne / Faible) avec justification.\nRésume en 3 bullet points ce qu'il faut retenir de ce prospect avant de le rappeler.\nPropose un angle d'accroche pour l'ouverture de l'appel (la première phrase que le consultant peut dire pour créer de la confiance et montrer que TargetUp a déjà travaillé le dossier).\n\n═══════════════════════════════════════════════════\nCONTRAINTES DE FORMAT\n═══════════════════════════════════════════════════\n\n- Langue : français uniquement\n- Ton : professionnel, direct, orienté action — pas de langue de bois\n- Ne répète pas les données brutes du JSON, interprète-les\n- Si une information manque, indique-le clairement et suggère comment l'obtenir lors de l'appel\n- Longueur cible : 600 à 900 mots (analyse dense, pas de remplissage)\n- Utilise des titres clairs, des emojis indicateurs (✅ ⚠️ ❌ 🎯 📞) pour faciliter la lecture rapide","options":{"systemMessage":"Tu es un consultant senior spécialisé en financement public et développement d'entreprise au Maroc, travaillant pour TargetUp Consulting, cabinet agréé Maroc PME. Tu reçois les données d'un prospect ayant rempli un formulaire de pré-qualification pour le programme Go Siyaha. Ta mission est de produire une analyse personnalisée, détaillée et professionnelle, entièrement en français.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,-320],"id":"a1c2c8bf-06ac-44df-80e5-ad9852301939","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,-80],"id":"7593e037-4cc4-4fc4-afcd-ece2dca7a6b7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,-80],"id":"cf097908-7173-4090-83a9-d80b1417a110","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=You are an expert in HTML email design and CRM lead management for a Moroccan consulting firm.\n\nYour task is to transform a raw \"analyse prospect Go Siyaha\" report into a professional, high-impact HTML EMAIL TEMPLATE addressed to a TargetUp Consulting sales consultant, summarizing the lead profile and preparing them for the follow-up call.\n\n⚠️ OUTPUT FORMAT:\n- Return ONLY valid HTML code\n- No explanations, no markdown, no text outside HTML\n- All text content must be in FRENCH\n\n📥 INPUT DATA:\n{{ $json.output }}\n\n═══════════════════════════════════════════════════\n🎯 STRATEGIC LOGIC TO APPLY\n═══════════════════════════════════════════════════\n\n- Use the data exactly as provided in the input; do not invent or recompute information.\n- The input is a structured analysis with 5 sections (Profil, Éligibilité, Recommandations, Points à aborder, Résumé Exécutif) — map each section to its corresponding email block.\n- Highlight the eligibility verdict (✅ Éligible / ⚠️ Partiel / ❌ Non éligible) with the appropriate color per dispositif.\n- For the priority level (Haute / Moyenne / Faible), use a colored badge: rouge for Haute, orange for Moyenne, vert for Faible.\n- For the \"Points clés à aborder lors de l'appel\" section, render as a numbered checklist — these are the consultant's call script.\n- For the recommended dispositifs (Mouakaba / Istitmar / Tatwir), display as visual cards with estimated subvention amounts.\n- The opening line suggested in the Résumé Exécutif must appear as a highlighted CTA quote box — it is the first thing the consultant reads before dialing.\n\n═══════════════════════════════════════════════════\n📐 REQUIRED EMAIL STRUCTURE\n═══════════════════════════════════════════════════\n\n1. HEADER\n   - Logo text: \"TargetUp Consulting\"\n   - Title: \"Analyse Programme Go Siyaha : {{ $('Webhook').item.json.body.lead.entreprise }} \"\n   - Subtitle: \"Lead reçu via Quiz d'éligibilité ·{{$now.format('yyyy-MM-dd')}} \"\n   - Background: #c0271a (rouge TargetUp), text: white\n   - Sub-band below in #8b1a10: \"Programme Go Siyaha · Maroc PME · Cabinet agréé\"\n\n2. PRIORITY BANNER\n   - Full-width colored band showing the priority level badge (Haute / Moyenne / Faible)\n   - Haute = background #fef2f2, border-left 4px solid #c0271a, text #7f1d1d\n   - Moyenne = background #fefce8, border-left 4px solid #ca8a04, text #713f12\n   - Faible = background #f0fdf4, border-left 4px solid #16a34a, text #14532d\n   - Include the 3 bullet-point résumé from Section 5 directly in this band\n\n3. LEAD PROFILE CARD\n   - Display in a 2-column table: Entreprise, Ville, Secteur, Statut juridique, Ancienneté, Effectif, CA approximatif, Besoin principal, Accompagnement antérieur\n   - Pull values from quiz_answers and lead fields in the input JSON\n   - Light grey background (#f8fafc), left-accented border in #c0271a\n   - Include a button linking to appointmment: \"https://www.targetupconsulting.com/appointment/1\"\n\n4. OPENING LINE BOX (most important element)\n   - Full-width highlighted quote box\n   - Background: #fff7ed, border-left: 4px solid #c0271a\n   - Label above: \"PHRASE D'ACCROCHE RECOMMANDÉE POUR L'APPEL\"\n   - Font size: 15px, italic, color: #1e293b\n   - Source: Section 5 of the analysis (Résumé Exécutif — angle d'accroche)\n\n5. ELIGIBILITY SECTION — \"Analyse d'éligibilité Go Siyaha\"\n   - 3 cards side by side (or stacked on mobile) — one per dispositif:\n\n   Card 1: MOUAKABA SIYAHA\n   - Icon: 🤝\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"jusqu'à 90% · plafond 1 MDH\"\n   - Border color: green if eligible, orange if partial, red if not\n\n   Card 2: ISTITMAR SIYAHA\n   - Icon: 🏗️\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"35% animation · 30% hébergement\"\n\n   Card 3: TATWIR CROISSANCE VERTE\n   - Icon: 🌿\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"jusqu'à 40% investissement · 90% conseil\"\n\n6. RECOMMENDED ACTION PLAN — \"Recommandations TargetUp\"\n   - Pull from Section 3 of the analysis\n   - Display as 2–3 action blocks with left-border (#c0271a)\n   - Each block: Axe d'accompagnement | Dispositif suggéré | Estimation subvention | Service TargetUp concerné\n   - Include a \"Subvention estimée\" highlighted figure in large bold red text\n   - Add a note if multiple axes can be combined simultaneously\n\n7. CALL PREPARATION CHECKLIST — \"Points à aborder lors de l'appel\"\n   - Pull from Section 4 of the analysis\n   - Numbered list 1 to 7, each item in its own row\n   - Alternating row colors: white / #f8fafc\n   - Left icon: 🔲 for each item\n   - Label above: \"CHECKLIST CONSULTANT — À couvrir lors du premier appel\"\n\n8. DOCUMENTS TO PREPARE — \"Documents à demander au prospect\"\n   - Static block (always included), pulled or inferred from Section 2 vigilance points\n   - List: RC, Autorisation de conformité, Attestation fiscale/CNSS, Bilan N-1, Investissement prévisionnel (si Istitmar)\n   - Background: #f0fdf4, border: 1px solid #bbf7d0, icon: 📄\n\n9. FOOTER\n   - \"TargetUp Consulting — Système de Qualification Automatisé · Go Siyaha\"\n   - Link: \"Targetup Consulting\" (placeholder href=\"https://www.targetupconsulting.com/\")\n   - Link: \"Targetup University\" (placeholder href=\"https://university.targetupconsulting.com/en_GB\")\n   - Email : contact@targetupconsulting.com\n   - Téléphone : +212 6 84 48 17 30 / +212 6 97 17 49 72\n   - Background: #1e293b, text: #94a3b8, font-size: 11px\n\n═══════════════════════════════════════════════════\n🎨 DESIGN RULES\n═══════════════════════════════════════════════════\n\n- Use TABLE layout only — email client compatibility (Gmail, Outlook)\n- Use inline CSS + <style> tag at top\n- Max width: 650px, centered, margin: 0 auto\n- Outer background: #f1f5f9\n- Container background: #ffffff, border-radius: 8px, overflow hidden\n- Primary color: #c0271a (rouge TargetUp)\n- Secondary: #1e293b (dark slate)\n- Accent positive: #16a34a (green)\n- Accent warning: #ca8a04 (amber)\n- Font: Arial, sans-serif\n- All buttons: border-radius 6px, padding 10px 20px, no border, font-weight bold\n- Mobile: use max-width 100% on inner tables, stack columns vertically under 480px","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[256,-320],"id":"5a566d74-fccf-4062-b208-0e676338d555","name":"AI Agent8"},{"parameters":{"toRecipients":"={{ $('Webhook').item.json.body.lead.email }}","subject":"=Analyse Go Siyaha : {{ $('Webhook').item.json.body.lead.entreprise }}","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[672,-192],"id":"df767445-dbd0-4b13-9826-faaf1e1afc36","name":"Send a message1","webhookId":"275b1b8c-e486-42c5-a0e1-b35ee6eb9e63","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ \"Lead Forme - Programme Go Siyaha\" }}"},{"fieldName":"contact_name","fieldValue":"={{ $('Webhook').item.json.body.lead.prenom }} {{ $('Webhook').item.json.body.lead.nom }}"},{"fieldName":"email_from","fieldValue":"={{ $('Webhook').item.json.body.lead.email }}"},{"fieldName":"phone","fieldValue":"={{ $('Webhook').item.json.body.lead.telephone }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Webhook').item.json.body.lead.ville }}"},{"fieldName":"partner_name","fieldValue":"={{ $('Webhook').item.json.body.lead.entreprise }}"},{"fieldName":"website","fieldValue":"={{ $('Webhook').item.json.body.lead.site_web }}"},{"fieldName":"description","fieldValue":"=<h1>Rapport d’Analyse</h1>\n\n<p>\n    <strong>Date du rapport :</strong> {{ $now.format('yyyy-MM-dd') }}\n</p>\n\n<h2>Réponses au Questionnaire</h2>\n\n<p>\n    <strong>Question 1 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[0].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[0].answer }}\n</p>\n\n<p>\n    <strong>Question 2 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[1].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[1].answer }}\n</p>\n\n<p>\n    <strong>Question 3 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[2].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[2].answer }}\n</p>\n\n<p>\n    <strong>Question 4 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[3].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[3].answer }}\n</p>\n\n<p>\n    <strong>Question 5 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[4].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[4].answer }}\n</p>\n\n<p>\n    <strong>Question 6 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[5].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[5].answer }}\n</p>\n\n<p>\n    <strong>Question 7 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[6].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[6].answer }}\n</p>\n\n<h2>Analyse Générée</h2>\n\n<p>\n    {{ $('AI Agent').item.json.output }}\n</p>"},{"fieldName":"user_id","fieldValue":"={{ 12 }}"},{"fieldName":"team_id","fieldValue":"={{ 5 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[656,-480],"id":"21f2ff24-7f34-4028-b6db-ae5f1d65ef1e","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-304,-320],"id":"d933cd27-254a-49dd-93b4-798d893aee53","name":"Wait","webhookId":"98306ec5-ad5c-4fcf-925f-358d1990777e"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"AI Agent8","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Send a message1","type":"main","index":0},{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[]]},"Wait":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3387a60f-fdf0-45c1-b75d-0fc035f263fd","activeVersionId":"3387a60f-fdf0-45c1-b75d-0fc035f263fd","triggerCount":1,"shared":[{"updatedAt":"2026-03-31T10:48:06.883Z","createdAt":"2026-03-31T10:48:06.883Z","role":"workflow:owner","workflowId":"7PVGubQTxcXLXUay","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-31T12:06:33.000Z","createdAt":"2026-03-31T12:06:32.089Z","versionId":"3387a60f-fdf0-45c1-b75d-0fc035f263fd","workflowId":"7PVGubQTxcXLXUay","nodes":[{"parameters":{"httpMethod":"POST","path":"2865c517-6dfa-4a95-9290-3d9cc597e31c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-784,-32],"id":"1be2aa35-9bd2-4ad4-af57-39bd2331630f","name":"Webhook","webhookId":"2865c517-6dfa-4a95-9290-3d9cc597e31c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.service }}","rightValue":"={{ \"Go Siyaha\" }}","operator":{"type":"string","operation":"equals"},"id":"f15ea618-d475-4809-bfd1-e7dcf4ec16a7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Siyaha"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed9df16a-02eb-4e2b-86ab-558f6f66cfad","leftValue":"={{ $json.body.service }}","rightValue":"={{ \"Export\" }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Export"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,-32],"id":"b4377d9b-2bfd-47d5-a648-3ee688e8c9a7","name":"Switch"},{"parameters":{"promptType":"define","text":"=═══════════════════════════════════════════════════\nCONTEXTE : LE PROGRAMME GO SIYAHA — CE QU'IL FAUT SAVOIR\n═══════════════════════════════════════════════════\n\nGo Siyaha est un programme national d'appui aux entreprises touristiques marocaines, lancé officiellement le 14 février 2024 par le Ministère du Tourisme, de l'Artisanat et de l'Économie Sociale et Solidaire (MTAESS), en partenariat avec l'Agence Maroc PME. Il s'inscrit dans la feuille de route nationale du tourisme 2023–2026 et dispose d'une enveloppe budgétaire de 720 millions de dirhams, avec un objectif d'accompagner au moins 1 700 entreprises touristiques d'ici fin 2026. À ce jour, environ 1 000 entreprises en ont déjà bénéficié.\n\nLe programme est déployé et géré par l'Agence Maroc PME via la plateforme officielle : marocpme.gov.ma/gosiyaha\n\n─── OBJECTIFS DU PROGRAMME ──────────────────────\n\nGo Siyaha vise à :\n- Moderniser et renforcer la compétitivité des TPE et PME du secteur touristique\n- Encourager l'innovation dans l'offre d'animation et d'expériences touristiques\n- Accélérer la transition vers des pratiques durables et écologiques\n- Soutenir la digitalisation et la montée en gamme des acteurs du tourisme\n- Favoriser l'émergence d'une nouvelle génération d'entreprises touristiques marocaines compétitives à l'international\n\n─── LES 3 DISPOSITIFS DU PROGRAMME ─────────────────\n\n1. MOUAKABA SIYAHA — Accompagnement conseil et expertise technique\n   Prise en charge jusqu'à 90% du coût des prestations de conseil, plafonné à 1 MDH TTC par bénéficiaire sur 3 ans.\n   4 axes couverts :\n   - Développement durable et gestion des ressources\n   - Excellence opérationnelle et satisfaction client\n   - Développement commercial et nouveaux marchés\n   - Digitalisation et présence en ligne\n   Les entreprises peuvent lancer 2 à 3 actions simultanées par année.\n\n2. ISTITMAR SIYAHA — Appui à l'investissement\n   Primes pour les projets d'investissement matériel :\n   - 35% de prime pour les projets d'animation touristique (entre 1 et 10 MDH d'investissement)\n   - 30% de prime pour les projets d'hébergement associés\n   Cible les structures qui souhaitent créer ou étendre une offre d'hébergement ou d'animation avec un investissement structurant.\n\n3. TATWIR CROISSANCE VERTE SIYAHA — Appui à la transition écologique\n   - Jusqu'à 40% de subvention pour les investissements verts (inférieurs à 10 MDH)\n   - Jusqu'à 90% de prise en charge pour les prestations de conseil environnemental\n   Couvre : économies d'énergie, énergies renouvelables, gestion de l'eau, gestion des déchets, certifications écologiques (Green Key, etc.)\n\n─── CRITÈRES D'ÉLIGIBILITÉ GÉNÉRAUX ────────────────\n\nPour être éligible à Go Siyaha, une entreprise doit :\n✓ Être de droit privé marocain, avec un actionnariat 100% privé\n✓ Avoir un chiffre d'affaires annuel HT ≤ 200 millions de dirhams sur les 3 dernières années (les années 2020 et 2021 sont exclues du calcul en raison du Covid)\n✓ Exercer dans l'un des secteurs suivants :\n   - Hébergement touristique classé (hôtels, riads, maisons d'hôtes, gîtes, auberges)\n   - Restauration touristique classée\n   - Agences de voyages de type Organisateur-Distributeur (OD)\n   - Transporteurs touristiques\n   - Structures d'animation touristique, loisirs, sport, culture, artisanat à vocation touristique\n   - Projets en création avec un CA prévisionnel ≤ 200 MDH/an\n   - Coopératives touristiques à forte valeur ajoutée\n✓ Fournir les documents suivants lors du dossier : registre de commerce, autorisation de conformité, attestation de régularité fiscale et sociale, bilan comptable, et engagements spécifiques selon le dispositif choisi.\n\nDepuis juillet 2025, le programme a été élargi : les petites structures (maisons d'hôtes, TPE, coopératives, jeunes porteurs de projets) sont désormais pleinement éligibles suite à la suppression de certaines barrières d'accès liées à la taille.\n\n─── PROCESSUS D'ACCÈS ──────────────────────────────\n\n1. Inscription et dépôt de candidature sur marocpme.gov.ma/gosiyaha\n2. Sélection d'un cabinet de conseil agréé Maroc PME (comme TargetUp Consulting)\n3. Réalisation du diagnostic et définition du plan d'accompagnement\n4. Validation par le Comité Public-Privé (CPP)\n5. Signature de la convention et lancement des actions\n6. Remboursement des frais après réception des livrables\n\n─── POSITIONNEMENT TARGETUP CONSULTING ─────────────\n\nTargetUp Consulting est un cabinet de conseil agréé par Maroc PME, habilité à accompagner les entreprises dans le cadre du programme Go Siyaha. Le cabinet couvre les axes suivants : qualité et certification ISO, stratégie ESG/RSE, Lean Six Sigma et excellence opérationnelle, transformation digitale, développement commercial, et formation professionnelle. TargetUp est le cabinet référent pour les entreprises souhaitant maximiser leur dossier Go Siyaha en combinant plusieurs axes d'accompagnement.\n\n═══════════════════════════════════════════════════\nDONNÉES DU PROSPECT (issues du formulaire quiz)\n═══════════════════════════════════════════════════\n\n[INSÉRER ICI LE JSON REÇU VIA WEBHOOK — exemple de structure :]\n\nProgrammme : {{ $json.body.service }}\nNom du client : {{ $json.body.lead.prenom }} {{ $json.body.lead.nom }}\nMail : {{ $json.body.lead.email }}\nSiteweb : {{ $json.body.lead.site_web }}\nEntreprise : {{ $json.body.lead.entreprise }}\nVille : {{ $json.body.lead.ville }}\n\n{{ $json.body.quiz_answers[0].question }} : {{ $json.body.quiz_answers[0].answer }}\n\n{{ $json.body.quiz_answers[1].question }} : {{ $json.body.quiz_answers[1].answer }}\n\n\n{{ $json.body.quiz_answers[2].question }} : {{ $json.body.quiz_answers[2].answer }}\n\n\n{{ $json.body.quiz_answers[3].question }} : {{ $json.body.quiz_answers[3].answer }}\n\n\n{{ $json.body.quiz_answers[4].question }} : {{ $json.body.quiz_answers[4].answer }}\n\n\n{{ $json.body.quiz_answers[5].question }} : {{ $json.body.quiz_answers[5].answer }}\n\n\n{{ $json.body.quiz_answers[6].question }} : {{ $json.body.quiz_answers[6].answer }}\n\n\n\n═══════════════════════════════════════════════════\nINSTRUCTIONS POUR TON ANALYSE\n═══════════════════════════════════════════════════\n\nProduis une analyse structurée en 5 sections, dans un style professionnel et chaleureux, orienté conseil. Tu t'adresses à le client directemet.\n\n─── SECTION 1 : PROFIL DE L'ENTREPRISE ──────────────\nRésume le profil de l'entreprise en 3 à 5 phrases synthétiques : secteur, taille, ancienneté, ville, stade de développement. Déduis ce que tu peux sur le contexte opérationnel probable de cette entreprise (ex : une maison d'hôtes à Marrakech avec 3 ans d'activité est probablement post-Covid, encore en phase de montée en régime, probablement peu digitalisée, etc.). Sois précis et contextuel.\n\n─── SECTION 2 : ANALYSE D'ÉLIGIBILITÉ GO SIYAHA ───────\nSur la base des critères officiels du programme, évalue l'éligibilité de l'entreprise pour chacun des 3 dispositifs (Mouakaba, Istitmar, Tatwir Croissance Verte). Pour chaque dispositif :\n- Indiquer : ✅ Éligible / ⚠️ Partiellement éligible / ❌ Non éligible ou à vérifier\n- Justifier la décision avec les éléments du profil\n- Signaler les points de vigilance ou les documents à préparer\n- Identifier les zones d'ombre qui nécessiteront vérification lors de l'appel\n\n─── SECTION 3 : RECOMMANDATIONS D'ACCOMPAGNEMENT ──────\nSur la base du besoin principal exprimé par le prospect et de son profil, recommande :\n- Le ou les dispositifs les plus pertinents à activer en priorité\n- Les axes d'accompagnement spécifiques à proposer (ex : digitalisation, lean, ISO, RSE, développement commercial…)\n- Le montant estimé de subvention potentielle (fourchette réaliste selon les plafonds du programme)\n- La possibilité de combiner plusieurs actions simultanément\n- Les synergies éventuelles avec d'autres services TargetUp (formation, certification ISO, ESG…)\n\n─── SECTION 4 : POINTS CLÉS À ABORDER LORS DE L'APPEL ──\nListe 5 à 7 questions précises et stratégiques que le consultant doit poser lors du premier appel pour :\n- Confirmer l'éligibilité (points non encore vérifiés)\n- Comprendre les besoins réels derrière la réponse au quiz\n- Identifier les freins potentiels (budget propre, documents manquants, historique avec d'autres programmes…)\n- Évaluer le niveau d'urgence et de motivation du prospect\n- Orienter vers la meilleure offre TargetUp\n\n─── SECTION 5 : RÉSUMÉ EXÉCUTIF & NIVEAU DE PRIORITÉ ───\nDonne une note de priorité de traitement de ce lead (Haute / Moyenne / Faible) avec justification.\nRésume en 3 bullet points ce qu'il faut retenir de ce prospect avant de le rappeler.\nPropose un angle d'accroche pour l'ouverture de l'appel (la première phrase que le consultant peut dire pour créer de la confiance et montrer que TargetUp a déjà travaillé le dossier).\n\n═══════════════════════════════════════════════════\nCONTRAINTES DE FORMAT\n═══════════════════════════════════════════════════\n\n- Langue : français uniquement\n- Ton : professionnel, direct, orienté action — pas de langue de bois\n- Ne répète pas les données brutes du JSON, interprète-les\n- Si une information manque, indique-le clairement et suggère comment l'obtenir lors de l'appel\n- Longueur cible : 600 à 900 mots (analyse dense, pas de remplissage)\n- Utilise des titres clairs, des emojis indicateurs (✅ ⚠️ ❌ 🎯 📞) pour faciliter la lecture rapide","options":{"systemMessage":"Tu es un consultant senior spécialisé en financement public et développement d'entreprise au Maroc, travaillant pour TargetUp Consulting, cabinet agréé Maroc PME. Tu reçois les données d'un prospect ayant rempli un formulaire de pré-qualification pour le programme Go Siyaha. Ta mission est de produire une analyse personnalisée, détaillée et professionnelle, entièrement en français.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,-320],"id":"a1c2c8bf-06ac-44df-80e5-ad9852301939","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,-80],"id":"7593e037-4cc4-4fc4-afcd-ece2dca7a6b7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,-80],"id":"cf097908-7173-4090-83a9-d80b1417a110","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=You are an expert in HTML email design and CRM lead management for a Moroccan consulting firm.\n\nYour task is to transform a raw \"analyse prospect Go Siyaha\" report into a professional, high-impact HTML EMAIL TEMPLATE addressed to a TargetUp Consulting sales consultant, summarizing the lead profile and preparing them for the follow-up call.\n\n⚠️ OUTPUT FORMAT:\n- Return ONLY valid HTML code\n- No explanations, no markdown, no text outside HTML\n- All text content must be in FRENCH\n\n📥 INPUT DATA:\n{{ $json.output }}\n\n═══════════════════════════════════════════════════\n🎯 STRATEGIC LOGIC TO APPLY\n═══════════════════════════════════════════════════\n\n- Use the data exactly as provided in the input; do not invent or recompute information.\n- The input is a structured analysis with 5 sections (Profil, Éligibilité, Recommandations, Points à aborder, Résumé Exécutif) — map each section to its corresponding email block.\n- Highlight the eligibility verdict (✅ Éligible / ⚠️ Partiel / ❌ Non éligible) with the appropriate color per dispositif.\n- For the priority level (Haute / Moyenne / Faible), use a colored badge: rouge for Haute, orange for Moyenne, vert for Faible.\n- For the \"Points clés à aborder lors de l'appel\" section, render as a numbered checklist — these are the consultant's call script.\n- For the recommended dispositifs (Mouakaba / Istitmar / Tatwir), display as visual cards with estimated subvention amounts.\n- The opening line suggested in the Résumé Exécutif must appear as a highlighted CTA quote box — it is the first thing the consultant reads before dialing.\n\n═══════════════════════════════════════════════════\n📐 REQUIRED EMAIL STRUCTURE\n═══════════════════════════════════════════════════\n\n1. HEADER\n   - Logo text: \"TargetUp Consulting\"\n   - Title: \"Analyse Programme Go Siyaha : {{ $('Webhook').item.json.body.lead.entreprise }} \"\n   - Subtitle: \"Lead reçu via Quiz d'éligibilité ·{{$now.format('yyyy-MM-dd')}} \"\n   - Background: #c0271a (rouge TargetUp), text: white\n   - Sub-band below in #8b1a10: \"Programme Go Siyaha · Maroc PME · Cabinet agréé\"\n\n2. PRIORITY BANNER\n   - Full-width colored band showing the priority level badge (Haute / Moyenne / Faible)\n   - Haute = background #fef2f2, border-left 4px solid #c0271a, text #7f1d1d\n   - Moyenne = background #fefce8, border-left 4px solid #ca8a04, text #713f12\n   - Faible = background #f0fdf4, border-left 4px solid #16a34a, text #14532d\n   - Include the 3 bullet-point résumé from Section 5 directly in this band\n\n3. LEAD PROFILE CARD\n   - Display in a 2-column table: Entreprise, Ville, Secteur, Statut juridique, Ancienneté, Effectif, CA approximatif, Besoin principal, Accompagnement antérieur\n   - Pull values from quiz_answers and lead fields in the input JSON\n   - Light grey background (#f8fafc), left-accented border in #c0271a\n   - Include a button linking to appointmment: \"https://www.targetupconsulting.com/appointment/1\"\n\n4. OPENING LINE BOX (most important element)\n   - Full-width highlighted quote box\n   - Background: #fff7ed, border-left: 4px solid #c0271a\n   - Label above: \"PHRASE D'ACCROCHE RECOMMANDÉE POUR L'APPEL\"\n   - Font size: 15px, italic, color: #1e293b\n   - Source: Section 5 of the analysis (Résumé Exécutif — angle d'accroche)\n\n5. ELIGIBILITY SECTION — \"Analyse d'éligibilité Go Siyaha\"\n   - 3 cards side by side (or stacked on mobile) — one per dispositif:\n\n   Card 1: MOUAKABA SIYAHA\n   - Icon: 🤝\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"jusqu'à 90% · plafond 1 MDH\"\n   - Border color: green if eligible, orange if partial, red if not\n\n   Card 2: ISTITMAR SIYAHA\n   - Icon: 🏗️\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"35% animation · 30% hébergement\"\n\n   Card 3: TATWIR CROISSANCE VERTE\n   - Icon: 🌿\n   - Verdict badge: ✅ / ⚠️ / ❌\n   - Justification text (from Section 2)\n   - Max subvention: \"jusqu'à 40% investissement · 90% conseil\"\n\n6. RECOMMENDED ACTION PLAN — \"Recommandations TargetUp\"\n   - Pull from Section 3 of the analysis\n   - Display as 2–3 action blocks with left-border (#c0271a)\n   - Each block: Axe d'accompagnement | Dispositif suggéré | Estimation subvention | Service TargetUp concerné\n   - Include a \"Subvention estimée\" highlighted figure in large bold red text\n   - Add a note if multiple axes can be combined simultaneously\n\n7. CALL PREPARATION CHECKLIST — \"Points à aborder lors de l'appel\"\n   - Pull from Section 4 of the analysis\n   - Numbered list 1 to 7, each item in its own row\n   - Alternating row colors: white / #f8fafc\n   - Left icon: 🔲 for each item\n   - Label above: \"CHECKLIST CONSULTANT — À couvrir lors du premier appel\"\n\n8. DOCUMENTS TO PREPARE — \"Documents à demander au prospect\"\n   - Static block (always included), pulled or inferred from Section 2 vigilance points\n   - List: RC, Autorisation de conformité, Attestation fiscale/CNSS, Bilan N-1, Investissement prévisionnel (si Istitmar)\n   - Background: #f0fdf4, border: 1px solid #bbf7d0, icon: 📄\n\n9. FOOTER\n   - \"TargetUp Consulting — Système de Qualification Automatisé · Go Siyaha\"\n   - Link: \"Targetup Consulting\" (placeholder href=\"https://www.targetupconsulting.com/\")\n   - Link: \"Targetup University\" (placeholder href=\"https://university.targetupconsulting.com/en_GB\")\n   - Email : contact@targetupconsulting.com\n   - Téléphone : +212 6 84 48 17 30 / +212 6 97 17 49 72\n   - Background: #1e293b, text: #94a3b8, font-size: 11px\n\n═══════════════════════════════════════════════════\n🎨 DESIGN RULES\n═══════════════════════════════════════════════════\n\n- Use TABLE layout only — email client compatibility (Gmail, Outlook)\n- Use inline CSS + <style> tag at top\n- Max width: 650px, centered, margin: 0 auto\n- Outer background: #f1f5f9\n- Container background: #ffffff, border-radius: 8px, overflow hidden\n- Primary color: #c0271a (rouge TargetUp)\n- Secondary: #1e293b (dark slate)\n- Accent positive: #16a34a (green)\n- Accent warning: #ca8a04 (amber)\n- Font: Arial, sans-serif\n- All buttons: border-radius 6px, padding 10px 20px, no border, font-weight bold\n- Mobile: use max-width 100% on inner tables, stack columns vertically under 480px","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[256,-320],"id":"5a566d74-fccf-4062-b208-0e676338d555","name":"AI Agent8"},{"parameters":{"toRecipients":"={{ $('Webhook').item.json.body.lead.email }}","subject":"=Analyse Go Siyaha : {{ $('Webhook').item.json.body.lead.entreprise }}","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[672,-192],"id":"df767445-dbd0-4b13-9826-faaf1e1afc36","name":"Send a message1","webhookId":"275b1b8c-e486-42c5-a0e1-b35ee6eb9e63","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ \"Lead Forme - Programme Go Siyaha\" }}"},{"fieldName":"contact_name","fieldValue":"={{ $('Webhook').item.json.body.lead.prenom }} {{ $('Webhook').item.json.body.lead.nom }}"},{"fieldName":"email_from","fieldValue":"={{ $('Webhook').item.json.body.lead.email }}"},{"fieldName":"phone","fieldValue":"={{ $('Webhook').item.json.body.lead.telephone }}"},{"fieldName":"country_id","fieldValue":"={{ 136 }}"},{"fieldName":"city","fieldValue":"={{ $('Webhook').item.json.body.lead.ville }}"},{"fieldName":"partner_name","fieldValue":"={{ $('Webhook').item.json.body.lead.entreprise }}"},{"fieldName":"website","fieldValue":"={{ $('Webhook').item.json.body.lead.site_web }}"},{"fieldName":"description","fieldValue":"=<h1>Rapport d’Analyse</h1>\n\n<p>\n    <strong>Date du rapport :</strong> {{ $now.format('yyyy-MM-dd') }}\n</p>\n\n<h2>Réponses au Questionnaire</h2>\n\n<p>\n    <strong>Question 1 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[0].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[0].answer }}\n</p>\n\n<p>\n    <strong>Question 2 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[1].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[1].answer }}\n</p>\n\n<p>\n    <strong>Question 3 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[2].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[2].answer }}\n</p>\n\n<p>\n    <strong>Question 4 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[3].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[3].answer }}\n</p>\n\n<p>\n    <strong>Question 5 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[4].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[4].answer }}\n</p>\n\n<p>\n    <strong>Question 6 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[5].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[5].answer }}\n</p>\n\n<p>\n    <strong>Question 7 :</strong><br>\n    {{ $('Webhook').item.json.body.quiz_answers[6].question }}<br>\n    <strong>Réponse :</strong> {{ $('Webhook').item.json.body.quiz_answers[6].answer }}\n</p>\n\n<h2>Analyse Générée</h2>\n\n<p>\n    {{ $('AI Agent').item.json.output }}\n</p>"},{"fieldName":"user_id","fieldValue":"={{ 12 }}"},{"fieldName":"team_id","fieldValue":"={{ 5 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[656,-480],"id":"21f2ff24-7f34-4028-b6db-ae5f1d65ef1e","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-304,-320],"id":"d933cd27-254a-49dd-93b4-798d893aee53","name":"Wait","webhookId":"98306ec5-ad5c-4fcf-925f-358d1990777e"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent8","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"AI Agent8","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Send a message1","type":"main","index":0},{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[]]},"Wait":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 3387a60f","description":"","autosaved":true},"tags":[]}