recrutement-expert-cv-part-1-bcCmuJAulRmoCibg.json
{"updatedAt":"2026-03-31T06:40:48.004Z","createdAt":"2026-03-23T08:51:33.532Z","id":"bcCmuJAulRmoCibg","name":"RECRUTEMENT EXPERT CV PART 1","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"e5cfbb5a-1f90-4102-968f-243883fe43bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1360,176],"id":"fbc98c55-5c42-45c0-aea5-5cd70e86bed9","name":"Webhook","webhookId":"e5cfbb5a-1f90-4102-968f-243883fe43bf"},{"parameters":{"resource":"custom","customResource":"hr.applicant","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"partner_name","fieldValue":"={{ $('Webhook').item.json.body.Name }}"},{"fieldName":"email_from","fieldValue":"={{ $('Webhook').item.json.body.Email }}"},{"fieldName":"partner_phone","fieldValue":"={{ $('Webhook').item.json.body.Phone }}"},{"fieldName":"linkedin_profile","fieldValue":"={{ $('Webhook').item.json.body.LinkedIn }}"},{"fieldName":"applicant_notes","fieldValue":"={{\n'<h1>Information personnelle</h1><br><br>' +\n\n'<b>Nom</b> : ' + $('Webhook').item.json.body.Name + '<br><br>' +\n'<b>Job Title</b> : ' + $('Webhook').item.json.body[\"Job Title\"] + '<br><br>' +\n'<b>Experience</b> : ' + $('Webhook').item.json.body[\"Number of Experience\"] + '<br><br>' +\n'<b>Education</b> : ' + $('Webhook').item.json.body.Degree + '<br><br>' +\n'<b>Age</b> : ' + $('Webhook').item.json.body.Birthday + '<br><br>' +\n'<b>Sexe</b> : ' + $('Webhook').item.json.body.Gender + '<br><br>' +\n'<b>Language</b> : ' + $('Webhook').item.json.body.Language + '<br><br>' +\n'<b>Citizenship</b> : ' + $('Webhook').item.json.body.Citizenships + '<br><br>' +\n'<b>Secteur</b> : ' + $('Webhook').item.json.body.Sectors + '<br><br>' +\n\n'<h1>Description</h1><br><br>' +\n\n'<b>About</b> : ' + $('Webhook').item.json.body.About + '<br><br>' +\n'<b>Skills</b> : ' + $('Webhook').item.json.body.Skills + '<br><br>' +\n'<b>Experience</b> : ' + $('Webhook').item.json.body[\"Experience Description\"] + '<br><br>' +\n'<b>Training</b> : ' + $('Webhook').item.json.body.Training + '<br><br>' +\n'<b>Projects</b> : ' + $('Webhook').item.json.body[\"Projects in\"] + '<br><br>'\n}}"},{"fieldName":"job_id","fieldValue":"={{ 7 }}"},{"fieldName":"source_id","fieldValue":"={{ 119 }}"},{"fieldName":"categ_ids","fieldValue":"={{ [$json.sectorId] }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-624,176],"id":"5ec4d82e-662c-40c2-a1ba-cf4aa54abfce","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"promptType":"define","text":"=Lis attentivement le texte complet du CV ci-dessous.\n\nAnalyse le contenu (expériences, responsabilités, mots-clés, compétences principales).\n\nTa tâche est de déterminer un seul secteur principal parmi la liste suivante :\n\nInformatique & IT\n\nMarketing & Communication\n\nFinance & Audit\n\nComptabilité\n\nAdministration\n\nRessources Humaines\n\nCommercial & Ventes\n\nOpérations & Gestion de Projet\n\nJuridique\n\nAchats\n\nLogistique & Supply Chain\n\nQualité (QHSE)\n\nRecherche & Développement\n\nStratégie & Conseil\n\nRègles importantes :\n\nChoisis uniquement un seul secteur (le plus dominant).\n\nNe donne aucune explication.\n\nNe reformule pas.\n\nNe fais aucun commentaire.\n\nRetourne uniquement le nom exact du secteur tel qu’écrit dans la liste.\n\nTexte du CV :\n{{ $json.body['Job Title'] }}\n{{ $json.body.Sectors }}\n{{ $json.body.About }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1152,176],"id":"9c011d62-69c3-48c0-a58f-e4ce6b25308b","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1120,384],"id":"8666eeab-cfeb-4075-89fd-06605923eb7d","name":"Simple Memory"},{"parameters":{"jsCode":"const sectorMap = {\n  \"Informatique & IT\": 5,\n  \"Marketing & Communication\": 6,\n  \"Finance & Audit\": 7,\n  \"Comptabilité\": 8,\n  \"Administration\": 9,\n  \"Ressources Humaines\": 10,\n  \"Commercial & Ventes\": 11,\n  \"Opérations & Gestion de Projet\": 12,\n  \"Juridique\": 13,\n  \"Achats\": 14,\n  \"Logistique & Supply Chain\": 15,\n  \"Qualité (QHSE)\": 16,\n  \"Recherche & Développement\": 17,\n  \"Stratégie & Conseil\": 18\n};\n\n// assuming AI response is in $json.sector\nconst sectorName = $input.first().json.output.trim();\nconst sectorId = sectorMap[sectorName] || null;\n\nreturn [{\n  ...$json,\n  sectorId\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,176],"id":"fbc29fee-4f77-4043-add2-ddcea3ccd3e6","name":"Code in JavaScript"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,176],"id":"0c3a95a7-0c54-470c-bafe-5561f15f95dd","name":"Wait","webhookId":"1591b123-e5d9-404c-a97f-183f1434723a"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1280,384],"id":"a4bcc0d9-a0fd-4906-a108-538dbcd26964","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1iFrNeG_BsdiAU6GJwIQAgJITb85ztewo","mode":"list"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-272,176],"id":"b754f5ca-6de3-4aa6-8bd7-9c56dbaf5a1a","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"toRecipients":"={{ $('Webhook').item.json.body.Email }}","subject":"=Invitation pour une collaboration avec TargetUp Consulting : {{ $json.id }}","bodyContent":"=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Invitation TargetUp Consulting</title>\n</head>\n\n<body style=\"margin:0; padding:0; background-color:#f7f7f7; font-family:Arial, sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f7f7f7; padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff; border:1px solid #dddddd; border-radius:8px; padding:40px;\">\n\n<tr>\n  <td align=\"center\" style=\"padding-bottom:30px;\">\n    <a href=\"https://targetupconsulting.com\" target=\"_blank\">\n      <img \n        src=\"https://i.imgur.com/BMyRRR4.png\" \n        alt=\"TargetUp Consulting\"\n        width=\"180\"\n        style=\"display:block; border:0; outline:none; text-decoration:none; height:auto;\"\n      >\n    </a>\n  </td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-bottom:20px;\">\n<p style=\"color:#555555; font-size:14px; line-height:1.5; margin:0;\">\nNous sommes un cabinet de conseil stratégique spécialisé dans l'accompagnement des entreprises et institutions\npour la transformation digitale, la performance opérationnelle et la croissance dans les pays africains.\n</p>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:20px 0;\">\n<hr style=\"border:0; border-top:1px solid #eeeeee;\">\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-bottom:20px;\">\n<h3 style=\"margin:0; font-size:20px; color:#333333;\">\nInvitation à Collaborer\n</h3>\n</td>\n</tr>\n\n<tr>\n<td style=\"font-size:16px; color:#333333; line-height:1.6;\">\n\n<p>Bonjour {{ $('Webhook').item.json.body.Name }},</p>\n\n<p>\nNous avons obtenu vos informations via <strong>DevelopmentAid</strong> \net souhaitons vous inviter à collaborer avec nous sur nos projets futurs.\n</p>\n\n<p>\nSi vous êtes intéressé, merci de nous faire parvenir les documents suivants :\n<ul style=\"margin-top:10px; margin-bottom:10px;\">\n    <li>Votre <strong>CV actualisé</strong>.</li>\n    <li>Votre <strong>diplôme le plus élevé</strong>.</li>\n    <li>Une <strong>liste de vos références</strong> (au format .docx ou .pdf).</li>\n</ul>\nUne fois vos documents reçus, nous vous enverrons un contrat officiel avec tous les détails pour entamer notre collaboration.\n</p>\n\n<p>\nNous espérons pouvoir collaborer avec vous prochainement.\n</p>\n\n<p style=\"margin-top:30px;\">\nCordialement,<br>\n<strong>TargetUp Consulting</strong><br>\n\n<span style=\"font-size:14px; color:#555555;\">\ntargetupconsulting.com<br>\nbackoffice@targetupconsulting.com<br>\n+212 6 84 48 17 30 | +212 6 97 17 49 72\n</span>\n</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-top:30px;\">\n\n<a href=\"mailto:backoffice@targetupconsulting.com?subject=Documents%20de%20collaboration%20-%20{{ $('Webhook').item.json.body.Name }}&body=Bonjour%20TargetUp%2C%0A%0AJe%20fais%20suite%20%C3%A0%20votre%20invitation.%20Veuillez%20trouver%20ci-joint%20mon%20CV%20actualis%C3%A9%2C%20mon%20dipl%C3%B4me%20ainsi%20que%20ma%20liste%20de%20r%C3%A9f%C3%A9rences%20(docx/pdf).%0A%0ANom%20%3A%20{{ $('Webhook').item.json.body.Name }}%0AID%20%3A%20{{ $json.id }}%0A%0ACordialement.\" \nstyle=\"background-color:#C0392B; color:#ffffff; padding:15px 25px; text-decoration:none; border-radius:5px; font-size:16px; font-weight:bold; display:inline-block;\">\nEnvoyer mes documents\n</a>\n\n</td>\n</tr>\n\n</table>\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:20px; font-size:12px; color:#999999;\">\n© {{ $now.format('yyyy') }} TargetUp Consulting. Tous droits réservés.\n</td>\n</tr>\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-48,176],"id":"b8425de2-1095-47c3-88b9-9a3ddd3fc611","name":"Send a message1","webhookId":"454a3bb8-53fa-4686-8de8-6bcdb4cbd49b","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Download file","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e1e349c-b788-475d-ba5c-456128b9ae99","activeVersionId":"2e1e349c-b788-475d-ba5c-456128b9ae99","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:51:33.536Z","createdAt":"2026-03-23T08:51:33.536Z","role":"workflow:owner","workflowId":"bcCmuJAulRmoCibg","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-31T06:42:12.000Z","createdAt":"2026-03-31T06:40:48.005Z","versionId":"2e1e349c-b788-475d-ba5c-456128b9ae99","workflowId":"bcCmuJAulRmoCibg","nodes":[{"parameters":{"httpMethod":"POST","path":"e5cfbb5a-1f90-4102-968f-243883fe43bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1360,176],"id":"fbc98c55-5c42-45c0-aea5-5cd70e86bed9","name":"Webhook","webhookId":"e5cfbb5a-1f90-4102-968f-243883fe43bf"},{"parameters":{"resource":"custom","customResource":"hr.applicant","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"partner_name","fieldValue":"={{ $('Webhook').item.json.body.Name }}"},{"fieldName":"email_from","fieldValue":"={{ $('Webhook').item.json.body.Email }}"},{"fieldName":"partner_phone","fieldValue":"={{ $('Webhook').item.json.body.Phone }}"},{"fieldName":"linkedin_profile","fieldValue":"={{ $('Webhook').item.json.body.LinkedIn }}"},{"fieldName":"applicant_notes","fieldValue":"={{\n'<h1>Information personnelle</h1><br><br>' +\n\n'<b>Nom</b> : ' + $('Webhook').item.json.body.Name + '<br><br>' +\n'<b>Job Title</b> : ' + $('Webhook').item.json.body[\"Job Title\"] + '<br><br>' +\n'<b>Experience</b> : ' + $('Webhook').item.json.body[\"Number of Experience\"] + '<br><br>' +\n'<b>Education</b> : ' + $('Webhook').item.json.body.Degree + '<br><br>' +\n'<b>Age</b> : ' + $('Webhook').item.json.body.Birthday + '<br><br>' +\n'<b>Sexe</b> : ' + $('Webhook').item.json.body.Gender + '<br><br>' +\n'<b>Language</b> : ' + $('Webhook').item.json.body.Language + '<br><br>' +\n'<b>Citizenship</b> : ' + $('Webhook').item.json.body.Citizenships + '<br><br>' +\n'<b>Secteur</b> : ' + $('Webhook').item.json.body.Sectors + '<br><br>' +\n\n'<h1>Description</h1><br><br>' +\n\n'<b>About</b> : ' + $('Webhook').item.json.body.About + '<br><br>' +\n'<b>Skills</b> : ' + $('Webhook').item.json.body.Skills + '<br><br>' +\n'<b>Experience</b> : ' + $('Webhook').item.json.body[\"Experience Description\"] + '<br><br>' +\n'<b>Training</b> : ' + $('Webhook').item.json.body.Training + '<br><br>' +\n'<b>Projects</b> : ' + $('Webhook').item.json.body[\"Projects in\"] + '<br><br>'\n}}"},{"fieldName":"job_id","fieldValue":"={{ 7 }}"},{"fieldName":"source_id","fieldValue":"={{ 119 }}"},{"fieldName":"categ_ids","fieldValue":"={{ [$json.sectorId] }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-624,176],"id":"5ec4d82e-662c-40c2-a1ba-cf4aa54abfce","name":"Create an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"promptType":"define","text":"=Lis attentivement le texte complet du CV ci-dessous.\n\nAnalyse le contenu (expériences, responsabilités, mots-clés, compétences principales).\n\nTa tâche est de déterminer un seul secteur principal parmi la liste suivante :\n\nInformatique & IT\n\nMarketing & Communication\n\nFinance & Audit\n\nComptabilité\n\nAdministration\n\nRessources Humaines\n\nCommercial & Ventes\n\nOpérations & Gestion de Projet\n\nJuridique\n\nAchats\n\nLogistique & Supply Chain\n\nQualité (QHSE)\n\nRecherche & Développement\n\nStratégie & Conseil\n\nRègles importantes :\n\nChoisis uniquement un seul secteur (le plus dominant).\n\nNe donne aucune explication.\n\nNe reformule pas.\n\nNe fais aucun commentaire.\n\nRetourne uniquement le nom exact du secteur tel qu’écrit dans la liste.\n\nTexte du CV :\n{{ $json.body['Job Title'] }}\n{{ $json.body.Sectors }}\n{{ $json.body.About }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1152,176],"id":"9c011d62-69c3-48c0-a58f-e4ce6b25308b","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1120,384],"id":"8666eeab-cfeb-4075-89fd-06605923eb7d","name":"Simple Memory"},{"parameters":{"jsCode":"const sectorMap = {\n  \"Informatique & IT\": 5,\n  \"Marketing & Communication\": 6,\n  \"Finance & Audit\": 7,\n  \"Comptabilité\": 8,\n  \"Administration\": 9,\n  \"Ressources Humaines\": 10,\n  \"Commercial & Ventes\": 11,\n  \"Opérations & Gestion de Projet\": 12,\n  \"Juridique\": 13,\n  \"Achats\": 14,\n  \"Logistique & Supply Chain\": 15,\n  \"Qualité (QHSE)\": 16,\n  \"Recherche & Développement\": 17,\n  \"Stratégie & Conseil\": 18\n};\n\n// assuming AI response is in $json.sector\nconst sectorName = $input.first().json.output.trim();\nconst sectorId = sectorMap[sectorName] || null;\n\nreturn [{\n  ...$json,\n  sectorId\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,176],"id":"fbc29fee-4f77-4043-add2-ddcea3ccd3e6","name":"Code in JavaScript"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,176],"id":"0c3a95a7-0c54-470c-bafe-5561f15f95dd","name":"Wait","webhookId":"1591b123-e5d9-404c-a97f-183f1434723a"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1280,384],"id":"a4bcc0d9-a0fd-4906-a108-538dbcd26964","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1iFrNeG_BsdiAU6GJwIQAgJITb85ztewo","mode":"list"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-272,176],"id":"b754f5ca-6de3-4aa6-8bd7-9c56dbaf5a1a","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"4Ri5LmI1cUO8atSC","name":"Google Drive account"}}},{"parameters":{"toRecipients":"={{ $('Webhook').item.json.body.Email }}","subject":"=Invitation pour une collaboration avec TargetUp Consulting : {{ $json.id }}","bodyContent":"=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Invitation TargetUp Consulting</title>\n</head>\n\n<body style=\"margin:0; padding:0; background-color:#f7f7f7; font-family:Arial, sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f7f7f7; padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff; border:1px solid #dddddd; border-radius:8px; padding:40px;\">\n\n<tr>\n  <td align=\"center\" style=\"padding-bottom:30px;\">\n    <a href=\"https://targetupconsulting.com\" target=\"_blank\">\n      <img \n        src=\"https://i.imgur.com/BMyRRR4.png\" \n        alt=\"TargetUp Consulting\"\n        width=\"180\"\n        style=\"display:block; border:0; outline:none; text-decoration:none; height:auto;\"\n      >\n    </a>\n  </td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-bottom:20px;\">\n<p style=\"color:#555555; font-size:14px; line-height:1.5; margin:0;\">\nNous sommes un cabinet de conseil stratégique spécialisé dans l'accompagnement des entreprises et institutions\npour la transformation digitale, la performance opérationnelle et la croissance dans les pays africains.\n</p>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:20px 0;\">\n<hr style=\"border:0; border-top:1px solid #eeeeee;\">\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-bottom:20px;\">\n<h3 style=\"margin:0; font-size:20px; color:#333333;\">\nInvitation à Collaborer\n</h3>\n</td>\n</tr>\n\n<tr>\n<td style=\"font-size:16px; color:#333333; line-height:1.6;\">\n\n<p>Bonjour {{ $('Webhook').item.json.body.Name }},</p>\n\n<p>\nNous avons obtenu vos informations via <strong>DevelopmentAid</strong> \net souhaitons vous inviter à collaborer avec nous sur nos projets futurs.\n</p>\n\n<p>\nSi vous êtes intéressé, merci de nous faire parvenir les documents suivants :\n<ul style=\"margin-top:10px; margin-bottom:10px;\">\n    <li>Votre <strong>CV actualisé</strong>.</li>\n    <li>Votre <strong>diplôme le plus élevé</strong>.</li>\n    <li>Une <strong>liste de vos références</strong> (au format .docx ou .pdf).</li>\n</ul>\nUne fois vos documents reçus, nous vous enverrons un contrat officiel avec tous les détails pour entamer notre collaboration.\n</p>\n\n<p>\nNous espérons pouvoir collaborer avec vous prochainement.\n</p>\n\n<p style=\"margin-top:30px;\">\nCordialement,<br>\n<strong>TargetUp Consulting</strong><br>\n\n<span style=\"font-size:14px; color:#555555;\">\ntargetupconsulting.com<br>\nbackoffice@targetupconsulting.com<br>\n+212 6 84 48 17 30 | +212 6 97 17 49 72\n</span>\n</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"padding-top:30px;\">\n\n<a href=\"mailto:backoffice@targetupconsulting.com?subject=Documents%20de%20collaboration%20-%20{{ $('Webhook').item.json.body.Name }}&body=Bonjour%20TargetUp%2C%0A%0AJe%20fais%20suite%20%C3%A0%20votre%20invitation.%20Veuillez%20trouver%20ci-joint%20mon%20CV%20actualis%C3%A9%2C%20mon%20dipl%C3%B4me%20ainsi%20que%20ma%20liste%20de%20r%C3%A9f%C3%A9rences%20(docx/pdf).%0A%0ANom%20%3A%20{{ $('Webhook').item.json.body.Name }}%0AID%20%3A%20{{ $json.id }}%0A%0ACordialement.\" \nstyle=\"background-color:#C0392B; color:#ffffff; padding:15px 25px; text-decoration:none; border-radius:5px; font-size:16px; font-weight:bold; display:inline-block;\">\nEnvoyer mes documents\n</a>\n\n</td>\n</tr>\n\n</table>\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:20px; font-size:12px; color:#999999;\">\n© {{ $now.format('yyyy') }} TargetUp Consulting. Tous droits réservés.\n</td>\n</tr>\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-48,176],"id":"b8425de2-1095-47c3-88b9-9a3ddd3fc611","name":"Send a message1","webhookId":"454a3bb8-53fa-4686-8de8-6bcdb4cbd49b","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Download file","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 2e1e349c","description":"","autosaved":true},"tags":[]}