recrutement-expert-cv-part-2-Raa7FuqgaiEd9ZaL.json
{"updatedAt":"2026-03-26T09:37:21.389Z","createdAt":"2026-03-23T08:51:47.335Z","id":"Raa7FuqgaiEd9ZaL","name":"RECRUTEMENT EXPERT CV PART 2","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,-240],"id":"8c3f7219-1dc8-4e8c-9dc2-f98addd9d805","name":"Loop Over Items"},{"parameters":{"resource":"custom","customResource":"ir.attachment","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"mimetype","fieldValue":"application/pdf"},{"fieldName":"name","fieldValue":"={{ $binary.data.fileName }}"},{"fieldName":"datas","fieldValue":"={{ $json.fileBase64 }}"},{"fieldName":"res_model","fieldValue":"={{ \"hr.applicant\" }}"},{"fieldName":"public","fieldValue":"={{ true }}"},{"fieldName":"res_id","fieldValue":"={{ Number($('If').item.json.bodyPreview.match(/ID\\s*:\\s*(\\d+)/)[1]) }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-368,-224],"id":"cae1d57c-655d-4561-8f7e-ee8f9813b6d6","name":"Create an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"jsCode":"const items = [];\n\nfor (const key of Object.keys($binary)) {\n    if (!key.startsWith('attachment_')) continue;\n\n    const binaryData = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64Content = binaryData.toString('base64');\n\n    items.push({\n        json: {\n            fileName: $binary[key].fileName,\n            mimeType: $binary[key].mimeType,\n            fileBase64: base64Content\n        },\n        binary: {\n            data: $binary[key]\n        },\n        pairedItem: {\n            item: 0   // 🔥 THIS FIXES YOUR ERROR\n        }\n    });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,-240],"id":"723b4b90-cc49-46aa-a756-1fb3cf791b45","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab13d6a1-bd71-4dad-bca1-f23b0f56d975","leftValue":"={{ $json.subject }}","rightValue":"Documents de collaboration","operator":{"type":"string","operation":"contains"}},{"id":"f55da9ee-c563-40f9-a742-205cd50e1ebb","leftValue":"={{ $binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,-224],"id":"b89c68d9-41e0-49e3-9394-3fed3eb99d80","name":"If"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('If').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-176,-224],"id":"c57a6a0d-65ac-42b4-ace6-a17929d0e15f","name":"Update a message","webhookId":"a30119d5-c50b-4320-946d-53adb8f070a9","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"getAll","returnAll":true,"filtersUI":{"values":{"filters":{"hasAttachments":true,"readStatus":"unread","receivedAfter":"={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"}}},"options":{"attachmentsPrefix":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1328,-224],"id":"84648939-a385-427b-a342-b26a624fd48f","name":"Get many messages","webhookId":"602c4345-44b7-41cd-a12c-93c21c92d2da","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1520,-224],"id":"a82ee1bd-df31-4ede-9c27-6f28b2152940","name":"Schedule Trigger"},{"parameters":{"jsCode":"const items = [];\n\nfor (const key of Object.keys($binary)) {\n    // Only process the attachments from Gmail\n    if (!key.startsWith('attachment_')) continue;\n\n    // Correctly get the file content as a Buffer and convert to Base64\n    const binaryData = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64Content = binaryData.toString('base64');\n\n    items.push({\n        json: {\n            fileName: $binary[key].fileName,\n            mimeType: $binary[key].mimeType,\n            // We put the actual file content here in the JSON part\n            fileBase64: base64Content \n        },\n        // We keep the binary just in case, but we'll use the JSON field for Odoo\n        binary: {\n            data: $binary[key]\n        }\n    });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,0],"id":"f853b888-30e3-404b-bfa6-a43bb5d58f03","name":"Code in JavaScript"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Create an item1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create an item1":{"main":[[{"node":"Update a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Update a message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0098f23f-dc14-4601-8317-453f473e3a9d","activeVersionId":"0098f23f-dc14-4601-8317-453f473e3a9d","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:51:47.338Z","createdAt":"2026-03-23T08:51:47.338Z","role":"workflow:owner","workflowId":"Raa7FuqgaiEd9ZaL","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-03-26T09:37:26.000Z","createdAt":"2026-03-26T09:37:21.390Z","versionId":"0098f23f-dc14-4601-8317-453f473e3a9d","workflowId":"Raa7FuqgaiEd9ZaL","nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,-240],"id":"8c3f7219-1dc8-4e8c-9dc2-f98addd9d805","name":"Loop Over Items"},{"parameters":{"resource":"custom","customResource":"ir.attachment","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"mimetype","fieldValue":"application/pdf"},{"fieldName":"name","fieldValue":"={{ $binary.data.fileName }}"},{"fieldName":"datas","fieldValue":"={{ $json.fileBase64 }}"},{"fieldName":"res_model","fieldValue":"={{ \"hr.applicant\" }}"},{"fieldName":"public","fieldValue":"={{ true }}"},{"fieldName":"res_id","fieldValue":"={{ Number($('If').item.json.bodyPreview.match(/ID\\s*:\\s*(\\d+)/)[1]) }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-368,-224],"id":"cae1d57c-655d-4561-8f7e-ee8f9813b6d6","name":"Create an item1","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"jsCode":"const items = [];\n\nfor (const key of Object.keys($binary)) {\n    if (!key.startsWith('attachment_')) continue;\n\n    const binaryData = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64Content = binaryData.toString('base64');\n\n    items.push({\n        json: {\n            fileName: $binary[key].fileName,\n            mimeType: $binary[key].mimeType,\n            fileBase64: base64Content\n        },\n        binary: {\n            data: $binary[key]\n        },\n        pairedItem: {\n            item: 0   // 🔥 THIS FIXES YOUR ERROR\n        }\n    });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,-240],"id":"723b4b90-cc49-46aa-a756-1fb3cf791b45","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab13d6a1-bd71-4dad-bca1-f23b0f56d975","leftValue":"={{ $json.subject }}","rightValue":"Documents de collaboration","operator":{"type":"string","operation":"contains"}},{"id":"f55da9ee-c563-40f9-a742-205cd50e1ebb","leftValue":"={{ $binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,-224],"id":"b89c68d9-41e0-49e3-9394-3fed3eb99d80","name":"If"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('If').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-176,-224],"id":"c57a6a0d-65ac-42b4-ace6-a17929d0e15f","name":"Update a message","webhookId":"a30119d5-c50b-4320-946d-53adb8f070a9","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"getAll","returnAll":true,"filtersUI":{"values":{"filters":{"hasAttachments":true,"readStatus":"unread","receivedAfter":"={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"}}},"options":{"attachmentsPrefix":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1328,-224],"id":"84648939-a385-427b-a342-b26a624fd48f","name":"Get many messages","webhookId":"602c4345-44b7-41cd-a12c-93c21c92d2da","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1520,-224],"id":"a82ee1bd-df31-4ede-9c27-6f28b2152940","name":"Schedule Trigger"},{"parameters":{"jsCode":"const items = [];\n\nfor (const key of Object.keys($binary)) {\n    // Only process the attachments from Gmail\n    if (!key.startsWith('attachment_')) continue;\n\n    // Correctly get the file content as a Buffer and convert to Base64\n    const binaryData = await this.helpers.getBinaryDataBuffer(0, key);\n    const base64Content = binaryData.toString('base64');\n\n    items.push({\n        json: {\n            fileName: $binary[key].fileName,\n            mimeType: $binary[key].mimeType,\n            // We put the actual file content here in the JSON part\n            fileBase64: base64Content \n        },\n        // We keep the binary just in case, but we'll use the JSON field for Odoo\n        binary: {\n            data: $binary[key]\n        }\n    });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,0],"id":"f853b888-30e3-404b-bfa6-a43bb5d58f03","name":"Code in JavaScript"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Create an item1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create an item1":{"main":[[{"node":"Update a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Update a message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 0098f23f","description":"","autosaved":true},"tags":[]}