relance-whatsapp-j-7-OZDU4ayTuZ1dR6ze.json
{"updatedAt":"2026-04-02T10:38:34.546Z","createdAt":"2026-03-23T08:53:22.510Z","id":"OZDU4ayTuZ1dR6ze","name":"Relance WHATSAPP j-7","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"user_id","value":"={{ 329 }}"},{"fieldName":"team_id","value":"={{ 6 }}"},{"fieldName":"create_date","operator":"lesserOrEqual","value":"={{ $now.minus({ days: 7 }).toFormat('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-496,16],"id":"aaa56e89-425e-47ee-8f70-481a207f4027","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"998cc616-a08f-49ec-9168-0e08b5b8bbf8","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.phone }}","template":"lead_followup_personalized|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.contact_name }}"},{"text":"={{ $json.display_name }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[224,128],"id":"147f88d5-584a-4eb7-a588-73b3e96523c3","name":"Send template","webhookId":"4813cac0-35cd-461d-910d-1a016e659f3f","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Date":"={{ $now.format('yyyy-MM-dd') }}","Messages":"=Bonjour  {{ $('Loop Over Items').item.json.contact_name }}\nMerci d’avoir montré de l’intérêt pour notre formation  : {{ $('Loop Over Items').item.json.display_name }}\n\nNous avons bien reçu votre demande ainsi que vos informations.  \nJe suis là pour vous accompagner et répondre à toutes vos questions \n\nSouhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,128],"id":"6a8f7cde-8a64-495b-bbce-964936c78cc1","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Loop Over Items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description + '<br><br> Déjà relancé le ' + $now.toFormat('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[848,128],"id":"85a4331a-e997-444f-af56-864a0311ea4e","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bf47416-8d4e-4e54-b103-bf874fbf24b6","leftValue":"={{ $json.description }}","rightValue":" Déjà relancé le","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,16],"id":"fe9b49eb-c659-49cc-a592-da5009372fe2","name":"If"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,16],"id":"a5fb990b-bcff-487a-a4a7-f01e8ee72cd7","name":"Schedule Trigger"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,128],"id":"9b809afa-cf31-419c-a912-6d6ba7cdb086","name":"Wait","webhookId":"c91efc82-daad-4144-b09f-dc974159c91e"}],"connections":{"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update an item","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"22fd5126-37fd-42ed-843b-ad47d8fdfecc","activeVersionId":"22fd5126-37fd-42ed-843b-ad47d8fdfecc","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:53:22.513Z","createdAt":"2026-03-23T08:53:22.513Z","role":"workflow:owner","workflowId":"OZDU4ayTuZ1dR6ze","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T10:38:37.000Z","createdAt":"2026-04-02T10:38:34.547Z","versionId":"22fd5126-37fd-42ed-843b-ad47d8fdfecc","workflowId":"OZDU4ayTuZ1dR6ze","nodes":[{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{},"filterRequest":{"filter":[{"fieldName":"user_id","value":"={{ 329 }}"},{"fieldName":"team_id","value":"={{ 6 }}"},{"fieldName":"create_date","operator":"lesserOrEqual","value":"={{ $now.minus({ days: 7 }).toFormat('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-496,16],"id":"aaa56e89-425e-47ee-8f70-481a207f4027","name":"Get many items","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"998cc616-a08f-49ec-9168-0e08b5b8bbf8","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"865386489997171","recipientPhoneNumber":"={{ $json.phone }}","template":"lead_followup_personalized|fr","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.contact_name }}"},{"text":"={{ $json.display_name }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[224,128],"id":"147f88d5-584a-4eb7-a588-73b3e96523c3","name":"Send template","webhookId":"4813cac0-35cd-461d-910d-1a016e659f3f","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg","mode":"list","cachedResultName":"Whatsapp Historique","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11cK1W_TFwpKAG2VavgHs8da55rBpWDS0xo_NkTjogZg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.contacts[0].input }}","Date":"={{ $now.format('yyyy-MM-dd') }}","Messages":"=Bonjour  {{ $('Loop Over Items').item.json.contact_name }}\nMerci d’avoir montré de l’intérêt pour notre formation  : {{ $('Loop Over Items').item.json.display_name }}\n\nNous avons bien reçu votre demande ainsi que vos informations.  \nJe suis là pour vous accompagner et répondre à toutes vos questions \n\nSouhaitez-vous que je vous explique le programme, la durée et les modalités d’inscriptions ?"},"matchingColumns":["Phone"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,128],"id":"6a8f7cde-8a64-495b-bbce-964936c78cc1","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"update","customResourceId":"={{ $('Loop Over Items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"description","fieldValue":"={{ $('Loop Over Items').item.json.description + '<br><br> Déjà relancé le ' + $now.toFormat('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[848,128],"id":"85a4331a-e997-444f-af56-864a0311ea4e","name":"Update an item","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bf47416-8d4e-4e54-b103-bf874fbf24b6","leftValue":"={{ $json.description }}","rightValue":" Déjà relancé le","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,16],"id":"fe9b49eb-c659-49cc-a592-da5009372fe2","name":"If"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,16],"id":"a5fb990b-bcff-487a-a4a7-f01e8ee72cd7","name":"Schedule Trigger"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,128],"id":"9b809afa-cf31-419c-a912-6d6ba7cdb086","name":"Wait","webhookId":"c91efc82-daad-4144-b09f-dc974159c91e"}],"connections":{"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send template","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update an item","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 22fd5126","description":"","autosaved":true},"tags":[]}