research-agent---getting-the-data-QDPDdMOPtVpE0mM2.json
{"updatedAt":"2026-04-02T10:39:59.978Z","createdAt":"2026-03-23T08:48:07.142Z","id":"QDPDdMOPtVpE0mM2","name":"Research Agent : Getting the Data","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://news.google.com/rss/search?q={{ $json.tag }}%20when%3A1d&hl=fr","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[784,112],"id":"5237e106-218f-4924-8621-d60c4bfcc41e","name":"Google News"},{"parameters":{"operation":"google_trends_trending_now","geo":"MA","additionalFields":{"date":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}\n"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[128,400],"id":"2ec94d43-f748-4619-92cc-1e64e879a11f","name":"Google_trends_trending_now search","credentials":{"serpApi":{"id":"847KiqGdHlBTZDBa","name":"SerpApi account"}}},{"parameters":{"jsCode":"// Initialize an array to hold the results\nconst results = [];\n\n// Iterate over the input items (usually just one item coming from the HTTP Request)\nfor (const item of items) {\n  const data = item.json;\n\n  // Check if 'trending_searches' exists and is an array\n  if (data.trending_searches && Array.isArray(data.trending_searches)) {\n    \n    // Loop through each trend in the array\n    for (const trend of data.trending_searches) {\n      results.push({\n        json: {\n          subject: trend.query, // The main subject you asked for\n          volume: trend.search_volume, // Including volume context\n          increase: trend.increase_percentage + '%', // Including percentage context\n          link: trend.serpapi_news_link // Link to news\n        }\n      });\n    }\n  }\n}\n\n// Return the cleaned list of 28 items\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,400],"id":"d3042989-ef3a-4f93-b497-1b3b7119aeb2","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"da656b13-ced2-49ec-9d34-c638112c6849","name":"tagName1","value":"trends","type":"string"},{"id":"d0d43b10-6a36-4ce2-af19-0c13e8885600","name":"tagName2","value":"Business","type":"string"},{"id":"989992a6-9b96-4841-b4cc-e6f1410e9219","name":"tagName3","value":"Formation","type":"string"},{"id":"bdeead17-b5dd-41bd-a8a5-19104f8f2cc4","name":"tagName4","value":"audit","type":"string"},{"id":"904c1aeb-053f-4a22-8f51-15d0eb0880be","name":"tagName5","value":"Morocco","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,1152],"id":"f69e88fc-8b2f-4c43-9980-00b0320f177f","name":"Edit Fields"},{"parameters":{"url":"https://serpapi.com/search.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.tag }}"},{"name":"location","value":"Morocco"},{"name":"hl","value":"fr"},{"name":"gl","value":"ma"},{"name":"api_key","value":"c0c257716d79746962c020b81e903cd16ae3ac8dd45547ad6eeb00d06dbbcda0"},{"name":"tbs","value":"qdr:d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,896],"id":"d26e98ae-55f8-4af1-86e8-31e46ba8e7c7","name":"Twitter"},{"parameters":{"assignments":{"assignments":[{"id":"f6faf33a-9d9c-467c-b797-8b21d913d51d","name":"tag1","value":"consulting","type":"string"},{"id":"50570a93-359c-4d7f-b333-f9c6babc0dea","name":"tag2","value":"conseil","type":"string"},{"id":"6938328f-9b30-4d07-b438-87b88cd3d214","name":"tag3","value":"management","type":"string"},{"id":"7bfc02df-efd4-48a0-8c1e-5442cdb0368e","name":"tag4","value":"Consultation","type":"string"},{"id":"db967bc4-868f-4635-a61a-f8adcc451bfc","name":"tag5","value":"audit","type":"string"},{"id":"c04f7285-063e-4dd7-bd46-2b270ca22e06","name":"tag6","value":"investissement","type":"string"},{"id":"a577c3fb-9bb1-4387-bac7-c61249645b4f","name":"tag7","value":"accompagnement","type":"string"},{"id":"21b6780d-fffe-4907-9862-7ddf51c3c8b0","name":"tag8","value":"startup","type":"string"},{"id":"7ffb6e70-fb28-4757-b04f-26e0215d5844","name":"tag9","value":"PME","type":"string"},{"id":"b0b6b1a4-6f52-4960-8d3a-3f09d89e7cae","name":"tag10","value":"financement","type":"string"},{"id":"db455f3d-c304-4471-93db-f6a84da9b09a","name":"tag11","value":"transformation digital","type":"string"},{"id":"992022f5-fca0-472f-8ccd-99d2fcdd6041","name":"tag12","value":"RSE","type":"string"},{"id":"8ab15953-8d94-4f85-8b75-0d2a6278698e","name":"tag13","value":"QHSE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,96],"id":"94d6d93c-49d3-484a-a1ec-366000344d5c","name":"Edit Fields1"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,96],"id":"0e9388f0-a1d7-4e42-8c1a-e0d553b5f1fd","name":"Code in JavaScript2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,96],"id":"e951e3a1-2227-4683-93a1-4a3c75ffc57f","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"f6faf33a-9d9c-467c-b797-8b21d913d51d","name":"tag1","value":"consulting","type":"string"},{"id":"50570a93-359c-4d7f-b333-f9c6babc0dea","name":"tag2","value":"conseil","type":"string"},{"id":"6938328f-9b30-4d07-b438-87b88cd3d214","name":"tag3","value":"management","type":"string"},{"id":"7bfc02df-efd4-48a0-8c1e-5442cdb0368e","name":"tag4","value":"Consultation","type":"string"},{"id":"db967bc4-868f-4635-a61a-f8adcc451bfc","name":"tag5","value":"audit","type":"string"},{"id":"c04f7285-063e-4dd7-bd46-2b270ca22e06","name":"tag6","value":"investissement","type":"string"},{"id":"a577c3fb-9bb1-4387-bac7-c61249645b4f","name":"tag7","value":"accompagnement","type":"string"},{"id":"21b6780d-fffe-4907-9862-7ddf51c3c8b0","name":"tag8","value":"startup","type":"string"},{"id":"7ffb6e70-fb28-4757-b04f-26e0215d5844","name":"tag9","value":"PME","type":"string"},{"id":"b0b6b1a4-6f52-4960-8d3a-3f09d89e7cae","name":"tag10","value":"financement","type":"string"},{"id":"db455f3d-c304-4471-93db-f6a84da9b09a","name":"tag11","value":"transformation digital","type":"string"},{"id":"992022f5-fca0-472f-8ccd-99d2fcdd6041","name":"tag12","value":"RSE","type":"string"},{"id":"8ab15953-8d94-4f85-8b75-0d2a6278698e","name":"tag13","value":"QHSE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,720],"id":"16c9b240-c801-46f6-90f1-f9b95955a40d","name":"Edit Fields2"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,720],"id":"e71a8636-6331-4703-9812-45e3f66fab73","name":"Code in JavaScript4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,720],"id":"6c5589e5-3a7b-4bc0-91c8-ccfde016d9e3","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Prepare output array\nconst output = [];\n\n// Loop through all input items\nfor (const item of $input.all()) {\n    // Assuming the search results are inside item.json['organic_results'] (typical for SerpAPI)\n    const results = item.json.organic_results || [];\n\n    for (const result of results) {\n        output.push({\n            json: {\n                title: result.title || '',\n                snippet: result.snippet || ''            }\n        });\n    }\n}\n\n// Return all new items\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,896],"id":"50a5af4e-fc40-41b4-8219-a8c398cd67e8","name":"Code in JavaScript5"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1152],"id":"44d3df25-5a4e-46f8-a8dc-d5df470a2261","name":"Code in JavaScript6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,1152],"id":"1ec06eb2-da3e-4327-b1c2-f810c0c71e49","name":"Loop Over Items2"},{"parameters":{"url":"=https://medium.com/feed/tag/{{ $json.tag}}\n","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[800,1248],"id":"2a737b1d-3e11-41d2-a79a-fda3fed9debe","name":"Meduim"},{"parameters":{"content":"# GOOGLE NEWS\n","height":288,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"f098afdd-16dd-46f8-9d17-fcd1dfbda2f5","name":"Sticky Note"},{"parameters":{"content":"# GOOGLE TRENDS\n\n","height":288,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,320],"id":"1c0faacd-c478-44c2-83d4-470cb3433f14","name":"Sticky Note1"},{"parameters":{"content":"# TWITTER\n\n","height":416,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,640],"id":"9aa4fee6-5ca1-4bf3-b8c4-c1a3517df288","name":"Sticky Note2"},{"parameters":{"content":"# MEDUIM\n\n","height":336,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1088],"id":"8f3a2112-f4e7-418e-895c-fd31c4c3c9b1","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","GOOGLE NEWS":"={{ $json.title }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,112],"id":"2c289047-c264-46d1-8feb-caeca0bf70e6","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","GOOGLE TRENDS":"={{$json[\"subject\"] + \"\\n\" + $json[\"volume\"] + \"\\n\\n\"}}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,400],"id":"02de075d-be1a-4ca5-8755-977a236e8c3a","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184K6-p12dQcwkYey5FDpUetCafT48zJOmc_xfeuE5vU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","TWITER":"={{$json[\"title\"] + \"\\n\" + $json[\"snippet\"] + \"\\n\\n\"}}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,896],"id":"54f8045e-765a-47e9-8348-b53e5fd8e9ba","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184K6-p12dQcwkYey5FDpUetCafT48zJOmc_xfeuE5vU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","MEDUIM":"={{ $json.title }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,1248],"id":"8d378cf3-33b5-494e-95d6-d636afff2797","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,912],"id":"bc65c8cf-687c-44d4-a107-3399ec8f2529","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1872,816],"id":"055f4546-478b-4757-a925-3b88cf4f6dc8","name":"Schedule Trigger1"},{"parameters":{"content":"# CLEAN THE SHEEET\n","height":464,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1776,608],"id":"5cccbfa2-33b6-4088-97f8-cac06cda3f26","name":"Sticky Note5"},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2080,816],"id":"8319a5ba-f15b-412a-98de-35ead622aa41","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get \"today\" at midnight (UTC-safe)\nconst today = new Date($today);\ntoday.setHours(0, 0, 0, 0);\n\n// Calculate date 7 days ago\nconst oneWeekAgo = new Date(today);\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\n// Filter rows\nreturn $input.all().filter(item => {\n  if (!item.json.Date) return false;\n\n  const rowDate = new Date(item.json.Date);\n  return rowDate < oneWeekAgo;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,816],"id":"1767a995-4e85-4543-92eb-d166744c96d7","name":"Code in JavaScript3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2496,816],"id":"40d091a4-eead-4923-809b-c86d7c8a523e","name":"Loop Over Items4"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2752,832],"id":"a3f96c27-a037-4cf3-86d9-bfc0c75265d2","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Google_trends_trending_now search":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google News","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Twitter","type":"main","index":0}]]},"Twitter":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Meduim","type":"main","index":0}]]},"Google News":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Meduim":{"main":[[{"node":"Append row in sheet3","type":"main","index":0}]]},"Append row in sheet3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Google_trends_trending_now search","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"83aa09b9-9089-4d9c-a8c9-7a8628959d60","activeVersionId":"83aa09b9-9089-4d9c-a8c9-7a8628959d60","triggerCount":2,"shared":[{"updatedAt":"2026-03-23T08:48:07.145Z","createdAt":"2026-03-23T08:48:07.145Z","role":"workflow:owner","workflowId":"QDPDdMOPtVpE0mM2","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T10:40:02.000Z","createdAt":"2026-04-02T10:39:59.980Z","versionId":"83aa09b9-9089-4d9c-a8c9-7a8628959d60","workflowId":"QDPDdMOPtVpE0mM2","nodes":[{"parameters":{"url":"=https://news.google.com/rss/search?q={{ $json.tag }}%20when%3A1d&hl=fr","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[784,112],"id":"5237e106-218f-4924-8621-d60c4bfcc41e","name":"Google News"},{"parameters":{"operation":"google_trends_trending_now","geo":"MA","additionalFields":{"date":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}\n"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[128,400],"id":"2ec94d43-f748-4619-92cc-1e64e879a11f","name":"Google_trends_trending_now search","credentials":{"serpApi":{"id":"847KiqGdHlBTZDBa","name":"SerpApi account"}}},{"parameters":{"jsCode":"// Initialize an array to hold the results\nconst results = [];\n\n// Iterate over the input items (usually just one item coming from the HTTP Request)\nfor (const item of items) {\n  const data = item.json;\n\n  // Check if 'trending_searches' exists and is an array\n  if (data.trending_searches && Array.isArray(data.trending_searches)) {\n    \n    // Loop through each trend in the array\n    for (const trend of data.trending_searches) {\n      results.push({\n        json: {\n          subject: trend.query, // The main subject you asked for\n          volume: trend.search_volume, // Including volume context\n          increase: trend.increase_percentage + '%', // Including percentage context\n          link: trend.serpapi_news_link // Link to news\n        }\n      });\n    }\n  }\n}\n\n// Return the cleaned list of 28 items\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,400],"id":"d3042989-ef3a-4f93-b497-1b3b7119aeb2","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"da656b13-ced2-49ec-9d34-c638112c6849","name":"tagName1","value":"trends","type":"string"},{"id":"d0d43b10-6a36-4ce2-af19-0c13e8885600","name":"tagName2","value":"Business","type":"string"},{"id":"989992a6-9b96-4841-b4cc-e6f1410e9219","name":"tagName3","value":"Formation","type":"string"},{"id":"bdeead17-b5dd-41bd-a8a5-19104f8f2cc4","name":"tagName4","value":"audit","type":"string"},{"id":"904c1aeb-053f-4a22-8f51-15d0eb0880be","name":"tagName5","value":"Morocco","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,1152],"id":"f69e88fc-8b2f-4c43-9980-00b0320f177f","name":"Edit Fields"},{"parameters":{"url":"https://serpapi.com/search.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.tag }}"},{"name":"location","value":"Morocco"},{"name":"hl","value":"fr"},{"name":"gl","value":"ma"},{"name":"api_key","value":"c0c257716d79746962c020b81e903cd16ae3ac8dd45547ad6eeb00d06dbbcda0"},{"name":"tbs","value":"qdr:d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,896],"id":"d26e98ae-55f8-4af1-86e8-31e46ba8e7c7","name":"Twitter"},{"parameters":{"assignments":{"assignments":[{"id":"f6faf33a-9d9c-467c-b797-8b21d913d51d","name":"tag1","value":"consulting","type":"string"},{"id":"50570a93-359c-4d7f-b333-f9c6babc0dea","name":"tag2","value":"conseil","type":"string"},{"id":"6938328f-9b30-4d07-b438-87b88cd3d214","name":"tag3","value":"management","type":"string"},{"id":"7bfc02df-efd4-48a0-8c1e-5442cdb0368e","name":"tag4","value":"Consultation","type":"string"},{"id":"db967bc4-868f-4635-a61a-f8adcc451bfc","name":"tag5","value":"audit","type":"string"},{"id":"c04f7285-063e-4dd7-bd46-2b270ca22e06","name":"tag6","value":"investissement","type":"string"},{"id":"a577c3fb-9bb1-4387-bac7-c61249645b4f","name":"tag7","value":"accompagnement","type":"string"},{"id":"21b6780d-fffe-4907-9862-7ddf51c3c8b0","name":"tag8","value":"startup","type":"string"},{"id":"7ffb6e70-fb28-4757-b04f-26e0215d5844","name":"tag9","value":"PME","type":"string"},{"id":"b0b6b1a4-6f52-4960-8d3a-3f09d89e7cae","name":"tag10","value":"financement","type":"string"},{"id":"db455f3d-c304-4471-93db-f6a84da9b09a","name":"tag11","value":"transformation digital","type":"string"},{"id":"992022f5-fca0-472f-8ccd-99d2fcdd6041","name":"tag12","value":"RSE","type":"string"},{"id":"8ab15953-8d94-4f85-8b75-0d2a6278698e","name":"tag13","value":"QHSE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,96],"id":"94d6d93c-49d3-484a-a1ec-366000344d5c","name":"Edit Fields1"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,96],"id":"0e9388f0-a1d7-4e42-8c1a-e0d553b5f1fd","name":"Code in JavaScript2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,96],"id":"e951e3a1-2227-4683-93a1-4a3c75ffc57f","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"f6faf33a-9d9c-467c-b797-8b21d913d51d","name":"tag1","value":"consulting","type":"string"},{"id":"50570a93-359c-4d7f-b333-f9c6babc0dea","name":"tag2","value":"conseil","type":"string"},{"id":"6938328f-9b30-4d07-b438-87b88cd3d214","name":"tag3","value":"management","type":"string"},{"id":"7bfc02df-efd4-48a0-8c1e-5442cdb0368e","name":"tag4","value":"Consultation","type":"string"},{"id":"db967bc4-868f-4635-a61a-f8adcc451bfc","name":"tag5","value":"audit","type":"string"},{"id":"c04f7285-063e-4dd7-bd46-2b270ca22e06","name":"tag6","value":"investissement","type":"string"},{"id":"a577c3fb-9bb1-4387-bac7-c61249645b4f","name":"tag7","value":"accompagnement","type":"string"},{"id":"21b6780d-fffe-4907-9862-7ddf51c3c8b0","name":"tag8","value":"startup","type":"string"},{"id":"7ffb6e70-fb28-4757-b04f-26e0215d5844","name":"tag9","value":"PME","type":"string"},{"id":"b0b6b1a4-6f52-4960-8d3a-3f09d89e7cae","name":"tag10","value":"financement","type":"string"},{"id":"db455f3d-c304-4471-93db-f6a84da9b09a","name":"tag11","value":"transformation digital","type":"string"},{"id":"992022f5-fca0-472f-8ccd-99d2fcdd6041","name":"tag12","value":"RSE","type":"string"},{"id":"8ab15953-8d94-4f85-8b75-0d2a6278698e","name":"tag13","value":"QHSE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,720],"id":"16c9b240-c801-46f6-90f1-f9b95955a40d","name":"Edit Fields2"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,720],"id":"e71a8636-6331-4703-9812-45e3f66fab73","name":"Code in JavaScript4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,720],"id":"6c5589e5-3a7b-4bc0-91c8-ccfde016d9e3","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Prepare output array\nconst output = [];\n\n// Loop through all input items\nfor (const item of $input.all()) {\n    // Assuming the search results are inside item.json['organic_results'] (typical for SerpAPI)\n    const results = item.json.organic_results || [];\n\n    for (const result of results) {\n        output.push({\n            json: {\n                title: result.title || '',\n                snippet: result.snippet || ''            }\n        });\n    }\n}\n\n// Return all new items\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,896],"id":"50a5af4e-fc40-41b4-8219-a8c398cd67e8","name":"Code in JavaScript5"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();  // returns an array of input items\n\nlet output = [];\n\nfor (const item of items) {\n    // Collect all tag values\n    const tags = Object.keys(item.json)\n        .filter(key => key.startsWith(\"tag\"))\n        .map(key => item.json[key]);\n\n    // Push each tag as a separate output item\n    for (const tag of tags) {\n        output.push({ json: { tag } });\n    }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1152],"id":"44d3df25-5a4e-46f8-a8dc-d5df470a2261","name":"Code in JavaScript6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,1152],"id":"1ec06eb2-da3e-4327-b1c2-f810c0c71e49","name":"Loop Over Items2"},{"parameters":{"url":"=https://medium.com/feed/tag/{{ $json.tag}}\n","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[800,1248],"id":"2a737b1d-3e11-41d2-a79a-fda3fed9debe","name":"Meduim"},{"parameters":{"content":"# GOOGLE NEWS\n","height":288,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"f098afdd-16dd-46f8-9d17-fcd1dfbda2f5","name":"Sticky Note"},{"parameters":{"content":"# GOOGLE TRENDS\n\n","height":288,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,320],"id":"1c0faacd-c478-44c2-83d4-470cb3433f14","name":"Sticky Note1"},{"parameters":{"content":"# TWITTER\n\n","height":416,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,640],"id":"9aa4fee6-5ca1-4bf3-b8c4-c1a3517df288","name":"Sticky Note2"},{"parameters":{"content":"# MEDUIM\n\n","height":336,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1088],"id":"8f3a2112-f4e7-418e-895c-fd31c4c3c9b1","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","GOOGLE NEWS":"={{ $json.title }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,112],"id":"2c289047-c264-46d1-8feb-caeca0bf70e6","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","GOOGLE TRENDS":"={{$json[\"subject\"] + \"\\n\" + $json[\"volume\"] + \"\\n\\n\"}}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,400],"id":"02de075d-be1a-4ca5-8755-977a236e8c3a","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184K6-p12dQcwkYey5FDpUetCafT48zJOmc_xfeuE5vU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","TWITER":"={{$json[\"title\"] + \"\\n\" + $json[\"snippet\"] + \"\\n\\n\"}}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,896],"id":"54f8045e-765a-47e9-8348-b53e5fd8e9ba","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184K6-p12dQcwkYey5FDpUetCafT48zJOmc_xfeuE5vU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $today.format('yyyy-MM-dd') }}","MEDUIM":"={{ $json.title }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GOOGLE NEWS","displayName":"GOOGLE NEWS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GOOGLE TRENDS","displayName":"GOOGLE TRENDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TWITER","displayName":"TWITER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MEDUIM","displayName":"MEDUIM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REDDIT","displayName":"REDDIT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,1248],"id":"8d378cf3-33b5-494e-95d6-d636afff2797","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,912],"id":"bc65c8cf-687c-44d4-a107-3399ec8f2529","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1872,816],"id":"055f4546-478b-4757-a925-3b88cf4f6dc8","name":"Schedule Trigger1"},{"parameters":{"content":"# CLEAN THE SHEEET\n","height":464,"width":1136},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1776,608],"id":"5cccbfa2-33b6-4088-97f8-cac06cda3f26","name":"Sticky Note5"},{"parameters":{"documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2080,816],"id":"8319a5ba-f15b-412a-98de-35ead622aa41","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get \"today\" at midnight (UTC-safe)\nconst today = new Date($today);\ntoday.setHours(0, 0, 0, 0);\n\n// Calculate date 7 days ago\nconst oneWeekAgo = new Date(today);\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\n// Filter rows\nreturn $input.all().filter(item => {\n  if (!item.json.Date) return false;\n\n  const rowDate = new Date(item.json.Date);\n  return rowDate < oneWeekAgo;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,816],"id":"1767a995-4e85-4543-92eb-d166744c96d7","name":"Code in JavaScript3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2496,816],"id":"40d091a4-eead-4923-809b-c86d7c8a523e","name":"Loop Over Items4"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w","mode":"list","cachedResultName":"Recherche Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qFHwVxrGXGUtfBrZ0vNnqapf1N-O8JW61-ebzEb0X_w/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2752,832],"id":"a3f96c27-a037-4cf3-86d9-bfc0c75265d2","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}}],"connections":{"Google_trends_trending_now search":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google News","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Twitter","type":"main","index":0}]]},"Twitter":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Meduim","type":"main","index":0}]]},"Google News":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Meduim":{"main":[[{"node":"Append row in sheet3","type":"main","index":0}]]},"Append row in sheet3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Google_trends_trending_now search","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 83aa09b9","description":"","autosaved":true},"tags":[]}