targetup-ai-agent-gemini-zGCOdN06TW1rDyRh.json
{"updatedAt":"2026-05-03T13:08:23.343Z","createdAt":"2026-05-03T11:15:47.813Z","id":"zGCOdN06TW1rDyRh","name":"TargetUp_AI_Agent_GEMINI","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"399ccc66-0915-4858-a8d0-cd4db41f4916","name":"Schedule Trigger - 07h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1040,320]},{"parameters":{"maxItems":50},"id":"9fca863f-b0a6-495a-95dc-ff698801122a","name":"Limit - 50 contacts","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-784,320]},{"parameters":{"options":{}},"id":"5e2aebf8-4366-4679-a33f-c1a5bc7cbf5c","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json['Envoyé'] }}","rightValue":"OUI","operator":{"type":"string","operation":"notEquals"}},{"id":"c2","leftValue":"={{ $json['Email'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"748f4630-2687-4368-a5d2-d149f13df94e","name":"Filter - Email valide et non envoyé","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,320]},{"parameters":{"jsCode":"// ================================================================\n// AGENT AI TARGETUP — GEMINI 1.5 FLASH (100% GRATUIT)\n// aistudio.google.com → Get API Key → coller ci-dessous\n// Limites gratuites : 15 req/min · 1500 req/jour\n// Pour 50 emails/jour : largement suffisant\n// ================================================================\n\nconst prenom = $input.item.json['Prenom'] || 'Cher(e) professionnel(le)';\nconst nom    = $input.item.json['Nom']    || '';\nconst email  = $input.item.json['Email'];\nconst row    = $input.item.json['row_number'];\n\n// ⚙️ REMPLACER ICI PAR VOTRE CLÉ GEMINI\n// Obtenir gratuitement sur : https://aistudio.google.com/app/apikey\nconst GEMINI_API_KEY = 'REMPLACER_PAR_VOTRE_CLE_GEMINI';\n\n// ── Prompt complet envoyé à Gemini ──\n// Gemini n'a pas de system prompt séparé comme Claude\n// On intègre le rôle directement dans le prompt\nconst PROMPT = `Tu es l'Agent Commercial IA de TargetUp Group.\n\nTargetUp Group est un groupe international de conseil stratégique, formation professionnelle et investissement basé à Rabat (Maroc) et Cardiff (Royaume-Uni).\nAccréditations : ISO 9001 · ISO 21001 · ISO 37301 · AIAE USA · EOQM UK · UNGM Nations Unies · AMDIE.\n\nTes règles absolues :\n- Chaque email est UNIQUE : jamais le même texte deux fois\n- Tu commences TOUJOURS l'email par «Bonjour [Prénom],» sur sa propre ligne en gras, jamais autrement\n- Tu ouvres ensuite avec une accroche personnalisée et percutante, jamais générique\n- Tu sélectionnes 3 à 4 services TargetUp selon une logique de valeur ajoutée perçue\n- Tu intègres des chiffres concrets pour crédibiliser\n- Tu termines par un CTA précis : rendez-vous de 20 minutes\n- Tu génères le HTML complet avec design dark mode rouge/noir/blanc\n- Tu réponds UNIQUEMENT en JSON valide, rien d'autre\n\nGénère un email de prospection B2B pour :\nPrénom : ${prenom}\nNom : ${nom}\n\nServices TargetUp disponibles (choisis 3-4) :\n• Certifications ISO 9001 / 14001 / 45001 / 37301 — audit réussi en 3 à 6 mois garanti\n• Formations certifiantes financées jusqu'à 100% — Lean Six Sigma, Lead Auditor PECB, DBA, MSc Management — via CSF / MOUWAKABA / OFPPT\n• Transformation Digitale — ERP CRM Odoo, automatisation, +35% efficacité, ROI moyen 18 mois\n• Programme Export Afrique Francophone — 10 marchés, accès BAD / AFD / Banque Mondiale, accréditation UNGM ONU\n• Financement & Investissement — Maroc PME, INTELAKA, capital-risque 4 à 50 M MAD\n• Lean Six Sigma & Excellence Opérationnelle — +20 à 50% efficacité documentés\n\nChiffres clés à utiliser : +1220 missions réussies · 100% financement possible · 3-6 mois certification · 10 marchés africains\n\nSpécifications HTML (styles 100% inline, 600px max, compatible email) :\n- Fond principal #111111, sections #1a1a1a / #1e1e1e\n- Accent rouge #E01B1B : header, bouton CTA, titres services, bordures\n- Texte principal #FFFFFF, secondaire #cccccc, labels #888888\n- Header : symbole ◎ rouge + texte TARGET blanc UP rouge en gras + sous-titre CONSULTING espacé gris\n- Barre KPI : 3 chiffres clés en rouge sur fond sombre\n- Services listés avec ✅ et titres en rouge #E01B1B\n- Bloc urgence : fond #1a1a1a, bordure gauche rouge 3px\n- Bouton CTA : fond #E01B1B, texte blanc, border-radius 4px, padding 14px 32px\n- Bloc pièce jointe PDF obligatoire : afficher un encadré visuel avec fond #1e1e1e, bordure #E01B1B, une icône PDF rouge (div 40x48px fond #E01B1B texte blanc «PDF»), le nom du fichier «TargetUp_Group_Brochure_2026.pdf» en blanc et la description «Brochure commerciale · Services · Références · Financements» en gris\n- Signature : +212 684 48 17 30 · +212 684 77 88 54 · sales@targetupconsulting.com · targetupconsulting.com · 17 Rue Jbel Moussa Rabat 10090 Maroc · Cardiff CF14 8LH UK\n- Footer : ISO 9001 · ISO 21001 · AIAE (USA) · EOQM (UK) · UNGM Nations Unies\n\nRéponds UNIQUEMENT avec ce JSON (aucun texte avant ou après) :\n{\"subject\":\"...\",\"html\":\"...\"}`;\n\n// ── Appel Gemini avec retry x3 ──\nlet result = null;\nlet lastError = '';\n\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    const res = await $http.request({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=${GEMINI_API_KEY}`,\n      headers: { 'content-type': 'application/json' },\n      body: JSON.stringify({\n        contents: [{\n          parts: [{ text: PROMPT }]\n        }],\n        generationConfig: {\n          temperature: 0.9,\n          maxOutputTokens: 4096,\n          responseMimeType: 'application/json'\n        }\n      }),\n      returnFullResponse: true\n    });\n\n    const body = typeof res.body === 'string' ? JSON.parse(res.body) : res.body;\n\n    // Extraire le texte de la réponse Gemini\n    const raw = body.candidates[0].content.parts[0].text.trim().replace(/```json|```/gi, '').trim();\n    result = JSON.parse(raw);\n\n    if (!result.subject || !result.html) throw new Error('subject ou html manquant');\n    break;\n\n  } catch (e) {\n    lastError = e.message;\n    if (attempt < 3) await new Promise(r => setTimeout(r, 4000));\n  }\n}\n\nif (!result) throw new Error(`Agent Gemini échoué après 3 tentatives : ${lastError}`);\n\n// ── Téléchargement PDF brochure TargetUp depuis Google Drive ──\nlet pdfBinary = null;\ntry {\n  const pdfRes = await $http.request({\n    method: 'GET',\n    url: 'https://docs.google.com/presentation/d/1IgvCTyXVzE5LlP2HWss9l1uPyKVWJU6A/export/pdf',\n    returnFullResponse: true,\n    encoding: null\n  });\n  pdfBinary = {\n    data: Buffer.from(pdfRes.body).toString('base64'),\n    mimeType: 'application/pdf',\n    fileName: 'TargetUp_Group_Brochure_2026.pdf'\n  };\n} catch (e) {\n  // PDF indisponible : email envoyé sans pièce jointe, pas bloquant\n}\n\n// ── Retour final : email + PDF dans le même item ──\nreturn [{\n  json: {\n    toEmail:   email,\n    prenom:    prenom,\n    nom:       nom,\n    row:       row,\n    subject:   result.subject,\n    emailHtml: result.html,\n    hasPdf:    pdfBinary !== null\n  },\n  binary: pdfBinary ? { brochure: pdfBinary } : {}\n}];\n"},"id":"f301370f-d05b-4060-8423-28d49c68dcd3","name":"🤖 Agent AI - Gemini Gratuit","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,320],"notes":"⚙️ CONFIGURATION :\n1. Aller sur https://aistudio.google.com/app/apikey\n2. Créer une clé API gratuite\n3. Remplacer REMPLACER_PAR_VOTRE_CLE_GEMINI dans le code\n\nLimites gratuites : 15 req/min · 1500 req/jour\nPour 50 emails/jour = 100% gratuit ✅"},{"parameters":{"sendTo":"=mtargetup@gmail.com","subject":"={{ $json.subject }}","message":"={{ $json.emailHtml }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"brochure"}]},"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com"}},"id":"b91a7223-5d5c-4820-9b77-42675f6f54ad","name":"Gmail - Envoi avec PDF joint","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,320],"webhookId":"ab75f522-b463-4005-91b0-c0a7a70e2fd9","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c7001740-8b4c-4e71-9f0a-5ccb6425f481","name":"Sheets - Marquer OUI","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[464,320],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}},"disabled":true},{"parameters":{"amount":20},"id":"51ecff73-1991-4865-8e69-fa83515c1640","name":"Wait 20s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,320],"webhookId":"4e9b3f69-547f-4b4d-8af9-37935654ea28"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=77176399#gid=77176399","mode":"url"},"sheetName":{"__rl":true,"value":77176399,"mode":"list","cachedResultName":"Log_Erreurs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=77176399"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Segment":"Gemini_Agent","Email":"={{ $json.toEmail }}","Nom":"={{ $json.prenom + ' ' + $json.nom }}","Entreprise":"—","Erreur":"={{ $json.error?.message || JSON.stringify($json.error) || 'Erreur inconnue' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Erreur","displayName":"Erreur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"33191401-9670-4886-aa17-df948602dd5b","name":"Sheets - Log Erreurs","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[464,512],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{},"id":"f63f23b8-0564-4a8b-a5c6-8596515b8004","name":"Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,512]},{"parameters":{"content":"## 📋 ÉTAPE 1 — Lecture\nLit les contacts du Google Sheets.\nLimite à 50 par exécution.\nFiltre : email valide + non envoyé.","width":320},"id":"e039a757-a434-405f-9500-1d803ade07d9","name":"Note 1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,112]},{"parameters":{"content":"## 🤖 ÉTAPE 2 — Agent AI Gemini\n100% GRATUIT ✅\n\n1. Appelle Gemini 1.5 Flash\n   (aistudio.google.com)\n2. Génère un email HTML unique\n   par contact (prénom + nom)\n3. Retry automatique × 3\n4. Télécharge le PDF brochure\n5. Retourne tout dans un seul item\n\n⚙️ Ouvrir ce nœud → remplacer\nREMPLACER_PAR_VOTRE_CLE_GEMINI\npar ta clé sur aistudio.google.com","height":336,"width":376},"id":"69dcf38f-e7f6-4375-b5a5-4f85592db214","name":"Note 2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-32]},{"parameters":{"content":"## ✉️ ÉTAPE 3 — Envoi Gmail\nEmail HTML généré par Gemini\n+ PDF brochure en pièce jointe\ndans le même email.\n\n✅ Succès → Marquer OUI dans Sheets\n❌ Erreur → Log dans Log_Erreurs\n⏳ Attente 20s → contact suivant","height":220,"width":352},"id":"edc0f8cc-707f-42cf-ac42-089a3d34b861","name":"Note 3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,80]}],"connections":{"Schedule Trigger - 07h00":{"main":[[{"node":"Limit - 50 contacts","type":"main","index":0}]]},"Limit - 50 contacts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Filter - Email valide et non envoyé","type":"main","index":0}]]},"Filter - Email valide et non envoyé":{"main":[[{"node":"🤖 Agent AI - Gemini Gratuit","type":"main","index":0}]]},"🤖 Agent AI - Gemini Gratuit":{"main":[[{"node":"Gmail - Envoi avec PDF joint","type":"main","index":0}]]},"Gmail - Envoi avec PDF joint":{"main":[[{"node":"Sheets - Marquer OUI","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Sheets - Marquer OUI":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"Fin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"2b202377-d16b-4dcb-b0d8-cd046afce2a7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-03T11:15:47.816Z","createdAt":"2026-05-03T11:15:47.816Z","role":"workflow:owner","workflowId":"zGCOdN06TW1rDyRh","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}