targetup-email-prospects-odoo-lR1Uy2r3tkaVKOYD.json
{"updatedAt":"2026-05-04T15:35:59.425Z","createdAt":"2026-05-04T14:11:41.237Z","id":"lR1Uy2r3tkaVKOYD","name":"TargetUp_Email_Prospects_Odoo","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1504,432],"id":"32064fcb-7f2d-4e15-8b7f-f027cea79c79","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/188yKnmfoW3z-4Z01XL-5NLAf9k2mGi3rCrKj_apoDV8/edit?gid=1020103745#gid=1020103745","mode":"url"},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1264,432],"id":"c6816cf4-f31a-4ff7-8e95-98f749233281","name":"Sheets - Lire prospects","credentials":{"googleSheetsOAuth2Api":{"id":"ZumaCdsAYJLTth9H","name":"Google Sheets account 3"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1024,432],"id":"03fb8387-9bb5-46cd-b2e1-d3e22a13318b","name":"Limit 50 / run"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-784,432],"id":"700d355d-dd30-4926-91c1-6e17cdcd0685","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json['Email Statut'] }}","rightValue":"Valide","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ $json['Odoo Envoyé'] }}","rightValue":"Oui","operator":{"type":"string","operation":"notEquals"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-544,432],"id":"3044047b-5eb7-416b-b02f-a122cd33bd75","name":"Filtre - Email valide et non envoyé"},{"parameters":{"assignments":{"assignments":[{"id":"v1","name":"nom","value":"={{ $json['Nom'] || 'Cher(e) dirigeant(e)' }}","type":"string"},{"id":"v2","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"v3","name":"societe","value":"={{ $json['Société'] || 'votre entreprise' }}","type":"string"},{"id":"v4","name":"secteur","value":"={{ $json['Secteur'] || '' }}","type":"string"},{"id":"v5","name":"ville","value":"={{ $json['Ville'] || '' }}","type":"string"},{"id":"v6","name":"telephone","value":"={{ $json['Téléphone'] || '' }}","type":"string"},{"id":"v7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"v8","name":"subject","value":"={{ 'TargetUp Group – Solution sur mesure pour ' + ($json['Société'] || 'votre organisation') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"493985f4-1d0c-4756-a2c5-b8745406114f","name":"Set - Variables prospect"},{"parameters":{"html":"{{ (() => {\n  const nom = $json.nom;\n  const societe = $json.societe;\n  const secteur = $json.secteur;\n  const ville = $json.ville;\n\n  // Services recommandés selon le secteur\n  let services = '';\n  const s = secteur || '';\n\n  if (s === 'Agro-alimentaire') {\n    services = '<li>✅ <strong>Certification ISO 22000 / HACCP</strong> — Sécurisez votre chaîne de production, accédez aux marchés export</li><li>✅ <strong>Programme MOUWAKABA</strong> — Financement jusqu\\'à 90% pour moderniser votre outil de production</li><li>✅ <strong>Lean Six Sigma</strong> — Réduisez les pertes et optimisez vos coûts de 15 à 25%</li>';\n  } else if (s === 'Agriculture') {\n    services = '<li>✅ <strong>Certification ISO 14001 & ISO 45001</strong> — Maîtrisez votre impact environnemental, protégez vos équipes</li><li>✅ <strong>Bilan Carbone & Stratégie ESG</strong> — Anticipez les exigences des distributeurs européens</li><li>✅ <strong>Programme Export Maroc</strong> — Financement jusqu\\'à 80% pour certification et digitalisation</li>';\n  } else if (s === 'BTP et Mines') {\n    services = '<li>✅ <strong>ISO 45001 (Santé & Sécurité)</strong> — Réduisez les accidents, accédez aux grands projets publics</li><li>✅ <strong>ISO 9001 & ISO 14001</strong> — Certifiez votre qualité, différenciez-vous sur les appels d\\'offres</li><li>✅ <strong>ERP Odoo (Gestion de projet BTP)</strong> — Centralisez devis, achats, stocks et planning chantier</li>';\n  } else if (s === 'Transport et Logistique') {\n    services = '<li>✅ <strong>ISO 9001 & ISO 14001</strong> — Rassurez vos clients, accédez aux appels d\\'offres grands comptes</li><li>✅ <strong>Digitalisation & TMS (via Odoo)</strong> — Réduisez vos coûts logistiques de 10 à 20%</li><li>✅ <strong>Programme Export Maroc</strong> — Financement jusqu\\'à 80% pour développement international</li>';\n  } else if (s === 'Textile') {\n    services = '<li>✅ <strong>ISO 9001 & ISO 14001</strong> — Répondez aux exigences des donneurs d\\'ordre internationaux</li><li>✅ <strong>Lean Management & 5S</strong> — Réduction des délais et des déchets, productivité +20%</li><li>✅ <strong>Programme INMAA</strong> — Accompagnement intensif 6 mois, financement public garanti</li>';\n  } else if (s === \"Technologies de l'information\") {\n    services = '<li>✅ <strong>ISO 27001 (Sécurité de l\\'Information)</strong> — Certifiez vos solutions, accédez aux marchés banque/santé</li><li>✅ <strong>Partenariat Odoo</strong> — Intégrez l\\'ERP leader dans vos offres, récurrence et valeur ajoutée</li><li>✅ <strong>Programme Export Maroc</strong> — Financement jusqu\\'à 80% pour développement international</li>';\n  } else if (s === 'Banques et Assurances') {\n    services = '<li>✅ <strong>ISO 27001 (Sécurité de l\\'Information)</strong> — Protégez les données sensibles, conformité réglementaire</li><li>✅ <strong>ESG & Reporting CSRD</strong> — Anticipez les exigences des régulateurs et investisseurs</li><li>✅ <strong>Formation Continue (Masterclass)</strong> — Montée en compétences sur les normes et la conformité</li>';\n  } else if (s === 'Conseil et Ingénierie') {\n    services = '<li>✅ <strong>Partenariat Stratégique TargetUp</strong> — Mutualisez vos offres avec notre expertise certifiante</li><li>✅ <strong>Formation Continue (Lead Auditor)</strong> — Certifiez vos consultants sur les normes ISO</li><li>✅ <strong>Accompagnement ESG</strong> — Intégrez la durabilité dans vos missions, différenciez-vous</li>';\n  } else if (s === 'Métallurgie et Plasturgie') {\n    services = '<li>✅ <strong>ISO 9001 & ISO 14001</strong> — Certifiez votre production pour les donneurs d\\'ordre industriels</li><li>✅ <strong>Lean Six Sigma</strong> — Réduisez les rebuts et optimisez les temps de cycle, marges +15 à 20%</li><li>✅ <strong>ERP Odoo (Industrie)</strong> — Gérez nomenclatures, stocks et ordres de fabrication</li>';\n  } else if (s === 'Trading') {\n    services = '<li>✅ <strong>Programme Export Maroc</strong> — Financement jusqu\\'à 80% pour développement international</li><li>✅ <strong>ISO 9001</strong> — Structurez vos processus achats et ventes, crédibilité accrue</li><li>✅ <strong>ERP Odoo (Commerce)</strong> — Gérez devis, commandes et stocks en temps réel</li>';\n  } else {\n    services = '<li>✅ <strong>Audit Stratégique Offert</strong> — Diagnostiquer vos opportunités, feuille de route personnalisée</li><li>✅ <strong>Accompagnement sur Mesure</strong> — Identifiez les financements publics adaptés à votre secteur</li><li>✅ <strong>Formation Continue (Masterclass)</strong> — Montée en compétence sur les normes et la performance</li>';\n  }\n\n  return `<!DOCTYPE html>\n<html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>\nbody{font-family:Arial,sans-serif;color:#222;background:#f6f6f6;margin:0;padding:0}\n.container{max-width:640px;margin:30px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)}\n.header{background:#1a2e4a;padding:28px 36px;text-align:center}\n.header h1{color:#fff;font-size:24px;margin:0;letter-spacing:1px}\n.header .tagline{color:#a0b4cc;font-size:13px;margin:6px 0 0}\n.header .accreds{color:#7a9abf;font-size:11px;margin:10px 0 0;letter-spacing:0.3px}\n.body{padding:32px 36px}\n.greeting{font-size:16px;font-weight:bold;margin-bottom:16px;color:#1a2e4a}\n.intro{font-size:14px;line-height:1.7;color:#444;margin-bottom:24px}\n.kpis{display:flex;gap:12px;margin-bottom:24px;flex-wrap:wrap}\n.kpi{background:#1a2e4a;color:#fff;border-radius:6px;padding:12px 14px;flex:1;min-width:120px;text-align:center}\n.kpi .val{font-size:20px;font-weight:bold;color:#7ec8e3}\n.kpi .lbl{font-size:11px;color:#a0b4cc;margin-top:4px}\n.services{background:#f0f5ff;border-left:4px solid #1a2e4a;border-radius:4px;padding:18px 22px;margin-bottom:24px}\n.services h3{color:#1a2e4a;font-size:13px;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px}\n.services ul{margin:0;padding-left:4px;list-style:none}\n.services ul li{font-size:13px;color:#333;margin-bottom:9px;line-height:1.6}\n.urgency{background:#fff3cd;border:1px solid #ffc107;border-radius:4px;padding:14px 18px;font-size:13px;color:#7a5c00;margin-bottom:20px;line-height:1.6}\n.cta{text-align:center;margin:28px 0}\n.cta a{background:#1a2e4a;color:#fff;padding:13px 32px;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;display:inline-block}\n.pdf-notice{background:#e8f4fd;border:1px solid #bee3f8;border-radius:4px;padding:12px 16px;font-size:13px;color:#2c5282;margin-bottom:24px}\n.signature{border-top:1px solid #eee;padding-top:20px;font-size:13px;color:#555}\n.signature strong{color:#1a2e4a}\n.sig-details{margin-top:8px;font-size:12px;color:#666;line-height:1.8}\n.footer{background:#f0f0f0;text-align:center;padding:14px;font-size:11px;color:#999}\n</style></head><body>\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>TargetUp Group</h1>\n    <div class=\"tagline\">Conseil Stratégique · Formation Internationale · Investissement &amp; Partenariats</div>\n    <div class=\"accreds\">ISO 9001 · ISO 21001 · ISO 37301 · AIAE (USA) · EOQM (UK) · UNGM – Nations Unies · AMDIE</div>\n  </div>\n  <div class=\"body\">\n    <p class=\"greeting\">Bonjour ${nom},</p>\n    <p class=\"intro\">\n      En tant que responsable de <strong>${societe}</strong>, vous faites face à des enjeux de performance, de conformité et de développement que TargetUp Group peut vous aider à relever — avec des résultats mesurables et des financements jusqu'à 100%.<br><br>\n      TargetUp Group est un groupe international de conseil stratégique, de formation professionnelle et d'investissement — implanté à <strong>Rabat (Maroc)</strong> et <strong>Cardiff (Royaume-Uni)</strong>. Nous accompagnons les organisations dans leur transformation, leur mise en conformité ISO, le développement de leurs compétences et l'accès aux financements nationaux et internationaux.\n    </p>\n    <div class=\"kpis\">\n      <div class=\"kpi\"><div class=\"val\">3–6</div><div class=\"lbl\">mois pour certification ISO</div></div>\n      <div class=\"kpi\"><div class=\"val\">100%</div><div class=\"lbl\">financement possible CSF/MOUWAKABA</div></div>\n      <div class=\"kpi\"><div class=\"val\">10</div><div class=\"lbl\">marchés africains couverts</div></div>\n      <div class=\"kpi\"><div class=\"val\">+1220</div><div class=\"lbl\">missions réussies</div></div>\n    </div>\n    <div class=\"services\">\n      <h3>Nos recommandations pour ${societe} — Secteur : ${secteur}</h3>\n      <ul>${services}</ul>\n    </div>\n    <div class=\"urgency\">\n      ⚡ <strong>Pourquoi agir maintenant ?</strong><br>\n      Les dotations MOUWAKABA, CSF et Maroc PME s'épuisent chaque année — les entreprises qui agissent en premier accèdent à 80–100% de prise en charge. La Banque Africaine de Développement déploie +100 milliards USD sur 2024–2030 : seules les organisations certifiées peuvent répondre aux appels d'offres. <strong>Chaque mois perdu = opportunités manquées.</strong>\n    </div>\n    <div class=\"pdf-notice\">📎 Notre <strong>brochure complète TargetUp Group 2026</strong> est en pièce jointe — services, références, accréditations et programmes de financement disponibles.</div>\n    <div class=\"cta\"><a href=\"https://www.targetupconsulting.com\">Découvrir nos solutions →</a></div>\n    <div class=\"signature\">\n      <strong>L'équipe TargetUp Group</strong>\n      <div class=\"sig-details\">\n        📞 +212 684 48 17 30 &nbsp;|&nbsp; 📞 +212 684 77 88 54<br>\n        📧 sales@targetupconsulting.com<br>\n        🌐 targetupconsulting.com &nbsp;|&nbsp; university.targetupconsulting.com<br>\n        📍 17 Rue Jbel Moussa, Rabat 10090, Maroc &nbsp;|&nbsp; Cardiff CF14 8LH, Royaume-Uni\n      </div>\n    </div>\n  </div>\n  <div class=\"footer\">Vous recevez cet email car vous faites partie de notre réseau professionnel. Pour vous désabonner, répondez avec « STOP » dans l'objet.</div>\n</div>\n</body></html>`;\n})()\n}}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-48,432],"id":"3c38d103-94b9-4e83-9ac1-164793f5bde1","name":"HTML - Template Email Prospects"},{"parameters":{"url":"https://docs.google.com/presentation/d/REMPLACER_PAR_ID_PDF/export/pdf","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf_attachment"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,432],"id":"025fd0a1-de80-4ff5-ad7f-f1ac700a21cc","name":"HTTP - Télécharger PDF TargetUp"},{"parameters":{"subject":"={{ $('Set - Variables prospect').item.json.subject }}","message":"={{ $('HTML - Template Email Prospects').item.json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"pdf_attachment"}]},"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[432,432],"id":"ecea064b-c53d-474e-8a42-59436f067930","name":"Gmail - Envoi email","webhookId":"8d49a975-b8f8-44b1-9338-bb68f45d0c32","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/188yKnmfoW3z-4Z01XL-5NLAf9k2mGi3rCrKj_apoDV8/edit?gid=1020103745#gid=1020103745","mode":"url"},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[672,304],"id":"a2dbd045-7bcb-4880-a5ad-599f8a4483f4","name":"Sheets - Marquer Email Envoyé","credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"resource":"activity"},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[672,464],"id":"f73e01b7-a510-4aa6-af3c-7622009d77df","name":"Odoo - Créer Activité Email","credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,384],"id":"66b21d85-5147-460d-bc78-9798c48b8135","name":"Wait 15s","webhookId":"0636fea0-fba6-4c26-a516-ceccf9ad2f7f"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/188yKnmfoW3z-4Z01XL-5NLAf9k2mGi3rCrKj_apoDV8/edit?gid=1020103745#gid=1020103745","mode":"url"},"sheetName":{"__rl":true,"value":"Log_Erreurs","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Set - Variables prospect').item.json.toEmail }}","Nom":"={{ $('Set - Variables prospect').item.json.nom }}","Société":"={{ $('Set - Variables prospect').item.json.societe }}","Secteur":"={{ $('Set - Variables prospect').item.json.secteur }}","Erreur":"={{ $json.error }}"},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[672,624],"id":"86dca615-da26-43d1-9945-630c9e5d2850","name":"Sheets - Log Erreurs","credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,624],"id":"f86b6dc3-c159-4cf8-98be-aff0cd5af827","name":"Fin"},{"parameters":{"content":"## ⏰ Déclenchement\nLance le workflow chaque matin\nà 07h00 automatiquement.\n\nReprend là où il s'est arrêté\ngrâce au filtre Email Statut = Valide\net Odoo Envoyé ≠ Oui.\n\nConfiguration :\n- Batch : 50 contacts / run\n- Pause : 15 secondes entre chaque\n- Filtre : Email Statut = 'Valide' uniquement","height":320,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,96],"id":"8ddfa48c-dcbe-4158-94bc-0ff1ce4f16a7","name":"Note - Trigger"},{"parameters":{"content":"## 📋 Source de données\nFichier : prospects_pour_emails.xlsx\nimporté dans Google Sheets.\n\nColonnes utilisées :\n- Nom, Email, Téléphone\n- Société, Secteur, Ville\n- Email Statut (filtre = 'Valide')\n- Odoo Envoyé (anti-doublon)\n- Date (mise à jour après envoi)\n\n⚠️ Remplacer l'URL du sheet\navant activation.","height":320,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,96],"id":"3fd7330a-ddb0-4fc9-b3d4-50b6e13bc6a5","name":"Note - Sheets"},{"parameters":{"content":"## ✉️ Template Email HTML\nEmail personnalisé selon le Secteur :\n- Agro-alimentaire → ISO 22000 / HACCP\n- Agriculture → ISO 14001 / ESG\n- BTP et Mines → ISO 45001 / Odoo\n- Transport → ISO 9001 / TMS\n- Textile → ISO 9001 / Lean\n- Technologies → ISO 27001 / Odoo\n- Banques → ISO 27001 / CSRD\n- Conseil → Partenariat / Lead Auditor\n- Métallurgie → ISO 9001 / Lean\n- Trading → Export / Odoo\n- Autres → Audit stratégique offert\n\nJoint le PDF TargetUp 2026.\nObjet = 'TargetUp Group – Solution\nsur mesure pour [Société]'","height":400,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,0],"id":"7d60808b-7f7f-49b3-88df-7f49f4ee960b","name":"Note - Template"},{"parameters":{"content":"## 🎯 Activité Odoo (NOUVEAU)\nAprès chaque envoi Gmail réussi :\n\n1. Sheets → 'Odoo Envoyé' = 'Oui'\n   + Date horodatée\n\n2. Odoo → Crée une Activité sur le\n   lead CRM (mail.activity) :\n   - Type : Email (id=4)\n   - Résumé : 'Email commercial envoyé'\n   - Note : Fiche contact complète\n   - Échéance : J+2 (relance tél.)\n   - Visible dans le pipeline CRM\n\n⚠️ Vérifier activity_type_id=4\ndans votre instance Odoo.\n(Paramètres → Types d'activités)","height":380,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,-16],"id":"bc493e5b-d148-4a81-bb49-f4b0c0563fad","name":"Note - Odoo Activité"},{"parameters":{"content":"## ❌ Gestion des erreurs\nSi Gmail échoue :\n→ L'erreur est loguée dans\n   l'onglet 'Log_Erreurs' du sheet\n\nChamps enregistrés :\nDate, Email, Nom, Société,\nSecteur, Message d'erreur\n\nLe workflow continue pour\nle contact suivant (continueErrorOutput).","height":280,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,576],"id":"afa07f9d-a3c4-4dba-afad-bb3f129e6886","name":"Note - Erreurs"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Sheets - Lire prospects","type":"main","index":0}]]},"Sheets - Lire prospects":{"main":[[{"node":"Limit 50 / run","type":"main","index":0}]]},"Limit 50 / run":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filtre - Email valide et non envoyé","type":"main","index":0}]]},"Filtre - Email valide et non envoyé":{"main":[[{"node":"Set - Variables prospect","type":"main","index":0}]]},"Set - Variables prospect":{"main":[[{"node":"HTML - Template Email Prospects","type":"main","index":0}]]},"HTML - Template Email Prospects":{"main":[[{"node":"HTTP - Télécharger PDF TargetUp","type":"main","index":0}]]},"HTTP - Télécharger PDF TargetUp":{"main":[[{"node":"Gmail - Envoi email","type":"main","index":0}]]},"Gmail - Envoi email":{"main":[[{"node":"Sheets - Marquer Email Envoyé","type":"main","index":0},{"node":"Odoo - Créer Activité Email","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Sheets - Marquer Email Envoyé":{"main":[[{"node":"Wait 15s","type":"main","index":0}]]},"Odoo - Créer Activité Email":{"main":[[{"node":"Wait 15s","type":"main","index":0}]]},"Wait 15s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"Fin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41d5417a-6945-4e10-a424-b003676ed5e2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-04T14:11:41.242Z","createdAt":"2026-05-04T14:11:41.242Z","role":"workflow:owner","workflowId":"lR1Uy2r3tkaVKOYD","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}