targetup---world-bank-aos-5H2FLe1PUUui8MxA.json
{"updatedAt":"2026-05-17T16:12:24.784Z","createdAt":"2026-05-17T16:12:24.541Z","id":"5H2FLe1PUUui8MxA","name":"TargetUp — World Bank AOs","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1-5"}]}},"id":"fb43934d-b3cf-413c-b141-386434e9c0e6","name":"Déclencheur Lun-Ven 7h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://search.worldbank.org/api/v2/procnotices","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"json"},{"name":"rows","value":"100"},{"name":"os","value":"0"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"059b9f77-46c5-48a6-ba7e-ffa698aaa3f9","name":"HTTP Request — World Bank API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[304,0]},{"parameters":{"jsCode":"\n// L'HTTP Request a récupéré les données — on les parse ici\nconst data = $input.first().json;\n\n// Log pour voir la structure exacte\nconsole.log('Total AOs disponibles:', data.total);\nconsole.log('Nombre reçus:', data.rows);\n\nconst notices = data.procnotices || [];\nif (notices.length === 0) {\n  return [{ json: { status: 'VIDE', message: 'Aucun AO retourné' } }];\n}\n\n// Log du premier AO pour voir tous les champs disponibles\nconsole.log('Champs du premier AO:', Object.keys(notices[0]).join(', '));\nconsole.log('Premier AO complet:', JSON.stringify(notices[0], null, 2));\n\n// Pays prioritaires TargetUp\nconst PAYS = [\n  \"morocco\",\"senegal\",\"cote d'ivoire\",\"ivory coast\",\"djibouti\",\n  \"mauritania\",\"mauritius\",\"cameroon\",\"gabon\",\"benin\",\"togo\",\n  \"mali\",\"burkina faso\",\"niger\",\"guinea\",\"congo\",\"rwanda\",\n  \"tunisia\",\"algeria\",\"egypt\",\"kenya\",\"ghana\",\"ethiopia\"\n];\n\nfunction isPrioritaire(n) {\n  const text = [\n    n.countryname, n.project_ctry_name, n.borrower_country, n.country\n  ].filter(Boolean).join(' ').toLowerCase();\n  return PAYS.some(p => text.includes(p));\n}\n\nfunction detectType(n) {\n  const g = (n.procurement_group || '').toLowerCase();\n  const m = (n.procurement_method_name || '').toLowerCase();\n  if (g === 'cs' || m.includes('consult') || m.includes('qcbs') || m.includes('qbs')) return 'Services de Conseil';\n  if (g === 'indv' || m.includes('individual')) return 'Consultant Individuel';\n  if (g === 'go' || m.includes('goods')) return 'Fournitures';\n  if (g === 'wk' || m.includes('works')) return 'Travaux';\n  return n.procurement_method_name || n.procurement_group || 'Non précisé';\n}\n\nfunction detectProfil(n) {\n  const text = [n.noticeTitle, n.bid_description].filter(Boolean).join(' ').toLowerCase();\n  if (text.includes('individual') || text.includes('indv')) return 'Consultant Individuel';\n  if (text.includes('firm') || text.includes('cabinet') || text.includes('company')) return 'Cabinet / Société';\n  if (text.includes('expert') || text.includes('specialist')) return 'Expert / Spécialiste';\n  if (text.includes('ngo') || text.includes('ong')) return 'ONG / Association';\n  return 'Non précisé';\n}\n\n// Filtrer par pays prioritaires\nconst filtres = notices.filter(n => isPrioritaire(n));\nconsole.log('AOs pays prioritaires:', filtres.length, '/', notices.length);\n\n// Si aucun pays prioritaire, retourner tous\nconst liste = filtres.length > 0 ? filtres : notices;\n\nreturn liste.map(n => ({ json: {\n  source: 'World Bank',\n  reference: n.id || 'N/A',\n  projet_id: n.project_id || 'N/A',\n  titre: n.noticeTitle || n.bid_description || 'Sans titre',\n  description: (n.bid_description || '').replace(/<[^>]+>/g,'').trim().slice(0,800),\n  nom_projet: n.projectname || 'N/A',\n  pays: n.countryname || n.project_ctry_name || n.borrower_country || 'Non précisé',\n  date_publication: n.noticedate || 'N/A',\n  date_limite: n.submission_deadline_date || 'N/A',\n  type_ao: detectType(n),\n  type_profil_demande: detectProfil(n),\n  methode_passation: n.procurement_method_name || n.procurement_group || 'N/A',\n  contact_nom: n.contact_name || 'Non disponible',\n  contact_email: n.contact_email || 'Non disponible',\n  contact_telephone: n.contact_phone || 'Non disponible',\n  lien_projet: n.project_id ? `https://projects.worldbank.org/en/projects-operations/project-detail/${n.project_id}` : '',\n  lien_ao: n.id ? `https://projects.worldbank.org/en/projects-operations/procurement/noticedetail?id=${n.id}` : '',\n  lien_pdf: n.url || '',\n  date_extraction: new Date().toISOString()\n}}));\n"},"id":"95803730-7af4-41f4-a80f-117688deb4f5","name":"Parser et Normaliser AOs","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","operation":"notEqual","value2":"VIDE"}]}},"id":"6b17bd28-b49a-475d-a1b3-8bed513ea8ff","name":"Garder AOs Valides","type":"n8n-nodes-base.filter","typeVersion":1,"position":[912,0]}],"connections":{"Déclencheur Lun-Ven 7h":{"main":[[{"node":"HTTP Request — World Bank API","type":"main","index":0}]]},"HTTP Request — World Bank API":{"main":[[{"node":"Parser et Normaliser AOs","type":"main","index":0}]]},"Parser et Normaliser AOs":{"main":[[{"node":"Garder AOs Valides","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"e8f2f056-c634-49b2-94db-6b2f59939cd6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-17T16:12:24.544Z","createdAt":"2026-05-17T16:12:24.544Z","role":"workflow:owner","workflowId":"5H2FLe1PUUui8MxA","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}