targetup---content-factory-200-jour--blog---knowledge--NYTRjAV3Xhlzcx51.json
{"updatedAt":"2026-03-23T11:02:18.632Z","createdAt":"2026-03-23T11:00:57.033Z","id":"NYTRjAV3Xhlzcx51","name":"TARGETUP — Content Factory 200/jour (Blog + Knowledge)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"c8fdd525-f66e-4e2a-a717-270de7addb15","name":"🕐 Déclencheur Quotidien 2h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2240,128]},{"parameters":{},"id":"9ff5e1fa-1e71-4729-9177-9559ad5f28c1","name":"🖐 Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2240,288]},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"78bfca99-ca70-4e6f-a8a3-d55a7a603815","name":"🔀 Fusionner Déclencheurs","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2032,208]},{"parameters":{"jsCode":"// ============================================================\n// TARGETUP CONTENT FACTORY — Générateur de sujets d'articles\n// Adaptez les thèmes et mots-clés à vos besoins\n// ============================================================\n\nconst TARGETUP_TOPICS = [\n  // ── LEAN SIX SIGMA ──────────────────────────────────────────\n  { topic: \"Lean Six Sigma PME Maroc : Réduire les coûts de 30% en 90 jours\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"DMAIC appliqué à l'industrie marocaine : Guide complet 2025\", persona: \"QSE\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Value Stream Mapping : Identifier 15 types de gaspillages invisibles\", persona: \"QSE\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Kaizen Chantier : Transformer votre production en 5 jours\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Cost of Poor Quality : Calculer ce que votre PME perd chaque mois\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Green Belt Six Sigma : Le diplôme qui change une carrière\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"Black Belt Six Sigma Maroc : Formation et certification complète\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"5S en entreprise : Méthode et résultats concrets\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Sigma Level : Comment mesurer la performance qualité de vos processus\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Lean Manufacturing Maroc : L'excellence opérationnelle à l'africaine\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n\n  // ── ISO & QUALITÉ ────────────────────────────────────────────\n  { topic: \"ISO 9001:2015 Maroc : Guide complet de certification PME\", persona: \"QSE\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Audit interne ISO : Les 10 erreurs fatales à éviter\", persona: \"QSE\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"ISO 45001 : Sécurité au travail et performance opérationnelle\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"ISO 14001 : Management environnemental et RSE Afrique\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Lead Auditor ISO 9001 : Devenir l'expert qualité de votre secteur\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"Gap Analysis ISO : Mesurer l'écart entre aujourd'hui et la certification\", persona: \"QSE\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Management de la qualité totale : EFQM vs ISO en Afrique\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Audit fournisseurs : Sécuriser votre chaîne d'approvisionnement\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Non-conformités : Traitement efficace et prévention récurrence\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Indicateurs qualité : Les KPIs essentiels pour votre tableau de bord\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n\n  // ── ODOO & DIGITALISATION ────────────────────────────────────\n  { topic: \"Odoo 19 PME Maroc : Guide complet d'implémentation ERP\", persona: \"DSI\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Lean Before ERP : Pourquoi optimiser avant de digitaliser\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Odoo Manufacturing : Piloter votre production avec un ERP\", persona: \"DSI\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Odoo CRM : Transformer votre pipeline commercial en Afrique\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Digitalisation PME Afrique Francophone : Feuille de route 2025\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"ERP vs Excel : Pourquoi les PME marocaines doivent migrer maintenant\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Odoo Comptabilité : Clôture mensuelle en 3 heures\", persona: \"DSI\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Odoo RH et Paie Maroc : Automatiser la gestion des ressources humaines\", persona: \"RH\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Migration ERP : Les 7 risques à anticiper pour ne pas échouer\", persona: \"DSI\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"ROI d'un ERP Odoo : Calcul et cas réels en entreprise marocaine\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n\n  // ── GESTION DE PROJET & PMP ──────────────────────────────────\n  { topic: \"Certification PMP Maroc : Tout ce qu'il faut savoir en 2025\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"Management de projet agile : Appliquer Scrum en entreprise africaine\", persona: \"DG\", service: \"University\", priority: \"moyenne\" },\n  { topic: \"PMO : Créer un Bureau de Gestion de Projets performant\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Risques projet : Matrice et plan de mitigation opérationnel\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Gestion du changement : Faire adhérer les équipes à la transformation\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n\n  // ── EXCELLENCE OPÉRATIONNELLE ────────────────────────────────\n  { topic: \"Transformation digitale entreprise : Roadmap et ROI mesurable\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Balanced Scorecard : Piloter la stratégie avec 4 perspectives\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Supply Chain Maroc : Optimiser la chaîne logistique en Afrique\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"Business Process Reengineering : Repenser les processus de fond en comble\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"KPIs opérationnels : Les 20 indicateurs que tout DG doit surveiller\", persona: \"DG\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Risk Management ISO 31000 : Cartographier et maîtriser les risques\", persona: \"QSE\", service: \"Consulting\", priority: \"moyenne\" },\n  { topic: \"EFQM Excellence Model : Auto-évaluation et amélioration continue\", persona: \"DG\", service: \"Consulting\", priority: \"faible\" },\n  { topic: \"Automatisation des processus RPA : Gains et cas d'usage Maroc\", persona: \"DSI\", service: \"Consulting\", priority: \"haute\" },\n  { topic: \"Triple Bottom Line : Performance économique, sociale et environnementale\", persona: \"DG\", service: \"Consulting\", priority: \"faible\" },\n  { topic: \"Benchmarking industriel Afrique : Comparer pour progresser\", persona: \"DG\", service: \"Consulting\", priority: \"moyenne\" },\n\n  // ── FORMATION & LEADERSHIP ───────────────────────────────────\n  { topic: \"Formation management Maroc : Les certifications qui font la différence\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"Leadership situationnel : Adapter son style à chaque collaborateur\", persona: \"DG\", service: \"University\", priority: \"moyenne\" },\n  { topic: \"ROI formation professionnelle : Comment mesurer l'impact sur la performance\", persona: \"RH\", service: \"University\", priority: \"haute\" },\n  { topic: \"Montée en compétences équipes : Plan de développement en PME\", persona: \"RH\", service: \"University\", priority: \"moyenne\" },\n  { topic: \"Université d'entreprise Afrique : Structurer la formation interne\", persona: \"RH\", service: \"University\", priority: \"haute\" }\n];\n\n// Rotation quotidienne basée sur la date pour varier les sujets\nconst today = new Date();\nconst dayOffset = (today.getFullYear() * 365 + today.getMonth() * 30 + today.getDate()) % TARGETUP_TOPICS.length;\n\n// Sélectionner 10 sujets par run (ajustez selon votre quota OpenRouter)\nconst BATCH_SIZE = 10;\nconst selected = [];\nfor (let i = 0; i < BATCH_SIZE; i++) {\n  selected.push(TARGETUP_TOPICS[(dayOffset + i) % TARGETUP_TOPICS.length]);\n}\n\nreturn selected.map((t, idx) => ({\n  json: {\n    ...t,\n    run_index: idx + 1,\n    run_date: today.toISOString().split('T')[0],\n    run_id: `TU-${today.toISOString().split('T')[0].replace(/-/g,'')}-${String(idx+1).padStart(3,'0')}`\n  }\n}));"},"id":"f3af2c32-be4c-4835-85eb-c5270cd90508","name":"📋 Construire Liste de Sujets","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1776,304]},{"parameters":{"options":{}},"id":"8e08d87d-f5ba-4a4c-8487-d9dcfc20b4e5","name":"🔁 Boucle sur Sujets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1552,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\nconst PERSONAS = {\n  DG:  \"Directeur Général (DG/CEO) — focus ROI, transformation, performance globale, rentabilité\",\n  DSI: \"Directeur des Systèmes d'Information (DSI) — focus digitalisation, ERP, intégration technique\",\n  QSE: \"Responsable Qualité/HSE — focus certification, conformité ISO, amélioration continue\",\n  RH:  \"Responsable Formation & RH — focus montée en compétences, certifications, ROI formation\"\n};\n\nconst BRAND = `Tu es le Chief Content Officer & SEO Strategist de TARGETUP GROUP (Maroc/Afrique).\nTARGETUP CONSULTING : Conseil en excellence opérationnelle, Lean Six Sigma, ISO, ERP Odoo.\nTARGETUP UNIVERSITY : Formations certifiantes PMP, Lean, ISO, Management.\nZone cible : Maroc et Afrique Francophone — PME, Grandes Entreprises, Secteur Public.\nVocabulaire obligatoire : DMAIC, GAP Analysis, CoPQ, VSM, Kaizen, Triple Bottom Line, ERP Workflow, CTQ, SPC, Cpk, EFQM, MSA.\nStyle : Institutionnel mais disruptif. Français impeccable. Orienté ROI. ZÉRO cliché IA.\nCTA systématique : consulting@targetup.ma | https://www.targetup.ma/contact`;\n\nconst systemPrompt = `${BRAND}\n\nPERSONA CIBLE : ${PERSONAS[item.persona] || PERSONAS.DG}\n\nRÈGLES ABSOLUES :\n- Français académique/professionnel impeccable\n- Zéro cliché IA (\"Dans le monde d'aujourd'hui\", \"En conclusion\", \"Il est important\")\n- Chaque phrase apporte valeur ou preuve d'expertise\n- Chiffres, pourcentages et données mesurables systématiques\n- Intégrer naturellement au moins 4 termes du vocabulaire obligatoire\n- Longueur : 1200 à 1600 mots\n\nSTRUCTURE HTML OBLIGATOIRE :\n<h1> Titre viral avec mot-clé (max 70 car.)\n<div class=\"intro\"> Introduction 3 phrases — briser un mythe ou poser un défi\n<h2> x 4 minimum avec <h3> imbriqués\n<ul>/<li> pour listes bénéfices/étapes\n2 <blockquote> minimum — format \"Conseil de l'Expert — Dr. Jendabi :\"\n1 <table> HTML structurant des données comparatives\n<div class=\"cta\"> à la fin — vers consulting@targetup.ma\n\nRÉPONDRE UNIQUEMENT avec un objet JSON VALIDE (pas de markdown, pas de backticks) :\n{\n  \"html\": \"...corps article HTML complet...\",\n  \"seo\": {\n    \"seo_title\": \"Titre SEO max 60 caractères\",\n    \"meta_description\": \"Description SEO max 155 caractères\",\n    \"slug\": \"url-sans-accents-ni-espaces-ni-caracteres-speciaux\",\n    \"tags\": [\"Tag1\", \"Tag2\", \"Tag3\", \"Tag4\", \"Tag5\"]\n  }\n}`;\n\nconst userPrompt = `SUJET : ${item.topic}\nSERVICE TARGETUP : ${item.service}\nPRIORITÉ SEO : ${item.priority}\n\nGénère l'article d'autorité complet pour TARGETUP GROUP sur ce sujet.\nPositionne TARGETUP comme leader incontesté de l'excellence opérationnelle en Afrique francophone.`;\n\nreturn {\n  json: {\n    ...item,\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt\n  }\n};"},"id":"192a675b-863b-4a15-879c-43d56ced34d2","name":"✍️ Construire Prompt TargetUp","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,208]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"HTTP-Referer","value":"https://targetupconsulting.com"},{"name":"X-Title","value":"TargetUp Content Factory"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'openai/gpt-4o', messages: [{ role: 'system', content: $json.system_prompt }, { role: 'user', content: $json.user_prompt }], max_tokens: 3500, temperature: 0.72, stream: false }) }}","options":{"response":{"response":{}},"timeout":120000}},"id":"ac5a6dc4-3c92-4c68-a559-dd2c97c37029","name":"🤖 Appel OpenRouter GPT-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,208],"retryOnFail":true,"maxTries":3,"waitBetweenTries":8000},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\n// Récupérer le texte brut généré par GPT-4o\nlet rawContent = '';\ntry {\n  rawContent = item.choices[0].message.content;\n} catch(e) {\n  // Fallback si la structure est différente\n  rawContent = JSON.stringify(item);\n}\n\n// Nettoyer les backticks markdown si présents\nrawContent = rawContent\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\n// Parser le JSON généré\nlet parsed = {};\ntry {\n  parsed = JSON.parse(rawContent);\n} catch(e) {\n  // Si le JSON est invalide, créer un article de fallback\n  const topicData = $('✍️ Construire Prompt TargetUp').item.json;\n  parsed = {\n    html: `<h1>${topicData.topic}</h1><div class=\"intro\"><p>Article en cours de génération.</p></div>`,\n    seo: {\n      seo_title: topicData.topic.substring(0, 59),\n      meta_description: `Article TARGETUP sur ${topicData.topic.substring(0, 100)}`,\n      slug: topicData.topic.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 80),\n      tags: ['TARGETUP', 'Excellence Opérationnelle', 'Maroc']\n    }\n  };\n}\n\n// Récupérer les données du sujet original\nconst topicData = $('✍️ Construire Prompt TargetUp').item.json;\n\n// Générer le slug propre\nfunction cleanSlug(text) {\n  return text\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 80);\n}\n\nconst slug = parsed.seo?.slug || cleanSlug(topicData.topic);\n\n// Compter les mots approximativement\nconst wordCount = (parsed.html || '').replace(/<[^>]+>/g, ' ').split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn {\n  json: {\n    // Données sujet\n    topic: topicData.topic,\n    persona: topicData.persona,\n    service: topicData.service,\n    run_id: topicData.run_id,\n    run_date: topicData.run_date,\n    // Article généré\n    html_body: parsed.html || '',\n    seo_title: (parsed.seo?.seo_title || topicData.topic).substring(0, 59),\n    meta_description: (parsed.seo?.meta_description || '').substring(0, 154),\n    slug: slug,\n    tags: parsed.seo?.tags || ['TARGETUP', 'Excellence Opérationnelle'],\n    word_count: wordCount,\n    // Validation\n    is_valid: (parsed.html || '').length > 300 && slug.length > 3,\n    cost_usd: item.usage?.cost || 0,\n    tokens_used: item.usage?.total_tokens || 0\n  }\n};"},"id":"c9c8f997-b7ef-49a2-86fd-0d1ddf67c56f","name":"🔍 Parser Réponse IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-valid","leftValue":"={{ $json.is_valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1eb97ef2-96a4-46e0-bf49-dcb28c2a08ab","name":"✅ Article Valide ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,208]},{"parameters":{"method":"POST","url":"={{ $vars.ODOO_URL }}/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', id: 1, params: { service: 'common', method: 'authenticate', args: [$vars.ODOO_DB, $vars.ODOO_USER, $vars.ODOO_API_KEY, {}] } }) }}","options":{"timeout":30000}},"id":"579f9d37-06f4-409e-ba3b-24ecd0927c92","name":"🔐 Odoo Auth — Obtenir UID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,96]},{"parameters":{"method":"POST","url":"={{ $vars.ODOO_URL }}/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', id: 2, params: { service: 'object', method: 'execute_kw', args: [ $vars.ODOO_DB, $('🔐 Odoo Auth — Obtenir UID').item.json.result, $vars.ODOO_API_KEY, 'blog.blog', 'search_read', [[['name', 'ilike', 'news']]], { fields: ['id', 'name'], limit: 5 } ] } }) }}","options":{"timeout":30000}},"id":"8114c373-73cb-4f68-8039-0c918f969208","name":"📖 Odoo — Récupérer Blog ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,96]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const article = $('🔍 Parser Réponse IA').item.json;\nconst authResult = $('🔐 Odoo Auth — Obtenir UID').item.json;\nconst blogResult = $('📖 Odoo — Récupérer Blog ID').item.json;\n\n// Extraire l'UID Odoo\nconst uid = authResult.result;\n\n// Extraire l'ID du blog (news-2 sur targetupconsulting.com)\nlet blogId = 2; // ID par défaut du blog News\nif (blogResult.result && blogResult.result.length > 0) {\n  blogId = blogResult.result[0].id;\n}\n\n// Préparer le contenu HTML final\nconst htmlContent = article.html_body;\n\n// Construire les valeurs du blog.post\nconst blogPostValues = {\n  name: article.seo_title || article.topic,\n  blog_id: blogId,\n  content: htmlContent,\n  subtitle: `Guide Complet — ${article.service === 'Consulting' ? 'TARGETUP CONSULTING' : 'TARGETUP UNIVERSITY'}`,\n  website_published: true,\n  seo_name: article.slug,\n  website_meta_title: article.seo_title,\n  website_meta_description: article.meta_description,\n  website_meta_keywords: article.tags.slice(0, 5).join(', '),\n  author_id: 3\n};\n\n// Construire les valeurs du knowledge.article\nconst knowledgeValues = {\n  name: article.seo_title || article.topic,\n  body: htmlContent,\n  icon: article.service === 'Consulting' ? '📊' : '🎓',\n  internal_permission: 'read',\n  is_article_visible_by_everyone: false\n};\n\nreturn {\n  json: {\n    uid: uid,\n    blog_id: blogId,\n    blog_post_values: JSON.stringify(blogPostValues),\n    knowledge_values: JSON.stringify(knowledgeValues),\n    // Passer les données article en avant\n    article_topic: article.topic,\n    article_slug: article.slug,\n    article_seo_title: article.seo_title,\n    article_word_count: article.word_count,\n    article_tags: article.tags,\n    run_id: article.run_id,\n    run_date: article.run_date,\n    cost_usd: article.cost_usd\n  }\n};"},"id":"af0f93ff-42b8-47f0-939c-53248c76e8ae","name":"🏗️ Préparer Données Odoo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,0]},{"parameters":{"method":"POST","url":"={{ $vars.ODOO_URL }}/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', id: 10, params: { service: 'object', method: 'execute_kw', args: [ $vars.ODOO_DB, $json.uid, $vars.ODOO_API_KEY, 'blog.post', 'create', [JSON.parse($json.blog_post_values)], {} ] } }) }}","options":{"timeout":60000}},"id":"b198dbe1-034b-4d8b-bae0-2b401b242fc2","name":"🌐 Publier Blog Odoo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-80],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{ $vars.ODOO_URL }}/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', id: 20, params: { service: 'object', method: 'execute_kw', args: [ $vars.ODOO_DB, $json.uid, $vars.ODOO_API_KEY, 'knowledge.article', 'create', [JSON.parse($json.knowledge_values)], {} ] } }) }}","options":{"timeout":60000}},"id":"5153e8ca-25c0-4521-be94-d5f0009226f9","name":"📚 Publier Knowledge Odoo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,80],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const prepData = $('🏗️ Préparer Données Odoo').item.json;\nconst blogResult = $('🌐 Publier Blog Odoo').item.json;\nconst knowledgeResult = $('📚 Publier Knowledge Odoo').item.json;\n\nconst blogPostId = blogResult.result || null;\nconst knowledgeId = knowledgeResult.result || null;\n\n// Construire l'URL de l'article publié\nconst blogUrl = blogPostId \n  ? `https://targetupconsulting.com/en_GB/blog/news-2/${prepData.article_slug}-${blogPostId}`\n  : null;\n\nconsole.log(`✅ [${prepData.run_id}] Article publié:`);\nconsole.log(`   Topic: ${prepData.article_topic}`);\nconsole.log(`   Slug: ${prepData.article_slug}`);\nconsole.log(`   Blog Post ID: ${blogPostId}`);\nconsole.log(`   Knowledge ID: ${knowledgeId}`);\nconsole.log(`   URL: ${blogUrl}`);\nconsole.log(`   Mots: ${prepData.article_word_count}`);\nconsole.log(`   Coût: $${prepData.cost_usd}`);\n\nreturn {\n  json: {\n    status: 'SUCCESS',\n    run_id: prepData.run_id,\n    run_date: prepData.run_date,\n    topic: prepData.article_topic,\n    slug: prepData.article_slug,\n    seo_title: prepData.article_seo_title,\n    blog_post_id: blogPostId,\n    knowledge_article_id: knowledgeId,\n    published_url: blogUrl,\n    word_count: prepData.article_word_count,\n    tags: prepData.article_tags,\n    cost_usd: prepData.cost_usd,\n    published_at: new Date().toISOString()\n  }\n};"},"id":"a86dcfb7-614b-47f4-8a7f-06a85c994cd4","name":"📝 Logger Succès","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\nconsole.error(`❌ Article invalide: ${item.topic}`);\nconsole.error(`   Raison: html_length=${(item.html_body||'').length}, slug=${item.slug}`);\n\nreturn {\n  json: {\n    status: 'INVALID',\n    topic: item.topic,\n    reason: `html_length: ${(item.html_body||'').length}, valid: ${item.is_valid}`,\n    run_id: item.run_id,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"e4d1117f-0316-4c8e-96ad-72d7cc312275","name":"❌ Logger Erreur","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,320]},{"parameters":{"amount":3},"id":"5166830d-a5cd-4955-a37f-56a65ca7512f","name":"⏳ Pause 3s (Rate Limit)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[624,0],"webhookId":"2b90c1e6-3c66-4a43-8ad0-0b8c4d6e8756"},{"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nconsole.log(`\\n${'='.repeat(60)}`);\nconsole.log(`TARGETUP CONTENT FACTORY — RAPPORT DU ${today}`);\nconsole.log(`${'='.repeat(60)}`);\nconsole.log(`Total items traités: ${items.length}`);\nconsole.log(`${'='.repeat(60)}\\n`);\n\nreturn [{ json: { status: 'DONE', date: today, items_count: items.length } }];"},"id":"aa0d007c-b090-4a60-ab8a-01bc8bb1bd02","name":"🏁 Fin — Rapport Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,416]}],"connections":{"🕐 Déclencheur Quotidien 2h00":{"main":[[{"node":"🔀 Fusionner Déclencheurs","type":"main","index":0}]]},"🖐 Déclencheur Manuel":{"main":[[{"node":"🔀 Fusionner Déclencheurs","type":"main","index":1}]]},"🔀 Fusionner Déclencheurs":{"main":[[{"node":"📋 Construire Liste de Sujets","type":"main","index":0}]]},"📋 Construire Liste de Sujets":{"main":[[{"node":"🔁 Boucle sur Sujets","type":"main","index":0}]]},"🔁 Boucle sur Sujets":{"main":[[{"node":"✍️ Construire Prompt TargetUp","type":"main","index":0}],[{"node":"🏁 Fin — Rapport Final","type":"main","index":0}]]},"✍️ Construire Prompt TargetUp":{"main":[[{"node":"🤖 Appel OpenRouter GPT-4o","type":"main","index":0}]]},"🤖 Appel OpenRouter GPT-4o":{"main":[[{"node":"🔍 Parser Réponse IA","type":"main","index":0}]]},"🔍 Parser Réponse IA":{"main":[[{"node":"✅ Article Valide ?","type":"main","index":0}]]},"✅ Article Valide ?":{"main":[[{"node":"🔐 Odoo Auth — Obtenir UID","type":"main","index":0}],[{"node":"❌ Logger Erreur","type":"main","index":0}]]},"🔐 Odoo Auth — Obtenir UID":{"main":[[{"node":"📖 Odoo — Récupérer Blog ID","type":"main","index":0}]]},"📖 Odoo — Récupérer Blog ID":{"main":[[{"node":"🏗️ Préparer Données Odoo","type":"main","index":0}]]},"🏗️ Préparer Données Odoo":{"main":[[{"node":"🌐 Publier Blog Odoo","type":"main","index":0},{"node":"📚 Publier Knowledge Odoo","type":"main","index":0}]]},"🌐 Publier Blog Odoo":{"main":[[{"node":"📝 Logger Succès","type":"main","index":0}]]},"📚 Publier Knowledge Odoo":{"main":[[{"node":"📝 Logger Succès","type":"main","index":0}]]},"📝 Logger Succès":{"main":[[{"node":"⏳ Pause 3s (Rate Limit)","type":"main","index":0}]]},"⏳ Pause 3s (Rate Limit)":{"main":[[{"node":"🔁 Boucle sur Sujets","type":"main","index":0}]]},"❌ Logger Erreur":{"main":[[{"node":"🔁 Boucle sur Sujets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ecfc423-c673-49f4-9c06-c044ff574e3d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-23T11:00:57.037Z","createdAt":"2026-03-23T11:00:57.037Z","role":"workflow:owner","workflowId":"NYTRjAV3Xhlzcx51","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-23T11:00:57.020Z","createdAt":"2026-03-23T11:00:57.020Z","id":"9gFgsTOzfpn8A4D6","name":"Odoo"},{"updatedAt":"2026-03-23T11:00:56.988Z","createdAt":"2026-03-23T11:00:56.988Z","id":"WTDG0SmSqQk8pEH1","name":"Content Factory"},{"updatedAt":"2026-03-23T11:00:57.018Z","createdAt":"2026-03-23T11:00:57.018Z","id":"vNBhyZJl6l4q7JC8","name":"Blog"},{"updatedAt":"2026-03-23T11:00:57.003Z","createdAt":"2026-03-23T11:00:57.003Z","id":"xBz8UerHCunfyc0B","name":"TARGETUP"}]}