targetup-outreach-orV116VdNxxkoq9F.json
{"updatedAt":"2026-04-29T21:32:08.337Z","createdAt":"2026-04-16T10:14:45.937Z","id":"orV116VdNxxkoq9F","name":"TargetUp_OutReach","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"filtersUI":{"values":[]},"options":{}},"id":"76615004-fa98-4aca-947b-f4e69e29ff29","name":"Google Sheets - Lire contacts","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2208,928],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"batchSize":25,"options":{}},"id":"8c739d8b-eec4-422d-8430-6b2b9b000057","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1904,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json['Envoyé'] }}","rightValue":"OUI","operator":{"type":"string","operation":"notEquals"}},{"id":"c2","leftValue":"={{ $json['Email'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"fb235c38-8bc4-4cc7-a2f3-5eb210d3aa7e","name":"Filter - Email valide et non envoyé","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1696,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"seg1","leftValue":"={{ $json['Segment'] }}","rightValue":"Dirigeants","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2814cb6b-33dd-4710-96a4-535abe7271df","name":"IF - Segment ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1504,928],"notes":"True = Dirigeants | False = RH_Formation et autres"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) dirigeant(e)' }}","type":"string"},{"id":"a2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"a3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"a4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre entreprise' }}","type":"string"},{"id":"a5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"a6","name":"segment","value":"Dirigeants","type":"string"},{"id":"a7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"a8","name":"subject","value":"={{ 'TargetUp Group – Solution sur mesure pour ' + ($json['Entreprise'] || 'votre organisation') }}","type":"string"},{"id":"a9","name":"type_dirigeant","value":"={{ (() => { const p = ($json['Poste'] || '').toLowerCase(); if (['ceo','pdg','dg ','directeur général','general manager','managing director','chief executive','president directeur'].some(x => p.includes(x))) return 'DG'; else if (['directeur commercial','sales director','directeur ventes','director commercial'].some(x => p.includes(x))) return 'COMMERCIAL'; else if (['directeur financier','cfo','directeur administratif','daf'].some(x => p.includes(x))) return 'FINANCIER'; else if (['directeur technique','cto','directeur operations','directeur production'].some(x => p.includes(x))) return 'TECHNIQUE'; else if (['founder','fondateur','co-founder'].some(x => p.includes(x))) return 'FONDATEUR'; else return 'DIRIGEANT'; })() }}","type":"string"}]},"options":{}},"id":"b938d61d-cf08-4f3a-a109-fb5f5fa63dc9","name":"Set - Variables Dirigeants","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,768]},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) professionnel(le)' }}","type":"string"},{"id":"b2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"b3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"b4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre organisation' }}","type":"string"},{"id":"b5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"b6","name":"segment","value":"RH_Formation","type":"string"},{"id":"b7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"b8","name":"subject","value":"={{ 'TargetUp Group – Formations certifiantes pour ' + ($json['Entreprise'] || 'votre équipe') }}","type":"string"}]},"options":{}},"id":"593459c1-91e7-4a0a-9c45-5746fba1d0a1","name":"Set - Variables RH Formation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,1088]},{"parameters":{"html":"{{ (() => { const p = $json.prenom; const n = $json.nom; const e = $json.entreprise; const poste = $json.poste; const t = $json.type_dirigeant; let accroche = ''; let services = ''; let cta_text = ''; if (t === 'DG') { accroche = 'En tant que Directeur Général de <strong>' + e + '</strong>, votre priorité est de maintenir la compétitivité et d\\'assurer la conformité de votre organisation face aux exigences du marché.'; services = '<li>✅ <strong>Certification ISO 9001 / 14001 / 45001</strong> — Structurez vos processus, réduisez les non-conformités coûteuses et décrochez de nouveaux marchés export</li><li>✅ <strong>Stratégie ESG & RSE</strong> — Accédez aux financements verts, reportings GRI et investisseurs internationaux</li><li>✅ <strong>Transformation Digitale & ERP</strong> — Feuille de route digitale, automatisation processus, ROI moyen en 18 mois</li><li>✅ <strong>Programme Export Afrique Francophone (10 marchés)</strong> — Accédez aux appels d\\'offres BAD, Banque Mondiale, AFD avec notre accréditation UNGM-ONU</li><li>✅ <strong>Financements jusqu\\'à 100%</strong> — Maroc PME · MOUWAKABA · CSF · Banque Mondiale · BAD</li>'; cta_text = 'Planifier un échange stratégique →'; } else if (t === 'COMMERCIAL') { accroche = 'En tant que Directeur Commercial de <strong>' + e + '</strong>, vous cherchez à conquérir de nouveaux marchés et à maximiser votre performance commerciale.'; services = '<li>✅ <strong>Certification ISO 9001</strong> — Renforcez votre crédibilité auprès de vos clients européens et internationaux</li><li>✅ <strong>Formation Lean & Six Sigma</strong> — Optimisez vos processus de vente, réduisez les délais (–25% documentés)</li><li>✅ <strong>Programme Export Afrique Francophone</strong> — Ouvrez 10 nouveaux marchés avec l\\'appui BAD/AFD/UE, financement jusqu\\'à 80%</li><li>✅ <strong>Accréditation UNGM Nations Unies</strong> — Accédez aux appels d\\'offres internationaux avec notre accompagnement</li><li>✅ <strong>Coaching Commercial & Leadership</strong> — Développez vos équipes avec nos programmes exécutifs accrédités AIAE & EOQM</li>'; cta_text = 'Discuter de votre développement commercial →'; } else if (t === 'FINANCIER') { accroche = 'En tant que Directeur Financier de <strong>' + e + '</strong>, vous gérez la performance économique et cherchez à optimiser les coûts tout en sécurisant la conformité.'; services = '<li>✅ <strong>Audit & Optimisation Lean</strong> — Réduisez vos coûts de non-qualité de 20 à 40%, délais de traitement –25%</li><li>✅ <strong>Certification ISO 9001</strong> — Réduisez les non-conformités coûteuses et sécurisez vos marchés export</li><li>✅ <strong>Accompagnement financements publics</strong> — Maroc PME, MOUWAKABA (80–90%), CSF (100%), BAD, Banque Mondiale</li><li>✅ <strong>Structuration levée de fonds</strong> — Business plan, pitch investors, accès capital-risque (4–50 M MAD)</li><li>✅ <strong>Reporting ESG & conformité ISO 37301</strong> — Réduisez vos risques réglementaires et réputationnels</li>'; cta_text = 'Optimiser votre performance financière →'; } else if (t === 'TECHNIQUE') { accroche = 'En tant que Directeur Technique de <strong>' + e + '</strong>, vous êtes en charge de la performance opérationnelle et de la qualité de production.'; services = '<li>✅ <strong>Lean Manufacturing & Six Sigma</strong> — +20 à 50% d\\'efficacité documentés, réduction des gaspillages et optimisation productivité</li><li>✅ <strong>Certification ISO 45001</strong> — Sécurisez vos équipes, réduisez les accidents et accédez aux labels durables</li><li>✅ <strong>Certification ISO 14001</strong> — Maîtrisez votre impact environnemental, conformité ESG</li><li>✅ <strong>Certification ISO 9001</strong> — Cartographie VSM, documentation processus, audit de certification en 3–6 mois garantis</li><li>✅ <strong>Formation Lead Auditor PECB</strong> — Certifiez vos auditeurs internes, financé jusqu\\'à 100% CSF/OFPPT</li>'; cta_text = 'Améliorer votre performance technique →'; } else if (t === 'FONDATEUR') { accroche = 'En tant que fondateur de <strong>' + e + '</strong>, vous portez une vision entrepreneuriale et cherchez à structurer votre croissance durablement.'; services = '<li>✅ <strong>Accompagnement stratégique sur mesure</strong> — De la structuration juridique à la certification ISO, de l\\'idée au financement en 90 jours</li><li>✅ <strong>Accès aux financements publics</strong> — INTELAKA, Maroc PME, MOUWAKABA, CSF — jusqu\\'à 100% de prise en charge</li><li>✅ <strong>Business Center TargetUp</strong> — Pitch deck, matching investisseur, accès capital-risque (4–50 M MAD)</li><li>✅ <strong>Programme Afrique Francophone</strong> — Structuration implantation, partenariats locaux qualifiés, accès BAD/AFD sur 10 marchés</li><li>✅ <strong>Certifications internationales</strong> — ISO + accréditations AIAE & EOQM pour crédibiliser votre offre à l\\'export</li>'; cta_text = 'Accélérer la croissance de votre entreprise →'; } else { accroche = 'En tant que dirigeant de <strong>' + e + '</strong>, vous avez des enjeux de performance, de conformité et de développement que TargetUp Group peut vous aider à relever — avec des résultats mesurables et des financements jusqu\\'à 100%.'; services = '<li>✅ <strong>Certifications ISO</strong> (9001, 14001, 45001, 37301, 21001…) — Audit de certification réussi en 3–6 mois, garanti</li><li>✅ <strong>Lean Six Sigma & Excellence Opérationnelle</strong> — +20 à 50% d\\'efficacité, –20 à –40% coûts de non-qualité</li><li>✅ <strong>Transformation Digitale</strong> — ERP/CRM, automatisation, +35% efficacité processus, ROI en 18 mois</li><li>✅ <strong>Formation certifiante financée</strong> — Plans CSF jusqu\\'à 100%, DBA, MSc, certifications PECB/ISO accréditées AIAE & EOQM</li><li>✅ <strong>Développement Afrique Francophone</strong> — 10 marchés ciblés, UNGM Nations Unies, accès BAD/Banque Mondiale/AFD</li>'; cta_text = 'Découvrir nos solutions →'; } return '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;color:#222;background:#f6f6f6;margin:0;padding:0}.container{max-width:640px;margin:30px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)}.header{background:#1a2e4a;padding:28px 36px;text-align:center}.header h1{color:#fff;font-size:24px;margin:0;letter-spacing:1px}.header .tagline{color:#a0b4cc;font-size:13px;margin:6px 0 0}.header .accreds{color:#7a9abf;font-size:11px;margin:10px 0 0;letter-spacing:0.3px}.body{padding:32px 36px}.greeting{font-size:16px;font-weight:bold;margin-bottom:16px;color:#1a2e4a}.intro{font-size:14px;line-height:1.7;color:#444;margin-bottom:24px}.kpis{display:flex;gap:12px;margin-bottom:24px;flex-wrap:wrap}.kpi{background:#1a2e4a;color:#fff;border-radius:6px;padding:12px 14px;flex:1;min-width:120px;text-align:center}.kpi .val{font-size:20px;font-weight:bold;color:#7ec8e3}.kpi .lbl{font-size:11px;color:#a0b4cc;margin-top:4px}.services{background:#f0f5ff;border-left:4px solid #1a2e4a;border-radius:4px;padding:18px 22px;margin-bottom:24px}.services h3{color:#1a2e4a;font-size:13px;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px}.services ul{margin:0;padding-left:4px;list-style:none}.services ul li{font-size:13px;color:#333;margin-bottom:9px;line-height:1.6}.urgency{background:#fff3cd;border:1px solid #ffc107;border-radius:4px;padding:14px 18px;font-size:13px;color:#7a5c00;margin-bottom:20px;line-height:1.6}.cta{text-align:center;margin:28px 0}.cta a{background:#1a2e4a;color:#fff;padding:13px 32px;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;display:inline-block}.pdf-notice{background:#e8f4fd;border:1px solid #bee3f8;border-radius:4px;padding:12px 16px;font-size:13px;color:#2c5282;margin-bottom:24px}.faq{margin-bottom:24px}.faq h3{color:#1a2e4a;font-size:13px;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:12px}.faq-item{border-bottom:1px solid #eee;padding:10px 0}.faq-item .q{font-size:13px;font-weight:bold;color:#333;margin-bottom:4px}.faq-item .a{font-size:12px;color:#666;line-height:1.5}.signature{border-top:1px solid #eee;padding-top:20px;font-size:13px;color:#555}.signature strong{color:#1a2e4a}.sig-details{margin-top:8px;font-size:12px;color:#666;line-height:1.8}.footer{background:#f0f0f0;text-align:center;padding:14px;font-size:11px;color:#999}</style></head><body><div class=\"container\"><div class=\"header\"><h1>TargetUp Group</h1><div class=\"tagline\">Conseil Stratégique · Formation Internationale · Investissement & Partenariats</div><div class=\"accreds\">ISO 9001 · ISO 21001 · ISO 37301 · AIAE (USA) · EOQM (UK) · UNGM – Nations Unies · AMDIE</div></div><div class=\"body\"><p class=\"greeting\">Bonjour ' + p + ' ' + n + ',</p><p class=\"intro\">' + accroche + '<br><br>TargetUp Group est un groupe international de conseil stratégique, de formation professionnelle et d\\'investissement — implanté à <strong>Rabat (Maroc)</strong> et <strong>Cardiff (Royaume-Uni)</strong>. Nous accompagnons les organisations publiques et privées dans leur transformation, leur mise en conformité ISO, le développement de leurs compétences et l\\'accès aux financements nationaux et internationaux.</p><div class=\"kpis\"><div class=\"kpi\"><div class=\"val\">3–6</div><div class=\"lbl\">mois pour certification ISO</div></div><div class=\"kpi\"><div class=\"val\">100%</div><div class=\"lbl\">financement possible CSF/MOUWAKABA</div></div><div class=\"kpi\"><div class=\"val\">10</div><div class=\"lbl\">marchés africains couverts</div></div><div class=\"kpi\"><div class=\"val\">+1220</div><div class=\"lbl\">missions réussies</div></div></div><div class=\"services\"><h3>Nos recommandations pour ' + e + '</h3><ul>' + services + '</ul></div><div class=\"urgency\">⚡ <strong>Pourquoi agir maintenant ?</strong><br>Les dotations MOUWAKABA, CSF et Maroc PME s\\'épuisent chaque année — les entreprises qui agissent en premier accèdent à 80–100% de prise en charge. La Banque Africaine de Développement déploie +100 milliards USD sur 2024–2030 : seules les organisations certifiées peuvent répondre aux appels d\\'offres. <strong>Chaque mois perdu = opportunités manquées.</strong></div><div class=\"faq\"><h3>Questions fréquentes</h3><div class=\"faq-item\"><div class=\"q\">Vos prestations sont-elles finançables ?</div><div class=\"a\">OUI. TargetUp est agréé CSF (100% des plans formation), MOUWAKABA (80–90%), Maroc PME et OFPPT. Nous identifions le meilleur financement pour chaque mission.</div></div><div class=\"faq-item\"><div class=\"q\">Combien de temps pour une certification ISO ?</div><div class=\"a\">Entre 3 et 6 mois selon votre maturité. Notre méthode garantit la réussite de l\\'audit dès le premier passage.</div></div><div class=\"faq-item\"><div class=\"q\">Peut-on travailler à distance ?</div><div class=\"a\">Absolument. TargetUp opère en mode 100% hybride avec un réseau local dans 10 pays africains.</div></div></div><div class=\"pdf-notice\">📎 Notre <strong>brochure complète TargetUp Group 2026</strong> est en pièce jointe — services, références, accréditations et programmes de financement disponibles.</div><div class=\"cta\"><a href=\"https://www.targetupconsulting.com\">' + cta_text + '</a></div><div class=\"signature\"><strong>L\\'équipe TargetUp Group</strong><div class=\"sig-details\">📞 +212 684 48 17 30 &nbsp;|&nbsp; 📞 +212 684 77 88 54<br>📧 sales@targetupconsulting.com<br>🌐 targetupconsulting.com &nbsp;|&nbsp; university.targetupconsulting.com<br>📍 17 Rue Jbel Moussa, Rabat 10090, Maroc &nbsp;|&nbsp; Cardiff CF14 8LH, Royaume-Uni</div></div></div><div class=\"footer\">Vous recevez cet email car vous faites partie de notre réseau professionnel. Pour vous désabonner, répondez avec « STOP » dans l\\'objet.</div></div></body></html>'; })()\n}}"},"id":"6b4dc4c8-634a-4431-a117-4a329c3b21e0","name":"HTML - Template Dirigeants","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1024,768]},{"parameters":{"html":"{{ '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;color:#222;background:#f6f6f6;margin:0;padding:0}.container{max-width:640px;margin:30px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)}.header{background:#1d4a2e;padding:28px 36px;text-align:center}.header h1{color:#fff;font-size:24px;margin:0;letter-spacing:1px}.header .tagline{color:#a0ccb4;font-size:13px;margin:6px 0 0}.header .accreds{color:#6aa880;font-size:11px;margin:10px 0 0;letter-spacing:0.3px}.body{padding:32px 36px}.greeting{font-size:16px;font-weight:bold;margin-bottom:16px;color:#1d4a2e}.intro{font-size:14px;line-height:1.7;color:#444;margin-bottom:24px}.kpis{display:flex;gap:12px;margin-bottom:24px;flex-wrap:wrap}.kpi{background:#1d4a2e;color:#fff;border-radius:6px;padding:12px 14px;flex:1;min-width:120px;text-align:center}.kpi .val{font-size:20px;font-weight:bold;color:#7ec8a0}.kpi .lbl{font-size:11px;color:#a0ccb4;margin-top:4px}.services{background:#f0fff5;border-left:4px solid #1d4a2e;border-radius:4px;padding:18px 22px;margin-bottom:24px}.services h3{color:#1d4a2e;font-size:13px;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px}.services ul{margin:0;padding-left:4px;list-style:none}.services ul li{font-size:13px;color:#333;margin-bottom:9px;line-height:1.6}.urgency{background:#fff3cd;border:1px solid #ffc107;border-radius:4px;padding:14px 18px;font-size:13px;color:#7a5c00;margin-bottom:20px;line-height:1.6}.cta{text-align:center;margin:28px 0}.cta a{background:#1d4a2e;color:#fff;padding:13px 32px;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;display:inline-block}.pdf-notice{background:#e8f4fd;border:1px solid #bee3f8;border-radius:4px;padding:12px 16px;font-size:13px;color:#2c5282;margin-bottom:24px}.faq{margin-bottom:24px}.faq h3{color:#1d4a2e;font-size:13px;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:12px}.faq-item{border-bottom:1px solid #eee;padding:10px 0}.faq-item .q{font-size:13px;font-weight:bold;color:#333;margin-bottom:4px}.faq-item .a{font-size:12px;color:#666;line-height:1.5}.signature{border-top:1px solid #eee;padding-top:20px;font-size:13px;color:#555}.signature strong{color:#1d4a2e}.sig-details{margin-top:8px;font-size:12px;color:#666;line-height:1.8}.footer{background:#f0f0f0;text-align:center;padding:14px;font-size:11px;color:#999}</style></head><body><div class=\"container\"><div class=\"header\"><h1>TargetUp Group</h1><div class=\"tagline\">Formation Certifiante · Développement RH · Lean · ISO</div><div class=\"accreds\">ISO 9001 · ISO 21001 · ISO 37301 · AIAE (USA) · EOQM (UK) · UNGM – Nations Unies · AMDIE</div></div><div class=\"body\"><p class=\"greeting\">Bonjour ' + $json.prenom + ' ' + $json.nom + ',</p><p class=\"intro\">En tant que <strong>' + $json.poste + '</strong> chez <strong>' + $json.entreprise + '</strong>, vous jouez un rôle clé dans le développement des compétences et la performance humaine de votre organisation.<br><br>TargetUp University propose des formations certifiantes reconnues internationalement (AIAE & EOQM), financées jusqu\\x27à 100% via CSF et OFPPT — pour faire monter en compétence vos équipes et répondre aux exigences réglementaires actuelles.</p><div class=\"kpis\"><div class=\"kpi\"><div class=\"val\">100%</div><div class=\"lbl\">financement possible CSF/OFPPT</div></div><div class=\"kpi\"><div class=\"val\">×3</div><div class=\"lbl\">ROI formation (McKinsey)</div></div><div class=\"kpi\"><div class=\"val\">–30%</div><div class=\"lbl\">turnover après certification</div></div><div class=\"kpi\"><div class=\"val\">28</div><div class=\"lbl\">marchés africains 2030</div></div></div><div class=\"services\"><h3>Nos formations recommandées pour ' + $json.entreprise + '</h3><ul><li>✅ <strong>Lean Six Sigma (Yellow, Green, Black Belt)</strong> — Réduisez les gaspillages de 20 à 50%, optimisez vos processus RH et opérationnels</li><li>✅ <strong>Lead Auditor ISO 9001 / 45001 / 14001 (PECB)</strong> — Certifiez vos auditeurs internes, accrédités AIAE & EOQM</li><li>✅ <strong>DBA & MSc Management / Leadership</strong> — Diplômes internationaux reconnus, finançables CSF/OFPPT</li><li>✅ <strong>VAE personnalisée & Ingénierie de formation</strong> — Plans formation sur mesure alignés GPEC</li><li>✅ <strong>Accompagnement CSRD & Reporting RH</strong> — Répondez aux nouvelles obligations légales ESG</li><li>✅ <strong>Certification ISO 37301 Conformité</strong> — Gouvernance, anti-corruption, conformité réglementaire</li></ul></div><div class=\"urgency\">⚡ <strong>Dotations CSF limitées !</strong><br>Les budgets de formation CSF et OFPPT s\\x27épuisent en cours d\\x27année. Les entreprises qui planifient tôt accèdent à 80–100% de prise en charge. Contactez-nous maintenant pour sécuriser votre budget formation 2026 avant clôture des dossiers.</div><div class=\"faq\"><h3>Questions fréquentes</h3><div class=\"faq-item\"><div class=\"q\">Vos formations sont-elles finançables CSF / OFPPT ?</div><div class=\"a\">OUI. TargetUp University est agréé CSF (100% des plans formation) et OFPPT. Nous montons les dossiers de financement à votre place.</div></div><div class=\"faq-item\"><div class=\"q\">Vos certifications sont-elles reconnues à l\\x27international ?</div><div class=\"a\">Absolument. TargetUp est accrédité AIAE (USA) et EOQM (UK). Nos certifications PECB/ISO sont reconnues dans 150+ pays.</div></div><div class=\"faq-item\"><div class=\"q\">Peut-on former des équipes à distance ou en présentiel ?</div><div class=\"a\">Les deux. TargetUp opère en mode 100% hybride — formations sur site, à distance ou mixte, selon vos besoins.</div></div></div><div class=\"pdf-notice\">📎 Notre <strong>catalogue de formations TargetUp University 2026</strong> est en pièce jointe — programmes, modalités de financement et planning des sessions.</div><div class=\"cta\"><a href=\"https://university.targetupconsulting.com\">Voir notre catalogue formations →</a></div><div class=\"signature\"><strong>L\\x27équipe TargetUp Group</strong><div class=\"sig-details\">📞 +212 684 48 17 30 &nbsp;|&nbsp; 📞 +212 684 77 88 54<br>📧 sales@targetupconsulting.com<br>🌐 targetupconsulting.com &nbsp;|&nbsp; university.targetupconsulting.com<br>📍 17 Rue Jbel Moussa, Rabat 10090, Maroc &nbsp;|&nbsp; Cardiff CF14 8LH, Royaume-Uni</div></div></div><div class=\"footer\">Vous recevez cet email car vous faites partie de notre réseau professionnel. Pour vous désabonner, répondez avec « STOP » dans l\\x27objet.</div></div></body></html>' }}"},"id":"2040fd8f-dec1-4a17-b8d8-b9ae66a2eb13","name":"HTML - Template RH Formation","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1024,1088]},{"parameters":{"url":"https://docs.google.com/presentation/d/1IgvCTyXVzE5LlP2HWss9l1uPyKVWJU6A/export/pdf","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf_attachment"}}}},"id":"d4d95fb7-33fe-47ab-933c-a9be8bb544bc","name":"HTTP - PDF pour Dirigeants","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,768],"notes":"⚙️ Remplacer VOTRE_PDF_GOOGLE_DRIVE_ID par l'ID du PDF TargetUp 2026"},{"parameters":{"url":"https://docs.google.com/presentation/d/1IgvCTyXVzE5LlP2HWss9l1uPyKVWJU6A/export/pdf","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf_attachment"}}}},"id":"f04ff0b2-623a-4bbd-a9fe-ef612f0ae9dd","name":"HTTP - PDF pour RH","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,1088],"notes":"⚙️ Même PDF ou un PDF spécifique RH si vous en avez un"},{"parameters":{"sendTo":"=={{ $json.toEmail }}","subject":"={{ $('Set - Variables Dirigeants').first().json.subject }}","message":"={{ $('HTML - Template Dirigeants').first().json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"pdf_attachment"}]},"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com"}},"id":"f9a30444-affc-4619-85b7-0e69b85ade4a","name":"Gmail - Envoi Dirigeants","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-384,768],"webhookId":"ab75f522-b463-4005-91b0-c0a7a70e2fd9","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"=={{ $json.toEmail }}","subject":"={{ $('Set - Variables RH Formation').item.json.subject }}","message":"={{ $('HTML - Template RH Formation').item.json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"pdf_attachment"}]},"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com "}},"id":"b67bb5d8-4a5f-4746-b95e-e0ef74d43e01","name":"Gmail - Envoi RH Formation","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-384,1088],"webhookId":"c5d22f54-45d2-4791-9499-ce43df0e856b","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"=={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["Email"],"schema":[{"id":"Prenom","displayName":"Prenom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Poste","displayName":"Poste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"624ca208-c766-4c01-b954-ef127e782e8a","name":"Sheets - Marquer OUI Dirigeants","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,768],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"=={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["Email"],"schema":[{"id":"Prenom","displayName":"Prenom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Poste","displayName":"Poste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"782eb399-73a3-469a-ad16-39f1e3d43dd4","name":"Sheets - Marquer OUI RH","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,1088],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{"amount":15},"id":"e2fd8a4e-1464-47fb-94e6-77180d666474","name":"Wait 15s - Dirigeants","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,768],"webhookId":"4e9b3f69-547f-4b4d-8af9-37935654ea27"},{"parameters":{"amount":15},"id":"60ffebc3-4173-4e93-be34-66f4b0fd2725","name":"Wait 15s - RH","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,1088],"webhookId":"68a4882b-2a76-40d6-89fb-36ca14f58a4f"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":77176399,"mode":"list","cachedResultName":"Log_Erreurs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=77176399"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Segment":"={{ $json.segment }}","Email":"={{ $json.toEmail }}","Nom":"={{ $json.prenom + ' ' + $json.nom }}","Entreprise":"={{ $json.entreprise }}","Erreur":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Erreur","displayName":"Erreur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e170bda5-56b2-4ce1-9d96-297358665f4c","name":"Sheets - Log Erreurs","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,928],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}}},{"parameters":{},"id":"bb741d3a-9e1e-44c9-965a-6c4d351d2774","name":"NoOp - Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[272,928]},{"parameters":{"content":"## ⏰ Déclenchement Automatique\nCampagne lancée automatiquement\ntous les jours à 07h00.\n\nLe workflow reprend automatiquement\nlà où il s'est arrêté grâce au\nfiltre Envoyé = OUI.\n\nSegments traités :\n- Dirigeants : 33 235 contacts\n- RH Formation : 3 266 contacts\n- Batch : 50 contacts / exécution\n- Attente : 15s entre chaque batch","height":344,"width":360},"id":"c0ae66bb-6f07-4e91-b78e-215b57ce3881","name":"Note - Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2688,736]},{"parameters":{"content":"## 📋 Lecture contacts\nRécupère tous les contacts\ndu Google Sheets.\n**152 600 contacts** au total\n(Dirigeants + RH Formation).","height":344,"width":364},"id":"805310fe-352e-4b6d-9a17-b2d3d764477c","name":"Note - Sheets","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2320,736]},{"parameters":{"content":"## 🔄 Traitement par lots\nDécoupe la liste en **groupes de 50**.\nFiltre les contacts :\n- Email valide\n- Non encore envoyé\n- Segment ciblé","height":344,"width":420},"id":"722a5079-a2d4-48b5-b33e-9b77f16c8974","name":"Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1952,736]},{"parameters":{"content":"## 🎯 Segmentation\nSépare les contacts en\n2 chemins parallèles :\n\n**↑ Dirigeants** — 33 235 contacts\nMessage adapté au poste\n(DG, Commercial, Financier…)\n\n**↓ RH Formation** — 3 266 contacts\nMessage formations certifiantes","height":328,"width":220},"id":"02326795-02c8-44df-a4b2-38d23445b337","name":"Note - Segment","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,592]},{"parameters":{"content":"## ✉️ Personnalisation & Envoi — Dirigeants\nGénère un message HTML personnalisé selon le poste :\n- **DG/CEO** → Vision stratégique, ESG, ZLECAF\n- **Dir. Commercial** → ISO 9001, CRM Odoo, Export\n- **Dir. Financier** → Réduction coûts, ERP Finance\n- **Dir. Technique** → ISO 45001, Lean, Production\n- **Fondateur** → Structuration, financement, croissance\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":300,"width":664},"id":"3b609dbb-37bf-466a-8723-20c851bbd670","name":"Note - Dirigeants","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1248,432]},{"parameters":{"content":"## 📚 Personnalisation & Envoi — RH Formation\nGénère un message HTML dédié aux profils RH :\n- Lean Six Sigma, Lead Auditor ISO\n- Management & Leadership\n- GPEC, CSRD & Reporting RH\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":268,"width":680},"id":"be36392e-64e4-463d-b26a-a86d2570b564","name":"Note - RH Formation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1296]},{"parameters":{"content":"## ❌ Gestion erreurs\nEn cas d'échec d'envoi Gmail,\nl'erreur est enregistrée dans\nl'onglet **Log_Erreurs** du sheet\navec : date, email, nom,\nentreprise et message d'erreur.","height":248,"width":312},"id":"0f66dac2-4407-4cd5-827a-f2318b181fa2","name":"Note - Erreurs","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,496]},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2432,928],"id":"6c38bb83-22c6-422b-a656-878268cd5fdc","name":"Schedule Trigger"}],"connections":{"Google Sheets - Lire contacts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Filter - Email valide et non envoyé","type":"main","index":0}]]},"Filter - Email valide et non envoyé":{"main":[[{"node":"IF - Segment ?","type":"main","index":0}]]},"IF - Segment ?":{"main":[[{"node":"Set - Variables Dirigeants","type":"main","index":0}],[{"node":"Set - Variables RH Formation","type":"main","index":0}]]},"Set - Variables Dirigeants":{"main":[[{"node":"HTML - Template Dirigeants","type":"main","index":0}]]},"Set - Variables RH Formation":{"main":[[{"node":"HTML - Template RH Formation","type":"main","index":0}]]},"HTML - Template Dirigeants":{"main":[[{"node":"HTTP - PDF pour Dirigeants","type":"main","index":0}]]},"HTML - Template RH Formation":{"main":[[{"node":"HTTP - PDF pour RH","type":"main","index":0}]]},"HTTP - PDF pour Dirigeants":{"main":[[{"node":"Gmail - Envoi Dirigeants","type":"main","index":0}]]},"HTTP - PDF pour RH":{"main":[[{"node":"Gmail - Envoi RH Formation","type":"main","index":0}]]},"Gmail - Envoi Dirigeants":{"main":[[{"node":"Sheets - Marquer OUI Dirigeants","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Gmail - Envoi RH Formation":{"main":[[{"node":"Sheets - Marquer OUI RH","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Sheets - Marquer OUI Dirigeants":{"main":[[{"node":"Wait 15s - Dirigeants","type":"main","index":0}]]},"Sheets - Marquer OUI RH":{"main":[[{"node":"Wait 15s - RH","type":"main","index":0}]]},"Wait 15s - Dirigeants":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Wait 15s - RH":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"NoOp - Fin","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets - Lire contacts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2099b521-416d-4476-ba00-8edad3f102ea","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T10:14:45.941Z","createdAt":"2026-04-16T10:14:45.941Z","role":"workflow:owner","workflowId":"orV116VdNxxkoq9F","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}