targetup-outreach-orV116VdNxxkoq9F.json
{"updatedAt":"2026-04-23T10:02:55.827Z","createdAt":"2026-04-16T10:14:45.937Z","id":"orV116VdNxxkoq9F","name":"TargetUp_OutReach","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5b7fc982-9dd4-4260-95b5-6cee9f61c91e","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1168,432]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"VOTRE_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Feuille1"},"options":{}},"id":"1a549eb6-951b-4f4c-a7ca-d3fc9aca0f0e","name":"Google Sheets - Lire contacts","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-960,432],"credentials":{"googleSheetsOAuth2Api":{"id":"fcmrqS4ndw8ieJFa","name":"Google Sheets account"}}},{"parameters":{"batchSize":50,"options":{}},"id":"4473a7d5-ce00-4241-ba4b-c6bcc1c368d3","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"c1","leftValue":"={{ $json['Envoyé'] }}","rightValue":"OUI","operator":{"type":"string","operation":"notEquals"}},{"id":"c2","leftValue":"={{ $json['Email'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"7a84eb7a-299e-46d2-ac6f-9287a12f4754","name":"Filter - Email valide et non envoyé","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-560,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"seg1","leftValue":"={{ $json['Segment'] }}","rightValue":"Dirigeants","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"959ca3fc-9acb-4285-bf3b-6a4bec9cec2c","name":"IF - Segment ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,432],"notes":"True = Dirigeants | False = RH_Formation et autres"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) dirigeant(e)' }}","type":"string"},{"id":"a2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"a3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"a4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre entreprise' }}","type":"string"},{"id":"a5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"a6","name":"segment","value":"Dirigeants","type":"string"},{"id":"a7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"a8","name":"subject","value":"={{ 'TargetUp Group – Solution sur mesure pour ' + ($json['Entreprise'] || 'votre organisation') }}","type":"string"},{"id":"a9","name":"type_dirigeant","value":"={{ (() => { const p = ($json['Poste'] || '').toLowerCase(); if (['ceo','pdg','dg ','directeur général','general manager','managing director','chief executive','president directeur'].some(x => p.includes(x))) return 'DG'; else if (['directeur commercial','sales director','directeur ventes','director commercial'].some(x => p.includes(x))) return 'COMMERCIAL'; else if (['directeur financier','cfo','directeur administratif','daf'].some(x => p.includes(x))) return 'FINANCIER'; else if (['directeur technique','cto','directeur operations','directeur production'].some(x => p.includes(x))) return 'TECHNIQUE'; else if (['founder','fondateur','co-founder'].some(x => p.includes(x))) return 'FONDATEUR'; else return 'DIRIGEANT'; })() }}","type":"string"}]},"options":{}},"id":"c4591354-93e5-4740-bb58-a88878bde0f1","name":"Set - Variables Dirigeants","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,272]},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) professionnel(le)' }}","type":"string"},{"id":"b2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"b3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"b4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre organisation' }}","type":"string"},{"id":"b5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"b6","name":"segment","value":"RH_Formation","type":"string"},{"id":"b7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"b8","name":"subject","value":"={{ 'TargetUp Group – Formations certifiantes pour ' + ($json['Entreprise'] || 'votre équipe') }}","type":"string"}]},"options":{}},"id":"55b9e3fa-3b2f-4d5b-b1bb-74364434e8d8","name":"Set - Variables RH Formation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,592]},{"parameters":{"html":"{{ (() => { const p = $json.prenom; const n = $json.nom; const e = $json.entreprise; const poste = $json.poste; const t = $json.type_dirigeant; let accroche = ''; let services = ''; let cta_text = ''; if (t === 'DG') { accroche = 'En tant que Directeur Général de <strong>' + e + '</strong>, votre priorité est de maintenir la compétitivité et d\\'assurer la conformité de votre organisation face aux exigences du marché.'; services = '<li>✅ <strong>Certification ISO 9001</strong> — Structurez vos processus et décrochez de nouveaux marchés</li><li>✅ <strong>Stratégie ESG & RSE</strong> — Accédez aux financements verts et investisseurs internationaux</li><li>✅ <strong>ERP Odoo</strong> — Pilotez toute votre entreprise depuis un seul tableau de bord</li><li>✅ <strong>Programme Export ZLECAF</strong> — Développez votre présence sur les marchés africains</li>'; cta_text = 'Planifier un échange stratégique →'; } else if (t === 'COMMERCIAL') { accroche = 'En tant que Directeur Commercial de <strong>' + e + '</strong>, vous cherchez à conquérir de nouveaux marchés et à maximiser votre performance commerciale.'; services = '<li>✅ <strong>Certification ISO 9001</strong> — Renforcez votre crédibilité auprès de vos clients</li><li>✅ <strong>Formation Lean & Six Sigma</strong> — Optimisez vos processus de vente et réduisez les délais</li><li>✅ <strong>Programme Export Maroc / ZLECAF</strong> — Ouvrez de nouveaux marchés avec des subventions jusqu\\'à 80%</li><li>✅ <strong>ERP Odoo CRM</strong> — Centralisez vos opportunités et suivez vos performances en temps réel</li>'; cta_text = 'Discuter de votre développement commercial →'; } else if (t === 'FINANCIER') { accroche = 'En tant que Directeur Financier de <strong>' + e + '</strong>, vous gérez la performance économique et cherchez à optimiser les coûts tout en sécurisant la conformité.'; services = '<li>✅ <strong>Audit & Optimisation des processus</strong> — Réduisez vos coûts opérationnels de 15 à 25%</li><li>✅ <strong>Certification ISO 9001</strong> — Réduisez les non-conformités coûteuses</li><li>✅ <strong>ERP Odoo Finance</strong> — Automatisez votre comptabilité, facturation et reporting</li><li>✅ <strong>Accompagnement aux financements publics</strong> — Mobilisez les subventions disponibles pour votre secteur</li>'; cta_text = 'Optimiser votre performance financière →'; } else if (t === 'TECHNIQUE') { accroche = 'En tant que Directeur Technique de <strong>' + e + '</strong>, vous êtes en charge de la performance opérationnelle et de la qualité de production.'; services = '<li>✅ <strong>Certification ISO 45001</strong> — Sécurisez vos équipes et réduisez les accidents</li><li>✅ <strong>Lean Manufacturing & 5S</strong> — Augmentez votre productivité de 15 à 20%</li><li>✅ <strong>ERP Odoo Production</strong> — Gérez nomenclatures, ordres de fabrication et stocks en temps réel</li><li>✅ <strong>Certification ISO 14001</strong> — Maîtrisez votre impact environnemental et accédez aux labels durables</li>'; cta_text = 'Améliorer votre performance technique →'; } else if (t === 'FONDATEUR') { accroche = 'En tant que fondateur de <strong>' + e + '</strong>, vous portez une vision entrepreneuriale et cherchez à structurer votre croissance durablement.'; services = '<li>✅ <strong>Accompagnement stratégique sur mesure</strong> — De la structuration à la certification</li><li>✅ <strong>Accès aux financements publics</strong> — Subventions jusqu\\'à 90% pour votre développement</li><li>✅ <strong>ERP Odoo</strong> — La colonne vertébrale digitale de votre entreprise dès sa croissance</li><li>✅ <strong>Programme ZLECAF & Export</strong> — Rayonnez sur les marchés africains et européens</li>'; cta_text = 'Accélérer la croissance de votre entreprise →'; } else { accroche = 'En tant que dirigeant de <strong>' + e + '</strong>, vous avez des enjeux de performance, de conformité et de développement que TargetUp Group peut vous aider à relever.'; services = '<li>✅ <strong>Certifications ISO</strong> (9001, 22000, 45001, 14001, 27001…)</li><li>✅ <strong>Formation professionnelle</strong> financée jusqu\\'à 70%</li><li>✅ <strong>ERP Odoo</strong> — digitalisation complète de vos processus</li><li>✅ <strong>Développement commercial</strong> Afrique & Europe</li>'; cta_text = 'Découvrir nos solutions →'; } return '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;color:#222;background:#f6f6f6;margin:0;padding:0}.container{max-width:620px;margin:30px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)}.header{background:#1a2e4a;padding:28px 36px;text-align:center}.header h1{color:#fff;font-size:22px;margin:0;letter-spacing:1px}.header p{color:#a0b4cc;font-size:13px;margin:6px 0 0}.body{padding:32px 36px}.greeting{font-size:16px;font-weight:bold;margin-bottom:16px}.intro{font-size:14px;line-height:1.7;color:#444;margin-bottom:24px}.services{background:#f0f5ff;border-left:4px solid #1a2e4a;border-radius:4px;padding:18px 22px;margin-bottom:24px}.services h3{color:#1a2e4a;font-size:14px;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px}.services ul{margin:0;padding-left:18px}.services ul li{font-size:13px;color:#333;margin-bottom:8px;line-height:1.5}.cta{text-align:center;margin:28px 0}.cta a{background:#1a2e4a;color:#fff;padding:13px 32px;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;display:inline-block}.pdf-notice{background:#fff8e1;border:1px solid #ffe082;border-radius:4px;padding:12px 16px;font-size:13px;color:#7a5c00;margin-bottom:24px}.signature{border-top:1px solid #eee;padding-top:20px;font-size:13px;color:#555}.signature strong{color:#1a2e4a}.footer{background:#f0f0f0;text-align:center;padding:14px;font-size:11px;color:#999}</style></head><body><div class=\"container\"><div class=\"header\"><h1>TargetUp Group</h1><p>Consulting · Certification ISO · Formation · ERP Odoo</p></div><div class=\"body\"><p class=\"greeting\">Bonjour ' + p + ' ' + n + ',</p><p class=\"intro\">' + accroche + '<br><br>TargetUp Group accompagne les entreprises africaines et européennes dans leur transformation — de la certification ISO à l\\'intégration ERP Odoo, en passant par la formation certifiante financée et le développement export.</p><div class=\"services\"><h3>Nos recommandations pour ' + e + '</h3><ul>' + services + '</ul></div><div class=\"pdf-notice\">📎 Notre <strong>présentation complète 2026</strong> est en pièce jointe — découvrez tous nos services, références clients et programmes de financement disponibles.</div><div class=\"cta\"><a href=\"https://www.targetup.ma\">' + cta_text + '</a></div><div class=\"signature\"><strong>L\\'équipe TargetUp Group</strong><br>📞 +212 684 48 17 30<br>🌐 www.targetup.ma<br>📧 contact@targetup.ma</div></div><div class=\"footer\">Vous recevez cet email car vous faites partie de notre réseau professionnel.<br>Pour vous désabonner, répondez avec « STOP » dans l\\'objet.</div></div></body></html>'; })()\n}}"},"id":"b0a75ddb-80c4-4a97-9361-b6155102b8ea","name":"HTML - Template Dirigeants","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[112,272]},{"parameters":{"html":"{{ '<<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;color:#222;background:#f6f6f6;margin:0;padding:0}.container{max-width:620px;margin:30px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)}.header{background:#1d4a2e;padding:28px 36px;text-align:center}.header h1{color:#fff;font-size:22px;margin:0;letter-spacing:1px}.header p{color:#a0ccb4;font-size:13px;margin:6px 0 0}.body{padding:32px 36px}.greeting{font-size:16px;font-weight:bold;margin-bottom:16px}.intro{font-size:14px;line-height:1.7;color:#444;margin-bottom:24px}.services{background:#f0fff5;border-left:4px solid #1d4a2e;border-radius:4px;padding:18px 22px;margin-bottom:24px}.services h3{color:#1d4a2e;font-size:14px;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px}.services ul{margin:0;padding-left:18px}.services ul li{font-size:13px;color:#333;margin-bottom:8px;line-height:1.5}.cta{text-align:center;margin:28px 0}.cta a{background:#1d4a2e;color:#fff;padding:13px 32px;border-radius:5px;text-decoration:none;font-size:14px;font-weight:bold;display:inline-block}.pdf-notice{background:#fff8e1;border:1px solid #ffe082;border-radius:4px;padding:12px 16px;font-size:13px;color:#7a5c00;margin-bottom:24px}.signature{border-top:1px solid #eee;padding-top:20px;font-size:13px;color:#555}.signature strong{color:#1d4a2e}.footer{background:#f0f0f0;text-align:center;padding:14px;font-size:11px;color:#999}</style></head><body><div class=\"container\"><div class=\"header\"><h1>TargetUp Group</h1><p>Formation Certifiante · Développement RH · Lean · ISO</p></div><div class=\"body\"><p class=\"greeting\">Bonjour ' + $json.prenom + ' ' + $json.nom + ',</p><p class=\"intro\">En tant que <strong>' + $json.poste + '</strong> chez <strong>' + $json.entreprise + '</strong>, vous jouez un rôle clé dans le développement des compétences et la performance humaine de votre organisation.<br><br>TargetUp Group propose des formations certifiantes reconnues, financées jusqu\\x27à 70%, pour faire monter en compétence vos équipes et répondre aux exigences réglementaires actuelles.</p><div class=\"services\"><h3>Nos formations recommandées pour ' + $json.entreprise + '</h3><ul><li>✅ <strong>Lean Six Sigma (Yellow, Green, Black Belt)</strong> — Réduisez les gaspillages et optimisez vos processus RH</li><li>✅ <strong>Lead Auditor ISO 9001 / ISO 45001</strong> — Certifiez vos auditeurs internes</li><li>✅ <strong>Formation Management & Leadership</strong> — Développez vos managers de demain</li><li>✅ <strong>Gestion prévisionnelle des emplois (GPEC)</strong> — Anticipez les besoins en compétences</li><li>✅ <strong>Accompagnement CSRD & Reporting RH</strong> — Répondez aux nouvelles obligations légales</li></ul></div><div class=\"pdf-notice\">📎 Notre <strong>catalogue de formations 2026</strong> est en pièce jointe — avec les modalités de financement disponibles pour votre secteur.</div><div class=\"cta\"><a href=\"https://www.targetup.ma\">Voir notre catalogue formations →</a></div><div class=\"signature\"><strong>L\\x27équipe TargetUp Group</strong><br>📞 +212 684 48 17 30<br>🌐 www.targetup.ma<br>📧 contact@targetup.ma</div></div><div class=\"footer\">Vous recevez cet email car vous faites partie de notre réseau professionnel.<br>Pour vous désabonner, répondez avec « STOP » dans l\\x27objet.</div></div></body></html>' }}"},"id":"06c1eff1-b17a-4dff-a4b6-9d328e29b4fb","name":"HTML - Template RH Formation","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[112,592]},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=VOTRE_PDF_GOOGLE_DRIVE_ID","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf_attachment"}}}},"id":"15a16ba3-6f3a-4c7e-b746-ef9c36b9992d","name":"HTTP - PDF pour Dirigeants","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,272],"notes":"⚙️ Remplacer VOTRE_PDF_GOOGLE_DRIVE_ID par l'ID du PDF TargetUp 2026"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=VOTRE_PDF_GOOGLE_DRIVE_ID","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf_attachment"}}}},"id":"4a2c64a1-14d4-4272-93c4-9139f3d50044","name":"HTTP - PDF pour RH","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,592],"notes":"⚙️ Même PDF ou un PDF spécifique RH si vous en avez un"},{"parameters":{"sendTo":"={{ $('Set - Variables Dirigeants').item.json.toEmail }}","subject":"={{ $('Set - Variables Dirigeants').item.json.subject }}","message":"={{ $('HTML - Template Dirigeants').item.json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"pdf_attachment"}]}}},"id":"441ad4fe-0f87-4da3-8293-d2407173e21f","name":"Gmail - Envoi Dirigeants","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,272],"webhookId":"ab75f522-b463-4005-91b0-c0a7a70e2fd9"},{"parameters":{"sendTo":"={{ $('Set - Variables RH Formation').item.json.toEmail }}","subject":"={{ $('Set - Variables RH Formation').item.json.subject }}","message":"={{ $('HTML - Template RH Formation').item.json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"pdf_attachment"}]}}},"id":"e84daa54-2dcc-41e5-bd92-4b96cad58a9f","name":"Gmail - Envoi RH Formation","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,592],"webhookId":"c5d22f54-45d2-4791-9499-ce43df0e856b"},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"VOTRE_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Feuille1"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Set - Variables Dirigeants').item.json.row_number }}","Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Envoyé","displayName":"Envoyé","type":"string","display":true,"canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","type":"string","display":true,"canBeUsedToMatch":false},{"id":"row_number","displayName":"row_number","type":"number","display":true,"canBeUsedToMatch":true,"readOnly":true}]},"options":{}},"id":"8a8c8066-2b09-46df-98b0-7f2825194496","name":"Sheets - Marquer OUI Dirigeants","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[768,272]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"VOTRE_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Feuille1"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Set - Variables RH Formation').item.json.row_number }}","Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Envoyé","displayName":"Envoyé","type":"string","display":true,"canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","type":"string","display":true,"canBeUsedToMatch":false},{"id":"row_number","displayName":"row_number","type":"number","display":true,"canBeUsedToMatch":true,"readOnly":true}]},"options":{}},"id":"9e7bd4e0-13a4-4890-8d4c-5ca0dde1b0ff","name":"Sheets - Marquer OUI RH","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[768,592]},{"parameters":{"amount":15},"id":"c35db894-1412-41ca-84b8-9cd77d918dea","name":"Wait 15s - Dirigeants","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,272],"webhookId":"4e9b3f69-547f-4b4d-8af9-37935654ea27"},{"parameters":{"amount":15},"id":"730b3cee-fd3a-49a5-a7c9-939d77c30846","name":"Wait 15s - RH","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,592],"webhookId":"68a4882b-2a76-40d6-89fb-36ca14f58a4f"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"VOTRE_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"VOTRE_LOG_SHEET_ID","cachedResultName":"Log_Erreurs"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Segment":"={{ $json.segment || '' }}","Email":"={{ $json.toEmail || '' }}","Nom":"={{ ($json.prenom || '') + ' ' + ($json.nom || '') }}","Entreprise":"={{ $json.entreprise || '' }}","Erreur":"={{ $json.error || 'Erreur inconnue' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","type":"string","display":true},{"id":"Segment","displayName":"Segment","type":"string","display":true},{"id":"Email","displayName":"Email","type":"string","display":true},{"id":"Nom","displayName":"Nom","type":"string","display":true},{"id":"Entreprise","displayName":"Entreprise","type":"string","display":true},{"id":"Erreur","displayName":"Erreur","type":"string","display":true}]},"options":{}},"id":"ca7d89c3-6beb-485f-a77b-a46be3beeb03","name":"Sheets - Log Erreurs","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[768,432]},{"parameters":{},"id":"be007221-4c25-4a4f-a1a4-c47dfcda682f","name":"NoOp - Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,432]},{"parameters":{"content":"## 🚀 Déclenchement\nLancement manuel de la campagne.\nCliquez sur **Execute workflow**\npour démarrer l'envoi.","height":344,"width":248},"id":"f184a5f0-b63d-4a2b-ab9e-554b3dfd9f49","name":"Note - Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,240]},{"parameters":{"content":"## 📋 Lecture contacts\nRécupère tous les contacts\ndu Google Sheets.\n**152 600 contacts** au total\n(Dirigeants + RH Formation).","height":344,"width":200},"id":"9d066a62-b889-41dc-a8e3-41355ae12bd7","name":"Note - Sheets","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,240]},{"parameters":{"content":"## 🔄 Traitement par lots\nDécoupe la liste en **groupes de 50**.\nFiltre les contacts :\n- Email valide\n- Non encore envoyé\n- Segment ciblé","height":344,"width":420},"id":"fbc340d3-5eb5-438e-a2dc-3cc7d3daa236","name":"Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,240]},{"parameters":{"content":"## 🎯 Segmentation\nSépare les contacts en\n2 chemins parallèles :\n\n**↑ Dirigeants** — 33 235 contacts\nMessage adapté au poste\n(DG, Commercial, Financier…)\n\n**↓ RH Formation** — 3 266 contacts\nMessage formations certifiantes","height":328,"width":220},"id":"36a71385-7735-48ad-a629-81827e53129a","name":"Note - Segment","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,96]},{"parameters":{"content":"## ✉️ Personnalisation & Envoi — Dirigeants\nGénère un message HTML personnalisé selon le poste :\n- **DG/CEO** → Vision stratégique, ESG, ZLECAF\n- **Dir. Commercial** → ISO 9001, CRM Odoo, Export\n- **Dir. Financier** → Réduction coûts, ERP Finance\n- **Dir. Technique** → ISO 45001, Lean, Production\n- **Fondateur** → Structuration, financement, croissance\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":300,"width":664},"id":"b1ff2ecb-b422-4996-b99d-30c9e2303fdd","name":"Note - Dirigeants","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-64]},{"parameters":{"content":"## 📚 Personnalisation & Envoi — RH Formation\nGénère un message HTML dédié aux profils RH :\n- Lean Six Sigma, Lead Auditor ISO\n- Management & Leadership\n- GPEC, CSRD & Reporting RH\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":268,"width":680},"id":"f8acbc04-36e1-4086-b9bb-6475c68a9417","name":"Note - RH Formation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,800]},{"parameters":{"content":"## ❌ Gestion erreurs\nEn cas d'échec d'envoi Gmail,\nl'erreur est enregistrée dans\nl'onglet **Log_Erreurs** du sheet\navec : date, email, nom,\nentreprise et message d'erreur.","height":248,"width":312},"id":"8da453ca-2b2c-44ce-b61a-7731a3c0788c","name":"Note - Erreurs","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,0]}],"connections":{"Manual Trigger":{"main":[[{"node":"Google Sheets - Lire contacts","type":"main","index":0}]]},"Google Sheets - Lire contacts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Filter - Email valide et non envoyé","type":"main","index":0}]]},"Filter - Email valide et non envoyé":{"main":[[{"node":"IF - Segment ?","type":"main","index":0}]]},"IF - Segment ?":{"main":[[{"node":"Set - Variables Dirigeants","type":"main","index":0}],[{"node":"Set - Variables RH Formation","type":"main","index":0}]]},"Set - Variables Dirigeants":{"main":[[{"node":"HTML - Template Dirigeants","type":"main","index":0}]]},"Set - Variables RH Formation":{"main":[[{"node":"HTML - Template RH Formation","type":"main","index":0}]]},"HTML - Template Dirigeants":{"main":[[{"node":"HTTP - PDF pour Dirigeants","type":"main","index":0}]]},"HTML - Template RH Formation":{"main":[[{"node":"HTTP - PDF pour RH","type":"main","index":0}]]},"HTTP - PDF pour Dirigeants":{"main":[[{"node":"Gmail - Envoi Dirigeants","type":"main","index":0}]]},"HTTP - PDF pour RH":{"main":[[{"node":"Gmail - Envoi RH Formation","type":"main","index":0}]]},"Gmail - Envoi Dirigeants":{"main":[[{"node":"Sheets - Marquer OUI Dirigeants","type":"main","index":0}]]},"Gmail - Envoi RH Formation":{"main":[[{"node":"Sheets - Marquer OUI RH","type":"main","index":0}]]},"Sheets - Marquer OUI Dirigeants":{"main":[[{"node":"Wait 15s - Dirigeants","type":"main","index":0}]]},"Sheets - Marquer OUI RH":{"main":[[{"node":"Wait 15s - RH","type":"main","index":0}]]},"Wait 15s - Dirigeants":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Wait 15s - RH":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"NoOp - Fin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3cb1c238-257d-40b8-9941-d8aefaf16e94","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T10:14:45.941Z","createdAt":"2026-04-16T10:14:45.941Z","role":"workflow:owner","workflowId":"orV116VdNxxkoq9F","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}