targetup-outreach-orV116VdNxxkoq9F.json
{"updatedAt":"2026-05-05T15:38:34.917Z","createdAt":"2026-04-16T10:14:45.937Z","id":"orV116VdNxxkoq9F","name":"TargetUp_OutReach","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"filtersUI":{"values":[]},"options":{}},"id":"76615004-fa98-4aca-947b-f4e69e29ff29","name":"Google Sheets - Lire contacts","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2208,928],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"id":"8c739d8b-eec4-422d-8430-6b2b9b000057","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1712,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json['Envoyé'] }}","rightValue":"OUI","operator":{"type":"string","operation":"notEquals"}},{"id":"c2","leftValue":"={{ $json['Email'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"fb235c38-8bc4-4cc7-a2f3-5eb210d3aa7e","name":"Filter - Email valide et non envoyé","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1488,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"seg1","leftValue":"={{ $json['Segment'] }}","rightValue":"Dirigeants","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2814cb6b-33dd-4710-96a4-535abe7271df","name":"IF - Segment ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,928],"notes":"True = Dirigeants | False = RH_Formation et autres"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) dirigeant(e)' }}","type":"string"},{"id":"a2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"a3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"a4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre entreprise' }}","type":"string"},{"id":"a5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"a6","name":"segment","value":"Dirigeants","type":"string"},{"id":"a7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"a8","name":"subject","value":"={{ 'TargetUp Group – Solution sur mesure pour ' + ($json['Entreprise'] || 'votre organisation') }}","type":"string"},{"id":"a9","name":"type_dirigeant","value":"={{ (() => { const p = ($json['Poste'] || '').toLowerCase(); if (['ceo','pdg','dg ','directeur général','general manager','managing director','chief executive','president directeur'].some(x => p.includes(x))) return 'DG'; else if (['directeur commercial','sales director','directeur ventes','director commercial'].some(x => p.includes(x))) return 'COMMERCIAL'; else if (['directeur financier','cfo','directeur administratif','daf'].some(x => p.includes(x))) return 'FINANCIER'; else if (['directeur technique','cto','directeur operations','directeur production'].some(x => p.includes(x))) return 'TECHNIQUE'; else if (['founder','fondateur','co-founder'].some(x => p.includes(x))) return 'FONDATEUR'; else return 'DIRIGEANT'; })() }}","type":"string"}]},"options":{}},"id":"b938d61d-cf08-4f3a-a109-fb5f5fa63dc9","name":"Set - Variables Dirigeants","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,768]},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"prenom","value":"={{ $json['Prenom'] || 'Cher(e) professionnel(le)' }}","type":"string"},{"id":"b2","name":"nom","value":"={{ $json['Nom'] || '' }}","type":"string"},{"id":"b3","name":"toEmail","value":"={{ $json['Email'] }}","type":"string"},{"id":"b4","name":"entreprise","value":"={{ $json['Entreprise'] || 'votre organisation' }}","type":"string"},{"id":"b5","name":"poste","value":"={{ $json['Poste'] || '' }}","type":"string"},{"id":"b6","name":"segment","value":"RH_Formation","type":"string"},{"id":"b7","name":"row_number","value":"={{ $json['row_number'] }}","type":"number"},{"id":"b8","name":"subject","value":"={{ 'TargetUp Group – Formations certifiantes pour ' + ($json['Entreprise'] || 'votre équipe') }}","type":"string"}]},"options":{}},"id":"593459c1-91e7-4a0a-9c45-5746fba1d0a1","name":"Set - Variables RH Formation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,1088]},{"parameters":{"html":"{{ (() => {\n  const p = $json.prenom;\n  const n = $json.nom;\n  const e = $json.entreprise;\n  const poste = $json.poste;\n  const t = $json.type_dirigeant;\n\n  let accroche = '';\n  let services = '';\n  let hook = '';\n  let cta_text = '';\n  let badge_urgence = '';\n\n  if (t === 'DG') {\n    accroche = 'En tant que Directeur G\\u00e9n\\u00e9ral de <strong>' + e + '</strong>, chaque mois sans certification ISO co\\u00fbte des contrats export, des financements manqu\\u00e9s et une comp\\u00e9titivit\\u00e9 \\u00e9rod\\u00e9e face \\u00e0 vos concurrents d\\u00e9j\\u00e0 certifi\\u00e9s.';\n    hook = 'Les organisations certifi\\u00e9es ISO 9001 d\\u00e9crochent en moyenne <strong>3 nouveaux donneurs d\\'ordre internationaux</strong> dans les 12 mois. Celles qui ont mobilis\\u00e9 MOUWAKABA ou Maroc PME ont acc\\u00e9d\\u00e9 \\u00e0 <strong>80\\u2013100% de financement public</strong>. Votre fen\\u00eatre d\\'opportunit\\u00e9 est ouverte maintenant.';\n    badge_urgence = 'Strat\\u00e9gie Dirigeant \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 9001 / 14001 / 45001</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Structurez vos processus, r\\u00e9duisez les non-conformit\\u00e9s co\\u00fbteuses et d\\u00e9crochez de nouveaux march\\u00e9s export. Audit r\\u00e9ussi au premier passage en 3\\u20136 mois, garanti.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Acc\\u00e8s march\\u00e9s export Europe &amp; USA \\u00b7 Finan\\u00e7able 70\\u201390%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ESG</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Strat\\u00e9gie ESG &amp; RSE \\u2014 Reporting GRI</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Acc\\u00e9dez aux financements verts, r\\u00e9pondez aux reportings GRI et s\\u00e9duisez les investisseurs internationaux. Strat\\u00e9gie RSE compl\\u00e8te, conformit\\u00e9 ISO 37301 incluse.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Acc\\u00e8s financements verts \\u00b7 Investisseurs internationaux</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ERP</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Transformation Digitale &amp; ERP/CRM</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Feuille de route digitale sur mesure, automatisation des processus, d\\u00e9ploiement ERP Odoo. ROI moyen document\\u00e9 en 18 mois. Conduite du changement incluse.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 +35% efficacit\\u00e9 processus \\u00b7 ROI 18 mois garanti</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">EXPORT</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Programme Export Afrique Francophone \\u2014 10 march\\u00e9s</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Acc\\u00e9dez aux appels d\\'offres BAD, Banque Mondiale et AFD gr\\u00e2ce \\u00e0 notre accr\\u00e9ditation UNGM-ONU. Partenariats locaux qualifi\\u00e9s, structuration implantation.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 10 march\\u00e9s africains \\u00b7 UNGM Nations Unies \\u00b7 BAD/AFD/UE</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Lean Six Sigma &amp; Excellence Op\\u00e9rationnelle</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Cartographie VSM, r\\u00e9duction des gaspillages, optimisation de la productivit\\u00e9. +20 \\u00e0 50% d\\'efficacit\\u00e9 document\\u00e9s. Programme INMAA finan\\u00e7able \\u00e0 80\\u201390%.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Productivit\\u00e9 +20\\u201350% \\u00b7 Co\\u00fbts non-qualit\\u00e9 \\u201340%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">FONDS</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Financements jusqu\\'\\u00e0 100% \\u2014 Nous montons les dossiers</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Maroc PME \\u00b7 MOUWAKABA (80\\u201390%) \\u00b7 CSF (70\\u2013100%) \\u00b7 Banque Mondiale \\u00b7 BAD \\u00b7 INTELAKA.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Sans impact tr\\u00e9sorerie \\u00b7 D\\u00e9lai 15\\u201330 jours</div></td></tr></table></td></tr>';\n    cta_text = 'Planifier mon diagnostic strat\\u00e9gique gratuit \\u2192';\n\n  } else if (t === 'COMMERCIAL') {\n    accroche = 'En tant que Directeur Commercial de <strong>' + e + '</strong>, vous savez qu\\'un client europ\\u00e9en qui exige ISO 9001 ne n\\u00e9gocie pas \\u2014 il \\u00e9limine. Chaque appel d\\'offres non certifi\\u00e9 est un contrat offert \\u00e0 la concurrence.';\n    hook = 'Les entreprises certifi\\u00e9es ISO 9001 signent en moyenne <strong>3 nouveaux contrats export dans les 12 mois</strong>. Celles qui ont form\\u00e9 leurs \\u00e9quipes au Lean Six Sigma ont r\\u00e9duit leurs d\\u00e9lais de traitement de <strong>25%</strong>. Et celles qui ont utilis\\u00e9 MOUWAKABA ont financ\\u00e9 leur transformation \\u00e0 <strong>90%</strong>.';\n    badge_urgence = 'D\\u00e9veloppement Commercial \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 9001</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Renforcez votre cr\\u00e9dibilit\\u00e9 aupr\\u00e8s de vos clients europ\\u00e9ens et internationaux. Audit r\\u00e9ussi en 3\\u20136 mois, garanti au premier passage.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Nouveaux march\\u00e9s export \\u00b7 Finan\\u00e7able 70\\u201390%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Formation Lean &amp; Six Sigma</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Optimisez vos processus commerciaux, r\\u00e9duisez les d\\u00e9lais de traitement (\\u201325% document\\u00e9s) et am\\u00e9liorez la satisfaction client. Formation CSF finan\\u00e7able \\u00e0 100%.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 D\\u00e9lais \\u201325% \\u00b7 Satisfaction client +35% \\u00b7 100% finan\\u00e7able CSF</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">EXPORT</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Programme Export Afrique Francophone</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Ouvrez 10 nouveaux march\\u00e9s avec l\\'appui BAD/AFD/UE. Structuration commerciale, partenariats locaux qualifi\\u00e9s.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 10 march\\u00e9s africains \\u00b7 Financement export 80%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">UNGM</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Accr\\u00e9ditation UNGM Nations Unies</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Acc\\u00e9dez aux appels d\\'offres des Nations Unies, Banque Mondiale et institutions internationales.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Appels d\\'offres ONU \\u00b7 BAD \\u00b7 Banque Mondiale</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">EXEC</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Coaching Commercial &amp; Leadership</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Programmes ex\\u00e9cutifs : n\\u00e9gociation internationale, leadership transformationnel, gestion de la performance. Accr\\u00e9dit\\u00e9s AIAE &amp; EOQM.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Performance commerciale +30% \\u00b7 Finan\\u00e7able CSF</div></td></tr></table></td></tr>';\n    cta_text = 'Discuter de votre d\\u00e9veloppement commercial \\u2192';\n\n  } else if (t === 'FINANCIER') {\n    accroche = 'En tant que Directeur Financier de <strong>' + e + '</strong>, chaque co\\u00fbt de non-qualit\\u00e9 non r\\u00e9duit, chaque financement public non mobilis\\u00e9, c\\'est de la valeur qui s\\u00e9chappe sans retour.';\n    hook = 'Les entreprises accompagn\\u00e9es par TargetUp r\\u00e9duisent leurs co\\u00fbts de non-qualit\\u00e9 de <strong>20 \\u00e0 40%</strong> en 6 mois. Celles qui ont mobilis\\u00e9 les financements publics disponibles ont couvert <strong>jusqu\\'\\u00e0 100% de leurs co\\u00fbts</strong> de transformation.';\n    badge_urgence = 'Performance Financi\\u00e8re \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Audit &amp; Optimisation Lean \\u2014 R\\u00e9duction Co\\u00fbts</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">R\\u00e9duisez vos co\\u00fbts de non-qualit\\u00e9 de 20 \\u00e0 40%, d\\u00e9lais de traitement \\u201325%. Plan d\\'action chiffr\\u00e9 avec ROI contractuel.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Co\\u00fbts non-qualit\\u00e9 \\u201340% \\u00b7 ROI garanti</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 9001 &amp; ISO 37301</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">R\\u00e9duisez les non-conformit\\u00e9s co\\u00fbteuses, s\\u00e9curisez vos march\\u00e9s export et renforcez votre gouvernance financi\\u00e8re.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Non-conformit\\u00e9s \\u201360% \\u00b7 March\\u00e9s export s\\u00e9curis\\u00e9s</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">FONDS</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Accompagnement Financements Publics</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Maroc PME, MOUWAKABA (80\\u201390%), CSF (100%), BAD, Banque Mondiale. TargetUp monte les dossiers \\u00e0 votre place.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Jusqu\\'\\u00e0 100% co\\u00fbts pris en charge</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEVEE</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Structuration Lev\\u00e9e de Fonds</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Business plan investisseur, pitch deck, acc\\u00e8s capital-risque (4\\u201350 M MAD). Matching investisseurs priv\\u00e9s, institutions BAD/IFC.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 4\\u201350 M MAD \\u00b7 BAD \\u00b7 IFC</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ESG</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Reporting ESG &amp; Conformit\\u00e9 ISO 37301</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">R\\u00e9duisez vos risques r\\u00e9glementaires. Reporting GRI, strat\\u00e9gie RSE, conformit\\u00e9 anti-corruption. Acc\\u00e9dez aux financements verts.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Risques r\\u00e9glementaires \\u201380% \\u00b7 Financements verts</div></td></tr></table></td></tr>';\n    cta_text = 'Optimiser votre performance financi\\u00e8re \\u2192';\n\n  } else if (t === 'TECHNIQUE') {\n    accroche = 'En tant que Directeur Technique de <strong>' + e + '</strong>, chaque non-conformit\\u00e9 non trait\\u00e9e, chaque accident \\u00e9vitable, chaque processus non optimis\\u00e9 \\u2014 c\\'est une perte directe sur votre performance op\\u00e9rationnelle.';\n    hook = 'Les entreprises industrielles accompagn\\u00e9es par TargetUp augmentent leur efficacit\\u00e9 de <strong>20 \\u00e0 50%</strong> en 6 mois gr\\u00e2ce au Lean Manufacturing. Leurs certifications ISO 45001 ont r\\u00e9duit les accidents de <strong>60%</strong> en moyenne.';\n    badge_urgence = 'Performance Technique \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Lean Manufacturing &amp; Six Sigma</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">+20 \\u00e0 50% d\\'efficacit\\u00e9 document\\u00e9s. Cartographie VSM, chantiers 5S. Programme INMAA finan\\u00e7able \\u00e0 80\\u201390%.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Efficacit\\u00e9 +20\\u201350% \\u00b7 Finan\\u00e7able INMAA 80\\u201390%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 5px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO45</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 45001 \\u2014 Sant\\u00e9 &amp; S\\u00e9curit\\u00e9</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">S\\u00e9curisez vos \\u00e9quipes, r\\u00e9duisez les accidents et acc\\u00e9dez aux labels durables. Certification garantie.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Accidents \\u201360% \\u00b7 Labels durables</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 5px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO14</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 14001 \\u2014 Environnement</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Ma\\u00eetrisez votre impact environnemental, r\\u00e9pondez aux exigences ESG et acc\\u00e9dez aux march\\u00e9s durables europ\\u00e9ens.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Conformit\\u00e9 ESG \\u00b7 March\\u00e9s europ\\u00e9ens</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO9</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 9001 \\u2014 Qualit\\u00e9 Production</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Audit de certification en 3\\u20136 mois garantis. R\\u00e9duction des non-conformit\\u00e9s et acc\\u00e8s aux march\\u00e9s export.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Certification garantie \\u00b7 Export d\\u00e9bloqu\\u00e9</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">AUDIT</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Formation Lead Auditor PECB</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Certifiez vos auditeurs internes ISO 9001 / 14001 / 45001. Financ\\u00e9 jusqu\\'\\u00e0 100% via CSF/OFPPT. Reconnus dans 150+ pays.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 100% finan\\u00e7able CSF \\u00b7 Reconnu 150+ pays</div></td></tr></table></td></tr>';\n    cta_text = 'Am\\u00e9liorer votre performance technique \\u2192';\n\n  } else if (t === 'FONDATEUR') {\n    accroche = 'En tant que fondateur de <strong>' + e + '</strong>, la croissance ne se d\\u00e9cr\\u00e8te pas \\u2014 elle se structure. De la certification ISO \\u00e0 la lev\\u00e9e de fonds, TargetUp vous accompagne de l\\'id\\u00e9e au march\\u00e9.';\n    hook = 'TargetUp accompagne les entrepreneurs de l\\'id\\u00e9e au financement en <strong>90 jours</strong>. Nos clients fondateurs ont lev\\u00e9 en moyenne <strong>3,5 M EUR</strong> et d\\u00e9croch\\u00e9 leurs premiers contrats BAD/PNUD dans les 6 mois suivant leur structuration.';\n    badge_urgence = 'Accompagnement Fondateur \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">STRAT</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Accompagnement Strat\\u00e9gique Sur Mesure</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">De la structuration juridique \\u00e0 la certification ISO, de l\\'id\\u00e9e au financement en 90 jours. KPIs contractuels, consultant d\\u00e9di\\u00e9.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Structur\\u00e9 en 90 jours \\u00b7 R\\u00e9sultats contractuels</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">FONDS</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Acc\\u00e8s aux Financements Publics \\u2014 100%</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">INTELAKA, Maroc PME, MOUWAKABA, CSF \\u2014 jusqu\\'\\u00e0 100% de prise en charge. TargetUp monte les dossiers \\u00e0 votre place.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Jusqu\\'\\u00e0 100% financ\\u00e9 \\u00b7 Sans impact tr\\u00e9sorerie</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">BC</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Business Center TargetUp \\u2014 Lev\\u00e9e de Fonds</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Pitch deck professionnel, matching investisseurs priv\\u00e9s, acc\\u00e8s capital-risque (4\\u201350 M MAD). Accompagnement jusqu\\'au closing.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 4\\u201350 M MAD \\u00b7 BAD \\u00b7 IFC \\u00b7 PNUD</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:7px;font-weight:700;padding:3px 4px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">AFRIQUE</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Programme Afrique Francophone \\u2014 10 march\\u00e9s</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Structuration implantation, partenariats locaux qualifi\\u00e9s, acc\\u00e8s BAD/AFD. Accr\\u00e9ditation UNGM Nations Unies.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 10 march\\u00e9s \\u00b7 UNGM ONU \\u00b7 BAD/AFD/UE</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certifications Internationales \\u2014 Cr\\u00e9dibilit\\u00e9 Export</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">ISO 9001, 14001, 45001 + accr\\u00e9ditations AIAE &amp; EOQM pour cr\\u00e9dibiliser votre offre \\u00e0 l\\'export.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Cr\\u00e9dibilit\\u00e9 internationale \\u00b7 Export d\\u00e9bloqu\\u00e9</div></td></tr></table></td></tr>';\n    cta_text = 'Acc\\u00e9l\\u00e9rer la croissance de mon entreprise \\u2192';\n\n  } else {\n    accroche = 'En tant que dirigeant de <strong>' + e + '</strong>, chaque mois sans certification ISO et sans Lean, c\\'est de la comp\\u00e9titivit\\u00e9 c\\u00e9d\\u00e9e \\u00e0 vos concurrents \\u2014 et des financements publics laiss\\u00e9s sur la table.';\n    hook = 'Les organisations certifi\\u00e9es ISO 9001 d\\u00e9crochent en moyenne <strong>3 nouveaux donneurs d\\'ordre internationaux</strong> dans les 12 mois. Celles accompagn\\u00e9es sur le Lean r\\u00e9duisent leurs co\\u00fbts de non-qualit\\u00e9 de <strong>20 \\u00e0 40%</strong>. Et les financements publics couvrent <strong>jusqu\\'\\u00e0 100%</strong> des co\\u00fbts.';\n    badge_urgence = 'Strat\\u00e9gie Dirigeant \\u2014 Offre diagnostic gratuit';\n    services = '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certifications ISO (9001, 14001, 45001, 37301\\u2026)</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Audit de certification r\\u00e9ussi en 3\\u20136 mois, garanti au premier passage. Acc\\u00e8s aux march\\u00e9s export Europe, USA et Afrique.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Certification garantie \\u00b7 Export d\\u00e9bloqu\\u00e9 \\u00b7 Finan\\u00e7able 70\\u201390%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Lean Six Sigma &amp; Excellence Op\\u00e9rationnelle</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">+20 \\u00e0 50% d\\'efficacit\\u00e9, \\u201320 \\u00e0 \\u201340% co\\u00fbts de non-qualit\\u00e9. Programme INMAA finan\\u00e7able \\u00e0 80\\u201390%.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Efficacit\\u00e9 +20\\u201350% \\u00b7 INMAA 80\\u201390%</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ERP</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Transformation Digitale \\u2014 ERP/CRM &amp; Automatisation</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Feuille de route digitale, d\\u00e9ploiement ERP Odoo, automatisation des processus. +35% efficacit\\u00e9. ROI document\\u00e9 en 18 mois.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 +35% efficacit\\u00e9 \\u00b7 ROI 18 mois</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">RH</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Formation Certifiante Financ\\u00e9e \\u2014 Plans CSF</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Plans formation CSF jusqu\\'\\u00e0 100%, DBA, MSc, certifications PECB/ISO accr\\u00e9dit\\u00e9s AIAE &amp; EOQM.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 100% finan\\u00e7able CSF \\u00b7 ROI x3</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:7px;font-weight:700;padding:3px 4px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">EXPORT</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">D\\u00e9veloppement Afrique Francophone \\u2014 10 march\\u00e9s</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">10 march\\u00e9s cibl\\u00e9s, accr\\u00e9ditation UNGM Nations Unies, acc\\u00e8s BAD/Banque Mondiale/AFD.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 10 march\\u00e9s \\u00b7 UNGM ONU \\u00b7 BAD/AFD/UE</div></td></tr></table></td></tr>'\n      + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:7px;font-weight:700;padding:3px 4px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">FONDS</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Financements jusqu\\'\\u00e0 100% \\u2014 Dossiers mont\\u00e9s par TargetUp</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Maroc PME \\u00b7 MOUWAKABA (80\\u201390%) \\u00b7 CSF (100%) \\u00b7 BAD \\u00b7 Banque Mondiale.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Jusqu\\'\\u00e0 100% financ\\u00e9 \\u00b7 Sans impact tr\\u00e9sorerie</div></td></tr></table></td></tr>';\n    cta_text = 'Planifier mon diagnostic strat\\u00e9gique gratuit \\u2192';\n  }\n\n  return '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Arial,sans-serif;\">'\n\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f0f0f0;\"><tr><td align=\"center\" style=\"padding:20px;\">'\n  + '<table width=\"620\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #cccccc;\">'\n\n  /* HEADER */\n  + '<tr><td style=\"background:#0d0d0d;padding:0;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td style=\"padding:28px 28px 16px;vertical-align:top;\">'\n  + '<div style=\"font-size:30px;font-weight:900;color:#ffffff;letter-spacing:2px;text-transform:uppercase;line-height:1;font-family:Arial,sans-serif;\">TARGETUP</div>'\n  + '<div style=\"font-size:30px;font-weight:900;color:#cc0000;letter-spacing:2px;text-transform:uppercase;line-height:1;font-family:Arial,sans-serif;\">GROUP</div>'\n  + '<div style=\"font-size:10px;color:#888888;margin-top:10px;font-style:italic;font-family:Arial,sans-serif;\">Conseil Strat\\u00e9gique \\u00b7 Formation Internationale \\u00b7 Investissement &amp; Partenariats</div>'\n  + '</td>'\n  + '<td style=\"padding:28px 28px 16px;vertical-align:top;text-align:right;\">'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;margin-bottom:4px;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> BUSINESS CENTER</div><br>'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;margin-bottom:4px;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> CONSULTING</div><br>'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> UNIVERSITY</div>'\n  + '</td></tr></table>'\n  + '</td></tr>'\n\n  /* NAV BAR */\n  + '<tr><td style=\"background:#0d0d0d;border-top:1px solid #222222;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"34%\" style=\"background:#cc0000;padding:9px 4px;text-align:center;border-right:1px solid #222222;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#ffffff;font-family:Arial,sans-serif;\">CONSULTING</div><div style=\"font-size:6px;color:#ffcccc;font-family:Arial,sans-serif;margin-top:2px;\">Conseil &amp; Op\\u00e9rationnel</div></td>'\n  + '<td width=\"33%\" style=\"padding:9px 4px;text-align:center;border-right:1px solid #222222;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#aaaaaa;font-family:Arial,sans-serif;\">UNIVERSITY</div><div style=\"font-size:6px;color:#666666;font-family:Arial,sans-serif;margin-top:2px;\">Formation &amp; Certifications</div></td>'\n  + '<td width=\"33%\" style=\"background:#cc0000;padding:9px 4px;text-align:center;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#ffffff;font-family:Arial,sans-serif;\">BUSINESS CENTER</div><div style=\"font-size:6px;color:#ffcccc;font-family:Arial,sans-serif;margin-top:2px;\">Investissement &amp; Partenariats</div></td>'\n  + '</tr></table>'\n  + '</td></tr>'\n\n  /* LOCS */\n  + '<tr><td style=\"background:#111111;border-top:1px solid #222222;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"34%\" style=\"padding:6px 10px;border-right:1px solid #222222;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#999999;font-family:Arial,sans-serif;\"><strong style=\"color:#bbbbbb;\">Rabat, Maroc</strong></td></tr></table></td>'\n  + '<td width=\"33%\" style=\"padding:6px 10px;border-right:1px solid #222222;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#666666;font-family:Arial,sans-serif;\">Cardiff, Royaume-Uni</td></tr></table></td>'\n  + '<td width=\"33%\" style=\"padding:6px 10px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#666666;font-family:Arial,sans-serif;\">Afrique Francophone \\u2014 10 march\\u00e9s</td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr>'\n\n  /* ACCREDS */\n  + '<tr><td style=\"background:#0a0a0a;border-top:1px solid #1a1a1a;padding:6px 20px;text-align:center;font-size:8px;color:#444444;font-family:Arial,sans-serif;letter-spacing:0.3px;\">'\n  + 'ISO 9001 \\u00b7 ISO 21001 \\u00b7 ISO 37301 \\u00b7 AIAE (USA) \\u00b7 EOQM (UK) \\u00b7 UNGM \\u2013 Nations Unies \\u00b7 AMDIE'\n  + '</td></tr>'\n\n  /* BODY */\n  + '<tr><td style=\"padding:24px 26px;\">'\n\n  /* HERO ROUGE — nouveau bloc marketing fort */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#cc0000;border-radius:6px;margin-bottom:18px;\"><tr><td style=\"padding:18px 20px;text-align:center;\">'\n  + '<div style=\"font-size:9px;color:#ffcccc;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-family:Arial,sans-serif;\">\\u26a1 ' + badge_urgence + '</div>'\n  + '<div style=\"font-size:17px;font-weight:900;color:#ffffff;line-height:1.3;margin-bottom:8px;font-family:Arial,sans-serif;\">Vos concurrents certifi\\u00e9s ISO signent d\\u00e9j\\u00e0 les contrats que vous visez.</div>'\n  + '<div style=\"font-size:11px;color:#ffdddd;line-height:1.6;font-family:Arial,sans-serif;\">TargetUp vous certifie en 3 \\u00e0 6 mois \\u00b7 Financement jusqu\\'\\u00e0 100% \\u00b7 R\\u00e9sultats garantis J+90</div>'\n  + '</td></tr></table>'\n\n  /* GREETING */\n  + '<p style=\"font-size:13px;color:#0d0d0d;margin:0 0 12px 0;line-height:1.7;font-family:Arial,sans-serif;\">Bonjour <strong style=\"color:#cc0000;\">' + p + ' ' + n + '</strong>,</p>'\n  + '<p style=\"font-size:13px;color:#333333;margin:0 0 14px 0;line-height:1.7;font-family:Arial,sans-serif;\">' + accroche + '<br><br>TargetUp Group est la plateforme strat\\u00e9gique de r\\u00e9f\\u00e9rence pour la transformation des organisations en Afrique francophone \\u2014 3 divisions int\\u00e9gr\\u00e9es : <strong>Consulting</strong>, <strong>University</strong> et <strong>Business Center</strong>.</p>'\n\n  /* KPIs VISUELS — grille 2x2 */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#fff8f8;border:1px solid #ffdddd;border-left:4px solid #cc0000;border-radius:4px;margin-bottom:18px;\"><tr><td style=\"padding:14px 16px;\">'\n  + '<div style=\"font-size:9px;color:#cc0000;font-weight:700;letter-spacing:1px;text-transform:uppercase;margin-bottom:10px;font-family:Arial,sans-serif;\">&#128200; Ce que les donn\\u00e9es disent</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"25%\" style=\"padding:0 5px 0 0;text-align:center;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">+3</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">nouveaux clients export apr\\u00e8s ISO</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 5px;text-align:center;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">100%</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">co\\u00fbts couverts MOUWAKABA &amp; CSF</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 5px;text-align:center;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">\\u201340%</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">co\\u00fbts non-qualit\\u00e9 apr\\u00e8s Lean Six Sigma</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 0 0 5px;text-align:center;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">J+90</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">r\\u00e9sultats garantis contractuellement</div></td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* SERVICES */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0d0d0d;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:14px 16px;\">'\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:11px;font-weight:700;font-family:Arial,sans-serif;\">Recommandations sur mesure \\u2014 ' + (poste || 'Dirigeant') + ' / ' + e + '</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">' + services + '</table>'\n  + '</td></tr></table>'\n\n  /* FINANCEMENTS */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Financements mobilisables pour ' + e + '</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#fff3f3;border:1px solid #ffcccc;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:12px 14px;\">'\n  + '<div style=\"font-size:10px;font-weight:700;color:#cc0000;margin-bottom:9px;text-transform:uppercase;font-family:Arial,sans-serif;\">Dispositifs disponibles \\u2014 TargetUp monte les dossiers \\u00e0 votre place</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333333;\">MOUWAKABA \\u2014 Coaching &amp; Transformation PME</div><div style=\"font-size:9px;color:#888888;\">Mise \\u00e0 niveau et transformation PME marocaine</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">80\\u201390%</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333333;\">CSF \\u2014 Contrats Sp\\u00e9ciaux de Formation</div><div style=\"font-size:9px;color:#888888;\">PME &amp; ETI tous secteurs \\u2014 plans formation annuels</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">70%</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333333;\">INMAA \\u2014 Lean Manufacturing</div><div style=\"font-size:9px;color:#888888;\">Programme intensif transformation production PME</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">80\\u201390%</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333333;\">Maroc PME \\u2014 Mise \\u00e0 niveau</div><div style=\"font-size:9px;color:#888888;\">Subventions modernisation, certification et export</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">Variable</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333333;\">OFPPT \\u2014 Formation Professionnelle</div><div style=\"font-size:9px;color:#888888;\">Formation qualifiante \\u00e9quipes op\\u00e9rateurs</div></td><td style=\"padding:5px 0;text-align:right;\"><span style=\"background:#888888;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">Gratuit</span></td></tr>'\n  + '</table></td></tr></table>'\n\n  /* URGENCY */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0d0d0d;border:1px solid #cc0000;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:12px 14px;\">'\n  + '<div style=\"font-size:11px;font-weight:700;color:#cc0000;margin-bottom:9px;font-family:Arial,sans-serif;\">\\u26a1 Pourquoi agir maintenant \\u2014 pas dans 3 mois</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"50%\" style=\"padding-right:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">01</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Dotations MOUWAKABA, CSF et Maroc PME limit\\u00e9es \\u2014 premier arriv\\u00e9, premier servi.</td></tr></table></td>'\n  + '<td width=\"50%\" style=\"padding-left:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">02</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Clients europ\\u00e9ens exigent ISO. Sans certification, l\\'export est bloqu\\u00e9.</td></tr></table></td>'\n  + '</tr><tr>'\n  + '<td width=\"50%\" style=\"padding-right:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">03</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">BAD d\\u00e9ploie +100 Mds USD sur 2024\\u20132030. Seules les organisations certifi\\u00e9es r\\u00e9pondent.</td></tr></table></td>'\n  + '<td width=\"50%\" style=\"padding-left:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">04</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">P\\u00e9nurie de cadres certifi\\u00e9s Lean &amp; ISO \\u2014 avantage d\\u00e9cisif pour ceux qui agissent maintenant.</td></tr></table></td>'\n  + '</tr><tr>'\n  + '<td colspan=\"2\" style=\"padding-top:2px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">J+90</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Premiers r\\u00e9sultats mesurables garantis contractuellement. Si non atteints : mission prolong\\u00e9e gratuitement.</td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* STEPS */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Comment d\\u00e9marrer avec TargetUp ?</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:16px;\"><tr>'\n  + '<td width=\"25%\" style=\"padding-right:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">01</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Contact</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">R\\u00e9ponse 24h</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-right:4px;padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">02</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Cadrage</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">Visio 30 min</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-right:4px;padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">03</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Proposition</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">5\\u20137 jours</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">04</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Mission</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">R\\u00e9sultats J+90</div></td></tr></table></td>'\n  + '</tr></table>'\n\n  /* PDF LINK — URL corrigée */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#111111;border-left:4px solid #cc0000;border-radius:4px;margin-bottom:16px;\"><tr><td style=\"padding:12px 16px;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td valign=\"middle\" style=\"font-size:11px;color:#cccccc;font-family:Arial,sans-serif;\">&#128196;&nbsp; <strong style=\"color:#ffffff;\">Fiche Commerciale TargetUp Group 2026</strong> &mdash; Services, r\\u00e9f\\u00e9rences, accr\\u00e9ditations, financements</td>'\n  + '<td valign=\"middle\" style=\"text-align:right;white-space:nowrap;padding-left:12px;\"><a href=\"https://drive.google.com/file/d/1sUobjRoxH6yhGZ34k2A33vw0F31RsN7C/view\" style=\"background:#cc0000;color:#ffffff;font-size:10px;font-weight:700;padding:7px 14px;border-radius:3px;text-decoration:none;font-family:Arial,sans-serif;white-space:nowrap;\">\\u2b07 T\\u00e9l\\u00e9charger (PDF)</a></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* CTA FORT */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#cc0000;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:20px 18px;text-align:center;\">'\n  + '<div style=\"font-size:11px;color:#ffcccc;margin-bottom:6px;font-style:italic;font-family:Arial,sans-serif;\">Diagnostic strat\\u00e9gique offert \\u2014 30 minutes, sans engagement</div>'\n  + '<div style=\"font-size:14px;font-weight:700;color:#ffffff;margin-bottom:14px;line-height:1.4;font-family:Arial,sans-serif;\">Identifiez vos 3 priorit\\u00e9s et les financements disponibles pour ' + e + '</div>'\n  + '<a href=\"https://www.targetupconsulting.com\" style=\"background:#ffffff;color:#cc0000;padding:12px 28px;border-radius:4px;text-decoration:none;font-size:13px;font-weight:700;font-family:Arial,sans-serif;\">' + cta_text + '</a>'\n  + '</td></tr></table>'\n\n  /* SIGNATURE */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top:2px solid #cc0000;\"><tr><td style=\"padding-top:12px;\">'\n  + '<div style=\"font-size:12px;font-weight:700;color:#0d0d0d;margin-bottom:6px;font-family:Arial,sans-serif;\">L\\'\\u00e9quipe commerciale TargetUp Group</div>'\n  + '<div style=\"font-size:10px;color:#666666;line-height:2;font-family:Arial,sans-serif;\">&#128222; +212 684 48 17 30 &nbsp;|&nbsp; +212 684 77 88 54<br>&#128231; sales@targetupconsulting.com<br>&#127760; targetupconsulting.com &nbsp;|&nbsp; university.targetupconsulting.com<br>&#128205; 17 Rue Jbel Moussa, Rabat 10090, Maroc &nbsp;|&nbsp; Cardiff CF14 8LH, Royaume-Uni</div>'\n  + '</td></tr></table>'\n\n  + '</td></tr>'\n\n  /* FOOTER */\n  + '<tr><td style=\"background:#0d0d0d;border-top:2px solid #cc0000;padding:9px;text-align:center;font-size:8px;color:#444444;font-family:Arial,sans-serif;\">'\n  + 'Vous recevez cet email car vous faites partie de notre r\\u00e9seau professionnel. Pour vous d\\u00e9sabonner, r\\u00e9pondez avec \\u00ab STOP \\u00bb dans l\\'objet.'\n  + '</td></tr>'\n\n  + '</table>'\n  + '</td></tr></table>'\n  + '</body></html>';\n})()\n}}"},"id":"6b4dc4c8-634a-4431-a117-4a329c3b21e0","name":"HTML - Template Dirigeants","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-608,768]},{"parameters":{"html":"{{ (() => {\n  const p = $json.prenom;\n  const n = $json.nom;\n  const e = $json.entreprise;\n  const poste = $json.poste;\n\n  return '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Arial,sans-serif;\">'\n\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f0f0f0;\"><tr><td align=\"center\" style=\"padding:20px;\">'\n  + '<table width=\"620\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #cccccc;\">'\n\n  /* HEADER */\n  + '<tr><td style=\"background:#0d0d0d;padding:0;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td style=\"padding:28px 28px 16px;vertical-align:top;\">'\n  + '<div style=\"font-size:30px;font-weight:900;color:#ffffff;letter-spacing:2px;text-transform:uppercase;line-height:1;font-family:Arial,sans-serif;\">TARGETUP</div>'\n  + '<div style=\"font-size:30px;font-weight:900;color:#cc0000;letter-spacing:2px;text-transform:uppercase;line-height:1;font-family:Arial,sans-serif;\">UNIVERSITY</div>'\n  + '<div style=\"font-size:10px;color:#888888;margin-top:10px;font-style:italic;font-family:Arial,sans-serif;\">Formation Certifiante \\u00b7 D\\u00e9veloppement RH \\u00b7 Lean \\u00b7 ISO</div>'\n  + '</td>'\n  + '<td style=\"padding:28px 28px 16px;vertical-align:top;text-align:right;\">'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;margin-bottom:4px;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> BUSINESS CENTER</div><br>'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;margin-bottom:4px;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> CONSULTING</div><br>'\n  + '<div style=\"background:#1a1a1a;border:1px solid #333;border-radius:3px;padding:3px 8px;font-size:7px;color:#aaaaaa;letter-spacing:1px;text-transform:uppercase;font-family:Arial,sans-serif;display:inline-block;\">TARGET<span style=\"color:#cc0000;font-weight:700;\">UP</span> UNIVERSITY</div>'\n  + '</td></tr></table>'\n  + '</td></tr>'\n\n  /* NAV BAR — UNIVERSITY active */\n  + '<tr><td style=\"background:#0d0d0d;border-top:1px solid #222222;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"34%\" style=\"padding:9px 4px;text-align:center;border-right:1px solid #222222;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#aaaaaa;font-family:Arial,sans-serif;\">CONSULTING</div><div style=\"font-size:6px;color:#666666;font-family:Arial,sans-serif;margin-top:2px;\">Conseil &amp; Op\\u00e9rationnel</div></td>'\n  + '<td width=\"33%\" style=\"background:#cc0000;padding:9px 4px;text-align:center;border-right:1px solid #222222;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#ffffff;font-family:Arial,sans-serif;\">UNIVERSITY</div><div style=\"font-size:6px;color:#ffcccc;font-family:Arial,sans-serif;margin-top:2px;\">Formation &amp; Certifications</div></td>'\n  + '<td width=\"33%\" style=\"padding:9px 4px;text-align:center;\"><div style=\"font-size:7px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#aaaaaa;font-family:Arial,sans-serif;\">BUSINESS CENTER</div><div style=\"font-size:6px;color:#666666;font-family:Arial,sans-serif;margin-top:2px;\">Investissement &amp; Partenariats</div></td>'\n  + '</tr></table>'\n  + '</td></tr>'\n\n  /* LOCS */\n  + '<tr><td style=\"background:#111111;border-top:1px solid #222222;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"34%\" style=\"padding:6px 10px;border-right:1px solid #222222;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#999999;font-family:Arial,sans-serif;\"><strong style=\"color:#bbbbbb;\">Rabat, Maroc</strong></td></tr></table></td>'\n  + '<td width=\"33%\" style=\"padding:6px 10px;border-right:1px solid #222222;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#666666;font-family:Arial,sans-serif;\">Cardiff, Royaume-Uni</td></tr></table></td>'\n  + '<td width=\"33%\" style=\"padding:6px 10px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:7px;\"><div style=\"width:5px;height:5px;background:#cc0000;border-radius:50%;\"></div></td><td style=\"padding-left:5px;font-size:8px;color:#666666;font-family:Arial,sans-serif;\">Afrique Francophone \\u2014 10 march\\u00e9s</td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr>'\n\n  /* ACCREDS */\n  + '<tr><td style=\"background:#0a0a0a;border-top:1px solid #1a1a1a;padding:6px 20px;text-align:center;font-size:8px;color:#444444;font-family:Arial,sans-serif;letter-spacing:0.3px;\">ISO 9001 \\u00b7 ISO 21001 \\u00b7 ISO 37301 \\u00b7 AIAE (USA) \\u00b7 EOQM (UK) \\u00b7 UNGM \\u2013 Nations Unies \\u00b7 AMDIE</td></tr>'\n\n  /* BODY */\n  + '<tr><td style=\"padding:24px 26px;\">'\n\n  /* HERO ROUGE */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#cc0000;border-radius:6px;margin-bottom:18px;\"><tr><td style=\"padding:18px 20px;text-align:center;\">'\n  + '<div style=\"font-size:9px;color:#ffcccc;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-family:Arial,sans-serif;\">\\u26a1 Formation RH \\u2014 Dotations CSF 2026 en cours d\\u00e9puisement</div>'\n  + '<div style=\"font-size:17px;font-weight:900;color:#ffffff;line-height:1.3;margin-bottom:8px;font-family:Arial,sans-serif;\">Vos dotations CSF s\\u0027\\u00e9puisent. Les \\u00e9quipes form\\u00e9es maintenant prendront l\\u0027avantage.</div>'\n  + '<div style=\"font-size:11px;color:#ffdddd;line-height:1.6;font-family:Arial,sans-serif;\">TargetUp University \\u00b7 Certifications AIAE &amp; EOQM \\u00b7 Financ\\u00e9 jusqu\\u0027\\u00e0 100% via CSF \\u00b7 ROI x3 document\\u00e9</div>'\n  + '</td></tr></table>'\n\n  /* GREETING */\n  + '<p style=\"font-size:13px;color:#0d0d0d;margin:0 0 12px 0;line-height:1.7;font-family:Arial,sans-serif;\">Bonjour <strong style=\"color:#cc0000;\">' + p + ' ' + n + '</strong>,</p>'\n  + '<p style=\"font-size:13px;color:#333333;margin:0 0 14px 0;line-height:1.7;font-family:Arial,sans-serif;\">En tant que <strong>' + poste + '</strong> chez <strong>' + e + '</strong>, vous jouez un r\\u00f4le strat\\u00e9gique dans le d\\u00e9veloppement des comp\\u00e9tences et la performance humaine de votre organisation.<br><br>Les nouvelles obligations CSRD, la pression des donneurs d\\u0027ordre sur les certifications ISO, et la guerre des talents certifi\\u00e9s rendent la formation continue plus critique que jamais \\u2014 et les financements publics disponibles n\\u0027ont jamais \\u00e9t\\u00e9 aussi avantageux.</p>'\n\n  /* KPIs VISUELS */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#fff8f8;border:1px solid #ffdddd;border-left:4px solid #cc0000;border-radius:4px;margin-bottom:18px;\"><tr><td style=\"padding:14px 16px;\">'\n  + '<div style=\"font-size:9px;color:#cc0000;font-weight:700;letter-spacing:1px;text-transform:uppercase;margin-bottom:10px;font-family:Arial,sans-serif;\">&#128200; Ce que les donn\\u00e9es disent</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"25%\" style=\"padding:0 5px 0 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">100%</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">financement possible CSF/OFPPT</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 5px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">\\u00d73</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">ROI formation certifiante (McKinsey)</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 5px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">\\u201330%</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">turnover apr\\u00e8s certification (LinkedIn)</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding:0 0 0 5px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#ffffff;border:1px solid #ffe0e0;border-radius:4px;\"><tr><td style=\"padding:10px 6px;text-align:center;\"><div style=\"font-size:20px;font-weight:900;color:#cc0000;font-family:Arial,sans-serif;\">150+</div><div style=\"font-size:8px;color:#666666;margin-top:3px;line-height:1.3;font-family:Arial,sans-serif;\">pays reconnaissent nos certifications</div></td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* SERVICES */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Formations recommand\\u00e9es pour ' + e + '</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0d0d0d;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:14px 16px;\">'\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:11px;font-weight:700;font-family:Arial,sans-serif;\">Catalogue TargetUp University \\u2014 Programmes prioritaires</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">LEAN</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Lean Six Sigma (Yellow, Green, Black Belt)</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">R\\u00e9duisez les gaspillages de 20 \\u00e0 50%, optimisez vos processus RH et op\\u00e9rationnels. Projet terrain inclus. Certification PECB reconnue mondialement.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Efficacit\\u00e9 +20\\u201350% \\u00b7 100% finan\\u00e7able CSF \\u00b7 PECB reconnu 150+ pays</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Lead Auditor ISO 9001 / 14001 / 45001 (PECB)</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Certifiez vos auditeurs internes sur les normes ISO cl\\u00e9s. Accr\\u00e9dit\\u00e9s AIAE &amp; EOQM, reconnus dans 150+ pays. Finan\\u00e7able \\u00e0 100% via CSF/OFPPT.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Auditeurs internes certifi\\u00e9s \\u00b7 AIAE &amp; EOQM \\u00b7 100% finan\\u00e7able CSF</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">DBA</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">DBA &amp; MSc Management / Leadership</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Dipl\\u00f4mes internationaux reconnus pour vos cadres dirigeants. Management, Finance, RH, Transformation digitale. Mode hybride, encadrement experts praticiens.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Accr\\u00e9dit\\u00e9s AIAE &amp; EOQM \\u00b7 Hybride \\u00b7 Finan\\u00e7able CSF/OFPPT</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">EXEC</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Programmes Ex\\u00e9cutifs &amp; Leadership</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Formations intensives pour vos dirigeants et cadres : gouvernance, strat\\u00e9gie, gestion de crise, leadership transformationnel. Intra-entreprise disponible.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Leadership renforc\\u00e9 \\u00b7 Intra-entreprise \\u00b7 Accr\\u00e9dit\\u00e9s AIAE &amp; EOQM</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 6px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">GPEC</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">VAE Personnalis\\u00e9e &amp; Ing\\u00e9nierie de Formation</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Plans de formation annuels sur mesure align\\u00e9s GPEC, audit des besoins, \\u00e9valuation et reporting. VAE accompagn\\u00e9e pour valoriser l\\u0027exp\\u00e9rience de vos collaborateurs.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Plans CSF d\\u00e9pos\\u00e9s par TargetUp \\u00b7 VAE en 3 mois \\u00b7 GPEC align\\u00e9</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;border-bottom:1px solid #1e1e1e;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:3px 5px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">CSRD</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Accompagnement CSRD &amp; Reporting RH / ESG</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">R\\u00e9pondez aux nouvelles obligations l\\u00e9gales CSRD. Formation au reporting ESG, bilan carbone, strat\\u00e9gie RSE et conformit\\u00e9 ISO 37301.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Conformit\\u00e9 CSRD \\u00b7 Reporting ESG/GRI \\u00b7 ISO 37301 anti-corruption</div></td></tr></table></td></tr>'\n\n  + '<tr><td style=\"padding:8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#cc0000;color:#fff;font-size:7px;font-weight:700;padding:3px 4px;border-radius:2px;white-space:nowrap;font-family:Arial,sans-serif;\">ISO37</span></td><td valign=\"top\"><div style=\"font-size:11px;font-weight:700;color:#fff;margin-bottom:3px;font-family:Arial,sans-serif;\">Certification ISO 37301 \\u2014 Conformit\\u00e9 &amp; Gouvernance</div><div style=\"font-size:9px;color:#888;line-height:1.5;font-family:Arial,sans-serif;\">Gouvernance, conformit\\u00e9 r\\u00e9glementaire, lutte anti-corruption, \\u00e9thique professionnelle. Acc\\u00e9dez aux march\\u00e9s institutionnels et aux appels d\\u0027offres UNGM.</div><div style=\"font-size:8px;color:#cc0000;margin-top:3px;font-style:italic;font-family:Arial,sans-serif;\">\\u2192 Gouvernance renforc\\u00e9e \\u00b7 Appels d\\u0027offres UNGM \\u00b7 BAD/Banque Mondiale</div></td></tr></table></td></tr>'\n\n  + '</table></td></tr></table>'\n\n  /* CATALOGUE */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Catalogue programmes \\u2014 TargetUp University</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:6px;border:1px solid #eeeeee;margin-bottom:16px;\"><tr><td style=\"padding:14px 16px;\">'\n  + '<div style=\"font-size:10px;font-weight:700;color:#0d0d0d;margin-bottom:10px;text-transform:uppercase;font-family:Arial,sans-serif;\">Programmes disponibles \\u2014 Pr\\u00e9sentiel \\u00b7 Distanciel \\u00b7 Hybride \\u00b7 FR \\u00b7 AR \\u00b7 EN</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">'\n  + '<tr><td style=\"padding:6px 0;border-bottom:1px solid #eeeeee;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#0d0d0d;color:#cc0000;font-size:8px;font-weight:700;padding:3px 7px;border-radius:2px;font-family:Arial,sans-serif;\">DBA</span></td><td valign=\"top\" style=\"padding-left:8px;\"><div style=\"font-size:11px;font-weight:700;color:#0d0d0d;margin-bottom:1px;font-family:Arial,sans-serif;\">Doctorat en Administration des Affaires</div><div style=\"font-size:9px;color:#666;line-height:1.4;font-family:Arial,sans-serif;\">Programme doctoral international \\u2014 management, strat\\u00e9gie et leadership. Accr\\u00e9dit\\u00e9 AIAE.</div><div style=\"font-size:8px;color:#cc0000;margin-top:2px;font-style:italic;font-family:Arial,sans-serif;\">Finan\\u00e7able CSF \\u00b7 Accr\\u00e9dit\\u00e9 AIAE</div></td></tr></table></td></tr>'\n  + '<tr><td style=\"padding:6px 0;border-bottom:1px solid #eeeeee;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#0d0d0d;color:#cc0000;font-size:8px;font-weight:700;padding:3px 7px;border-radius:2px;font-family:Arial,sans-serif;\">MSc</span></td><td valign=\"top\" style=\"padding-left:8px;\"><div style=\"font-size:11px;font-weight:700;color:#0d0d0d;margin-bottom:1px;font-family:Arial,sans-serif;\">Masters Class \\u00e0 Distance \\u2014 6 sp\\u00e9cialit\\u00e9s</div><div style=\"font-size:9px;color:#666;line-height:1.4;font-family:Arial,sans-serif;\">Management \\u00b7 Finance \\u00b7 RH \\u00b7 Transformation digitale \\u00b7 Marketing \\u00b7 Supply Chain.</div><div style=\"font-size:8px;color:#cc0000;margin-top:2px;font-style:italic;font-family:Arial,sans-serif;\">Finan\\u00e7able CSF/OFPPT \\u00b7 Hybride</div></td></tr></table></td></tr>'\n  + '<tr><td style=\"padding:6px 0;border-bottom:1px solid #eeeeee;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#0d0d0d;color:#cc0000;font-size:8px;font-weight:700;padding:3px 5px;border-radius:2px;font-family:Arial,sans-serif;\">PECB</span></td><td valign=\"top\" style=\"padding-left:8px;\"><div style=\"font-size:11px;font-weight:700;color:#0d0d0d;margin-bottom:1px;font-family:Arial,sans-serif;\">Certifications ISO \\u2014 Lead Implementer &amp; Lead Auditor</div><div style=\"font-size:9px;color:#666;line-height:1.4;font-family:Arial,sans-serif;\">ISO 9001, 27001, 37001, 45001 \\u2014 reconnus dans 150+ pays.</div><div style=\"font-size:8px;color:#cc0000;margin-top:2px;font-style:italic;font-family:Arial,sans-serif;\">100% finan\\u00e7able CSF \\u00b7 Reconnu 150+ pays</div></td></tr></table></td></tr>'\n  + '<tr><td style=\"padding:6px 0;border-bottom:1px solid #eeeeee;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#0d0d0d;color:#cc0000;font-size:8px;font-weight:700;padding:3px 7px;border-radius:2px;font-family:Arial,sans-serif;\">CSF</span></td><td valign=\"top\" style=\"padding-left:8px;\"><div style=\"font-size:11px;font-weight:700;color:#0d0d0d;margin-bottom:1px;font-family:Arial,sans-serif;\">Plans de Formation Entreprise \\u2014 \\u00c9ligibles CSF</div><div style=\"font-size:9px;color:#666;line-height:1.4;font-family:Arial,sans-serif;\">Conception, d\\u00e9ploiement et suivi des plans de formation annuels. \\u00c9ligibles au financement CSF jusqu\\u0027\\u00e0 70%.</div><div style=\"font-size:8px;color:#cc0000;margin-top:2px;font-style:italic;font-family:Arial,sans-serif;\">Jusqu\\u0027\\u00e0 70% CSF \\u00b7 Dossiers mont\\u00e9s par TargetUp</div></td></tr></table></td></tr>'\n  + '<tr><td style=\"padding:6px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"42\" valign=\"top\"><span style=\"background:#0d0d0d;color:#cc0000;font-size:8px;font-weight:700;padding:3px 7px;border-radius:2px;font-family:Arial,sans-serif;\">VAE</span></td><td valign=\"top\" style=\"padding-left:8px;\"><div style=\"font-size:11px;font-weight:700;color:#0d0d0d;margin-bottom:1px;font-family:Arial,sans-serif;\">Validation des Acquis de l\\u0027Exp\\u00e9rience</div><div style=\"font-size:9px;color:#666;line-height:1.4;font-family:Arial,sans-serif;\">Accompagnement personnalis\\u00e9 \\u00e0 la VAE pour l\\u0027obtention d\\u0027un titre ou dipl\\u00f4me reconnu.</div><div style=\"font-size:8px;color:#cc0000;margin-top:2px;font-style:italic;font-family:Arial,sans-serif;\">3 mois \\u00b7 Personnalis\\u00e9 \\u00b7 Reconnu</div></td></tr></table></td></tr>'\n  + '</table></td></tr></table>'\n\n  /* FINANCEMENTS */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Financements mobilisables pour votre plan formation</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#fff3f3;border:1px solid #ffcccc;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:12px 14px;\">'\n  + '<div style=\"font-size:10px;font-weight:700;color:#cc0000;margin-bottom:9px;text-transform:uppercase;font-family:Arial,sans-serif;\">Dispositifs disponibles \\u2014 TargetUp monte les dossiers \\u00e0 votre place</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333;\">CSF \\u2014 Contrats Sp\\u00e9ciaux de Formation</div><div style=\"font-size:9px;color:#888;\">PME &amp; ETI \\u2014 tous secteurs \\u2014 plans formation annuels</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">70%</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333;\">OFPPT \\u2014 Formation Professionnelle</div><div style=\"font-size:9px;color:#888;\">Jeunes &amp; demandeurs d\\u0027emploi \\u2014 formation qualifiante</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#888;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">Gratuit</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333;\">MOUWAKABA \\u2014 Transformation PME</div><div style=\"font-size:9px;color:#888;\">Coaching et mont\\u00e9e en comp\\u00e9tences PME marocaine</div></td><td style=\"padding:5px 0;border-bottom:1px solid #ffe0e0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">80\\u201390%</span></td></tr>'\n  + '<tr><td style=\"padding:5px 0;font-family:Arial,sans-serif;\"><div style=\"font-size:10px;font-weight:700;color:#333;\">INTELAKA \\u2014 Entrepreneuriat Jeunes</div><div style=\"font-size:9px;color:#888;\">Formation et accompagnement jeunes entrepreneurs</div></td><td style=\"padding:5px 0;text-align:right;\"><span style=\"background:#cc0000;color:#fff;font-size:8px;font-weight:700;padding:2px 8px;border-radius:2px;font-family:Arial,sans-serif;white-space:nowrap;\">Variable</span></td></tr>'\n  + '</table></td></tr></table>'\n\n  /* URGENCY */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0d0d0d;border:1px solid #cc0000;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:12px 14px;\">'\n  + '<div style=\"font-size:11px;font-weight:700;color:#cc0000;margin-bottom:9px;font-family:Arial,sans-serif;\">\\u26a1 Pourquoi agir maintenant \\u2014 pas en fin d\\u0027ann\\u00e9e</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td width=\"50%\" style=\"padding-right:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">01</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Dotations CSF s\\u0027\\u00e9puisent avant la fin d\\u0027ann\\u00e9e. D\\u00e9posez votre plan formation maintenant.</td></tr></table></td>'\n  + '<td width=\"50%\" style=\"padding-left:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">02</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Obligations CSRD : reporting RH et ESG d\\u00e9sormais obligatoires pour les ETI europ\\u00e9ennes.</td></tr></table></td>'\n  + '</tr><tr>'\n  + '<td width=\"50%\" style=\"padding-right:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">03</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Donneurs d\\u0027ordre exigent ISO 9001 &amp; 45001. Sans auditeurs certifi\\u00e9s, votre certification est menac\\u00e9e.</td></tr></table></td>'\n  + '<td width=\"50%\" style=\"padding-left:8px;padding-bottom:6px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">04</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">P\\u00e9nurie de cadres certifi\\u00e9s Lean &amp; ISO. Former maintenant = avantage sur 5 ans.</td></tr></table></td>'\n  + '</tr><tr>'\n  + '<td width=\"50%\" style=\"padding-right:8px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">\\u00d73</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">ROI formation certifiante document\\u00e9 par McKinsey 2023. 1 MAD investi = 3 MAD de gain de productivit\\u00e9.</td></tr></table></td>'\n  + '<td width=\"50%\" style=\"padding-left:8px;vertical-align:top;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"width:28px;font-size:10px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;vertical-align:top;\">\\u201330%</td><td style=\"font-size:9px;color:#cccccc;line-height:1.4;font-family:Arial,sans-serif;\">Turnover r\\u00e9duit de 30% apr\\u00e8s certification (LinkedIn 2024). Fid\\u00e9lisez vos meilleurs collaborateurs.</td></tr></table></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* STEPS */\n  + '<div style=\"font-size:8px;color:#cc0000;letter-spacing:2px;text-transform:uppercase;margin-bottom:8px;font-weight:700;font-family:Arial,sans-serif;\">Comment d\\u00e9marrer votre plan formation ?</div>'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:16px;\"><tr>'\n  + '<td width=\"25%\" style=\"padding-right:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">01</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Audit besoins</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">Offert \\u00b7 48h</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-right:4px;padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">02</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Plan formation</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">CSF align\\u00e9 \\u00b7 7j</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-right:4px;padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">03</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Dossier CSF</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">Mont\\u00e9 par TargetUp</div></td></tr></table></td>'\n  + '<td width=\"25%\" style=\"padding-left:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8f8f8;border-radius:4px;border-top:3px solid #cc0000;\"><tr><td style=\"padding:9px 6px;text-align:center;\"><div style=\"font-size:18px;font-weight:700;color:#cc0000;font-family:Arial,sans-serif;\">04</div><div style=\"font-size:8px;font-weight:700;color:#0d0d0d;text-transform:uppercase;margin-top:3px;font-family:Arial,sans-serif;\">Formation</div><div style=\"font-size:7px;color:#888888;margin-top:2px;font-family:Arial,sans-serif;\">Certification 90j</div></td></tr></table></td>'\n  + '</tr></table>'\n\n  /* PDF LINK — URL corrigée */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#111111;border-left:4px solid #cc0000;border-radius:4px;margin-bottom:16px;\"><tr><td style=\"padding:12px 16px;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>'\n  + '<td valign=\"middle\" style=\"font-size:11px;color:#cccccc;font-family:Arial,sans-serif;\">&#128196;&nbsp; <strong style=\"color:#ffffff;\">Catalogue Formations TargetUp University 2026</strong> &mdash; Programmes, financement CSF, planning sessions, accr\\u00e9ditations</td>'\n  + '<td valign=\"middle\" style=\"text-align:right;white-space:nowrap;padding-left:12px;\"><a href=\"https://drive.google.com/file/d/1sUobjRoxH6yhGZ34k2A33vw0F31RsN7C/view\" style=\"background:#cc0000;color:#ffffff;font-size:10px;font-weight:700;padding:7px 14px;border-radius:3px;text-decoration:none;font-family:Arial,sans-serif;white-space:nowrap;\">\\u2b07 T\\u00e9l\\u00e9charger (PDF)</a></td>'\n  + '</tr></table>'\n  + '</td></tr></table>'\n\n  /* CTA FORT */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#cc0000;border-radius:6px;margin-bottom:16px;\"><tr><td style=\"padding:20px 18px;text-align:center;\">'\n  + '<div style=\"font-size:11px;color:#ffcccc;margin-bottom:6px;font-style:italic;font-family:Arial,sans-serif;\">Audit des besoins formation offert \\u2014 30 minutes, sans engagement</div>'\n  + '<div style=\"font-size:14px;font-weight:700;color:#ffffff;margin-bottom:14px;line-height:1.4;font-family:Arial,sans-serif;\">S\\u00e9curisez votre budget CSF 2026 et certifiez vos \\u00e9quipes avant l\\u0027\\u00e9puisement des dotations</div>'\n  + '<a href=\"https://university.targetupconsulting.com\" style=\"background:#ffffff;color:#cc0000;padding:12px 28px;border-radius:4px;text-decoration:none;font-size:13px;font-weight:700;font-family:Arial,sans-serif;\">Voir notre catalogue formations \\u2192</a>'\n  + '</td></tr></table>'\n\n  /* SIGNATURE */\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top:2px solid #cc0000;\"><tr><td style=\"padding-top:12px;\">'\n  + '<div style=\"font-size:12px;font-weight:700;color:#0d0d0d;margin-bottom:6px;font-family:Arial,sans-serif;\">L\\'\\u00e9quipe TargetUp University</div>'\n  + '<div style=\"font-size:10px;color:#666666;line-height:2;font-family:Arial,sans-serif;\">&#128222; +212 684 48 17 30 &nbsp;|&nbsp; +212 684 77 88 54<br>&#128231; sales@targetupconsulting.com<br>&#127760; targetupconsulting.com &nbsp;|&nbsp; university.targetupconsulting.com<br>&#128205; 17 Rue Jbel Moussa, Rabat 10090, Maroc &nbsp;|&nbsp; Cardiff CF14 8LH, Royaume-Uni</div>'\n  + '</td></tr></table>'\n\n  + '</td></tr>'\n\n  /* FOOTER */\n  + '<tr><td style=\"background:#0d0d0d;border-top:2px solid #cc0000;padding:9px;text-align:center;font-size:8px;color:#444444;font-family:Arial,sans-serif;\">'\n  + 'Vous recevez cet email car vous faites partie de notre r\\u00e9seau professionnel. Pour vous d\\u00e9sabonner, r\\u00e9pondez avec \\u00ab STOP \\u00bb dans l\\'objet.'\n  + '</td></tr>'\n\n  + '</table>'\n  + '</td></tr></table>'\n  + '</body></html>';\n})()\n}}"},"id":"2040fd8f-dec1-4a17-b8d8-b9ae66a2eb13","name":"HTML - Template RH Formation","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-608,1088]},{"parameters":{"sendTo":"=={{ $('Set - Variables Dirigeants').first().json.toEmail }}","subject":"={{ $('Set - Variables Dirigeants').first().json.subject }}","message":"={{ $('HTML - Template Dirigeants').first().json.html }}","options":{"appendAttribution":false,"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com"}},"id":"f9a30444-affc-4619-85b7-0e69b85ade4a","name":"Gmail - Envoi Dirigeants","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-224,768],"webhookId":"ab75f522-b463-4005-91b0-c0a7a70e2fd9","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"=={{ $('Set - Variables RH Formation').item.json.toEmail }}","subject":"={{ $('Set - Variables RH Formation').item.json.subject }}","message":"={{ $('HTML - Template RH Formation').item.json.html }}","options":{"appendAttribution":false,"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com "}},"id":"b67bb5d8-4a5f-4746-b95e-e0ef74d43e01","name":"Gmail - Envoi RH Formation","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-176,1088],"webhookId":"c5d22f54-45d2-4791-9499-ce43df0e856b","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Set - Variables Dirigeants').first().json.toEmail }}"},"matchingColumns":["Email"],"schema":[{"id":"Prenom","displayName":"Prenom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Poste","displayName":"Poste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"624ca208-c766-4c01-b954-ef127e782e8a","name":"Sheets - Marquer OUI Dirigeants","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[48,768],"credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Email":"={{ $('Set - Variables RH Formation').item.json.toEmail }}"},"matchingColumns":["Email"],"schema":[{"id":"Prenom","displayName":"Prenom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Poste","displayName":"Poste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"782eb399-73a3-469a-ad16-39f1e3d43dd4","name":"Sheets - Marquer OUI RH","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[48,1088],"credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{"amount":15},"id":"e2fd8a4e-1464-47fb-94e6-77180d666474","name":"Wait 15s - Dirigeants","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,768],"webhookId":"4e9b3f69-547f-4b4d-8af9-37935654ea27"},{"parameters":{"amount":15},"id":"60ffebc3-4173-4e93-be34-66f4b0fd2725","name":"Wait 15s - RH","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,1088],"webhookId":"68a4882b-2a76-40d6-89fb-36ca14f58a4f"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=77176399#gid=77176399","mode":"url"},"sheetName":{"__rl":true,"value":77176399,"mode":"list","cachedResultName":"Log_Erreurs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=77176399"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Segment":"={{ $json.segment }}","Email":"={{ $json.toEmail }}","Nom":"={{ $json.prenom + ' ' + $json.nom }}","Entreprise":"={{ $json.entreprise }}","Erreur":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Erreur","displayName":"Erreur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e170bda5-56b2-4ce1-9d96-297358665f4c","name":"Sheets - Log Erreurs","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[48,928],"credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{},"id":"bb741d3a-9e1e-44c9-965a-6c4d351d2774","name":"NoOp - Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,928]},{"parameters":{"content":"## ⏰ Déclenchement Automatique\nCampagne lancée automatiquement\ntous les jours à 07h00.\n\nLe workflow reprend automatiquement\nlà où il s'est arrêté grâce au\nfiltre Envoyé = OUI.\n\nSegments traités :\n- Dirigeants : 33 235 contacts\n- RH Formation : 3 266 contacts\n- Batch : 50 contacts / exécution\n- Attente : 15s entre chaque batch","height":344,"width":360},"id":"c0ae66bb-6f07-4e91-b78e-215b57ce3881","name":"Note - Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2688,736]},{"parameters":{"content":"## 📋 Lecture contacts\nRécupère tous les contacts\ndu Google Sheets.\n**152 600 contacts** au total\n(Dirigeants + RH Formation).","height":344,"width":276},"id":"805310fe-352e-4b6d-9a17-b2d3d764477c","name":"Note - Sheets","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2304,736]},{"parameters":{"content":"## 🔄 Traitement par lots\nDécoupe la liste en **groupes de 50**.\nFiltre les contacts :\n- Email valide\n- Non encore envoyé\n- Segment ciblé","height":344,"width":420},"id":"722a5079-a2d4-48b5-b33e-9b77f16c8974","name":"Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1744,736]},{"parameters":{"content":"## 🎯 Segmentation\nSépare les contacts en\n2 chemins parallèles :\n\n**↑ Dirigeants** — 33 235 contacts\nMessage adapté au poste\n(DG, Commercial, Financier…)\n\n**↓ RH Formation** — 3 266 contacts\nMessage formations certifiantes","height":328,"width":220},"id":"02326795-02c8-44df-a4b2-38d23445b337","name":"Note - Segment","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,592]},{"parameters":{"content":"## ✉️ Personnalisation & Envoi — Dirigeants\nGénère un message HTML personnalisé selon le poste :\n- **DG/CEO** → Vision stratégique, ESG, ZLECAF\n- **Dir. Commercial** → ISO 9001, CRM Odoo, Export\n- **Dir. Financier** → Réduction coûts, ERP Finance\n- **Dir. Technique** → ISO 45001, Lean, Production\n- **Fondateur** → Structuration, financement, croissance\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":300,"width":664},"id":"3b609dbb-37bf-466a-8723-20c851bbd670","name":"Note - Dirigeants","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,432]},{"parameters":{"content":"## 📚 Personnalisation & Envoi — RH Formation\nGénère un message HTML dédié aux profils RH :\n- Lean Six Sigma, Lead Auditor ISO\n- Management & Leadership\n- GPEC, CSRD & Reporting RH\n\nJoint le **PDF TargetUp 2026** automatiquement.\nMarque **OUI** dans le sheet après envoi.\nPause **15 secondes** entre chaque email.","height":236,"width":664},"id":"be36392e-64e4-463d-b26a-a86d2570b564","name":"Note - RH Formation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-928,1296]},{"parameters":{"content":"## ❌ Gestion erreurs\nEn cas d'échec d'envoi Gmail,\nl'erreur est enregistrée dans\nl'onglet **Log_Erreurs** du sheet\navec : date, email, nom,\nentreprise et message d'erreur.","height":248,"width":312},"id":"0f66dac2-4407-4cd5-827a-f2318b181fa2","name":"Note - Erreurs","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,464]},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2432,928],"id":"6c38bb83-22c6-422b-a656-878268cd5fdc","name":"Schedule Trigger"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2000,928],"id":"cdf8b778-7390-4c37-88aa-ed7c30eb01ec","name":"Limit"},{"parameters":{"content":"## 🚦 Limite de traitement\nLimite le nombre de contacts traités\npar exécution à **50 contacts**.\n\nSans cette limite, n8n tenterait de\ntraiter les 36 501 contacts d'un seul\ncoup et causerait un timeout.","height":336,"width":256},"type":"n8n-nodes-base.stickyNote","position":[-2016,736],"typeVersion":1,"id":"977d662f-6a98-4c76-b20e-c1eced0274fd","name":"Sticky Note1"}],"connections":{"Google Sheets - Lire contacts":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Filter - Email valide et non envoyé","type":"main","index":0}]]},"Filter - Email valide et non envoyé":{"main":[[{"node":"IF - Segment ?","type":"main","index":0}]]},"IF - Segment ?":{"main":[[{"node":"Set - Variables Dirigeants","type":"main","index":0}],[{"node":"Set - Variables RH Formation","type":"main","index":0}]]},"Set - Variables Dirigeants":{"main":[[{"node":"HTML - Template Dirigeants","type":"main","index":0}]]},"Set - Variables RH Formation":{"main":[[{"node":"HTML - Template RH Formation","type":"main","index":0}]]},"HTML - Template Dirigeants":{"main":[[{"node":"Gmail - Envoi Dirigeants","type":"main","index":0}]]},"HTML - Template RH Formation":{"main":[[{"node":"Gmail - Envoi RH Formation","type":"main","index":0}]]},"Gmail - Envoi Dirigeants":{"main":[[{"node":"Sheets - Marquer OUI Dirigeants","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Gmail - Envoi RH Formation":{"main":[[{"node":"Sheets - Marquer OUI RH","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Sheets - Marquer OUI Dirigeants":{"main":[[{"node":"Wait 15s - Dirigeants","type":"main","index":0}]]},"Sheets - Marquer OUI RH":{"main":[[{"node":"Wait 15s - RH","type":"main","index":0}]]},"Wait 15s - Dirigeants":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Wait 15s - RH":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"NoOp - Fin","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets - Lire contacts","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b021efd3-fc7b-4c01-9184-6b46b5840df5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T10:14:45.941Z","createdAt":"2026-04-16T10:14:45.941Z","role":"workflow:owner","workflowId":"orV116VdNxxkoq9F","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}