targetup-ai-agent-gemini-zGCOdN06TW1rDyRh.json
{"updatedAt":"2026-05-04T12:03:12.379Z","createdAt":"2026-05-03T11:15:47.813Z","id":"zGCOdN06TW1rDyRh","name":"TargetUp_AI_Agent_GEMINI","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"399ccc66-0915-4858-a8d0-cd4db41f4916","name":"Schedule Trigger - 07h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1040,320]},{"parameters":{},"id":"9fca863f-b0a6-495a-95dc-ff698801122a","name":"Limit - 50 contacts","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-576,320]},{"parameters":{"options":{}},"id":"5e2aebf8-4366-4679-a33f-c1a5bc7cbf5c","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,320],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json['Envoyé'] }}","rightValue":"OUI","operator":{"type":"string","operation":"notEquals"}},{"id":"c2","leftValue":"={{ $json['Email'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"c3","leftValue":"={{ $json['Email'] }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"748f4630-2687-4368-a5d2-d149f13df94e","name":"Filter - Email valide et non envoyé","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-96,320]},{"parameters":{"sendTo":"=mtargetup@gmail.com","subject":"={{ $json.subject }}","message":"={{ $json.emailHtml }}","options":{"senderName":"TargetUp Group","replyTo":"sales@targetupconsulting.com"}},"id":"b91a7223-5d5c-4820-9b77-42675f6f54ad","name":"Gmail - Envoi avec PDF joint","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[848,320],"webhookId":"ab75f522-b463-4005-91b0-c0a7a70e2fd9","credentials":{"gmailOAuth2":{"id":"nbFWt3jgDjlSOJrX","name":"Gmail account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":974989283,"mode":"list","cachedResultName":"Tous les contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=974989283"},"columns":{"mappingMode":"defineBelow","value":{"Envoyé":"OUI","Date Envoi":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Envoyé","displayName":"Envoyé","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Envoi","displayName":"Date Envoi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c7001740-8b4c-4e71-9f0a-5ccb6425f481","name":"Sheets - Marquer OUI","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,320],"credentials":{"googleSheetsOAuth2Api":{"id":"F87poFuqYBep7RgK","name":"Google Sheets account 2"}},"disabled":true},{"parameters":{"amount":20},"id":"51ecff73-1991-4865-8e69-fa83515c1640","name":"Wait 20s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,320],"webhookId":"4e9b3f69-547f-4b4d-8af9-37935654ea28"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=77176399#gid=77176399","mode":"url"},"sheetName":{"__rl":true,"value":77176399,"mode":"list","cachedResultName":"Log_Erreurs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit#gid=77176399"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Segment":"Gemini_Agent","Email":"={{ $json.toEmail }}","Nom":"={{ $json.prenom + ' ' + $json.nom }}","Entreprise":"—","Erreur":"={{ $json.error?.message || JSON.stringify($json.error) || 'Erreur inconnue' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Segment","displayName":"Segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Entreprise","displayName":"Entreprise","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Erreur","displayName":"Erreur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"33191401-9670-4886-aa17-df948602dd5b","name":"Sheets - Log Erreurs","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,512],"credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{},"id":"f63f23b8-0564-4a8b-a5c6-8596515b8004","name":"Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,512]},{"parameters":{"content":"## 📋 ÉTAPE 1 — Lecture\nLit les contacts du Google Sheets.\nLimite à 50 par exécution.\nFiltre : email valide + non envoyé.","width":320},"id":"e039a757-a434-405f-9500-1d803ade07d9","name":"Note 1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,112]},{"parameters":{"content":"## 🤖 ÉTAPE 2 — Agent AI Gemini\n100% GRATUIT ✅\n\n1. Appelle Gemini 1.5 Flash\n   (aistudio.google.com)\n2. Génère un email HTML unique\n   par contact (prénom + nom)\n3. Retry automatique × 3\n4. Télécharge le PDF brochure\n5. Retourne tout dans un seul item\n\n⚙️ Ouvrir ce nœud → remplacer\nREMPLACER_PAR_VOTRE_CLE_GEMINI\npar ta clé sur aistudio.google.com","height":336,"width":376},"id":"69dcf38f-e7f6-4375-b5a5-4f85592db214","name":"Note 2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-32]},{"parameters":{"content":"## ✉️ ÉTAPE 3 — Envoi Gmail\nEmail HTML généré par Gemini\n+ PDF brochure en pièce jointe\ndans le même email.\n\n✅ Succès → Marquer OUI dans Sheets\n❌ Erreur → Log dans Log_Erreurs\n⏳ Attente 20s → contact suivant","height":220,"width":352},"id":"edc0f8cc-707f-42cf-ac42-089a3d34b861","name":"Note 3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,80]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MOyV3qoPabW70tQxHZ7ptuN_SgEjXpQ8wABxtAJf7L0/edit?gid=974989283#gid=974989283","mode":"url"},"sheetName":{"__rl":true,"value":"Tous les contacts","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-832,320],"id":"37ed809b-b881-4c8c-9d3c-9fe91772ab9c","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"rDDDyRpn8w7Zzmrn","name":"Google Sheets account 2"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-goog-api-key","value":"AIzaSyAGdwY_SXnHEfYQAstANH6yO-UknEkt8Gw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Tu es l'Agent Commercial IA de TargetUp Group.\\n\\nTargetUp Group est un groupe international de conseil stratégique, formation professionnelle et investissement basé à Rabat (Maroc) et Cardiff (Royaume-Uni).\\nAccréditations : ISO 9001 · ISO 21001 · ISO 37301 · AIAE USA · EOQM UK · UNGM Nations Unies · AMDIE.\\n\\nTes règles absolues :\\n- Chaque email est UNIQUE : jamais le même texte deux fois\\n- Tu commences TOUJOURS par Bonjour [Prenom], en gras sur sa propre ligne\\n- Tu ouvres avec une accroche personnalisée et percutante\\n- Tu sélectionnes 3 à 4 services selon la valeur ajoutée perçue\\n- Tu intègres des chiffres concrets\\n- Tu termines par un CTA cliquable vers le site officiel\\n- Tu génères le HTML complet dark mode rouge noir blanc\\n- Tu réponds UNIQUEMENT en JSON valide\\n- JAMAIS de mention n8n automatisation ou outil technique dans l'email\\n- JAMAIS de href vide\\n\\nGénère un email de prospection B2B pour :\\nPrénom : {{ $json['Prenom'] }}\\nNom : {{ $json['Nom'] }}\\n\\nServices disponibles (choisis 3-4) :\\n- Certifications ISO 9001/14001/45001/37301 - audit réussi en 3 à 6 mois garanti\\n- Formations certifiantes financées jusqu'à 100% - Lean Six Sigma, Lead Auditor PECB, DBA, MSc - via CSF/MOUWAKABA/OFPPT\\n- Transformation Digitale - ERP CRM Odoo, +35% efficacité, ROI 18 mois\\n- Programme Export Afrique Francophone - 10 marchés, BAD/AFD/Banque Mondiale, UNGM ONU\\n- Financement - Maroc PME, INTELAKA, capital-risque 4-50M MAD\\n- Lean Six Sigma - +20 à 50% efficacité documentés\\n\\nChiffres clés : +1220 missions, 100% financement possible, 3-6 mois certification, 10 marchés africains\\n\\nHTML OBLIGATOIRE styles 100% inline jamais de balise style ni classes CSS fond #111111 largeur 600px :\\n\\nHEADER : table width=600 background #111111 border-bottom 3px solid #E01B1B. Contenu : TARGETUP en blanc Arial Black 44px gras + [VISEUR] + GROUP en rouge Arial Black 44px gras + sous-titre gris italique Conseil Strategique Formation Internationale Investissement Partenariats + 3 blocs : CONSULTING fond #E01B1B blanc, UNIVERSITY fond #555555 blanc, BUSINESS CENTER fond #E01B1B blanc. Remplacer [VISEUR] par exactement ce texte sans modification : [VISEUR]\\n\\nKPI BAR : table background #1e1e1e 3 colonnes : +1220 MISSIONS, 100% FINANCEMENT, 3-6 MOIS CERTIFICATION en rouge #E01B1B\\n\\nCorps : fond #1a1a1a padding 32px, Bonjour Prenom en gras blanc, services avec check titres rouge #E01B1B, bloc urgence fond #111111 bordure gauche rouge\\n\\nCTA : table background #E01B1B border-radius 4px lien https://www.targetupconsulting.com texte blanc Reserver mon creneau de 20 min\\n\\nPDF : lien href https://drive.google.com/uc?export=download&id=1sUobjRoxH6yhGZ34k2A33vw0F31RsN7C table background #1e1e1e border #E01B1B icone PDF rouge nom TargetUp_Group_Brochure_2026.pdf description Brochure commerciale cliquez pour telecharger\\n\\nSIGNATURE : L'equipe TargetUp Group, telephone +212 684 48 17 30 et +212 684 77 88 54, email sales@targetupconsulting.com, site targetupconsulting.com et university.targetupconsulting.com, adresse 17 Rue Jbel Moussa Rabat 10090 Maroc et Cardiff CF14 8LH UK\\n\\nFOOTER : ISO 9001 ISO 21001 ISO 37301 AIAE USA EOQM UK UNGM Nations Unies\\n\\nRéponds UNIQUEMENT avec ce JSON sans texte avant ou après :\\n{\\\"subject\\\":\\\"...\\\",\\\"html\\\":\\\"...\\\"}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.9,\n    \"maxOutputTokens\": 4096,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,320],"id":"dbcd0fac-abb5-4149-a49d-352b41805f8d","name":"HTTP Request","retryOnFail":true,"maxTries":3},{"parameters":{"jsCode":"const geminiData = $('HTTP Request').item.json;\nlet rawText = geminiData.candidates[0].content.parts[0].text;\n\n// Nettoyer le texte avant parsing\nrawText = rawText.replace(/```json|```/gi, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch(e) {\n  // Extraire subject et html manuellement si JSON cassé\n  const subjectMatch = rawText.match(/\"subject\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const htmlMatch = rawText.match(/\"html\"\\s*:\\s*\"([\\s\\S]*)\"\\s*\\}?\\s*$/);\n  parsed = {\n    subject: subjectMatch ? subjectMatch[1] : 'TargetUp Group — Solution sur mesure',\n    html: htmlMatch ? htmlMatch[1].replace(/\\\\n/g, '').replace(/\\\\\"/g, '\"') : rawText\n  };\n}\n\nlet html = parsed.html;\nhtml = html.replace(/---\\s*<br\\s*\\/?>\\s*This email was sent automatically with.*?n8n[^<]*(<\\/a>)?/gi, '');\nhtml = html.replace(/This email was sent automatically with n8n/gi, '');\n\nreturn [{\n  json: {\n    toEmail:   $('Filter - Email valide et non envoyé').item.json['Email'],\n    prenom:    $('Filter - Email valide et non envoyé').item.json['Prenom'],\n    nom:       $('Filter - Email valide et non envoyé').item.json['Nom'],\n    subject:   parsed.subject,\n    emailHtml: html\n  },\n  binary: {\n    brochure: $('Code in JavaScript1').item.binary.brochure\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,320],"id":"868829b5-1897-40a6-b564-4a8ac5a61aee","name":"Code in JavaScript"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1sUobjRoxH6yhGZ34k2A33vw0F31RsN7C","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"brochure"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,320],"id":"afc7a26b-a260-43f5-a4b1-7ef8ebc1d487","name":"HTTP Request1"},{"parameters":{"jsCode":"const item = $input.item;\nitem.binary.brochure.fileName = 'TargetUp_Group_Brochure_2026.pdf';\nitem.binary.brochure.mimeType = 'application/pdf';\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,320],"id":"70126678-9655-470d-b0a9-f21815975165","name":"Code in JavaScript1"}],"connections":{"Schedule Trigger - 07h00":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Limit - 50 contacts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Filter - Email valide et non envoyé","type":"main","index":0}]]},"Filter - Email valide et non envoyé":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Gmail - Envoi avec PDF joint":{"main":[[{"node":"Sheets - Marquer OUI","type":"main","index":0}],[{"node":"Sheets - Log Erreurs","type":"main","index":0}]]},"Sheets - Marquer OUI":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Sheets - Log Erreurs":{"main":[[{"node":"Fin","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Limit - 50 contacts","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Gmail - Envoi avec PDF joint","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ccc8c62-100c-4269-ab15-0837f04ab882","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-03T11:15:47.816Z","createdAt":"2026-05-03T11:15:47.816Z","role":"workflow:owner","workflowId":"zGCOdN06TW1rDyRh","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[]}