veille-strat-gique-kgJF1VrHCFaT9v2y.json
{"updatedAt":"2026-04-02T09:46:13.489Z","createdAt":"2026-03-23T08:48:40.093Z","id":"kgJF1VrHCFaT9v2y","name":"Veille Stratégique","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=TargetUp Consulting est un cabinet de conseil marocain spécialisé dans l'accompagnement stratégique, la transformation digitale et la performance opérationnelle. Il s'adresse principalement aux PME, aux grandes entreprises et aux institutions en Afrique et à l'international.\n\nVoici la liste détaillée de leurs services et programmes :\n\n1. Services de Conseil (Expertises)\nCes services sont conçus pour structurer et moderniser les entreprises :\n\nAccompagnement à la Certification ISO & QHSE : Expertise pour l'obtention de normes internationales (ISO 9001, ISO 22000, HACCP, ISO 14001, label pme responsable,...) et de certifications produits.\n\nStratégie ESG & RSE : Accompagnement sur la durabilité, le bilan carbone et la mise en conformité réglementaire (CSRD).\n\nTransformation Digitale : Intégration de solutions technologiques, notamment l'ERP Odoo, pour piloter l'activité.\n\nExcellence Opérationnelle : Optimisation des processus via la méthodologie Lean Six Sigma.\n\nÉtudes et Expertises Techniques : Études de faisabilité, ingénierie et assistance technique pour projets industriels.\n\nSoutien à l'Investissement : Aide au montage de dossiers financiers pour sécuriser les fonds.\n\n\n2. Programmes Nationaux d'Appui\nTargetUp facilite l'accès aux dispositifs de financement et d'accompagnement de l'État marocain :\n\nProgramme Go Siyaha : Appui à l'investissement et à l'expertise technique pour la compétitivité du secteur touristique.\n\nProgramme MOUWAKABA : Soutien à la transformation et à la croissance des entreprises.\n\nProgramme ISTITMAR PME : Appui à l'investissement pour le développement de projets industriels.\n\nProgramme INTELAKA : Accompagnement des porteurs de projets et des entrepreneurs pour transformer leurs idées en entreprises.\n\nProgramme EXPORT MAROC : Accélération du développement à l'international via la mise en conformité et la digitalisation.\n\nContrats Spéciaux de Formation (CSF) : Gestion du remboursement des frais de formation (via l'OFPPT) pour monter en compétence.\n\n\nGéographies : Priorité 1 : Maroc (Maroc PME, AMDIE, OFPPT). Priorité 2 : Afrique de l'Ouest (Sénégal, Côte d'Ivoire, Togo, Bénin - Bailleurs : BERD, BAD, PNUD). \nPriorité 3 : Afrique Centrale (RDC, Gabon).\n\n\nSOURCES DE DONNÉES À ANALYSER (DERNIERS 7 JOURS) :\n\nGoogle News RSS : {{ $json.data.map(i => \"Titre: \" + i.title + \" | Lien: \" + i.link + \" |Snippet : \"+i.contentSnippet+\"| Date: \" + i.pubDate).join('\\n') }}\n\nActualité via Gemini api : {{ $json.output }}\n\nDate du jour : {{ $now.format('yyyy-MM-dd') }}\n\nOBJECTIF DU RAPPORT : Transformer les informations en opportunités de vente pour nos services.\n\nSTRUCTURE DU RAPPORT (DÉLIVRABLE) :\n\n1. RÉSUMÉ EXÉCUTIF (TOP 5 PRIORITÉS)\n   - Liste les 10 opportunités les plus critiques (deadline imminente ou alignement fort).\nNote : Deadline doit etre superieur de 7 jours aux {{ $now.format('yyyy-MM-dd') }}\n   - Pour chacune : Titre, Pays, URL, Deadline, Action recommandée.\n\n2. TABLEAU COMPLET DES OPPORTUNITÉS (SCORÉ)\n   Colonnes : Pays | Type (AO/AMI/Grant) | Titre | Deadline | Thématique | Pertinence (1-5) | Action (service suggéré)\n   - Score de pertinence : basé sur l'alignement avec nos services (5 = alignement parfait).\n   - Pour chaque opportunité, inclure un lien cliquable (URL réelle issue des données).\n   - Mettre en évidence les \"Quick Wins\" : deadline ≤ 7 jours ET score ≥ 4.\n\n3. VEILLE RÉGLEMENTAIRE & PROGRAMMES\n   Colonnes : Nouveauté / Loi | Zone | Impact Business | Suggestion d'Offre | Lien Source\n(Top 10 actualité / Trending / News)\n\n4. VEILLE RÉSEAUX SOCIAUX & MÉDIAS\n   - 3 à 5 publications Post  du les plus pertinentes sur LinkedIn, communiqués de presse. (poste complet avec text et Hashtags)\n   - Inclure source, auteur (si pertinent), contenu clé, date.\n\n5. TENDANCES & INNOVATION (5 bullet point avec explication)\n   - ...\n   - ...\n   - ...\n   - ...\n   - ...\n\n6. CHECKLIST ACTIONS SOUS 72H\n   - Liste d’actions concrètes à mener dans les 72h \n\n\n7. ANALYSE DÉCISIONNELLE (TOP 5 PRIORITÉS DG + SUGGESTIONS STRATÉGIQUES)\n   - Top 5 infos les plus critiques avec action sous 48h.\n   - Suggestions stratégiques pour améliorer les services ou gagner des parts de marché.\n\nSTYLE & TON : Style direct, stratégique (style DG), sans blabla. Liens cliquables. Langue : Français.\n\nURL RULES (MANDATORY):\n- Pour chaque opportunité, utiliser l'URL réelle provenant des données d'entrée de page et non pas de site  (Google News ou API).\n- Ne jamais inventer d'URL.\n- Toutes les URL doivent être absolues (https://) et accessibles.\n- Ne jamais modifier, reconstruire ou inventer une URL.\n- Tu dois les copier EXACTEMENT telles quelles dans le tableau.\n\n\n{{ $json.data.map(i => \"TITRE: \" + i.title + \"\\nURL: \" + i.link).join('\\n---\\n') }}\n","options":{"systemMessage":"Agis en tant qu'Analyste Business Senior spécialisé dans le marché du conseil en Afrique Francophone. Ta mission est de faire les recherches sur le web et twitter et de générer le rapport de veille stratégique pour TARGETUP Consulting."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[720,-48],"id":"6ecc8d18-50cb-4790-a3e4-6ad008ed5ef0","name":"AI Agent6"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[784,192],"id":"36cf5594-44d7-4497-a94c-8182f1186805","name":"Simple Memory6"},{"parameters":{"url":"=https://news.google.com/rss/search?q=intitle:\"appel+d'offres\"+OR+\"AMI\"+OR+\"AO\"+OR+\"tender\"+OR+\"subvention\"+OR+\"financement\"+OR+\"Loi+de+Finances\"+OR+\"norme\"+OR+\"ISO\"+OR+\"9001\"+OR+\"22000\"+OR+\"HACCP\"+OR+\"14001\"+OR+\"ESG\"+OR+\"RSE\"+OR+\"carbone\"+OR+\"Lean+six+sigma\"+OR+\"Odoo\"+OR+\"digital\"+OR+\"go+Siyaha\"+OR+\"MOUWAKABA\"+OR+\"PME\"+OR+\"CGEM\"+AND+(\"Maroc\"+OR+\"Sénégal\"+OR+\"Côte+d'Ivoire\"+OR+\"Cameroun\"+OR+\"Togo\"+OR+\"Bénin\"+OR+\"Gabon\"+OR+\"RDC\")+after:1d&hl=fr&gl=MA&ceid=MA:fr","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-256,-288],"id":"a1dbc9c4-b552-41bc-b248-82af8c702d3b","name":"Google news2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-64,-288],"id":"65f1cd68-53db-4d72-ba34-dd09cecffafe","name":"Aggregate2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,-48],"id":"8f682324-19e4-43c2-b5e4-e2917ba8198f","name":"Merge2"},{"parameters":{"promptType":"define","text":"=Tu es un analyste senior en intelligence stratégique, spécialisé en veille réglementaire, détection d’opportunités business et analyse de marchés en Afrique.\n\nTa mission est de réaliser une veille stratégique hebdomadaire à forte valeur décisionnelle pour un cabinet de conseil qui s'appelle : TargetUp Consulting\n\nTargetUp Consulting est un cabinet de conseil marocain spécialisé dans l'accompagnement stratégique, la transformation digitale et la performance opérationnelle. Il s'adresse principalement aux PME, aux grandes entreprises et aux institutions en Afrique et à l'international.\n\nVoici la liste détaillée de leurs services et programmes :\n\n1. Services de Conseil (Expertises)\nCes services sont conçus pour structurer et moderniser les entreprises :\n\nAccompagnement à la Certification ISO & QHSE : Expertise pour l'obtention de normes internationales (ISO 9001, ISO 22000, HACCP, ISO 14001, label pme responsable,...) et de certifications produits.\n\nStratégie ESG & RSE : Accompagnement sur la durabilité, le bilan carbone et la mise en conformité réglementaire (CSRD).\n\nTransformation Digitale : Intégration de solutions technologiques, notamment l'ERP Odoo, pour piloter l'activité.\n\nExcellence Opérationnelle : Optimisation des processus via la méthodologie Lean Six Sigma.\n\nÉtudes et Expertises Techniques : Études de faisabilité, ingénierie et assistance technique pour projets industriels.\n\nSoutien à l'Investissement : Aide au montage de dossiers financiers pour sécuriser les fonds.\n\n\n2. Programmes Nationaux d'Appui\nTargetUp facilite l'accès aux dispositifs de financement et d'accompagnement de l'État marocain :\n\nProgramme Go Siyaha : Appui à l'investissement et à l'expertise technique pour la compétitivité du secteur touristique.\n\nProgramme MOUWAKABA : Soutien à la transformation et à la croissance des entreprises.\n\nProgramme ISTITMAR PME : Appui à l'investissement pour le développement de projets industriels.\n\nProgramme INTELAKA : Accompagnement des porteurs de projets et des entrepreneurs pour transformer leurs idées en entreprises.\n\nProgramme EXPORT MAROC : Accélération du développement à l'international via la mise en conformité et la digitalisation.\n\nContrats Spéciaux de Formation (CSF) : Gestion du remboursement des frais de formation (via l'OFPPT) pour monter en compétence.\n\n\nGéographies : Priorité 1 : Maroc (Maroc PME, AMDIE, OFPPT). Priorité 2 : Afrique de l'Ouest (Sénégal, Côte d'Ivoire, Togo, Bénin - Bailleurs : BERD, BAD, PNUD). \nPriorité 3 : Afrique Centrale (RDC, Gabon).\n\nEffectue une veille hebdomadaire approfondie en analysant les sources web fiables (sites officiels, journaux économiques, plateformes d’appels d’offres, publications juridiques, organismes publics et privés, Twitter, Linkedin et Google trends et Google news) afin d’identifier :\n\nLes actualités récentes\n\nLes nouvelles lois, décrets, arrêtés et obligations réglementaires\n\nLes évolutions juridiques et fiscales\n\nLes tendances sectorielles majeures et actualité\n\nLes opportunités business (notamment appels d’offres publics et privés)\n\n📅 Période ciblée : uniquement les informations publiées au cours des 7 derniers jours.\n\n\nFORMAT DE RÉPONSE STRICT (OBLIGATOIRE)\n\n❌ Aucune introduction\n❌ Aucun commentaire\n❌ Aucune explication de méthode\n❌ Aucune mention des sources ou liens\n❌ Aucun texte hors structure\n\n✅ Uniquement des résultats structurés, clairs et actionnables\n\nNOTE : \nFaire le recherche sauf sur les pays mentionné dans la section du Géographies et aussi lié aux domaines du notre services \n\n\nFor each finding (regulatory update, tender, etc.), you must provide:\n- Title\n- Summary\n- Source URL (full, working link)\n- Date of publication\n- Country\n\nNote : \nfaire le recherche sur les  7 jours dernieres depuis : {{ $now.format('yyyy-MM-dd') }}\n\nLe recherhce doit etre tres detaillé et informative pour faire des decisions strategique\n","options":{"systemMessage":"Agis en tant qu'Analyste Business Senior spécialisé dans le marché du conseil en Afrique Francophone. Ta mission est de faire les recherches sur le web,twitter et Linkedin"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,-32],"id":"840fdf4c-fbfd-4f1e-a5c3-0bcb554d167d","name":"AI Agent7"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-192,160],"id":"5f9c1a29-0b1e-41e0-88fe-20421eb92c2f","name":"Simple Memory7"},{"parameters":{"model":"perplexity/sonar","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-368,144],"id":"b8e3cc56-0ce7-4f0f-96eb-dbab2e2bf948","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,-32],"id":"fa7b21ae-3dd6-445e-8464-0cac6b36a53f","name":"Schedule Trigger2"},{"parameters":{"promptType":"define","text":"=You are an expert in HTML email design and business intelligence.\n\nYour task is to transform a raw \"Veille Stratégique\" report into a professional, high-impact HTML EMAIL TEMPLATE. The input report contains all the sections and data. You must output only HTML code.\n\n⚠️ OUTPUT FORMAT:\n- Return ONLY HTML code\n- No explanations, no markdown, no text outside HTML\n\n🎯 STRATEGIC LOGIC TO APPLY:\n- Use the data exactly as provided; do not recompute scores or quick wins if already present.\n- If the report includes a \"Résumé Exécutif\" section highlt the titles make each AO in place like liste and make the button in blue  \n- For opportunities, display the following fields if available: Pays, Type (AO/AMI/Grant), Titre, Deadline, Thématique, Pertinence (score 1-5), Action (service suggéré), URL.\n- Highlight opportunities with deadline < 7 days (red) and/or high score (≥4) as quick wins.\n- For \"Appels à formateurs\", if they match the profile of Ismail JENDABI, include a note.\n- For each recommendation or action, suggest an internal owner (e.g., \"Consultant ESG\", \"Expert Odoo\") if not already assigned.\n\n📐 REQUIRED STRUCTURE (must include all sections):\n\n1. HEADER\n   - Title: \"📊 Veille Stratégique & Opportunités\"\n   - Subtitle: \"Rapport Décisionnel – [Date du jour]\"\n   - Background color: #0a2540 (Dark Blue), Text: White.\n\n2. RÉSUMÉ EXÉCUTIF\n   - Present the Top 5 priorities (if available in input) as a bullet list with deadlines and actions.\n\n3. SECTION 1: 📊 Tableau des Opportunités\n   - Present a full table with columns: Pays | Type | Titre | Deadline | Thématique | Pertinence (⭐) | Action | Lien\n   - Use a responsive table (width 100%, border-collapse).\n   - Deadline in red if < 7 days; otherwise orange.\n   - The \"Lien\" column must contain a clickable button \"Voir l'offre\" using the exact URL from input.\n\n4. SECTION 2: 🚀 Plan d’Action (Checklist 72h)\n   - Highlight the TOP 3 actions to take immediately.\n   - Use a left border (#2e7d32) and include responsible person if suggested.\n\n5. SECTION 3: ⚖️ Veille Réglementaire & Normes\n   - Present as blocks or a table with: Nom de la loi/norme | Zone | Impact Business | Recommandation.\n   - Include source link if available.\n\n6. SECTION 4: 📱 Veille Réseaux Sociaux & Médias\n   - Summarize 3–5 relevant posts from LinkedIn, X (Twitter), press releases.\n   - Include source, author (if any), key content, date.\n\n7. SECTION 5: 🌍 Tendances & Innovation\n   - Bullet points for short insights (Digital & AI, Excellence & ESG).\n\n8. SECTION 6: 💡 Recommandations & Consultants\n   - Provide strategic advice and suggest internal consultants for high-priority opportunities.\n\n9. FOOTER\n   - \"TargetUp Consulting – Système de Veille Automatisé\"\n   - Optional: link to Odoo or CRM.\n\n🎨 DESIGN RULES:\n- Use TABLE layout for email compatibility.\n- Use inline CSS + <style> tag.\n- Max width: 650px.\n- Background: #f4f6f8; container: #ffffff (white) with rounded corners.\n- Primary color: #0a2540; Accent: #2e7d32.\n- Font: Arial, sans-serif.\n\n📥 INPUT DATA:\n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1152,-48],"id":"7c8fc11b-7882-4bfb-91e2-10fad8e03cdf","name":"AI Agent8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1248,224],"id":"d9472518-939a-4c6e-b2c6-804158bd5e9d","name":"Simple Memory8"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[992,320],"id":"b066b53f-0b00-4683-9ba6-416799183f34","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"toRecipients":"anaslachhab666@gmail.com, contact@targetupconsulting.com","subject":"=Veille Stratégique : {{ $now.format('yyyy-MM-dd') }}","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1488,-176],"id":"fa6b4bca-323f-4239-bfbf-434755d238a8","name":"Send a message1","webhookId":"4aa792f5-0faa-4ca7-b9a7-3bc23f252525","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"AI Agent6":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"AI Agent6","type":"ai_memory","index":0}]]},"Google news2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Simple Memory7":{"ai_memory":[[{"node":"AI Agent7","type":"ai_memory","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google news2","type":"main","index":0},{"node":"AI Agent7","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Simple Memory8":{"ai_memory":[[{"node":"AI Agent8","type":"ai_memory","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent8","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52e76d9c-d2cf-4f5a-b7c9-057da216776c","activeVersionId":"52e76d9c-d2cf-4f5a-b7c9-057da216776c","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T08:48:40.096Z","createdAt":"2026-03-23T08:48:40.096Z","role":"workflow:owner","workflowId":"kgJF1VrHCFaT9v2y","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":{"updatedAt":"2026-04-02T09:46:15.000Z","createdAt":"2026-04-02T09:46:13.492Z","versionId":"52e76d9c-d2cf-4f5a-b7c9-057da216776c","workflowId":"kgJF1VrHCFaT9v2y","nodes":[{"parameters":{"promptType":"define","text":"=TargetUp Consulting est un cabinet de conseil marocain spécialisé dans l'accompagnement stratégique, la transformation digitale et la performance opérationnelle. Il s'adresse principalement aux PME, aux grandes entreprises et aux institutions en Afrique et à l'international.\n\nVoici la liste détaillée de leurs services et programmes :\n\n1. Services de Conseil (Expertises)\nCes services sont conçus pour structurer et moderniser les entreprises :\n\nAccompagnement à la Certification ISO & QHSE : Expertise pour l'obtention de normes internationales (ISO 9001, ISO 22000, HACCP, ISO 14001, label pme responsable,...) et de certifications produits.\n\nStratégie ESG & RSE : Accompagnement sur la durabilité, le bilan carbone et la mise en conformité réglementaire (CSRD).\n\nTransformation Digitale : Intégration de solutions technologiques, notamment l'ERP Odoo, pour piloter l'activité.\n\nExcellence Opérationnelle : Optimisation des processus via la méthodologie Lean Six Sigma.\n\nÉtudes et Expertises Techniques : Études de faisabilité, ingénierie et assistance technique pour projets industriels.\n\nSoutien à l'Investissement : Aide au montage de dossiers financiers pour sécuriser les fonds.\n\n\n2. Programmes Nationaux d'Appui\nTargetUp facilite l'accès aux dispositifs de financement et d'accompagnement de l'État marocain :\n\nProgramme Go Siyaha : Appui à l'investissement et à l'expertise technique pour la compétitivité du secteur touristique.\n\nProgramme MOUWAKABA : Soutien à la transformation et à la croissance des entreprises.\n\nProgramme ISTITMAR PME : Appui à l'investissement pour le développement de projets industriels.\n\nProgramme INTELAKA : Accompagnement des porteurs de projets et des entrepreneurs pour transformer leurs idées en entreprises.\n\nProgramme EXPORT MAROC : Accélération du développement à l'international via la mise en conformité et la digitalisation.\n\nContrats Spéciaux de Formation (CSF) : Gestion du remboursement des frais de formation (via l'OFPPT) pour monter en compétence.\n\n\nGéographies : Priorité 1 : Maroc (Maroc PME, AMDIE, OFPPT). Priorité 2 : Afrique de l'Ouest (Sénégal, Côte d'Ivoire, Togo, Bénin - Bailleurs : BERD, BAD, PNUD). \nPriorité 3 : Afrique Centrale (RDC, Gabon).\n\n\nSOURCES DE DONNÉES À ANALYSER (DERNIERS 7 JOURS) :\n\nGoogle News RSS : {{ $json.data.map(i => \"Titre: \" + i.title + \" | Lien: \" + i.link + \" |Snippet : \"+i.contentSnippet+\"| Date: \" + i.pubDate).join('\\n') }}\n\nActualité via Gemini api : {{ $json.output }}\n\nDate du jour : {{ $now.format('yyyy-MM-dd') }}\n\nOBJECTIF DU RAPPORT : Transformer les informations en opportunités de vente pour nos services.\n\nSTRUCTURE DU RAPPORT (DÉLIVRABLE) :\n\n1. RÉSUMÉ EXÉCUTIF (TOP 5 PRIORITÉS)\n   - Liste les 10 opportunités les plus critiques (deadline imminente ou alignement fort).\nNote : Deadline doit etre superieur de 7 jours aux {{ $now.format('yyyy-MM-dd') }}\n   - Pour chacune : Titre, Pays, URL, Deadline, Action recommandée.\n\n2. TABLEAU COMPLET DES OPPORTUNITÉS (SCORÉ)\n   Colonnes : Pays | Type (AO/AMI/Grant) | Titre | Deadline | Thématique | Pertinence (1-5) | Action (service suggéré)\n   - Score de pertinence : basé sur l'alignement avec nos services (5 = alignement parfait).\n   - Pour chaque opportunité, inclure un lien cliquable (URL réelle issue des données).\n   - Mettre en évidence les \"Quick Wins\" : deadline ≤ 7 jours ET score ≥ 4.\n\n3. VEILLE RÉGLEMENTAIRE & PROGRAMMES\n   Colonnes : Nouveauté / Loi | Zone | Impact Business | Suggestion d'Offre | Lien Source\n(Top 10 actualité / Trending / News)\n\n4. VEILLE RÉSEAUX SOCIAUX & MÉDIAS\n   - 3 à 5 publications Post  du les plus pertinentes sur LinkedIn, communiqués de presse. (poste complet avec text et Hashtags)\n   - Inclure source, auteur (si pertinent), contenu clé, date.\n\n5. TENDANCES & INNOVATION (5 bullet point avec explication)\n   - ...\n   - ...\n   - ...\n   - ...\n   - ...\n\n6. CHECKLIST ACTIONS SOUS 72H\n   - Liste d’actions concrètes à mener dans les 72h \n\n\n7. ANALYSE DÉCISIONNELLE (TOP 5 PRIORITÉS DG + SUGGESTIONS STRATÉGIQUES)\n   - Top 5 infos les plus critiques avec action sous 48h.\n   - Suggestions stratégiques pour améliorer les services ou gagner des parts de marché.\n\nSTYLE & TON : Style direct, stratégique (style DG), sans blabla. Liens cliquables. Langue : Français.\n\nURL RULES (MANDATORY):\n- Pour chaque opportunité, utiliser l'URL réelle provenant des données d'entrée de page et non pas de site  (Google News ou API).\n- Ne jamais inventer d'URL.\n- Toutes les URL doivent être absolues (https://) et accessibles.\n- Ne jamais modifier, reconstruire ou inventer une URL.\n- Tu dois les copier EXACTEMENT telles quelles dans le tableau.\n\n\n{{ $json.data.map(i => \"TITRE: \" + i.title + \"\\nURL: \" + i.link).join('\\n---\\n') }}\n","options":{"systemMessage":"Agis en tant qu'Analyste Business Senior spécialisé dans le marché du conseil en Afrique Francophone. Ta mission est de faire les recherches sur le web et twitter et de générer le rapport de veille stratégique pour TARGETUP Consulting."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[720,-48],"id":"6ecc8d18-50cb-4790-a3e4-6ad008ed5ef0","name":"AI Agent6"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[784,192],"id":"36cf5594-44d7-4497-a94c-8182f1186805","name":"Simple Memory6"},{"parameters":{"url":"=https://news.google.com/rss/search?q=intitle:\"appel+d'offres\"+OR+\"AMI\"+OR+\"AO\"+OR+\"tender\"+OR+\"subvention\"+OR+\"financement\"+OR+\"Loi+de+Finances\"+OR+\"norme\"+OR+\"ISO\"+OR+\"9001\"+OR+\"22000\"+OR+\"HACCP\"+OR+\"14001\"+OR+\"ESG\"+OR+\"RSE\"+OR+\"carbone\"+OR+\"Lean+six+sigma\"+OR+\"Odoo\"+OR+\"digital\"+OR+\"go+Siyaha\"+OR+\"MOUWAKABA\"+OR+\"PME\"+OR+\"CGEM\"+AND+(\"Maroc\"+OR+\"Sénégal\"+OR+\"Côte+d'Ivoire\"+OR+\"Cameroun\"+OR+\"Togo\"+OR+\"Bénin\"+OR+\"Gabon\"+OR+\"RDC\")+after:1d&hl=fr&gl=MA&ceid=MA:fr","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-256,-288],"id":"a1dbc9c4-b552-41bc-b248-82af8c702d3b","name":"Google news2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-64,-288],"id":"65f1cd68-53db-4d72-ba34-dd09cecffafe","name":"Aggregate2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,-48],"id":"8f682324-19e4-43c2-b5e4-e2917ba8198f","name":"Merge2"},{"parameters":{"promptType":"define","text":"=Tu es un analyste senior en intelligence stratégique, spécialisé en veille réglementaire, détection d’opportunités business et analyse de marchés en Afrique.\n\nTa mission est de réaliser une veille stratégique hebdomadaire à forte valeur décisionnelle pour un cabinet de conseil qui s'appelle : TargetUp Consulting\n\nTargetUp Consulting est un cabinet de conseil marocain spécialisé dans l'accompagnement stratégique, la transformation digitale et la performance opérationnelle. Il s'adresse principalement aux PME, aux grandes entreprises et aux institutions en Afrique et à l'international.\n\nVoici la liste détaillée de leurs services et programmes :\n\n1. Services de Conseil (Expertises)\nCes services sont conçus pour structurer et moderniser les entreprises :\n\nAccompagnement à la Certification ISO & QHSE : Expertise pour l'obtention de normes internationales (ISO 9001, ISO 22000, HACCP, ISO 14001, label pme responsable,...) et de certifications produits.\n\nStratégie ESG & RSE : Accompagnement sur la durabilité, le bilan carbone et la mise en conformité réglementaire (CSRD).\n\nTransformation Digitale : Intégration de solutions technologiques, notamment l'ERP Odoo, pour piloter l'activité.\n\nExcellence Opérationnelle : Optimisation des processus via la méthodologie Lean Six Sigma.\n\nÉtudes et Expertises Techniques : Études de faisabilité, ingénierie et assistance technique pour projets industriels.\n\nSoutien à l'Investissement : Aide au montage de dossiers financiers pour sécuriser les fonds.\n\n\n2. Programmes Nationaux d'Appui\nTargetUp facilite l'accès aux dispositifs de financement et d'accompagnement de l'État marocain :\n\nProgramme Go Siyaha : Appui à l'investissement et à l'expertise technique pour la compétitivité du secteur touristique.\n\nProgramme MOUWAKABA : Soutien à la transformation et à la croissance des entreprises.\n\nProgramme ISTITMAR PME : Appui à l'investissement pour le développement de projets industriels.\n\nProgramme INTELAKA : Accompagnement des porteurs de projets et des entrepreneurs pour transformer leurs idées en entreprises.\n\nProgramme EXPORT MAROC : Accélération du développement à l'international via la mise en conformité et la digitalisation.\n\nContrats Spéciaux de Formation (CSF) : Gestion du remboursement des frais de formation (via l'OFPPT) pour monter en compétence.\n\n\nGéographies : Priorité 1 : Maroc (Maroc PME, AMDIE, OFPPT). Priorité 2 : Afrique de l'Ouest (Sénégal, Côte d'Ivoire, Togo, Bénin - Bailleurs : BERD, BAD, PNUD). \nPriorité 3 : Afrique Centrale (RDC, Gabon).\n\nEffectue une veille hebdomadaire approfondie en analysant les sources web fiables (sites officiels, journaux économiques, plateformes d’appels d’offres, publications juridiques, organismes publics et privés, Twitter, Linkedin et Google trends et Google news) afin d’identifier :\n\nLes actualités récentes\n\nLes nouvelles lois, décrets, arrêtés et obligations réglementaires\n\nLes évolutions juridiques et fiscales\n\nLes tendances sectorielles majeures et actualité\n\nLes opportunités business (notamment appels d’offres publics et privés)\n\n📅 Période ciblée : uniquement les informations publiées au cours des 7 derniers jours.\n\n\nFORMAT DE RÉPONSE STRICT (OBLIGATOIRE)\n\n❌ Aucune introduction\n❌ Aucun commentaire\n❌ Aucune explication de méthode\n❌ Aucune mention des sources ou liens\n❌ Aucun texte hors structure\n\n✅ Uniquement des résultats structurés, clairs et actionnables\n\nNOTE : \nFaire le recherche sauf sur les pays mentionné dans la section du Géographies et aussi lié aux domaines du notre services \n\n\nFor each finding (regulatory update, tender, etc.), you must provide:\n- Title\n- Summary\n- Source URL (full, working link)\n- Date of publication\n- Country\n\nNote : \nfaire le recherche sur les  7 jours dernieres depuis : {{ $now.format('yyyy-MM-dd') }}\n\nLe recherhce doit etre tres detaillé et informative pour faire des decisions strategique\n","options":{"systemMessage":"Agis en tant qu'Analyste Business Senior spécialisé dans le marché du conseil en Afrique Francophone. Ta mission est de faire les recherches sur le web,twitter et Linkedin"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,-32],"id":"840fdf4c-fbfd-4f1e-a5c3-0bcb554d167d","name":"AI Agent7"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-192,160],"id":"5f9c1a29-0b1e-41e0-88fe-20421eb92c2f","name":"Simple Memory7"},{"parameters":{"model":"perplexity/sonar","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-368,144],"id":"b8e3cc56-0ce7-4f0f-96eb-dbab2e2bf948","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,-32],"id":"fa7b21ae-3dd6-445e-8464-0cac6b36a53f","name":"Schedule Trigger2"},{"parameters":{"promptType":"define","text":"=You are an expert in HTML email design and business intelligence.\n\nYour task is to transform a raw \"Veille Stratégique\" report into a professional, high-impact HTML EMAIL TEMPLATE. The input report contains all the sections and data. You must output only HTML code.\n\n⚠️ OUTPUT FORMAT:\n- Return ONLY HTML code\n- No explanations, no markdown, no text outside HTML\n\n🎯 STRATEGIC LOGIC TO APPLY:\n- Use the data exactly as provided; do not recompute scores or quick wins if already present.\n- If the report includes a \"Résumé Exécutif\" section highlt the titles make each AO in place like liste and make the button in blue  \n- For opportunities, display the following fields if available: Pays, Type (AO/AMI/Grant), Titre, Deadline, Thématique, Pertinence (score 1-5), Action (service suggéré), URL.\n- Highlight opportunities with deadline < 7 days (red) and/or high score (≥4) as quick wins.\n- For \"Appels à formateurs\", if they match the profile of Ismail JENDABI, include a note.\n- For each recommendation or action, suggest an internal owner (e.g., \"Consultant ESG\", \"Expert Odoo\") if not already assigned.\n\n📐 REQUIRED STRUCTURE (must include all sections):\n\n1. HEADER\n   - Title: \"📊 Veille Stratégique & Opportunités\"\n   - Subtitle: \"Rapport Décisionnel – [Date du jour]\"\n   - Background color: #0a2540 (Dark Blue), Text: White.\n\n2. RÉSUMÉ EXÉCUTIF\n   - Present the Top 5 priorities (if available in input) as a bullet list with deadlines and actions.\n\n3. SECTION 1: 📊 Tableau des Opportunités\n   - Present a full table with columns: Pays | Type | Titre | Deadline | Thématique | Pertinence (⭐) | Action | Lien\n   - Use a responsive table (width 100%, border-collapse).\n   - Deadline in red if < 7 days; otherwise orange.\n   - The \"Lien\" column must contain a clickable button \"Voir l'offre\" using the exact URL from input.\n\n4. SECTION 2: 🚀 Plan d’Action (Checklist 72h)\n   - Highlight the TOP 3 actions to take immediately.\n   - Use a left border (#2e7d32) and include responsible person if suggested.\n\n5. SECTION 3: ⚖️ Veille Réglementaire & Normes\n   - Present as blocks or a table with: Nom de la loi/norme | Zone | Impact Business | Recommandation.\n   - Include source link if available.\n\n6. SECTION 4: 📱 Veille Réseaux Sociaux & Médias\n   - Summarize 3–5 relevant posts from LinkedIn, X (Twitter), press releases.\n   - Include source, author (if any), key content, date.\n\n7. SECTION 5: 🌍 Tendances & Innovation\n   - Bullet points for short insights (Digital & AI, Excellence & ESG).\n\n8. SECTION 6: 💡 Recommandations & Consultants\n   - Provide strategic advice and suggest internal consultants for high-priority opportunities.\n\n9. FOOTER\n   - \"TargetUp Consulting – Système de Veille Automatisé\"\n   - Optional: link to Odoo or CRM.\n\n🎨 DESIGN RULES:\n- Use TABLE layout for email compatibility.\n- Use inline CSS + <style> tag.\n- Max width: 650px.\n- Background: #f4f6f8; container: #ffffff (white) with rounded corners.\n- Primary color: #0a2540; Accent: #2e7d32.\n- Font: Arial, sans-serif.\n\n📥 INPUT DATA:\n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1152,-48],"id":"7c8fc11b-7882-4bfb-91e2-10fad8e03cdf","name":"AI Agent8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1248,224],"id":"d9472518-939a-4c6e-b2c6-804158bd5e9d","name":"Simple Memory8"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[992,320],"id":"b066b53f-0b00-4683-9ba6-416799183f34","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"toRecipients":"anaslachhab666@gmail.com, contact@targetupconsulting.com","subject":"=Veille Stratégique : {{ $now.format('yyyy-MM-dd') }}","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1488,-176],"id":"fa6b4bca-323f-4239-bfbf-434755d238a8","name":"Send a message1","webhookId":"4aa792f5-0faa-4ca7-b9a7-3bc23f252525","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"AI Agent6":{"main":[[{"node":"AI Agent8","type":"main","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"AI Agent6","type":"ai_memory","index":0}]]},"Google news2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Simple Memory7":{"ai_memory":[[{"node":"AI Agent7","type":"ai_memory","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google news2","type":"main","index":0},{"node":"AI Agent7","type":"main","index":0}]]},"AI Agent8":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Simple Memory8":{"ai_memory":[[{"node":"AI Agent8","type":"ai_memory","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent8","type":"ai_languageModel","index":0}]]}},"authors":"PMO pmo.targetup@hotmail.com","name":"Version 52e76d9c","description":"","autosaved":false},"tags":[]}