wf-00-global-dlq-handler-YoPqBJdt7Y9nvmf6.json
{"updatedAt":"2026-04-23T09:27:10.635Z","createdAt":"2026-04-23T09:06:15.940Z","id":"YoPqBJdt7Y9nvmf6","name":"WF-00 GLOBAL_DLQ_HANDLER","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dlq-handler","responseMode":"responseNode","options":{}},"id":"44c6aaad-e3e8-42c8-a4ff-9d3011d9f872","name":"DLQ Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2032,256],"webhookId":"dlq-handler-targetup"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true, timestamp: $now.toISO() }) }}","options":{}},"id":"53af4d59-30b1-49ea-b47f-50917c75ba21","name":"Réponse Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2032,464]},{"parameters":{"jsCode":"// ============================================\n// WF-00 — GLOBAL DLQ HANDLER\n// Calcul HMAC + Parsing payload échoué\n// ============================================\nconst crypto = require('crypto');\n\nconst payload = $input.first().json.body || $input.first().json;\n\n// Construction du payload DLQ vers ISMAIL\nconst dlqPayload = {\n  source: 'dlq_handler',\n  event_type: 'dlq_replay',\n  original_workflow: payload.workflow_name || 'unknown',\n  original_execution: payload.execution_id || 'unknown',\n  error_message: payload.error || 'Erreur inconnue',\n  error_code: payload.error_code || 500,\n  failed_payload: payload.original_payload || {},\n  retry_count: (payload.retry_count || 0) + 1,\n  metadata: {\n    timestamp: Math.floor(Date.now() / 1000),\n    source: 'n8n_dlq',\n    instance: 'automation.targetupconsulting.com'\n  }\n};\n\n// Signature HMAC-SHA256\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(dlqPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nreturn {\n  json: {\n    payload: dlqPayload,\n    hmac_signature: signature,\n    workflow_name: $workflow.name,\n    execution_id: $execution.id\n  }\n};"},"id":"99be4c0a-c9ab-4aea-8d02-cdcf4130e37a","name":"Code — Build Payload + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,256]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/dlq_replay","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"f6544301-d80f-46e1-b9e7-5cd6d20f45ff","name":"POST /ismail/webhook/dlq_replay","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2d996236-0a0a-4fd7-bfb8-91993fed37e9","name":"Succès ISMAIL ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-832,256]},{"parameters":{"subject":"✅ DLQ Replay réussi — {{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}","additionalFields":{}},"id":"a931eff1-b3ed-4b02-b315-4e8300b64efc","name":"Email — Replay OK","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-432,96],"webhookId":"8d90666f-f416-4aa7-a6d3-23cc9f3811cc","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"subject":"🚨 ALERTE DLQ — Échec replay {{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}","additionalFields":{}},"id":"a80472e6-4640-4db8-9b6c-38973456f28b","name":"Email — Alerte Échec","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-432,416],"webhookId":"e8ddf791-9a79-4457-aecd-b48868d06041","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"DLQ Webhook Trigger":{"main":[[{"node":"Code — Build Payload + HMAC","type":"main","index":0},{"node":"Réponse Webhook","type":"main","index":0}]]},"Code — Build Payload + HMAC":{"main":[[{"node":"POST /ismail/webhook/dlq_replay","type":"main","index":0}]]},"POST /ismail/webhook/dlq_replay":{"main":[[{"node":"Succès ISMAIL ?","type":"main","index":0}]]},"Succès ISMAIL ?":{"main":[[{"node":"Email — Replay OK","type":"main","index":0}],[{"node":"Email — Alerte Échec","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"e8d35bb3-32c3-4c53-b8fb-8ae8e61f377d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-23T09:06:15.946Z","createdAt":"2026-04-23T09:06:15.946Z","role":"workflow:owner","workflowId":"YoPqBJdt7Y9nvmf6","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-23T09:06:14.329Z","createdAt":"2026-04-23T09:06:14.329Z","id":"JI4z3oXvSQaDlvTu","name":"Infrastructure"},{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:14.326Z","createdAt":"2026-04-23T09:06:14.326Z","id":"ZVdUkCLXxDJ08VJ2","name":"S1"}]}