wf-00-global-dlq-handler-MQ5UXEDbK1JEhYl1.json
{"updatedAt":"2026-04-25T18:51:47.626Z","createdAt":"2026-04-25T10:33:15.476Z","id":"MQ5UXEDbK1JEhYl1","name":"WF-00 GLOBAL_DLQ_HANDLER","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dlq-handler","responseMode":"responseNode","options":{}},"id":"494fa02b-8d9e-4c3f-be5f-2d7f2592ea4f","name":"DLQ Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,192],"webhookId":"dlq-handler-targetup"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true, timestamp: $now.toISO() }) }}","options":{}},"id":"bb27ff7a-4e7b-465b-bd7d-21bb5a7a597e","name":"Réponse Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1200,400]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst payload = $input.first().json.body || $input.first().json;\n\n// Limite retry : max 3 tentatives\nconst retryCount = (payload.retry_count || 0) + 1;\nif (retryCount > 3) {\n  return [{ json: { abort: true, reason: 'Max retries (3) atteint', original_workflow: payload.workflow_name, retry_count: retryCount } }];\n}\n\nconst dlqPayload = {\n  // Champs alignés sur ismail.webhook.log (Section 15 doc technique)\n  source: 'dlq_handler',\n  event_type: 'dlq_replay',\n  original_workflow: payload.workflow_name || 'unknown',\n  original_execution: payload.execution_id || 'unknown',\n  error_message: payload.error || 'Erreur inconnue',\n  error_code: payload.error_code || 500,  // stocké dans payload JSON\n  failed_payload: payload.original_payload || {},\n  retry_count: retryCount,\n  status: 'received',  // champ réel ismail.webhook.log : received/processed/error\n  metadata: {\n    timestamp: Math.floor(Date.now() / 1000),\n    source: 'n8n_dlq',\n    instance: 'automation.targetupconsulting.com'\n  }\n};\n\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(dlqPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nreturn [{ json: { abort: false, payload: dlqPayload, hmac_signature: signature, workflow_name: $workflow.name, execution_id: $execution.id } }];"},"id":"80e36977-fb1d-4899-ac82-d3269f5b0c9c","name":"Code — Build Payload + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,192]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-abort","leftValue":"={{ $json.abort }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"cd611b77-ee23-4882-a866-bcf2ef01a58f","name":"Max retries atteint ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,192]},{"parameters":{"toRecipients":"pmo.targetup@hotmail.com","subject":"🛑 DLQ ABANDONNÉ — Max retries atteint — {{ $json.original_workflow }}","bodyContent":"=Bonjour,\n\nUne erreur critique a été détectée dans le workflow suivant :\n\n🔧 Workflow : {{ $json.original_workflow }}\n📅 Date : {{ $now }}\n⚠️ Statut : Abandonné après nombre maximal de tentatives (DLQ)\n\nMerci de vérifier et de corriger le problème dès que possible.\n\nCordialement,\nSystème d’automatisation (n8n)","additionalFields":{}},"id":"b4ae3cc7-dc56-4624-b0d4-4eb8072f56ff","name":"Email — DLQ Abandonné","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"webhookId":"d5ec28f8-65b6-4e99-829d-d9e3a794ec4e","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/dlq_replay","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":30000}},"id":"30a87710-c9a6-489c-b4ab-78b13cf4da62","name":"POST /ismail/webhook/dlq_replay","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"aead5981-bd0e-4956-aeed-6d8109a30e10","name":"Succès ISMAIL ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[400,368]},{"parameters":{"toRecipients":"pmo.targetup@hotmail.com","subject":"✅ DLQ Replay réussi — {{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}","bodyContent":"=Bonjour,\n\nUn message précédemment en échec a été rejoué avec succès depuis la DLQ.\n\n🔧 Workflow : {{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}\n📅 Date replay : {{ $now }}\n🆔 Execution ID : {{ $execution.id }}\n\n📦 Données traitées :\n{{ JSON.stringify($('Code — Build Payload + HMAC').item.json.payload, null, 2) }}\n\n✅ Statut : Succès après retry\n\nMerci de noter que cet incident a été résolu automatiquement sans intervention manuelle.\n\nCordialement,\nSystème d’automatisation (n8n)","additionalFields":{}},"id":"edc08e7d-c874-48a1-87a3-4fbf40f7c23e","name":"Email — Replay OK","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[800,240],"webhookId":"0b8b8f4a-eb0f-45f0-89cf-dca001724a9d","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"toRecipients":"pmo.targetup@hotmail.com","subject":"🚨 ALERTE DLQ — Échec replay {{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}","bodyContent":"=Bonjour,\n\n⚠️ Une erreur critique a été détectée lors du replay d’un message en DLQ.\n\n🔧 Workflow concerné :\n{{ $('Code — Build Payload + HMAC').item.json.payload.original_workflow }}\n\n📅 Date :\n{{ $now }}\n\n🆔 Execution ID :\n{{ $execution.id }}\n\n❌ Statut :\nÉchec du replay (après retry)\n\n⚠️ Erreur :\n{{ $('Code — Build Payload + HMAC').item.json.payload.error?.message }}\n\n🔁 Nombre de tentatives :\n{{ $('Code — Build Payload + HMAC').item.json.payload.retry_count }}\n\n📦 Payload concerné :\n{{ JSON.stringify($('Code — Build Payload + HMAC').item.json.payload, null, 2) }}\n\n🚨 Action requise :\n- Vérifier le workflow concerné\n- Identifier la cause de l’erreur\n- Corriger avant nouveau replay\n\nCordialement,\nSystème d’automatisation (n8n)","additionalFields":{}},"id":"69ed6ab8-7e23-4fb9-9c08-1d474eea6b4c","name":"Email — Alerte Échec","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[800,480],"webhookId":"30a40762-29f1-46c4-ac0f-6dfd4f484d88","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"DLQ Webhook Trigger":{"main":[[{"node":"Code — Build Payload + HMAC","type":"main","index":0},{"node":"Réponse Webhook","type":"main","index":0}]]},"Code — Build Payload + HMAC":{"main":[[{"node":"Max retries atteint ?","type":"main","index":0}]]},"Max retries atteint ?":{"main":[[{"node":"Email — DLQ Abandonné","type":"main","index":0}],[{"node":"POST /ismail/webhook/dlq_replay","type":"main","index":0}]]},"POST /ismail/webhook/dlq_replay":{"main":[[{"node":"Succès ISMAIL ?","type":"main","index":0}]]},"Succès ISMAIL ?":{"main":[[{"node":"Email — Replay OK","type":"main","index":0}],[{"node":"Email — Alerte Échec","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"3c53fd55-0834-4674-8543-1c95f5382ea3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-25T10:33:15.480Z","createdAt":"2026-04-25T10:33:15.480Z","role":"workflow:owner","workflowId":"MQ5UXEDbK1JEhYl1","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-23T09:06:14.329Z","createdAt":"2026-04-23T09:06:14.329Z","id":"JI4z3oXvSQaDlvTu","name":"Infrastructure"},{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:14.326Z","createdAt":"2026-04-23T09:06:14.326Z","id":"ZVdUkCLXxDJ08VJ2","name":"S1"}]}