wf-05-crm-rescore-mjVy5RaZfIveBlZE.json
{"updatedAt":"2026-04-25T10:33:54.945Z","createdAt":"2026-04-25T10:33:54.945Z","id":"mjVy5RaZfIveBlZE","name":"WF-05 CRM_RESCORE","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"4447bf2b-cff9-4670-b750-f66a951ff43f","name":"Cron — 02h00 Quotidien","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2400,128]},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":1000,"options":{"fieldsList":"id,name,email_from,partner_name,x_ai_score,x_ai_score_badge,stage_id,x_secteur,x_pays,write_date,create_date,x_ai_processed_date,x_ismail_source"}},"id":"84e83235-5d05-41a3-bb96-3f20c769fb0c","name":"Odoo — Récupérer 1000 leads actifs","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-2000,128],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"jsCode":"// ============================================\n// WF-05 — BATCHES 10 leads + HMAC\n// Prompt rescore_v1 — L1 Llama, temp 0.1\n// Champs réels Odoo : x_ai_score, x_ai_processed_date, x_ismail_source\n// ============================================\nconst crypto = require('crypto');\nconst leads = $input.all().map(item => item.json);\nconst batchSize = 10;\nconst batches = [];\n\nfor (let i = 0; i < leads.length; i += batchSize) {\n  const batch = leads.slice(i, i + batchSize);\n  const batchId = `rescore_${new Date().toISOString().split('T')[0]}_batch_${Math.floor(i/batchSize)+1}`;\n\n  const ismailPayload = {\n    batch_id: batchId,\n    rescore_reason: 'cron_quotidien_02h00',\n    leads: batch.map(l => ({\n      lead_id: l.id,\n      x_score_actuel: l.x_ai_score || 0,\n      last_interaction: l.x_ai_processed_date || l.write_date || l.create_date,\n      stage_name: l.stage_id?.[1] || 'Nouveau',\n      x_secteur: l.x_secteur || 'Consulting',\n      x_pays: l.x_pays || 'MA',\n      recent_activities: []\n    })),\n    metadata: {\n      timestamp: Math.floor(Date.now() / 1000),\n      source: 'n8n_cron',\n      total_leads: leads.length,\n      batch_number: Math.floor(i/batchSize)+1,\n      total_batches: Math.ceil(leads.length/batchSize),\n      prompt_version: 'rescore_v1',\n      llm_level: 'L1_Llama',\n      temperature: 0.1\n    }\n  };\n\n  const secret = $credentials.ismail_webhook_secret.secret;\n  const body = JSON.stringify(ismailPayload);\n  const signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\n  batches.push({ json: {\n    payload: ismailPayload,\n    hmac_signature: signature,\n    workflow_name: $workflow.name,\n    execution_id: $execution.id,\n    batch_index: Math.floor(i/batchSize)+1,\n    total_batches: Math.ceil(leads.length/batchSize)\n  }});\n}\n\nreturn batches;"},"id":"30d59065-cc37-4c23-8bd8-1abbf4a09e01","name":"Code — Batches 10 leads + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,128]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/lead_rescore","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":60000}},"id":"5ff1ec0b-bbb6-4634-b75b-ef8c06ca847c","name":"POST /ismail/webhook/lead_rescore","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,128]},{"parameters":{"jsCode":"// Agrégation résultats + calcul rapport hebdo lundi\nconst all = $input.all();\nlet total_rescored = 0, total_moved = 0, total_archived = 0, errors = [];\n\nfor (const item of all) {\n  const result = item.json;\n  if (result.success && result.result) {\n    total_rescored += result.result.rescored_count || 0;\n    total_moved += result.result.moved_count || 0;\n    total_archived += result.result.archived_count || 0;\n  } else if (!result.success) {\n    errors.push(result.error || 'Erreur inconnue');\n  }\n}\n\n// Rapport hebdo uniquement le lundi\nconst isLundi = new Date().getDay() === 1;\n\nreturn [{ json: {\n  rapport: {\n    date: new Date().toISOString().split('T')[0],\n    jour: new Date().toLocaleDateString('fr-FR', { weekday: 'long' }),\n    total_leads_traites: total_rescored,\n    leads_moves_stage: total_moved,\n    leads_archives: total_archived,\n    erreurs: errors.length,\n    details_erreurs: errors,\n    is_lundi: isLundi\n  }\n}}];"},"id":"53da5fa0-d802-47e8-b2ea-9ca74106527f","name":"Code — Agrégation Résultats","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,128]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"check-lundi","leftValue":"={{ $json.rapport.is_lundi }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ad77cb9e-8a1d-44db-9339-ce3b9ec7a54c","name":"C'est lundi ? (rapport hebdo)","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,128]},{"parameters":{"subject":"📊 Rapport Re-scoring Hebdo — {{ $json.rapport.date }} — {{ $json.rapport.total_leads_traites }} leads traités","additionalFields":{}},"id":"8cf0c3ae-0162-477a-9c7b-5aceb0e5189b","name":"Email — Rapport Hebdo Lundi","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"webhookId":"935bc83b-3d6d-401d-91ac-319f68d4e545","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"subject":"✅ Re-scoring quotidien terminé — {{ $json.rapport.date }} — {{ $json.rapport.total_leads_traites }} leads","additionalFields":{}},"id":"4a7a57a7-b7a9-4203-85aa-02a06730dd00","name":"Email — Résumé Quotidien","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,240],"webhookId":"f290bbbb-e440-4255-98ab-7c4e012180b4","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Cron — 02h00 Quotidien":{"main":[[{"node":"Odoo — Récupérer 1000 leads actifs","type":"main","index":0}]]},"Odoo — Récupérer 1000 leads actifs":{"main":[[{"node":"Code — Batches 10 leads + HMAC","type":"main","index":0}]]},"Code — Batches 10 leads + HMAC":{"main":[[{"node":"POST /ismail/webhook/lead_rescore","type":"main","index":0}]]},"POST /ismail/webhook/lead_rescore":{"main":[[{"node":"Code — Agrégation Résultats","type":"main","index":0}]]},"Code — Agrégation Résultats":{"main":[[{"node":"C'est lundi ? (rapport hebdo)","type":"main","index":0}]]},"C'est lundi ? (rapport hebdo)":{"main":[[{"node":"Email — Rapport Hebdo Lundi","type":"main","index":0}],[{"node":"Email — Résumé Quotidien","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"6eef5ff8-0771-46ee-bcf8-1b422aedaf68","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-25T10:33:54.949Z","createdAt":"2026-04-25T10:33:54.949Z","role":"workflow:owner","workflowId":"mjVy5RaZfIveBlZE","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:47.519Z","createdAt":"2026-04-23T09:06:47.519Z","id":"SgG0S4vmXQnDMfUE","name":"S2"},{"updatedAt":"2026-04-23T09:06:47.516Z","createdAt":"2026-04-23T09:06:47.516Z","id":"VFhYWomRJQNJiGnU","name":"CRM"}]}