wf-03-crm-social-inbox-YtN1yvJpC2njIDFI.json
{"updatedAt":"2026-04-25T10:33:34.280Z","createdAt":"2026-04-25T10:33:34.280Z","id":"YtN1yvJpC2njIDFI","name":"WF-03 CRM_SOCIAL_INBOX","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"social-inbox","responseMode":"responseNode","options":{}},"id":"78ba0755-dccd-4bbd-8707-d50da123caeb","name":"Webhook Meta FB/IG/LinkedIn","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3200,208],"webhookId":"social-inbox-targetup"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true, timestamp: $now.toISO() }) }}","options":{}},"id":"17606c0a-a506-4676-bb64-2cdb6b25665f","name":"Réponse Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-3200,432]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"check-platform","leftValue":"={{ $json.body.platform || $json.platform || 'unknown' }}","rightValue":"unknown","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"92a94675-b510-49fd-ad22-9f28f559b8f4","name":"Plateforme valide ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2800,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Plateforme non reconnue', timestamp: $now.toISO() }) }}","options":{"responseCode":400}},"id":"b5e2d2a6-2558-49c5-831d-a8edfc361c6c","name":"Réponse — Plateforme invalide","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2800,432]},{"parameters":{"jsCode":"// ============================================\n// WF-03 — PII GUARD (Persona ISMAIL v3.0 §6)\n// Remplacement des données personnelles par [CLIENT_ID]\n// avant envoi vers le cloud (OpenRouter/ISMAIL)\n// Conforme : \"remplace les noms/tels par [CLIENT_ID]\"\n// ============================================\nconst raw = $input.first().json.body || $input.first().json;\n\n// Remplacement PII par [CLIENT_ID] comme demandé par le Persona v3.0\nconst sanitizeText = (text) => {\n  if (!text) return text;\n  return text\n    // Emails → [EMAIL_CLIENT]\n    .replace(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g, '[EMAIL_CLIENT]')\n    // Téléphones → [TEL_CLIENT]\n    .replace(/(\\+?[0-9][\\s\\-\\.]?){8,15}/g, '[TEL_CLIENT]')\n    // Noms propres (heuristique) déjà masqués par [CLIENT_ID] si explicites\n    ;\n};\n\n// Conserver les métadonnées mais masquer le contenu sensible\nconst sanitizedRaw = {\n  ...raw,\n  // Masquer le texte du message\n  message: sanitizeText(raw.message),\n  message_text: sanitizeText(raw.message_text),\n  comment_text: sanitizeText(raw.comment_text),\n  text: sanitizeText(raw.text),\n  // Remplacer email par [EMAIL_CLIENT]\n  email: raw.email ? '[EMAIL_CLIENT]' : undefined,\n  phone: raw.phone ? '[TEL_CLIENT]' : undefined,\n  _pii_checked: true,\n  _pii_method: 'CLIENT_ID_replacement',  // méthode Persona v3.0\n  _original_platform: raw.platform || raw.source || 'unknown'\n};\n\nreturn [{ json: sanitizedRaw }];"},"id":"1546c6f4-5ef6-44c7-ab0e-ff6bc5b0d9fb","name":"PII Guard — Masquage Données","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,208]},{"parameters":{"jsCode":"// ============================================\n// WF-03 — DÉDUPLICATION par sender_id\n// Recherche lead existant avant création\n// ============================================\nconst raw = $input.first().json;\nconst platform = raw.platform || raw.source || raw.body?.platform || 'facebook';\nconst sender_id = raw.sender_id || raw.from?.id || raw.actor?.id || raw.body?.sender_id || '';\nconst sender_name = raw.sender_name || raw.from?.name || raw.actor?.name || raw.body?.sender_name || 'Inconnu';\nconst message_text = raw.message_text || raw.message || raw.comment_text || raw.text || raw.body?.message_text || '';\nconst post_url = raw.post_url || raw.permalink || raw.body?.post_url || '';\nconst page_id = raw.page_id || raw.recipient?.id || raw.body?.page_id || '';\n\nreturn [{ json: { platform, sender_id, sender_name, message_text, post_url, page_id, raw_data: raw } }];"},"id":"fbd8fc05-7b49-4575-91f1-713a25b7196d","name":"Code — Extraction + Déduplication","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,208]},{"parameters":{"jsCode":"// ============================================\n// WF-03 — NORMALISATION + HMAC\n// Construction payload ISMAIL\n// ============================================\nconst crypto = require('crypto');\nconst data = $input.first().json;\n\nconst ismailPayload = {\n  source: data.platform,\n  contact: {\n    name: data.sender_name,\n    social_id: data.sender_id,\n    platform: data.platform\n  },\n  message: {\n    text: data.message_text,\n    post_url: data.post_url,\n    page_id: data.page_id,\n    timestamp: Math.floor(Date.now() / 1000),\n    type: 'text'\n  },\n  // x_ismail_source = true : déclenche base.automation crm.lead (doc section 18)\n  // → orchestrate_smart_inbound() appelé automatiquement par ISMAIL\n  odoo_fields: {\n    x_ismail_source: true,\n    x_source_canal: data.platform,  // canal source social\n  },\n  metadata: {\n    source: `${data.platform}_api`,\n    timestamp: Math.floor(Date.now() / 1000),\n    platform_context: data.platform,\n    pii_checked: true,\n    pii_method: 'CLIENT_ID_replacement'  // Persona v3.0 §6\n  }\n};\n\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(ismailPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nreturn [{ json: { payload: ismailPayload, hmac_signature: signature, workflow_name: $workflow.name, execution_id: $execution.id, sender_id: data.sender_id, platform: data.platform } }];"},"id":"ae11073c-9ab1-4563-af1b-01f9387e75e6","name":"Code — Normalisation + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,208]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/social_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":30000}},"id":"e5cd7f35-e3c7-4230-b6cb-f1d18742f296","name":"POST /ismail/webhook/social_message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,208]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"check-lead-created","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6889c3e0-a8ae-461f-accf-9e37402a0fc3","name":"Lead créé ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-800,208]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"check-score","leftValue":"={{ $json.result?.score }}","rightValue":70,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"46cc28f0-a29b-40ab-91db-18dd0e55e63f","name":"Score ≥ 70 (prospect chaud) ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,112]},{"parameters":{"subject":"🔥 Prospect chaud Social — Score {{ $('POST /ismail/webhook/social_message').item.json.result.score }}/100 — {{ $('Code — Normalisation + HMAC').item.json.platform }}","additionalFields":{}},"id":"e913a78a-2639-4cdf-a41f-70c54bde8331","name":"Alerte PMO — Prospect Chaud","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"webhookId":"feaab00d-b378-432d-9049-3261341ad735","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Webhook Meta FB/IG/LinkedIn":{"main":[[{"node":"Plateforme valide ?","type":"main","index":0},{"node":"Réponse Webhook","type":"main","index":0}]]},"Plateforme valide ?":{"main":[[{"node":"PII Guard — Masquage Données","type":"main","index":0}],[{"node":"Réponse — Plateforme invalide","type":"main","index":0}]]},"PII Guard — Masquage Données":{"main":[[{"node":"Code — Extraction + Déduplication","type":"main","index":0}]]},"Code — Extraction + Déduplication":{"main":[[{"node":"Code — Normalisation + HMAC","type":"main","index":0}]]},"Code — Normalisation + HMAC":{"main":[[{"node":"POST /ismail/webhook/social_message","type":"main","index":0}]]},"POST /ismail/webhook/social_message":{"main":[[{"node":"Lead créé ?","type":"main","index":0}]]},"Lead créé ?":{"main":[[{"node":"Score ≥ 70 (prospect chaud) ?","type":"main","index":0}]]},"Score ≥ 70 (prospect chaud) ?":{"main":[[{"node":"Alerte PMO — Prospect Chaud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"c52b50dc-4963-403c-9715-c7b02a2f544d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-25T10:33:34.284Z","createdAt":"2026-04-25T10:33:34.284Z","role":"workflow:owner","workflowId":"YtN1yvJpC2njIDFI","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:47.519Z","createdAt":"2026-04-23T09:06:47.519Z","id":"SgG0S4vmXQnDMfUE","name":"S2"},{"updatedAt":"2026-04-23T09:06:47.516Z","createdAt":"2026-04-23T09:06:47.516Z","id":"VFhYWomRJQNJiGnU","name":"CRM"}]}