wf-05-crm-rescore-yfNnZBYCGnmN968f.json
{"updatedAt":"2026-04-25T10:27:11.000Z","createdAt":"2026-04-23T09:07:11.161Z","id":"yfNnZBYCGnmN968f","name":"WF-05 CRM_RESCORE","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"75b58bca-37d6-4b75-8f11-7f8756a3a2b8","name":"Cron — 02h00 Quotidien","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":1000,"options":{"fieldsList":"id,name,email_from,partner_name,x_score_ai,stage_id,x_secteur,x_pays,write_date,create_date"}},"id":"84d52e53-6617-46b4-87a4-cf1f4e9abf39","name":"Odoo — Récupérer 1000 leads actifs","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[400,0],"credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"jsCode":"// ============================================\n// WF-05 — CRM RESCORE BATCH\n// Groupement en batches de 10 + HMAC\n// ============================================\nconst crypto = require('crypto');\n\nconst leads = $input.all().map(item => item.json);\nconst batchSize = 10;\nconst batches = [];\n\n// Grouper en batches de 10\nfor (let i = 0; i < leads.length; i += batchSize) {\n  const batch = leads.slice(i, i + batchSize);\n  const batchId = `rescore_${new Date().toISOString().split('T')[0]}_batch_${Math.floor(i/batchSize)+1}`;\n  \n  const ismailPayload = {\n    batch_id: batchId,\n    rescore_reason: 'cron_quotidien_02h00',\n    leads: batch.map(l => ({\n      lead_id: l.id,\n      x_score_actuel: l.x_score_ai || 0,\n      last_interaction: l.write_date || l.create_date,\n      stage_name: l.stage_id?.[1] || 'Nouveau',\n      x_secteur: l.x_secteur || 'Consulting',\n      x_pays: l.x_pays || 'MA',\n      recent_activities: []\n    })),\n    metadata: {\n      timestamp: Math.floor(Date.now() / 1000),\n      source: 'n8n_cron',\n      total_leads: leads.length,\n      batch_number: Math.floor(i/batchSize)+1\n    }\n  };\n  \n  // Signature HMAC\n  const secret = $credentials.ismail_webhook_secret.secret;\n  const body = JSON.stringify(ismailPayload);\n  const signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n  \n  batches.push({\n    json: {\n      payload: ismailPayload,\n      hmac_signature: signature,\n      workflow_name: $workflow.name,\n      execution_id: $execution.id,\n      batch_index: Math.floor(i/batchSize)+1,\n      total_batches: Math.ceil(leads.length/batchSize)\n    }\n  });\n}\n\nreturn batches;"},"id":"1bf97c26-6c2c-4d8b-baf3-a4738bc8da51","name":"Code — Batches 10 leads + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/lead_rescore","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":60000}},"id":"4e0b164e-cd67-4a5e-81e6-d8a9558e90ea","name":"POST /ismail/webhook/lead_rescore","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,0]},{"parameters":{"jsCode":"// Agrégation des résultats de tous les batches\nconst all = $input.all();\n\nlet total_rescored = 0;\nlet total_moved = 0;\nlet total_archived = 0;\nlet errors = [];\n\nfor (const item of all) {\n  const result = item.json;\n  if (result.success && result.result) {\n    total_rescored += result.result.rescored_count || 0;\n    total_moved += result.result.moved_count || 0;\n    total_archived += result.result.archived_count || 0;\n  } else if (!result.success) {\n    errors.push(result.error || 'Erreur inconnue');\n  }\n}\n\nreturn [{\n  json: {\n    rapport: {\n      date: new Date().toISOString().split('T')[0],\n      total_leads_traites: total_rescored,\n      leads_moves_stage: total_moved,\n      leads_archives: total_archived,\n      erreurs: errors.length,\n      details_erreurs: errors\n    }\n  }\n}];"},"id":"cc89005b-8b1e-413c-a8a2-46f7aa08fcec","name":"Code — Agrégation Résultats","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,0]},{"parameters":{"subject":"📊 Rapport Re-scoring {{ $json.rapport.date }} — {{ $json.rapport.total_leads_traites }} leads traités","additionalFields":{}},"id":"2470319d-b33f-4e76-84fa-caeb629460c5","name":"Email — Rapport Synthèse","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2000,0],"webhookId":"0ecdaaba-32db-4bec-884a-be08dbd092fb","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Cron — 02h00 Quotidien":{"main":[[{"node":"Odoo — Récupérer 1000 leads actifs","type":"main","index":0}]]},"Odoo — Récupérer 1000 leads actifs":{"main":[[{"node":"Code — Batches 10 leads + HMAC","type":"main","index":0}]]},"Code — Batches 10 leads + HMAC":{"main":[[{"node":"POST /ismail/webhook/lead_rescore","type":"main","index":0}]]},"POST /ismail/webhook/lead_rescore":{"main":[[{"node":"Code — Agrégation Résultats","type":"main","index":0}]]},"Code — Agrégation Résultats":{"main":[[{"node":"Email — Rapport Synthèse","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"da2b546a-4c2c-4cdc-afcc-b35dbb940a4c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-23T09:07:11.165Z","createdAt":"2026-04-23T09:07:11.165Z","role":"workflow:owner","workflowId":"yfNnZBYCGnmN968f","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:47.519Z","createdAt":"2026-04-23T09:06:47.519Z","id":"SgG0S4vmXQnDMfUE","name":"S2"},{"updatedAt":"2026-04-23T09:06:47.516Z","createdAt":"2026-04-23T09:06:47.516Z","id":"VFhYWomRJQNJiGnU","name":"CRM"}]}