wf-03-crm-social-inbox-UbPQIaw7nShGUkvP.json
{"updatedAt":"2026-04-23T09:33:26.613Z","createdAt":"2026-04-23T09:06:49.129Z","id":"UbPQIaw7nShGUkvP","name":"WF-03 CRM_SOCIAL_INBOX","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"social-inbox","responseMode":"responseNode","options":{}},"id":"fcefbf55-61c3-4017-b0e0-74d7dc76bbae","name":"Webhook Meta FB/IG/LinkedIn","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3136,480],"webhookId":"social-inbox-targetup"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"check-platform","leftValue":"={{ $json.body.platform || $json.platform || 'unknown' }}","rightValue":"unknown","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"a081d1e9-491c-48d8-b20f-b6e3a3791d41","name":"Plateforme valide ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2736,480]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true, timestamp: $now.toISO() }) }}","options":{}},"id":"e6c9e8ba-f6e8-4c05-9021-d27282418029","name":"Réponse Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-3136,688]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Plateforme non reconnue', timestamp: $now.toISO() }) }}","options":{"responseCode":400}},"id":"6a625a82-091d-4147-9c1a-2245b3c608a0","name":"Réponse — Plateforme invalide","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2736,720]},{"parameters":{"jsCode":"// ============================================\n// WF-03 — CRM SOCIAL INBOX\n// Normalisation payload LinkedIn / FB / IG\n// ============================================\nconst crypto = require('crypto');\n\nconst raw = $input.first().json.body || $input.first().json;\n\nconst platform = raw.platform || raw.source || 'facebook';\nconst sender_name = raw.sender_name || raw.from?.name || raw.actor?.name || 'Inconnu';\nconst sender_id = raw.sender_id || raw.from?.id || raw.actor?.id || '';\nconst message_text = raw.message_text || raw.message || raw.comment_text || raw.text || '';\nconst post_url = raw.post_url || raw.permalink || '';\nconst page_id = raw.page_id || raw.recipient?.id || '';\n\nconst ismailPayload = {\n  source: platform,\n  contact: { name: sender_name, social_id: sender_id, platform: platform },\n  message: {\n    text: message_text,\n    post_url: post_url,\n    page_id: page_id,\n    timestamp: Math.floor(Date.now() / 1000),\n    type: raw.message_type || 'text'\n  },\n  metadata: {\n    source: `${platform}_api`,\n    timestamp: Math.floor(Date.now() / 1000),\n    platform_context: platform\n  }\n};\n\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(ismailPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nreturn {\n  json: {\n    payload: ismailPayload,\n    hmac_signature: signature,\n    workflow_name: $workflow.name,\n    execution_id: $execution.id\n  }\n};"},"id":"0d71deb6-e4a6-4472-8ee6-11303f6d48e6","name":"Code — Normalisation + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2336,400]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/social_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"dde18c26-83e6-42e9-9d57-74586eb806a1","name":"POST /ismail/webhook/social_message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1936,400]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"check-lead-created","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e81934b8-b79b-4d7c-b3e8-5a8fb12f7c34","name":"Lead créé ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1536,400]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"check-score","leftValue":"={{ $json.result?.score }}","rightValue":70,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"0ff2408b-3fd5-4697-bae0-587244e954d2","name":"Score ≥ 70 (prospect chaud) ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1136,288]},{"parameters":{"subject":"🔥 Prospect chaud Social — Score {{ $('POST /ismail/webhook/social_message').item.json.result.score }}/100","additionalFields":{}},"id":"4310deeb-526a-4c73-a562-7f85dd84fff8","name":"Alerte PMO — Prospect Chaud","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-736,176],"webhookId":"ad794c19-04cd-4a68-a69b-adbe3393c396","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}}],"connections":{"Webhook Meta FB/IG/LinkedIn":{"main":[[{"node":"Plateforme valide ?","type":"main","index":0},{"node":"Réponse Webhook","type":"main","index":0}]]},"Plateforme valide ?":{"main":[[{"node":"Code — Normalisation + HMAC","type":"main","index":0}],[{"node":"Réponse — Plateforme invalide","type":"main","index":0}]]},"Code — Normalisation + HMAC":{"main":[[{"node":"POST /ismail/webhook/social_message","type":"main","index":0}]]},"POST /ismail/webhook/social_message":{"main":[[{"node":"Lead créé ?","type":"main","index":0}]]},"Lead créé ?":{"main":[[{"node":"Score ≥ 70 (prospect chaud) ?","type":"main","index":0}]]},"Score ≥ 70 (prospect chaud) ?":{"main":[[{"node":"Alerte PMO — Prospect Chaud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"bd570fb7-1c87-40b2-a548-f626f62bb985","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-23T09:06:49.133Z","createdAt":"2026-04-23T09:06:49.133Z","role":"workflow:owner","workflowId":"UbPQIaw7nShGUkvP","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:06:47.519Z","createdAt":"2026-04-23T09:06:47.519Z","id":"SgG0S4vmXQnDMfUE","name":"S2"},{"updatedAt":"2026-04-23T09:06:47.516Z","createdAt":"2026-04-23T09:06:47.516Z","id":"VFhYWomRJQNJiGnU","name":"CRM"}]}