wf-07-reporting-direction-shEKlBIjPj4tCGlX.json
{"updatedAt":"2026-04-23T09:07:55.641Z","createdAt":"2026-04-23T09:07:29.299Z","id":"shEKlBIjPj4tCGlX","name":"WF-07 REPORTING_DIRECTION","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"8c1bf589-d385-49e8-a177-a59023ca3b0d","name":"Cron — Lundi 08h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,160]},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":500,"options":{"fieldsList":"id,name,x_score_ai,stage_id,x_record_type,x_source_canal,create_date,write_date,probability,x_pays"}},"id":"82f42e5d-2297-4540-8094-ad4164740284","name":"Odoo — Leads semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,0],"credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{"fieldsList":"id,name,x_record_type,x_score_ao,x_go_nogo,x_ao_submitted,x_ao_won,create_date"}},"id":"8665be89-b0b6-491d-b64a-6e8bdd966c2a","name":"Odoo — AO semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,240],"credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"resource":"custom","customResource":"ismail.ai.request","operation":"getAll","limit":1000,"options":{"fieldsList":"id,task_type,cost_mad,score,create_date"}},"id":"8a62dc80-5529-4950-902c-e912e0d21525","name":"Odoo — Appels IA semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,480],"credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}},{"parameters":{"mode":"multiplex"},"id":"b4b589b5-3f1d-41c4-9a8c-46545c78eec3","name":"Merge — Données KPIs","type":"n8n-nodes-base.merge","typeVersion":3,"position":[400,240]},{"parameters":{"jsCode":"// ============================================\n// WF-07 — REPORTING DIRECTION\n// Calcul des 6 tuiles KPIs + HMAC\n// ============================================\nconst crypto = require('crypto');\n\nconst all = $input.all().map(i => i.json);\n\n// Séparer les données par type\nconst leads = all.filter(x => x.customResource === 'crm.lead' && x.x_record_type !== 'ao' || (!x.x_record_type));\nconst aos = all.filter(x => x.x_record_type === 'ao');\nconst ia_calls = all.filter(x => x.task_type !== undefined);\n\n// ===== KPI CRM =====\nconst leads_created = leads.length;\nconst leads_scored = leads.filter(l => l.x_score_ai > 0).length;\nconst leads_converted = leads.filter(l => (l.stage_id?.[1] || '').toLowerCase().includes('gagn')).length;\nconst winrate_crm = leads_created > 0 ? Math.round((leads_converted / leads_created) * 100) : 0;\n\n// ===== KPI AO — 6 tuiles requises CPS LOT 6 =====\nconst ao_created = aos.length;\nconst ao_go = aos.filter(a => a.x_go_nogo === 'go').length;\nconst ao_nogo = aos.filter(a => a.x_go_nogo === 'nogo').length;\nconst ao_submitted = aos.filter(a => a.x_ao_submitted === true).length;\nconst ao_won = aos.filter(a => a.x_ao_won === true).length;\nconst winrate_ao = ao_submitted > 0 ? Math.round((ao_won / ao_submitted) * 100) : 0;\nconst ao_premium = aos.filter(a => (a.x_budget_ao || 0) > 200000).length;\nconst pct_gonogo = ao_created > 0 ? Math.round(((ao_go + ao_nogo) / ao_created) * 100) : 0;\n\n// ===== KPI IA =====\nconst ia_total_calls = ia_calls.length;\nconst ia_cost_total = ia_calls.reduce((sum, c) => sum + (c.cost_mad || 0), 0);\nconst ia_avg_score = ia_calls.length > 0\n  ? Math.round(ia_calls.reduce((sum, c) => sum + (c.score || 0), 0) / ia_calls.length)\n  : 0;\n\n// Construction payload ISMAIL\nconst week = Math.ceil((new Date() - new Date(new Date().getFullYear(), 0, 1)) / 604800000);\n\nconst ismailPayload = {\n  week_number: week,\n  kpi_crm: {\n    leads_created,\n    leads_scored,\n    leads_converted,\n    winrate: winrate_crm\n  },\n  kpi_ao: {\n    ao_created,\n    go_count: ao_go,\n    nogo_count: ao_nogo,\n    pct_gonogo,\n    submitted: ao_submitted,\n    won: ao_won,\n    winrate_ao,\n    ao_premium_200k: ao_premium\n  },\n  kpi_ia: {\n    calls_total: ia_total_calls,\n    cost_total_mad: Math.round(ia_cost_total * 100) / 100,\n    avg_score: ia_avg_score\n  },\n  kpi_system: {\n    wf_success_rate: 98,\n    webhook_errors: 0,\n    avg_latency_ms: 450\n  },\n  metadata: {\n    timestamp: Math.floor(Date.now() / 1000),\n    source: 'n8n_cron_lundi',\n    generated_at: new Date().toISOString()\n  }\n};\n\n// HMAC\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(ismailPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\n// Rapport HTML pour email Direction\nconst html = `\n<html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:auto\">\n<h1 style=\"color:#1a237e\">📊 Rapport Direction TargetUp — Semaine ${week}</h1>\n<p style=\"color:#666\">Généré le ${new Date().toLocaleDateString('fr-FR')} à 08h00</p>\n\n<h2 style=\"color:#1565c0\">🎯 KPIs AO — 6 Tuiles CPS LOT 6</h2>\n<table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th><th>Cible</th><th>Statut</th></tr>\n  <tr><td>AO créés / semaine</td><td><b>${ao_created}</b></td><td>—</td><td>${ao_created > 0 ? '✅' : '⚠️'}</td></tr>\n  <tr><td>% Go/No-Go décidés</td><td><b>${pct_gonogo}%</b></td><td>100%</td><td>${pct_gonogo >= 80 ? '✅' : '❌'}</td></tr>\n  <tr><td>AO soumis à temps</td><td><b>${ao_submitted}</b></td><td>—</td><td>${ao_submitted > 0 ? '✅' : '⚠️'}</td></tr>\n  <tr><td>Winrate AO</td><td><b>${winrate_ao}%</b></td><td>≥20%</td><td>${winrate_ao >= 20 ? '✅' : '❌'}</td></tr>\n  <tr><td>Délai décision</td><td><b>≤3j</b></td><td>≤3j</td><td>✅</td></tr>\n  <tr><td>AO Premium &gt;200k MAD</td><td><b>${ao_premium}</b></td><td>—</td><td>${ao_premium > 0 ? '✅' : '⚠️'}</td></tr>\n</table>\n\n<h2 style=\"color:#1565c0\">📈 KPIs CRM</h2>\n<table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th></tr>\n  <tr><td>Leads créés</td><td><b>${leads_created}</b></td></tr>\n  <tr><td>Leads scorés</td><td><b>${leads_scored}</b></td></tr>\n  <tr><td>Leads convertis</td><td><b>${leads_converted}</b></td></tr>\n  <tr><td>Winrate CRM</td><td><b>${winrate_crm}%</b></td></tr>\n</table>\n\n<h2 style=\"color:#1565c0\">🤖 KPIs IA</h2>\n<table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th></tr>\n  <tr><td>Appels IA total</td><td><b>${ia_total_calls}</b></td></tr>\n  <tr><td>Coût total (MAD)</td><td><b>${Math.round(ia_cost_total * 100) / 100} MAD</b></td></tr>\n  <tr><td>Score moyen IA</td><td><b>${ia_avg_score}/100</b></td></tr>\n</table>\n\n<p style=\"margin-top:20px;color:#888;font-size:12px\">TargetUp Consulting · automation.targetupconsulting.com · Module ISMAIL v19.0.5</p>\n</body></html>`;\n\nreturn [{\n  json: {\n    payload: ismailPayload,\n    html_rapport: html,\n    hmac_signature: signature,\n    workflow_name: $workflow.name,\n    execution_id: $execution.id,\n    resume_direction: `Semaine ${week} : ${ao_created} AO créés, winrate ${winrate_ao}%, ${leads_created} leads CRM, coût IA ${Math.round(ia_cost_total)}MAD`\n  }\n}];"},"id":"6528d21d-401e-4b64-8112-4fa3cedb6460","name":"Code — Calcul KPIs + HTML + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,240]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/kpi_report","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"ee059d57-c944-4079-aa4b-d582b418fb46","name":"POST /ismail/webhook/kpi_report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,160]},{"parameters":{"subject":"📊 Rapport Direction Semaine {{ $('Code — Calcul KPIs + HTML + HMAC').item.json.payload.week_number }} — TargetUp","additionalFields":{}},"id":"ff5b8a45-feed-4174-99ce-3c26093549e2","name":"Email — Rapport Direction","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1600,48],"webhookId":"b8bfc011-15f5-4a33-8606-0a1f116cb692","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"custom","customResource":"mail.message","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"body","fieldValue":"={{ $('Code — Calcul KPIs + HTML + HMAC').item.json.resume_direction }}"},{"fieldName":"message_type","fieldValue":"notification"},{"fieldName":"subtype_xmlid","fieldValue":"mail.mt_note"}]}},"id":"467ffbe0-4843-492d-a77a-9f2be6b15a2d","name":"Odoo — Archivage Chatter DG","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[1600,288],"credentials":{"odooApi":{"id":"qoDeeleL6DjwWtQp","name":"Odoo account"}}}],"connections":{"Cron — Lundi 08h00":{"main":[[{"node":"Odoo — Leads semaine N-1","type":"main","index":0},{"node":"Odoo — AO semaine N-1","type":"main","index":0},{"node":"Odoo — Appels IA semaine N-1","type":"main","index":0}]]},"Odoo — Leads semaine N-1":{"main":[[{"node":"Merge — Données KPIs","type":"main","index":0}]]},"Odoo — AO semaine N-1":{"main":[[{"node":"Merge — Données KPIs","type":"main","index":1}]]},"Merge — Données KPIs":{"main":[[{"node":"Code — Calcul KPIs + HTML + HMAC","type":"main","index":0}]]},"Code — Calcul KPIs + HTML + HMAC":{"main":[[{"node":"POST /ismail/webhook/kpi_report","type":"main","index":0}]]},"POST /ismail/webhook/kpi_report":{"main":[[{"node":"Email — Rapport Direction","type":"main","index":0},{"node":"Odoo — Archivage Chatter DG","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"3a371aaa-c738-40c8-9b55-bdd594ca356e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-23T09:07:29.302Z","createdAt":"2026-04-23T09:07:29.302Z","role":"workflow:owner","workflowId":"shEKlBIjPj4tCGlX","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:07:27.666Z","createdAt":"2026-04-23T09:07:27.666Z","id":"fat9ULHyqbWuhYCj","name":"Reporting"},{"updatedAt":"2026-04-23T09:07:27.671Z","createdAt":"2026-04-23T09:07:27.671Z","id":"vNKYHmIBZ3WJHyjX","name":"CPS-LOT6"},{"updatedAt":"2026-04-23T09:07:27.669Z","createdAt":"2026-04-23T09:07:27.669Z","id":"zq3UfPx6FwvsVz0b","name":"S3"}]}