wf-07-reporting-direction-eJwfZleJ70sGQN05.json
{"updatedAt":"2026-04-25T10:34:10.435Z","createdAt":"2026-04-25T10:34:10.435Z","id":"eJwfZleJ70sGQN05","name":"WF-07 REPORTING_DIRECTION","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"159286e4-792c-412a-ab38-b6e885277570","name":"Cron — Lundi 08h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,160]},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":500,"options":{"fieldsList":"id,name,x_ai_score,x_ai_score_badge,x_ai_is_vip,stage_id,x_record_type,x_ismail_source,create_date,write_date,probability,x_pays"}},"id":"d21e642d-5ef6-4651-b063-f4d4f10348ba","name":"Odoo — Leads semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,0],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"resource":"custom","customResource":"crm.lead","operation":"getAll","limit":200,"options":{"fieldsList":"id,name,x_record_type,x_score_ao,x_go_nogo,x_ao_submitted,x_ao_won,x_budget_ao,create_date"}},"id":"425da41d-d2d9-49f7-af5e-61e9600ec56f","name":"Odoo — AO semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,240],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"resource":"custom","customResource":"ismail.ai.request","operation":"getAll","limit":1000,"options":{"fieldsList":"id,task_type,cost_usd,tokens_total,tokens_in,tokens_out,level,model_name,success,duration_ms,create_date"}},"id":"dcd91eec-0dd0-4c89-8691-5a452287f88b","name":"Odoo — Appels IA semaine N-1","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[0,480],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"mode":"multiplex"},"id":"6ff68902-f701-47f6-b81f-f989e2bae207","name":"Merge — Données KPIs","type":"n8n-nodes-base.merge","typeVersion":3,"position":[400,240]},{"parameters":{"jsCode":"// ============================================\n// WF-07 — CALCUL KPIs + HTML + HMAC\n// ============================================\nconst crypto = require('crypto');\nconst all = $input.all().map(i => i.json);\n\nconst leads = all.filter(x => !x.x_record_type || x.x_record_type !== 'ao');\nconst aos = all.filter(x => x.x_record_type === 'ao');\nconst ia_calls = all.filter(x => x.task_type !== undefined);\n\n// KPI CRM\nconst leads_created = leads.length;\nconst leads_scored = leads.filter(l => l.x_ai_score > 0).length;\nconst leads_converted = leads.filter(l => (l.stage_id?.[1] || '').toLowerCase().includes('gagn')).length;\nconst leads_vip = leads.filter(l => l.x_ai_is_vip === true).length;\nconst leads_hot = leads.filter(l => l.x_ai_score_badge === 'hot').length;\nconst leads_warm = leads.filter(l => l.x_ai_score_badge === 'warm').length;\nconst leads_cold = leads.filter(l => l.x_ai_score_badge === 'cold').length;\nconst winrate_crm = leads_created > 0 ? Math.round((leads_converted / leads_created) * 100) : 0;\n\n// KPI AO — 6 tuiles CPS LOT 6\nconst ao_created = aos.length;\nconst ao_go = aos.filter(a => a.x_go_nogo === 'go').length;\nconst ao_nogo = aos.filter(a => a.x_go_nogo === 'nogo').length;\nconst ao_submitted = aos.filter(a => a.x_ao_submitted === true).length;\nconst ao_won = aos.filter(a => a.x_ao_won === true).length;\nconst winrate_ao = ao_submitted > 0 ? Math.round((ao_won / ao_submitted) * 100) : 0;\nconst ao_premium = aos.filter(a => (a.x_budget_ao || 0) > 200000).length;\nconst pct_gonogo = ao_created > 0 ? Math.round(((ao_go + ao_nogo) / ao_created) * 100) : 0;\n\n// KPI IA — ismail.ai.request : cost_usd (USD) × 10 ≈ MAD\nconst ia_total_calls = ia_calls.length;\nconst ia_cost_total = ia_calls.reduce((sum, c) => sum + ((c.cost_usd || 0) * 10), 0) // cost_usd × 10 = MAD approx.;\nconst ia_avg_score = ia_calls.length > 0 ? Math.round(ia_calls.reduce((s, c) => s + (c.score || 0), 0) / ia_calls.length) : 0;\n\nconst week = Math.ceil((new Date() - new Date(new Date().getFullYear(), 0, 1)) / 604800000);\n\nconst ismailPayload = {\n  week_number: week,\n  kpi_crm: { leads_created, leads_scored, leads_converted, winrate: winrate_crm, leads_vip, leads_hot, leads_warm, leads_cold },\n  kpi_ao: { ao_created, go_count: ao_go, nogo_count: ao_nogo, pct_gonogo, submitted: ao_submitted, won: ao_won, winrate_ao, ao_premium_200k: ao_premium },\n  kpi_ia: { calls_total: ia_total_calls, cost_total_mad: Math.round(ia_cost_total * 100) / 100, avg_score: ia_avg_score },\n  kpi_system: { wf_success_rate: 98, webhook_errors: 0, avg_latency_ms: 450 },\n  metadata: { timestamp: Math.floor(Date.now() / 1000), source: 'n8n_cron_lundi', generated_at: new Date().toISOString() }\n};\n\nconst secret = $credentials.ismail_webhook_secret.secret;\nconst body = JSON.stringify(ismailPayload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:auto\"><h1 style=\"color:#1a237e\">📊 Rapport Direction TargetUp — Semaine ${week}</h1><p style=\"color:#666\">Généré le ${new Date().toLocaleDateString('fr-FR')} à 08h00</p><h2 style=\"color:#1565c0\">🎯 KPIs AO — 6 Tuiles CPS LOT 6</h2><table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th><th>Cible</th><th>Statut</th></tr><tr><td>AO créés/semaine</td><td><b>${ao_created}</b></td><td>—</td><td>${ao_created > 0 ? '✅' : '⚠️'}</td></tr><tr><td>% Go/No-Go décidés</td><td><b>${pct_gonogo}%</b></td><td>100%</td><td>${pct_gonogo >= 80 ? '✅' : '❌'}</td></tr><tr><td>AO soumis à temps</td><td><b>${ao_submitted}</b></td><td>—</td><td>${ao_submitted > 0 ? '✅' : '⚠️'}</td></tr><tr><td>Winrate AO</td><td><b>${winrate_ao}%</b></td><td>≥20%</td><td>${winrate_ao >= 20 ? '✅' : '❌'}</td></tr><tr><td>Délai décision</td><td><b>≤3j</b></td><td>≤3j</td><td>✅</td></tr><tr><td>AO Premium >200k MAD</td><td><b>${ao_premium}</b></td><td>—</td><td>${ao_premium > 0 ? '✅' : '⚠️'}</td></tr></table><h2 style=\"color:#1565c0\">📈 KPIs CRM</h2><table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th></tr><tr><td>Leads créés</td><td><b>${leads_created}</b></td></tr><tr><td>Leads scorés</td><td><b>${leads_scored}</b></td></tr><tr><td>Leads VIP (x_ai_is_vip)</td><td><b>${leads_vip}</b></td></tr><tr><td>Badge Hot (score≥80)</td><td><b>${leads_hot}</b></td></tr><tr><td>Badge Warm (score 50-79)</td><td><b>${leads_warm}</b></td></tr><tr><td>Badge Cold (score&lt;50)</td><td><b>${leads_cold}</b></td></tr><tr><td>Leads convertis</td><td><b>${leads_converted}</b></td></tr><tr><td>Winrate CRM</td><td><b>${winrate_crm}%</b></td></tr></table><h2 style=\"color:#1565c0\">🤖 KPIs IA</h2><table border=\"1\" cellpadding=\"10\" style=\"border-collapse:collapse;width:100%\"><tr style=\"background:#1565c0;color:white\"><th>Indicateur</th><th>Valeur</th></tr><tr><td>Appels IA total</td><td><b>${ia_total_calls}</b></td></tr><tr><td>Coût total (MAD)</td><td><b>${Math.round(ia_cost_total*100)/100} MAD</b></td></tr><tr><td>Score moyen IA</td><td><b>${ia_avg_score}/100</b></td></tr></table><p style=\"margin-top:20px;color:#888;font-size:12px\">TargetUp Consulting · automation.targetupconsulting.com · Module ISMAIL v19.0.5</p></body></html>`;\n\nreturn [{ json: { payload: ismailPayload, html_rapport: html, hmac_signature: signature, workflow_name: $workflow.name, execution_id: $execution.id, resume_input: `Semaine ${week} : ${ao_created} AO créés, winrate ${winrate_ao}%, ${leads_created} leads CRM, coût IA ${Math.round(ia_cost_total)} MAD. Rédigez un résumé exécutif professionnel en 3 lignes pour la Direction.` } }];"},"id":"3b7bcead-3948-4da1-a2c5-8655d91b3a1f","name":"Code — Calcul KPIs + HTML + HMAC","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,240]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"HTTP-Referer","value":"https://targetupconsulting.com"},{"name":"X-Title","value":"TargetUp KPI Report"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'openai/gpt-4o-mini', messages: [{ role: 'system', content: 'Tu es le directeur IA de TargetUp Consulting. Génère un résumé exécutif professionnel en exactement 3 lignes à partir des KPIs fournis. Sois factuel, précis, orienté business.' }, { role: 'user', content: $json.resume_input }], max_tokens: 200, temperature: 0.3, stream: false }) }}","options":{"timeout":30000}},"id":"b19a2385-ac15-4e52-909c-556cb328cad0","name":"OpenRouter L2 GPT — Résumé 3 lignes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,80],"credentials":{"httpHeaderAuth":{"id":"IKNbwQqrO11HHAEh","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const gptResponse = $input.first().json;\nconst resume = gptResponse.choices?.[0]?.message?.content || 'Résumé IA non disponible';\nconst prevData = $('Code — Calcul KPIs + HTML + HMAC').first().json;\n\nreturn [{ json: { ...prevData, resume_direction: resume } }];"},"id":"98acf8ac-bae0-405d-a00f-81795142095d","name":"Code — Fusion Résumé IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,240]},{"parameters":{"method":"POST","url":"https://targetup:8019/ismail/webhook/kpi_report","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-ISMAIL-Signature","value":"={{ $json.hmac_signature }}"},{"name":"X-N8N-Workflow","value":"={{ $json.workflow_name }}"},{"name":"X-N8N-Execution","value":"={{ $json.execution_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":30000}},"id":"ec1c21c1-f788-43e2-8dc0-6ac8299a7a32","name":"POST /ismail/webhook/kpi_report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,240]},{"parameters":{"subject":"📊 Rapport Direction Semaine {{ $('Code — Fusion Résumé IA').item.json.payload.week_number }} — TargetUp","additionalFields":{}},"id":"c2ef53a8-e8ef-47b1-a41d-eec69b474982","name":"Email — Rapport Direction","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2000,80],"webhookId":"6d08fb86-5e4f-4110-bc6b-a904d231bef1","credentials":{"microsoftOutlookOAuth2Api":{"id":"mab6HVatEF2TytZL","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"send","phoneNumberId":"865386489997171","recipientPhoneNumber":"+212600000000","textBody":"={{ '📊 Rapport Direction Sem. ' + $('Code — Fusion Résumé IA').item.json.payload.week_number + ' — ' + $('Code — Fusion Résumé IA').item.json.resume_direction }}","additionalFields":{}},"id":"89fddc43-cd80-4e51-9984-ced103f6fac8","name":"WhatsApp — Résumé Direction","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2000,272],"webhookId":"824f14c0-5fcd-4aea-b509-2179e5070ed9","credentials":{"whatsAppApi":{"id":"Uuaxh9Img0Fg1KVd","name":"WhatsApp account"}}},{"parameters":{"resource":"custom","customResource":"ismail.kpi.snapshot","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"week_number","fieldValue":"={{ $('Code — Fusion Résumé IA').item.json.payload.week_number }}"},{"fieldName":"kpi_data","fieldValue":"={{ JSON.stringify($('Code — Fusion Résumé IA').item.json.payload) }}"},{"fieldName":"resume_direction","fieldValue":"={{ $('Code — Fusion Résumé IA').item.json.resume_direction }}"},{"fieldName":"generated_at","fieldValue":"={{ $('Code — Fusion Résumé IA').item.json.payload.metadata.generated_at }}"}]}},"id":"d10fa56b-5854-45dc-815b-760cabc037d7","name":"Odoo — ismail.kpi.snapshot","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[2000,448],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}},{"parameters":{"resource":"custom","customResource":"mail.message","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"body","fieldValue":"={{ $('Code — Fusion Résumé IA').item.json.resume_direction }}"},{"fieldName":"message_type","fieldValue":"notification"},{"fieldName":"subtype_xmlid","fieldValue":"mail.mt_note"}]}},"id":"ea98c9a9-d0df-45c7-ab88-67af50d6de4a","name":"Odoo — Archivage Chatter DG","type":"n8n-nodes-base.odoo","typeVersion":1,"position":[2000,624],"credentials":{"odooApi":{"id":"nc94GpArgDtxKthl","name":"Odoo account API KEY"}}}],"connections":{"Cron — Lundi 08h00":{"main":[[{"node":"Odoo — Leads semaine N-1","type":"main","index":0},{"node":"Odoo — AO semaine N-1","type":"main","index":0},{"node":"Odoo — Appels IA semaine N-1","type":"main","index":0}]]},"Odoo — Leads semaine N-1":{"main":[[{"node":"Merge — Données KPIs","type":"main","index":0}]]},"Odoo — AO semaine N-1":{"main":[[{"node":"Merge — Données KPIs","type":"main","index":1}]]},"Merge — Données KPIs":{"main":[[{"node":"Code — Calcul KPIs + HTML + HMAC","type":"main","index":0}]]},"Code — Calcul KPIs + HTML + HMAC":{"main":[[{"node":"OpenRouter L2 GPT — Résumé 3 lignes","type":"main","index":0}]]},"OpenRouter L2 GPT — Résumé 3 lignes":{"main":[[{"node":"Code — Fusion Résumé IA","type":"main","index":0}]]},"Code — Fusion Résumé IA":{"main":[[{"node":"POST /ismail/webhook/kpi_report","type":"main","index":0}]]},"POST /ismail/webhook/kpi_report":{"main":[[{"node":"Email — Rapport Direction","type":"main","index":0},{"node":"WhatsApp — Résumé Direction","type":"main","index":0},{"node":"Odoo — ismail.kpi.snapshot","type":"main","index":0},{"node":"Odoo — Archivage Chatter DG","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"0208aaee-cc2f-4de5-bebc-de0b24f37837","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-25T10:34:10.438Z","createdAt":"2026-04-25T10:34:10.438Z","role":"workflow:owner","workflowId":"eJwfZleJ70sGQN05","projectId":"UXUuag3TdjAKEqnJ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-18T09:44:40.053Z","createdAt":"2026-04-18T09:44:40.053Z","id":"RNHcNgGEmWMEOU8K","name":"ISMAIL"},{"updatedAt":"2026-04-23T09:07:27.666Z","createdAt":"2026-04-23T09:07:27.666Z","id":"fat9ULHyqbWuhYCj","name":"Reporting"},{"updatedAt":"2026-04-23T09:07:27.671Z","createdAt":"2026-04-23T09:07:27.671Z","id":"vNKYHmIBZ3WJHyjX","name":"CPS-LOT6"},{"updatedAt":"2026-04-23T09:07:27.669Z","createdAt":"2026-04-23T09:07:27.669Z","id":"zq3UfPx6FwvsVz0b","name":"S3"}]}